@model List<tblPlan>
@{
	ViewBag.Title = "ChineseAddress | Rates";
	Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@section header{
	<link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
	<link rel="stylesheet" type="text/css" href="~/content/css/select2.min.css" />
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}
<!-- breadcrum start -->
<section class="margintop90PX margintop100px">
	<!-- content area start -->
	<section>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1><i class="fa fa-calculator"></i> Rates</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="list-group">
						<h4 class="list-group-item active">Rate Calculator</h4>
						<div class="well well-sm border-blue-dark">
							<div class="row">
								<div class="col-sm-12 form-group">
									<label>Warehouse</label>
									<select name="" class="form-control">
										<option>China</option>
									</select>
								</div>
								<div class="col-sm-12 form-group">
									<label>Country</label>
									@Html.DropDownList("Country", null, new { required = "required", @class = "form-control ", @SearchSelect = "true" })
								</div>
							</div>

							<div class="row form-group">
								<div class="col-xs-6">
									<label>Weight</label>
									<input type="number" min="0.01" step="0.01" value="1" class="form-control" placeholder="0.0" id="txtWeight" />
									<span id="errorWeight" class="hidden" style="color:red">Weight is required</span>
								</div>
								<div class="col-xs-6">
									<label>Type</label>
									<select id="ddlType" class="form-control">
										<option>LB</option>
										<option selected="selected">KG</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-xs-6">
									<label>Length</label>
									<input type="number" min="0.01" step="0.01" value="1" class="form-control" placeholder="0.0" id="txtLength">
									<span id="errorLength" class="hidden" style="color:red">Length is required</span>
								</div>
								<div class="col-xs-6">
									<label>Width</label>
									<input type="number" min="0.01" step="0.01" value="1" class="form-control" placeholder="0.0" id="txtWidth">
									<span id="errorWidth" class="hidden" style="color:red">Width is required</span>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-xs-6">
									<label>Height</label>
									<input type="number" min="0.01" step="0.01" value="1" class="form-control" placeholder="0.0" id="txtHeight">
									<span id="errorHeight" class="hidden" style="color:red">Height is required</span>
								</div>
								<div class="col-xs-6">
									<label>Unit</label>
									<select id="ddlUnit" class="form-control">
										<option>inch</option>
										<option selected="selected">cm</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<button class="btn btn-success btn-block background-blue" id="btnCalculate">Calculate <i class="fa fa-long-arrow-right"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 rates">

					<div class="col-sm-3 text-center hidden-xs paddingleft0px paddingright0px">
						<div class="row margin-left-right-minus15">
							<div class="col-sm-12 bg-info"><h3>Method</h3></div>
						</div>
						<div id="divOnlyCarriers">
						</div>
					</div>
					@{int count = 1; }
					@foreach (tblPlan item in Model)
					{

						<div class="col-sm-3 text-center">
							<div class="row margin-left-right-minus15">

								@switch (count)
								{
									case 1:
										<div class="col-sm-12 bg-blue ">
											<h3>
												@item.title <br><span class="label label-default text-green" >
													@*Starter*@Coming Soon
												</span>
											</h3>
										</div>
										<div id="divCarriersCharges" margin="@item.profit_margin"></div>
										break;
									case 2:
										<div class="col-sm-12 bg-green">
											<h3>
												@item.title <br><span class="label label-default text-blue">
													Most Popular
												</span>
											</h3>
										</div>
										<div id="divCarriersCharges" margin="@item.profit_margin"></div>
										break;
									case 3:<div class="col-sm-12 bg-blue">
									<h3 style="color:white">
										@item.title <br><span class="label label-default text-green">
											@*Most Popular*@Coming Soon
										</span>
									</h3>
								</div>
								<div id="divCarriersCharges" margin="@item.profit_margin"></div>
										break;
									default:
										break;
								}
							</div>
						</div>
						count++;
					}
				</div>
			</div>
		</div>
	</section>
</section>

@section Scripts{
	<script type="text/javascript">
		(function () {
			function getScript(url, success) {
				var script = document.createElement('script');
				script.src = url;
				script.async = true;
				var head = document.getElementsByTagName('head')[0],
					done = false;
				script.onload = script.onreadystatechange = function () {
					if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
						done = true;
						success();
						script.onload = script.onreadystatechange = null;
						head.removeChild(script);
					}
				};
				head.appendChild(script);
			}
			getScript('../Scripts/jquery-1.10.2.min.js', function () {
				getScript('../Scripts/_Rates.min.js', function () { });
			});
		})();
	</script>

}