﻿@model _ChineseAddress.com.Repository.tblAdminUser
@{
    ViewBag.Title = "Admin";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ChineseAddress | Admin | Log In</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Areas/Admin/css/preloadlayout.bundle.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/layout.bundle.min.css" rel="stylesheet" />
    @*@Scripts.Render(BundleTable.Bundles.ResolveBundleUrl("~/Areas/Admin/bundles/load_async_css", false))*@
    @*@Styles.Render("~/Areas/Admin/css/preloadlayout")
        @Styles.Render("~/Areas/Admin/css/layout")*@
    @*<script type="text/javascript">
            load_css_async('@BundleTable.Bundles.ResolveBundleUrl("~/Areas/Admin/css/preloadlayout", false)')
            load_css_async('@BundleTable.Bundles.ResolveBundleUrl("~/Areas/Admin/css/layout", false)')
        </script>*@
</head>
<body class="hold-transition login-page">
    <div id="div_msg" style="display: none;color:#0000FF;">
        <strong style="color:#3db714;"></strong>
    </div>
    <div class="login-box">
        <div class="login-logo">
            <img src="@Url.Content("~/Content/img/logo.png")" alt="">
        </div>
        <!-- /.login-logo -->
        @using (Ajax.BeginForm("Index", "Login", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "login-box", AllowCache = true }))
        {
            @Html.ValidationSummary(true)
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form action="../../index2.html" method="post">
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(model => model.username, null, new { @class = "error" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.password, null, new { @class = "error" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!-- /.social-auth-links -->
            </div>
        }
        <!-- /.login-box-body -->
    </div>

</body>
</html>
<script src="~/Areas/Admin/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Areas/Admin/Scripts/jquery.validate.bundle.min.js"></script>
@*<script src="~/Areas/Admin/Scripts/layout.bundle.min.js"></script>*@
@Scripts.Render("~/Areas/Admin/bundles/layoutBundle")
<script type="text/javascript">
    $(function () {
        @Html.Raw(ViewBag.Message)
    });
</script>