@model _ChineseAddress.com.Repository.tblPlanOptionLinking
@{
    ViewBag.Title = "Admin";
}
<section class="content">
    @using (Html.BeginForm("Addplanoption", "PlanOptionLinking", FormMethod.Post, new { id = "frm_plan", name = "frm_plan" }))
    {

        @Html.ValidationSummary(true)
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add Plan Option</h3>
                <a href='@Url.Action("Linkoptionswithplan", "PlanOptionLinking")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye" aria-hidden="true"> View All Plan Options</i></a>
            </div>
            <div class="form-horizontal">
                <div class="box-body">

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Plan</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(m => m.Id)
                            @Html.DropDownListFor(model => model.Fk_plan_id, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
                            @Html.ValidationMessageFor(model => model.Fk_plan_id, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Packaging Option</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Fk_packaging_option_id, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
                            @Html.ValidationMessageFor(model => model.Fk_packaging_option_id, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.price, new { @type = "number", @maxlength = "50", @class = "form-control textboxfor", placeholder = "Price" })
                            @Html.ValidationMessageFor(model => model.price, null, new { @class = "error" })
                        </div>
                    </div>
                </div>
                <div class="box-footer" style="padding:20px 221px;">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href='@Url.Action("Linkoptionswithplan", "PlanOptionLinking")' class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>

    }
</section>

@section Scripts {
    <script type="text/javascript">
        @Html.Raw(ViewBag.Message);
        var JsonModel = '@Html.Raw(Json.Encode(@ViewBag.Message))';
        if (JsonModel === 'null') {
        } else if (JsonModel === '"showMessage(\u0027Updated successfully\u0027,true);"') {
            setTimeout(function () {
                window.location.pathname = '/Admin/PlanOptionLinking/Linkoptionswithplan';
            }, 2000);
        };
    </script>

}