@model List<_ChineseAddress.com.Areas.Admin.Models.ViewModeltblPlanOptionLinking>
@{
    ViewBag.Title = "Admin";
}
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Manage plan options</h3>
            <a href='@Url.Action("Index", "PlanOptionLinking")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add plan option</i></a>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="datatableplan" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Packaging Options</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PlanTitle</td>
                                    <td>@item.packagingOptionTitle</td>
                                    <td>@String.Format("${0:0.00}", item.Price)</td>

                                    <td>
                                        <a href="Index/@item.Id" class="btn btn-info btn-xs" title="Edit/View"><i class="fa fa-pencil"></i>@("/")<i class="fa fa-eye"></i></a>
                                        &nbsp;&nbsp;
                                        <a href="javascript:void(0)" id='Delete @item.Id' onclick="DeleteDatas(@item.Id)" class="btn btn-danger btn-xs" title="Delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatableplan").DataTable({
                responsive: true,
                "order": [],
                columnDefs: [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
            });
        });
        function DeleteDatas(id) {
            confirm('Are you sure,you want to delete?', function (r) {
                if (r == true) {
                    $.ajax({
                        type: "post",
                        url: "/PlanOptionLinking/DeleteOptionLinkingById",
                        data: { 'id': id },
                        success: function (id) {
                            if (id !== "0") {

                                $("a[id='Delete " + id + "']").eq(0).parent().parent().next('.child').remove();
                                $("a[id='Delete " + id + "']").eq(0).parent().parent().remove();
                                showMessage("Record has been deleted successfully", true);
                            }
                        },
                        error: function (data) {
                            alert(data.x);
                        }
                    });
                }
                else
                {
                    return false;
                }
            });

        }
    </script>
}