<table style='width:100%;text-align: left;margin-bottom: 10px;'>
    <tr>
        <td align='left' valign='top' width='30%'>
            <img src='#logo#' />
        </td>
        <td align='center' width='30%' valign='bottom'>
            <h1>Invoice</h1>
        </td>
        <td align='right' width='33%'>
            <b> Invoice Number :</b> #invoicno#<br />
            <b>Date :</b> #invoicedate#<br />
        </td>
    <tr>
        <td align='right'>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td align='left' valign='bottom'>
            <b>From Address :</b> <br />
            Chineseaddress<br />
            Guangzhou, China 510000<br />
            Support: +8618871488894
        </td>
        <td align='left'>
            &nbsp;
        </td>
        <td align='right' valign='bottom'>
            <b>To Address :</b><br />
            #toname#<br />
            #toaddress#<br />
            #tocity#,#tostate#<br />
            #tozip#<br />
            #tocountry#<br />
            #totelephone#<br />
        </td>
    </tr>
    <tr>
        <td colspan='4'>
            <h2 style='text-align:center'>
                Order Details
            </h2>
        </td>
    </tr>
    <tr>
        <td align='left' valign='top' colspan='3'>
            <table cellpadding='5' id='desc' style='width:100%;text-align:left;border: 1px solid black;'>
                <thead>
                    <tr align='left' valign='top' font-weight:bold;'>
                        <th>
                            Order Reference No
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Tracking No
                        </th>
                        <th>
                            Package(s)
                        </th>
                        <th>
                            Consolidate Shipment(s)
                        </th>
                        <th>
                            Pay Amount
                        </th>
                        <th>
                            Wallet Consume Amount
                        </th>
                    </tr>
                    <tr align='left' valign='top' font-weight bold;'>
                        <td>
                            #ordrefno#
                        </td>
                        <td>
                            #date#
                        </td>
                        <td>
                            #trackingno#
                        </td>
                        <td>
                            #packages#
                        </td>
                        <td>
                            #shipments#
                        </td>
                        <td>
                           US$ #amount#
                        </td>
                        <td>
                            US$ #wallet_amount#
                        </td>
                    </tr>
                    <tr>
                        <td align='right' valign='top' colspan='5'>
                            <b>Invoice Total</b>
                        </td>
                        <td align='left' valign='top' colspan='4'>
                            US$ #invoicetotal#
                        </td>
                    </tr>
                    <tr>
                        <td align='left' valign='top' colspan='6'>
                            <br />
                            <center>
                                <span style='font-size: larger;'>
                                    Thank you for using ChineseAddresss.com, we appreciate
                                    your experience with us.
                                </span>
                            </center>
                            <br />
                            <br />
                            *These charges have been raised based on the size and weight declared for these
                            shipments. If the carrier advises that the size or weight is larger then additional
                            carriage and administration charges will be due. If additional services post collection
                            are provided by the carrier for these shipments additional charges may be due in
                            accordance with our terms and conditions.
                            <br />
                            <br />
                            <center>
                                <span style='font-size: small;'>
                                    ChineseAddresss.com is  registered in China No. LCC_Number_Here
                                </span>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td align='left' valign='top' colspan='6'>
                            &nbsp;
                        </td>
                    </tr>
                </thead>
            </table>
        </td>
    </tr>
</table>