@model Tuple<List<_ChineseAddress.com.Areas.User.Models.tblCreditCardViewModel>, _ChineseAddress.com.Areas.User.Models.ViewModelOrderinfo>
@{
    ViewBag.Title = "ChineseAddress - Payment";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/DashBoard">Home</a></li>
                    <li><a href="~/Orders">Orders Detail</a></li>
                    <li class="active">Choose Payment Method</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("Index", "Payment"))
{
    <section>
        <div class="container">
            <div class="box-grey">
                <div class="row">
                    <div class="col-sm-2 border-rgt space-top-bot paddingleft30PX force-center">
                        Ordered On:<br>
                        <strong>@(Model.Item2.orderon == null ? "" : Model.Item2.orderon.Value.ToString("yyyy/MM/dd"))</strong>
                    </div>
                    <div class="col-sm-2 border-rgt space-top-bot force-center">
                        Order Number:<br>
                        <strong>@Model.Item2.orderno</strong>
                    </div>
                    <div class="col-sm-2 border-rgt space-top-bot force-center">
                        Shipping Method:<br>
                        <strong>@Model.Item2.shipmethod</strong>
                    </div>
                    <div class="col-sm-2 border-rgt space-top-bot force-center">
                        Payable Amount:<br>
                        <strong>@Model.Item2.totalamount.ToString("F")</strong>
                    </div>
                    <div class="col-sm-2 border-rgt space-top-bot force-center">
                        Your Wallet Balance:<br>
                        <strong>@Model.Item2.WalletBalance.ToString("F")</strong>
                    </div>
                    <div class="col-sm-2 space-top-bot force-center">
                        Status:<br>
                        @{
                            clsCommon objclscomman = new clsCommon();
                            var Status = objclscomman.OrderStatus(Convert.ToString(Model.Item2.status));
                            if (Status != "0")
                            {
                                string[] SplitlabelCalss = Status.Split(',');
                                <span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>

        <div class="container" id="container">
            <div class="row">
                <div class="col-sm-12"><h1>Choose Payment Method</h1><br /></div>
                <div class="col-sm-12">
                    <div role="tabpanel" class="tab-pane active" id="ready">

                        @Html.AntiForgeryToken()
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>Card Type</th>
                                        <th>Name </th>
                                        <th>Card Number</th>
                                        <th>Expiry Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model == null || !Model.Item1.Any())
                                    {
                                        <tr>
                                            <td colspan="8" class="text-center">
                                                <h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.Item1)
                                        {
                                            <tr>
                                                <td>
                                                    @item.card_type
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @if (item.is_default == true)
                                                    {
                                                        @("****" + item.card_num.ToString() + " (Default)")
                                                    }
                                                    else
                                                    {@("****" + item.card_num.ToString())}
                                                </td>
                                                <td>@item.card_expiry</td>
                                                <td>
                                                    <input type="submit" value="Pay Now" onclick="CreaditCard(this)" class="btn btn-success btn-xs" style="font-size: 12px !important;" />
                                                    <input type="hidden" name="CreditCardId" value="@_ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.Id))" />
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                          
                        </div>
                        @*<div class="row">
                            <div class="col-sm-12">
                                <span class="checkbox">
                                    <label style="font-size: 1em">
                                        <input value="false" id="Terms" name="Terms" unchecked type="checkbox">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        <label for="Terms"><a href="~/TermsAndConditions" target="_blank" class="btn btn-link checkbox-anchor">Terms & Conditions</a> and <a href="~/CancelReturnPolicies" target="_blank" class="btn btn-link checkbox-anchor">Cancellation and Return Policies</a> I have read, understood and agree to 4inShip</label>
                                    </label>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group"><a href="~/CreditCards" class="btn btn-danger"><i class="fa fa-long-arrow-left"></i> Cancel </a></div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="~/SingleCreditCard" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Add New Credit Card</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                }
@section Scripts{
    <script type="text/javascript">
        $('#Terms').click(function () {
            if ($("#Terms").next('span').children().hasClass('fa-check') == true) {
                $('#Terms').prop('checked', false);
                $("#Terms").next('span').children().removeClass('fa-check')
                $("#Terms").val(false);
            }
            else if ($("#Terms").next('span').children().hasClass('fa-check') == false) {
                $('#Terms').prop('checked', true);
                $("#Terms").next('span').children().addClass('fa-check')
                $("#Terms").val(true);
            }
        });
    </script>
    <script type="text/javascript">
        function CreaditCard(item)
        {
            var value = $(item).next().val();
            $('input[name="CreditCardId"]').val(value);
        }
    </script>
    
    }