@using PagedList.Mvc
@model PagedList.IPagedList<_ChineseAddress.com.Areas.User.Models.UserPaymentModel>
@{
    ViewBag.Title = "PaymentHistory";
}
@{clsCommonServiceRoot objCommonServiceRoot = new clsCommonServiceRoot(); }
@using _ChineseAddress.com.Areas.Admin.Models
@using _ChineseAddress.com.Common.Services;
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/DashBoard">Home</a></li>
                    <li class="active">Payment History</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- body content start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h1>Payment History</h1></div>
            <div class="col-sm-12">
                <div role="tabpanel" class="tab-pane active" id="ready">
                    <div class="table-responsive margintop15PX">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Invoice Number</th>
                                    <th>Order Number</th>
                                    <th>Method</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (!Model.Any())
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><span>@(item.PaymentDate == null ? "" : item.PaymentDate.Value.ToString("yyyy/MM/dd"))</span></td>
                                            <td>@CheckIsNullorEmpty(item.InvNo)</td>
                                            @{string OrderID = _ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.OrderId));}
                                            @{int OrderRefernce;
                                                bool isNumeric = int.TryParse(item.OrderReferenceNumber, out OrderRefernce);
                                            }
                                            @if (isNumeric == true)
                                            {
                                                <td><a href="~/Orderinformation/@OrderID"> @item.OrderReferenceNumber</a></td>
                                            }
                                            else
                                            {
                                                <td>@CheckIsNullorEmpty(item.PlanType)</td>
                                            }
                                            @if (item.OrderReferenceNumber == "Direct-Single-Shipment")
                                            {
                                                <td>@("-----")</td>
                                            }
                                            else
                                            {
                                                <td>@item.Method</td>
                                            }

                                            <td>@item.InvoiceType</td>
                                            <td>@String.Format("${0:0.00}", item.Amount)</td>
                                            <td>@(Html.Raw(objCommonServiceRoot.GetInvoicePaidStatusLabel(item.Status)))</td>
                                            @if (item.InvoiceType == "order")
                                            {
                                                string OrderInvoice = item.OrderReferenceNumber + "_Invoice.pdf";
                                                <td>
                                                    <a class="btn btn-warning btn-xs" id="confirm" href="/CommonChild/DownloadInvoice/@item.OrderId" download="@OrderInvoice"><i class="fa fa-tag"> Invoice</i></a>
                                                </td>
                                            }
                                            else if (item.InvoiceType.ToLower() == "signup")
                                            {
                                                <td>
                                                    <a class="btn btn-warning btn-xs" id="confirm" href="/CommonChild/DownloadSignUpInvoice/@(Convert.ToString(item.InvNo+','+item.FK_Customer_Id))" download="SignUpInvoice.pdf"><i class="fa fa-tag">Invoice</i></a>
                                                </td>
											}
											else if (item.InvoiceType.ToLower() == "return shipment")
											{
												<td>
													<a class="btn btn-warning btn-xs" id="confirm" href="/CommonChild/DownloadReturnShipmentInvoice/@(Convert.ToString(item.InvNo+','+item.FK_Customer_Id))" download="ReturnShipmentInvoice.pdf"><i class="fa fa-tag">Invoice</i></a>
												</td>
											}
											else if (item.InvoiceType.ToLower() == "topup")
											{
												if (string.IsNullOrEmpty(item.InvNo))
												{
                                                    <td>@("-----")</td>
                                                }
                                                else
                                                {
                                                <td>
                                                    <a class="btn btn-warning btn-xs" id="confirm" href="/CommonChild/DownloadTopUpInvoice/@(Convert.ToString(item.FK_Customer_Id + "," + item.InvNo))" download="TopUp_Invoice.pdf"><i class="fa fa-tag">Invoice</i></a>
                                                </td>}
                                            }
                                        </tr>
                                                    }
                                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.PagedListPager(Model, pageNumber => Url.RouteUrl("PaymentHistory", new { pageNumber = pageNumber }))
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(window).load(function () {
            @Html.Raw(TempData["OrderMessage"]);
            $("#datatablorder").DataTable({
                responsive: true,
                "order": [],
                columnDefs: [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
            });

        });
    </script>
}

@helper CheckIsNullorEmpty(string str)
{
if (string.IsNullOrEmpty(str))
{
        @("-----")
}
else
{
        @(str)
}
}