@model List<_ChineseAddress.com.Areas.User.Models.tblCreditCardViewModel>
@{
    ViewBag.Title = "Upgrade Plan Payment";
}

<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/DashBoard">Home</a></li>
                    <li><a href="~/Upgrade">Upgrade Your Plan</a></li>
                    <li class="active">Choose Payment Method</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>

    <div class="container" id="container">
        <div class="row">
            <div class="col-sm-12"><h1>Choose Payment Method</h1><br /></div>
            <div class="col-sm-12">
                <div role="tabpanel" class="tab-pane active" id="ready">
                    @using (Ajax.BeginForm("PaymentPlanUpgrade", new AjaxOptions() { HttpMethod = "POST" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>Card Type</th>
                                        <th>Name </th>
                                        <th>Card Number</th>
                                        <th>Expiry Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model == null || !Model.Any())
                                    {
                                        <tr>
                                            <td colspan="8" class="text-center">
                                                <h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.card_type
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @if (item.is_default == true)
                                                    {
                                                        @("****" + item.card_num.ToString() + " (Default)")
                                                    }
                                                    else
                                                    {@("****" + item.card_num.ToString())}
                                                </td>
                                                <td>@item.card_expiry</td>
                                                <td>
                                                    <input type="submit" value="Pay Now" onclick="updateCreditCardId('@item.Id')" class="btn btn-success btn-xs" style="font-size: 12px !important;" />
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" name="CreditCardId" id="CreditCardId" value="" />
                            <input type="hidden" name="id" value="@ViewBag.PlanId" />
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="~/SingleCreditCard" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Add New Credit Card</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        function updateCreditCardId(CreditCardId) {
            $("#CreditCardId").val(CreditCardId);
        }
    </script>
}