@model IEnumerable<_ChineseAddress.com.Repository.tblCoupon>
@{
    ViewBag.Title = "ManageCoupon";
}
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Coupon Option</h3>
            <a href='@Url.Action("Index", "Coupon")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Coupon Option</i></a>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="datatablemanagecoupon" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th>Coupon Code</th>
                            <th>Coupon Type</th>
                            <th>Coupon Value</th>
                            <th>Min-Max Order Value</th>
                            <th>Recuring</th>
                            <th>New User Only</th>
                            <th>Unique Per User</th>
                            <th>Country To</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Customer Name</th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.coupon_code</td>
                                    <td>@((item.coupon_type==true)?"Value":"Percentage")</td>
                                    <td>@item.coupon_value</td>
                                    <td>@item.min_order_value - @item.max_order_value</td>
                                    <td>@item.reccuring</td>
                                    <td>@item.new_users_only</td>
                                    <td>@item.uniq_per_user</td>
                                    <td>@item.country_to</td>
                                    <td>@((item.start_date == null) ? "" : item.start_date.Value.ToString("yyyy/MM/dd"))</td>
                                    <td>@((item.end_date == null) ? "" : item.end_date.Value.ToString("yyyy/MM/dd"))</td>
                                    <td>
                                        @if (item.status == 0)
                                        {
                                            <label class="label label-danger">Inactive</label>
                                        }
                                        else if (item.status == 1)
                                        {
                                            <label class="label label-success">Active</label>
                                        }
                                        else
                                        {
                                            <label class="label label-warning">Used</label>
                                        }
                                    </td>
                                    <td>@item.customer_name</td>
                                    @*<td><a href="javascript:void(0)" class="btn btn-info btn-xs"><i class="fa fa-pencil" title="Edit Coupon"></i></a></td>*@
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatablemanagecoupon").DataTable({
                responsive: true,
                "order": [],
                "columnDefs": [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
            });
        });
    </script>
}