<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChineseAddress | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com/">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" async>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" async />
    @Styles.Render("~/Areas/Admin/css/preloadlayout")

    @Styles.Render("~/Areas/Admin/css/layout")
    <link href="~/Areas/Admin/css/designer.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/css_developer.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/_all.css" rel="stylesheet" defer>
    <link href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
    @*<link href="~/Areas/Admin/css/preloadlayout.bundle.css" rel="stylesheet" />
        <link href="~/Areas/Admin/css/layout.bundle.min.css" rel="stylesheet" />*@
    <style>
        .skin-green .main-header .logo {
            background-color: #303f9f;
        }

            .skin-green .main-header .logo:hover {
                background-color: #303f9f;
            }

            .skin-green .main-header .logo:active {
                background-color: #303f9f;
            }

                .skin-green .main-header .logo:active:hover {
                    background-color: #303f9f;
                }
		.skin-green .main-header .navbar .sidebar-toggle:active:hover { background-color: #303f9f; }
		.skin-green .main-header .navbar .sidebar-toggle { background-color: #303f9f; }
		.skin-green .main-header .navbar .sidebar-toggle:hover { background-color: #303f9f; }
		.skin-green .main-header .navbar .sidebar-toggle:active { background-color: #303f9f; }


    </style>
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div id="preloader"><div id="status"></div></div>
    <!--Message Div Start-->
    <div id="div_msg" style="display: none;">
        <strong style="color:#3db714;"></strong>
    </div>
    <!--Message Div End-->
    <div class="wrapper">
        @{_ChineseAddress.com.Areas.Admin.Models.clsAuthenticateAdmin objAdminArea = new _ChineseAddress.com.Areas.Admin.Models.clsAuthenticateAdmin(); }

        <!-- Main Header -->
        <header class="main-header">
            <a href="~/Admin/" class="logo">
                <span class="logo-lg"><b>ChineseAddress</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Admin/Login/Signout" id="signout">Sign out</a>
                        </li>
                    </ul>
                </div>
                <!-- Navbar Right Menu -->
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i> <span>Received Shipments</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/Admin/ReceivedShipment/Index">Add Received Shipment</a></li>
                            <li><a href="@Url.Action("ReceivedShipments", "ReceivedShipment")">Manage Received Shipments </a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Order")"><i class="fa fa-book"></i> <span>Orders</span></a></li>
                    @if (objAdminArea.isUserWithAdminRole())
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-suitcase"></i> <span>Customer Plans</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Admin/Plans/Index">Add  Customer Plan </a></li>
                                <li><a href="@Url.Action("Plans", "Plans")"> Manage Customer Plans</a></li>
                            </ul>
                        </li>
                    }
                    @if (objAdminArea.isUserWithAdminRole())
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i> <span>Packaging Options</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Admin/PackagingOptions/Index">Add Packaging Option</a></li>
                                <li><a href="@Url.Action("PackagingOptions", "PackagingOptions")">Manage Package Options</a></li>
                            </ul>
                        </li>
                    }
                    @if (objAdminArea.isUserWithAdminRole())
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-sticky-note"></i> <span>Plan Options</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Admin/PlanOptionLinking/Index">Add Plan Options</a></li>
                                <li><a href="@Url.Action("Linkoptionswithplan", "PlanOptionLinking")"><span>Manage Plan Options</span></a></li>
                            </ul>
                        </li>
                    }
                    @if (objAdminArea.isUserWithAdminRole())
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user"></i> <span>Admin Users</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Admin/AdminUsers/Index">Add Admin User</a></li>
                                <li><a href="@Url.Action("AdminUsers", "AdminUsers")">Manage Admin Users </a></li>
                            </ul>
                        </li>
                    }
                    @if (objAdminArea.isUserWithAdminRole())
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-tags"></i> <span>Order Coupons</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Admin/Coupon/Index">Add Coupon</a></li>
                                <li><a href="@Url.Action("ManageCoupon", "Coupon")">Manage Coupons </a></li>
                            </ul>
                        </li>
                    }
                    @if (objAdminArea.isUserWithAdminRole())
                    {
                        <li><a target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["4InShipBlogUrl"]"><i class="fa fa-sticky-note"></i> <span> Blog</span></a></li>
                    }
                    <li><a href="@Url.Action("Index", "Customer")"><i class="fa fa-user"></i> <span>Customers</span></a></li>
                    <li><a href="@Url.Action("Index", "Invoice")"><i class="fa fa-money"></i> <span>Invoices</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-credit-card"></i> <span>Top Up</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Add", "TopUp",new { area="Admin"})">Add</a></li>
                            <li><a href="@Url.Action("Index", "TopUp",new { area="Admin"})">Manage</a></li>
                            <li><a href="@Url.Action("AddEditMethod", "TopUp",new { area="Admin"})">Add Top Up Method</a></li>
                            <li><a href="@Url.Action("ManageMethods", "TopUp",new { area="Admin"})">Manage Top Up Methods</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <!-- Default to the left -->
            @{var GetYear = DateTime.Now.Year; }
            <strong>Copyright &copy; @GetYear <a href="#">Company</a>.</strong> All rights reserved.
        </footer><div class="control-sidebar-bg"></div>
    </div>
    @*ImpScripts*@

    <script src="~/Areas/Admin/Scripts/jquery-1.12.4.min.js"></script>
	
    @*<script src="~/Areas/Admin/Scripts/layout.bundle.min.js"></script>*@
    @Scripts.Render("~/Areas/Admin/bundles/layoutBundle")
    <script src="~/Areas/Admin/Scripts/jquery.validate.bundle.min.js"></script>
    <script src="~/Areas/Admin/Scripts/datatables.bundle.min.js"></script>
    <script src="~/Areas/Admin/Scripts/bootbox.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    @*ImpScripts*@
    @RenderSection("Scripts", false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('.sidebar-menu a').not('a[href="#"]').click(function () {
            //store the id of the collapsible element
            localStorage.setItem('collapseItem', $(this).attr('href'));
        });
        var collapseItem = localStorage.getItem('collapseItem');
        if (collapseItem) {
            $('a[href="' + collapseItem + '"]').parents('ul').eq(0).addClass('treeview-menu menu-open').show()
            $('a[href="' + collapseItem + '"]').parents('ul').eq(0).parent().addClass('treeview active')
        }
    })
    $('#signout').click(function () {
        localStorage.clear();
    })
    $(document).ready(function () {
        $('#preloader').fadeOut('slow').children().fadeOut('slow');
    })
</script>