@model Tuple<IQueryable<_ChineseAddress.com.Areas.Admin.Models.ViewModelOrder>, int>
@using _ChineseAddress.com.Areas.Admin.Models
<script type="text/javascript">
</script>
<div class="box-body">
    <table id='tblOrders+@Model.Item2.ToString()' class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Date</th>
                <th>Order No</th>
                <th>Tracking No</th>
                <th>Amount</th>
                <th>Shipping Method</th>
                <th>Status </th>
                <th>Priority</th>
                <th id='@("tdChangeStatus"+Model.Item2.ToString())'>Action</th>
                <th id='@("tdEditOrder"+Model.Item2.ToString())'>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Item1 != null)
            {
                foreach (var item in Model.Item1.ToList().OrderByDescending(x => x.status ==(int)enumorder.Dispatched).ToList())
                {
                    <tr>
                        <td>@item.Customer_reference / @item.Customer_Email</td>
                        <td><span>@(item.createdOn == null ? "" : item.createdOn.Value.ToString("yyyy/MM/dd"))</span></td>
                        <td>@item.Order_Refernce_No</td>
                        <td>@(string.IsNullOrEmpty(item.tracking_no) ? "--" : item.tracking_no)</td>
                        <td>@item.payable_amount</td>
                        <td>@item.carrier</td>
                        @{
                            clsCommon objclscomman = new clsCommon();
                            var Status = objclscomman.OrderStatus(Convert.ToString(item.status));
                            string[] SplitlabelCalss = Status.Split(',');
                            <td><span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span></td>
                        }
                        <td>
                            <span id='@("spanrecurri")' class="label @(item.urgent == true ? "label-warning" : "label-success")">@(item.urgent == true ? "High" : "Normal")</span>
                        </td>
                        <td id='@("tdChangeStatus"+Model.Item2.ToString())'>
                            <a href='@Url.Action("ChangeStatus", "Order",new { id = item.Order_id })' class="btn btn-info btn-xs">Process</a>
                        </td>
                        <td id='@("tdEditOrder"+Model.Item2.ToString())'>
                            <a href='@Url.Action("Manageorder", "Order",new { id = item.Order_id })' id="hreftext" class="btn btn-info btn-xs">Edit Order</a>
                        </td>
                    </tr>
                                }
                            }
        </tbody>
    </table>
</div>