@section header{
<link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
}
@{
    ViewBag.Title = "ChineseAddress | Restricted and Prohibited";
    Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml"); }

<style type="text/css">
    .well {
        min-height: 2000px;
    }
    .remove-dots{
        list-style-type:none
    }
</style>
<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-lg-12">
            <a><h1><i class="fa fa-ban" aria-hidden="true"></i> Restricted And Prohibited Items</h1></a>
            <br>
            <div class="well well-sm">
                <p>
                    <h2 class="text-left">Saudi Arabia and United Arab Emirates Shipping Regulations</h2>
                </p>
                <p>

                    <h3><a href="http://www.sfda.gov.sa/" target="_blank">Saudi Food & Drug Authority</a> (SFDA):</h3>
                    <h4>
                        The SFDA will regulate all items that fall into categories,
                        such as medicines and any type of food products.  Private individuals MAY NOT import anything requiring SFDA approval.
                        Some prohibited items are as follows:
                    </h4>
                    <ul>
                        <li class="col-md-12 remove-space">Medicines or prescription drugs</li>
                        <li class="col-md-12  remove-space">Any tobacco or narcotics (including poppy seeds)</li>
                        <li class="col-md-12  remove-space">Alcohol or items that contain alcohol of any kind</li>
                        <li class="col-md-12  remove-space">Animal meat (pork or frog) or any product that contains animal blood</li>
                        <li class="col-md-12  remove-space">Nutmeg</li>
                        <li class="col-md-12  remove-space">Natural material used for agriculture</li>
                        <li class="col-md-12  remove-space">Firearms or explosives</li>
                    </ul>
                </p>
                <p>&nbsp;<br></p>
                <p>

                    <h3><a href="http://www.info.gov.sa/" target="_blank">Ministry of Culture and Information</a> (MOCI):</h3>
                    <h4>
                        The MOCI regulates books, digital material and electronic data items that pass through customs.
                        These items are subject to search & if they do not meet MOI requirements they will be destroyed.
                        Some of the items prohibited are as follows:
                    </h4>

                    <ul>
                        <li class="col-md-12  remove-space">Any religious books (including books on Muslim Faith)</li>
                        <li class="col-md-12  remove-space">Any items depicting religion other than Muslim Faith</li>
                        <li class="col-md-12  remove-space">Alcohol or items that contain alcohol of any kind</li>
                        <li class="col-md-12  remove-space">Pornographic material</li>
                        <li class="col-md-12  remove-space">Statues or anything depicting animal or human form</li>
                        <li class="col-md-12  remove-space">Games of chance (Chess, Dice, etc.)</li>
                        <li class="col-md-12  remove-space">Uniforms of any kind, including military uniforms</li>
                    </ul>
                </p><p>&nbsp;<br></p>

                <p>

                    <h3><a href="http://www.saso.gov.sa/" target="_blank">Saudi Arabian Standards Organization</a> (SASO):</h3>
                    <h4> All goods must be accompanied by a SASO Certificate of Conformity.  This certificate ensures:</h4>
                    <ul>
                        <li class="col-md-12  remove-space">Any religious books (including books on Muslim Faith)</li>
                        <li class="col-md-12  remove-space">Any items depicting religion other than Muslim Faith</li>
                        <li class="col-md-12  remove-space">Alcohol or items that contain alcohol of any kind</li>
                        <li class="col-md-12  remove-space">Pornographic material</li>
                        <li class="col-md-12  remove-space">Statues or anything depicting animal or human form</li>
                        <li class="col-md-12  remove-space">Games of chance (Chess, Dice, etc.)</li>
                        <li class="col-md-12  remove-space">Uniforms of any kind, including military uniforms</li>
                    </ul>
                </p><p>&nbsp;<br></p>

                <p>
                    <h3><a href="http://www.saso.gov.sa/" target="_blank">Saudi Arabian Standards Organization</a> (SASO):</h3>
                    <h4>All goods must be accompanied by a SASO Certificate of Conformity.  This certificate ensures:</h4>
                    <ul>
                        <li class="col-md-12  remove-space">Public health protection</li>
                        <li class="col-md-12  remove-space">Safety of the consumer</li>
                        <li class="col-md-12  remove-space">National security</li>
                        <li class="col-md-12  remove-space">Protection of religious & public morals</li>
                        <li class="col-md-12  remove-space">Environmental protection</li>
                        <li class="col-md-12  remove-space">Prevention of deceptive practices</li>
                    </ul>
                </p><p>&nbsp;<br></p>
                <p>
                    <h3><a href="http://www.citc.gov.sa/" target="_blank">Communications & Information Technology Commission</a> (CITC):</h3>
                    <h4>
                        This organization will regulate items imported such as cell phones, tablets and computers.
                        Private individuals may import up to 4 of these items.
                        Some of the items prohibited are as follows:
                    </h4>
                    <ul>
                        <li class="col-md-12  remove-space">Two-way radios/walkie talkies</li>
                        <li class="col-md-12  remove-space">Short wave radios</li>
                        <li class="col-md-12  remove-space">Police band equipment</li>
                        <li class="col-md-12  remove-space">Politically sensitive materials</li>
                        <li class="col-md-12  remove-space">Binoculars or telescopic equipment</li>
                    </ul>
                </p><p>&nbsp;<br></p>
                <p>
                    <h3><a href="http://www.dubaicustoms.gov.ae/en/eServices/ServicesForBusinesses/CustomsInformation/Pages/Prohibited-and-Restricted-Goods.aspx" target="_blank">Dubai Customs Services</a></h3>
                    <h4>
                        There are certain goods that cannot be imported, exported or transited or that require permits from the competent authority. The restrictions and prohibitions of goods are determined in accordance with GCC Customs Tariff Codes.
                        The classified Goods under those Customs tariff codes will require a permit while submitting the online Customs Declarations.
                    </h4>
                    <strong> Banned Items:</strong>
                    <ul class="col-md-12 remove-dots">
                        <li>1. All kinds of Narcotic drugs (Hashish, Cocaine, Heroin, Poppy Seeds, Hallucination Pills, etc..)</li>
                        <li>2. Goods intended to be imported from boycotted countries.</li>
                        <li>3. Goods from Israeli origin or bearing Israeli trademarks or logos</li>
                        <li>4. Crude Ivory and Rhinoceros horn.</li>
                        <li>5. Gambling tools and machineries.</li>
                        <li>6. Three layers fishing nets.</li>
                        <li>7. Original engravings, prints, lithographs, sculptures and statues in any material.</li>
                        <li>8. Used, reconditioned and inlaid tires.</li>
                        <li>9. Radiation polluted substances.</li>
                        <li>10. Printed publications, oil paintings, photographs, pictures, cards, books, magazines stony sculptures and mannequins which contradict Islamic teachings, decencies, or deliberately implying immorality or turmoil.</li>
                        <li>11. Any other goods, the importation of which is prohibited under the authority of U.A.E. customs laws or any other laws in the country.</li>
                        <li>12. Forged and duplicate currency.</li>
                        <li>13. Cooked and home-made foods.</li>
                    </ul>
                </p><p>&nbsp;<br></p>

                <p>

                    <h4>Please see the table below for permitting authorities and the goods categories for permit requirement.</h4>
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Controlling Authorities</th>
                                <th>Goods Categories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ministry Of Environment And Water</td>
                                <td>Live Animals and product of animal origin</td>
                            </tr>
                            <tr>
                                <td>Ministry Of Interior</td>
                                <td>Explosives, Arms, Ammunitions and their parts / accessories</td>
                            </tr>
                            <tr>
                                <td>Dubai Municipality</td>
                                <td>Vegetable Product, Prepared Food Stuff, Products of Chemical</td>
                            </tr>
                            <tr>
                                <td>Dubai Police</td>
                                <td>Alcoholic beverages</td>
                            </tr>
                            <tr>
                                <td>Ministry Of Economy</td>
                                <td>Industrial Raw Materials</td>
                            </tr>
                            <tr>
                                <td>Ministry Of Health</td>
                                <td>Pharmaceutical products and Medical/ Surgical instrumental and apparatus</td>
                            </tr>
                            <tr>
                                <td>Emirates Authority for Standardization and Metrology</td>
                                <td>Tires/Drinking Water</td>
                            </tr>
                            <tr>
                                <td>National Media Council</td>
                                <td>Printed books, newspapers and similar products, Work Art, collectors &ldquo;Pieces and Antiques&rdquo;</td>
                            </tr>
                            <tr>
                                <td>DMCC</td>
                                <td>Pearls, Diamonds, Rough Diamonds etc.</td>
                            <tr>
                                <td>General Secretariat Of Municipalities</td>
                                <td>Lasers, Dangerous waste.</td>
                            </tr>
                            <tr>
                                <td>Telecommunications Regulatory Authority</td>
                                <td>Telecommunication equipment</td>
                            </tr>
                            <tr>
                                <td>Federal Authority for Nuclear Regulation</td>
                                <td>Nuclear reactors and Radio Transmitters</td>
                            </tr>
                            <tr>
                                <td>H.Q. Coast Guard Group</td>
                                <td>Boats, Cruise Ships etc.</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>