@model IPagedList<_ChineseAddress.com.Repository.tblAddressBook>
@{
    ViewBag.Title = "GetAddressBookById";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Setting")">My Account</a></li>
                    <li class="active">My Address Book</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" id="container">
        <div class="row">
            @Html.Partial("_LeftMenuSettingsPartial")

            <div class="col-md-8">
                <div class="well well-sm">
                    <h4>How to add a New Address?</h4>
                    New rules from shipping couriers requires an accurate shipping address to ensure speedy delivery. Please update your address.
                    Example: <a href="#" data-toggle="modal" data-target="#myModal">Click Here</a> 
                </div>

                <h2>My Address Book</h2>
                <div class="table-responsive margintop15PX">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href="#">Address Profile Name <i class="fa fa-caret-down"></i></a></th>
                                <th>Edit/View</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        @using (Ajax.BeginForm("AddressBook", "Setting", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "container" }))
                        {

                            if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>

                                        <td><strong>@item.address_name</strong></td>
                                        <td><a href="@Url.Action("SingleAddress", "Setting", new { id = item.Id })" class="btn btn-primary btn-sm" title="Edit/View"><i class="fa fa-pencil"></i>@("/")<i class="fa fa-eye"></i></a></td>

                                        <td>
                                            @*<a href="@Url.Action("AddressBook", "Setting", new { id = item.Id })" name="Id" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>*@
                                            <button type="button" id="btnDelete"  onclick="btnDeleteClick('@item.Id')" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
                                        </td>
                                    </tr>
                                </tbody>

                            }
                            <input type="hidden" name="id" id="id" value="0" />
                        }
                    </table>
                    @Html.PagedListPager(Model, pageNumber => Url.RouteUrl("Addressbook", new { pageNumber = pageNumber }))
                </div>

                <div class="row">

                    <div class="col-sm-12"><a href="@Url.Action("SingleAddress", "Setting")" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Add New Address</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal fade" role="dialog" width="100%">
    <div class="modal-dialog">
        <div class="modal-content table table-striped">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/img/MyAddress.jpg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="myModals" class="modal fade" role="dialog" width="100%">
    <div class="modal-dialog">
        <div class="modal-content table table-striped">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/img/Googlemap.jpg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function btnDeleteClick(addressId) {
        confirm('Are you sure,you want to delete this address?', function (ret) {
            if (ret === true) {
                $("#id").val(addressId);
                $('form').submit();
            }
        });
    }
</script>