@model List<_ChineseAddress.com.Areas.User.Models.tblCreditCardViewModel>
@{
    ViewBag.Title = "Payment Method";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Setting")">My Account</a></li>
                    <li class="active">Payment Methods</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="parent-container">
        <div class="container" id="container">
            <div class="row">
                @Html.Partial("_LeftMenuSettingsPartial")
                <div class="col-md-8">
                    <h2>Payment Methods</h2>
                    <div class="table-responsive margintop15PX">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Card Type</th>
                                    <th>Name </th>
                                    <th>Card Number</th>
                                    <th>Expiry Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            @if (Model == null || !Model.Any())
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            <h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.card_type
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @if (item.is_default == true)
                                            {
                                                <input type="radio" checked="checked" value="@item.Id" name="is_default" id="is_default" title="Default Credit Card" /><span>&nbsp;</span>
                                                @("****" + item.card_num.ToString() + " (Default)")
                                            }
                                            else
                                            {
                                                <input type="radio" value="@item.Id" name="is_default" id="is_default" title="Make This Your Default Credit Card" /><text>
                                                    &nbsp;@("****" + item.card_num.ToString())
                                                </text>

                                            }
                                        </td>
                                        <td>@item.card_expiry</td>
                                        <td>
                                            <a href="#" id="btnview" onclick="openpopup(@item.Id);" class="btn btn-info btn-xs"><i class="fa fa-pencil" title="Edit shipment"></i>@("/")<i class="fa fa-eye" title="Edit shipment"></i></a>
                                        </td>
                                    </tr>

                                }
                            }
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-12"><a href="@Url.Action("SingleCreditCard", "Setting")" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Add New Credit Card</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myModals" class="modal fade" role="dialog" width="100%" class="col-md-12">
    <div class="modal-dialog">
        <div class="modal-content table table-striped">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Billing Address</h4>
            </div>
            <div class="modal-body" id="AddUSerForm">
                <div id="Creditcard"></div>
            </div>
            <div class="modal-footer">
                <br>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function openpopup(id) {
            $(Creditcard).load('@Url.Action("_SingleCreditCard", "Setting")' + "?id=" + id);
            $('#myModals').modal('show');
        }
        $(function () {
            $(document).on('click', "input[type='radio']", function (evt) {
                var thiss = $(this);
                confirm('Are you sure you want to make this your default credit card?', function (r) {
                    if (r == true) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ChangeDefaultCreditCard", "Setting")',
                            cache: true,
                            data: JSON.stringify({ "CreditCardId": $(thiss).val() }),
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                $("#parent-container").load(location.href + " #container");
                                showMessage('Your default credit card has been changed successfully', true);
                            },
                            error: function () {
                                return false;
                            }

                        });
                    } else {
                        evt.preventDefault();
                        return false;
                    }
                });
                return false;

            });
        });
    </script>
}