@model IPagedList<_ChineseAddress.com.Repository.tblRewardPoint>
@{
    ViewBag.Title = "ManagePoints";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container" id="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Setting")">My Account</a></li>
                    <li class="active">Manage Points</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="parent-container">
        <div class="container" id="child-container">
            <div class="row">
                @Html.Partial("_LeftMenuSettingsPartial")
                <div class="col-md-8">
                    <h2>Manage Points</h2>
                    Every time you ship with ChineseAddress.com you get Reward Points. You can convert your Reward Points to your balance with a minimum of @System.Configuration.ConfigurationManager.AppSettings["MinConvertPoint"].ToString() points.
                    <br><br>
                    <div class="row form-group">
                        <div class="col-xs-6 ">
                            @if (ViewBag.yourpoints != null)
                            {
                                <strong>@ViewBag.yourpoints @("Points =") @String.Format("${0:0.00}", (ViewBag.yourbalance))</strong>

                            }
                            else
                            {
                                <strong>@(" 0 Points = $0.00")</strong>

                            }
                        </div>
                        <div class="col-xs-6 text-right">
                            <label> Balance</label>
                            @if (ViewBag.yourcreditAmount != null)
                            {
                                <strong>@String.Format("${0:0.00}", (ViewBag.yourcreditAmount))</strong>
                            }
                            else
                            {
                                <strong>@("$0.00")</strong>
                            }
                        </div>
                    </div>
                    <input type="hidden" name="yourPoints" id="yourPoints" value="@Convert.ToDecimal(ViewBag.yourpoints)" />
                    <div class="row">
                        <div class="col-sm-12"><button class="btn btn-success btn-block" id="btnConvert" onclick="convertPoints();">Convert Your Points</button></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div role="tabpanel" class="tab-pane active" id="ready">
                                <div class="table-responsive margintop15PX">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Reward Points</th>
                                                <th>Reward Type</th>
                                                <th>Reward Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (!Model.Any())
                                            {
                                                <tr>
                                                    <td colspan="3" class="text-center">
                                                        <h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
                                                    </td>
                                                </tr>
                                            }
                                            @foreach (_ChineseAddress.com.Repository.tblRewardPoint objRewardPoints in Model)
                                            {
                                                <tr>
                                                    <td>@objRewardPoints.reward_points</td>
                                                    <td>@objRewardPoints.type.ToUpper()</td>
                                                    <td>@((objRewardPoints.created_on ?? DateTime.Now).ToString("yyyy/MM/dd"))</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @Html.PagedListPager(Model, pageNumber => Url.RouteUrl("ManagePoints", new { pageNumber = pageNumber }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(window).load(function () {
            if (parseFloat(@Convert.ToDecimal(System.Configuration.ConfigurationManager.AppSettings["MinConvertPoint"])) > parseFloat($("#yourPoints").val())) {
                $("#btnConvert").hide();
            }
        });
        function convertPoints() {
            if (parseFloat(@Convert.ToDecimal(System.Configuration.ConfigurationManager.AppSettings["MinConvertPoint"])) > parseFloat($("#yourPoints").val())) {
                showMessage('You must have minimum ' + @Convert.ToDecimal(System.Configuration.ConfigurationManager.AppSettings["MinConvertPoint"]) + ' points to convert into balance.');
            }
            else {
                $.ajax({
                    url: "/User/Setting/ManagePoints",
                    type: "Post",
                    contentType: 'application/json; charset:utf-8',
                    async: false,
                    success: function (data) {
                        //showMessage("Reward points has been converted successfully", true);

                        $("#parent-container").load(location.href + " #child-container");
                        $("#btnConvert").hide();@Html.Raw(TempData.Peek("ConvertPointMSg"));
                    }
                });
            }
        }
    </script>
}