@model _ChineseAddress.com.Areas.User.Models.ReferralEmailModel
@{
    ViewBag.Title = "Referral";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Setting")">My Account</a></li>
                    <li class="active">Refer Friends</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>

    @using (Ajax.BeginForm("Referral", "Setting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SignUp" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Referrals</h2>
                    <p>Earn rewards for referring your friends</p>
                    <h5>Invite friends to ChineseAddress via email, or share your referral link on social media. Your friend will get a @System.Configuration.ConfigurationManager.AppSettings["ReferredSignupMarginPercent"].ToString()% off on signup and when they signup then you will get  @System.Configuration.ConfigurationManager.AppSettings["ReferralSignUpPoints"].ToString() points!</h5>
                    @Html.TextBox("referrals", null, new { @class = "form-control", @Value = ViewBag.Link, @readonly = "readonly" })
                    <div class="clearfix">&nbsp;</div>
                    <div id="AddShipmentdiv">
                        <div class="shipmentDetail" id="ShipDetails">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label> Email</label>
                                    @Html.TextBoxFor(m => m.email, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "you@example.org", @id = "email" })
                                    @*@Html.ValidationMessageFor(x => x.email)*@
                                    <span id="spanRequired" class="hidden" style="color:red">Email is required</span>
                                    <span id="spanEmail" class="hidden" style="color:red">Please enter a valid e-mail address</span>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Name</label>
                                    @Html.TextBoxFor(m => m.name, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "Name", @id = "name" })
                                    @*@Html.ValidationMessageFor(m => m.name)*@
                                    <span id="spanRequired" class="hidden" style="color:red">Name is required</span>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-3" style="float:right">
                                        <button type="button" id="RemoveField" onclick="RemoveDiv(this);" class="btn btn-xs btn-danger pull-right hidden" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-lg-3" style="float:right">
                                        <button type="button" onclick="AddTable();" id="AddField" class="btn btn-xs btn-success pull-right" style="font-size: 12px !important" title="Add More"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-12"><button class="btn btn-success btn-block" id="Submit_form" onclick="return isFormValid();">Send Invitation</button></div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
@section Scripts {
    <script type="text/javascript">
        $(document).on('change', 'input[id^=email]', function () {
            validateForm('email');
        });
        $(document).on('change', 'input[id^=name]', function () {
            validateForm('name');
        });
        function validateForm(control) {

            let formIsValid = true;
            $('input[id^=' + control + ']').each(function (i, obj) {
                let controlIsValid = true;
                let val = obj.value;
                if (val === "" || typeof val === 'undefined') {
                    controlIsValid = false;
                    $(this).addClass('input-validation-error').next().eq(0).removeClass('hidden')
                    $(this).siblings("span[id^=spanEmail]").addClass('hidden');

                }
                else {
                    $(this).removeClass('input-validation-error').next().eq(0).addClass('hidden')

                }
                if (control === 'email' && controlIsValid === true) {
                    if (val.match(/^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/g) !== null) {

                        $(this).removeClass('input-validation-error').siblings("span[id^=spanEmail]").addClass('hidden');

                    }
                    else {
                        isValid = false;

                        $(this).addClass('input-validation-error').siblings("span[id^=spanEmail]").removeClass('hidden')
                    }

                }
            });
        }
        function isFormValid() {
            validateForm('name');
            validateForm('email');
            if ($("#AddShipmentdiv").find('span').not('.hidden').length === 0)
                return true;
            else
                return false;
        }
        var i = 1;
        function AddTable() {
            $("#AddShipmentdiv").children('div:last').clone().appendTo($("#AddShipmentdiv")).find('input').each(function () {
                $(this).val('').removeAttr('style').removeClass('input-validation-error');
                $(this).attr({
                    'id': function (_, id) { return id },
                    'name': function (_, name) { return name }

                });
            });
            Showbuttonhide();
            $("#AddShipmentdiv").children('div:last').appendTo($("#AddShipmentdiv")).find('span').each(function () {
                $(this).attr({
                    'class': 'hidden'
                });
            })
            i++;
        };
    </script>
    <script type="text/javascript">
        function RemoveDiv(id) {
            $(id).parents('#ShipDetails').remove()
            Showbuttonhide()
        }
        function Showbuttonhide() {
            if ($('.shipmentDetail').length === 1) {
                $("[id='RemoveField']").addClass('hidden');
            }
            else
                $("[id='RemoveField']").removeClass('hidden');
            $("[id='AddField']:not(:last)").addClass('hidden');
            $("[id='AddField']:last").removeClass('hidden');
        }
    </script>
}