@model _ChineseAddress.com.Models.ViewCustomerPaymentModel
@{
    ViewBag.Title = "SingleCreditCard";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="active"><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/User/"))">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Setting")">My Account</a></li>
                    <li class="active"><a href="@Url.Action("CreditCards", "Setting")">Payment Methods</a></li>
                    <li class="active">Add New Credit Card</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@using (Ajax.BeginForm("SingleCreditCard", "Setting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SignUp" }))
{
    <section>
        <div class="container">
            <div class="row">
                @Html.Partial("_LeftMenuSettingsPartial")
                <div class="col-md-8">
                    <h2>Billing Address</h2>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            @*<label for="myCheckbox">Same As Shippping Address</label>
                                <input type="checkbox" name="chkbox" id="myCheckbox" value="0" class="form-group" />*@
                            <span class="checkbox">
                                <label style="font-size: 1em">
                                    <input value="" id="billingaddress" unchecked type="checkbox">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span> Same As Shippping Address
                                </label>
                            </span>
                        </div>
                    </div>
                    <div id="divDeliveryAddress">

                        <div class="row form-group">
                            <div class="col-sm-6 ">
                                <label>First Name</label>
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.billingId)
                                @Html.TextBoxFor(model => model.first_name, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(m => m.first_name, null, new { @class = "error" })
                            </div><!--spacetop15PX-xs-->
                            <div class="col-sm-6 spacetop15PX-xs">
                                <label>Last Name</label>
                                @Html.TextBoxFor(model => model.last_name, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(m => m.last_name, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Email</label>
                                @Html.TextBoxFor(m => m.email, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "you@example.org" })
                                @Html.ValidationMessageFor(m => m.email, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Mobile</label>
                                @Html.TextBoxFor(m => m.mobile, new { @type = "tel", @maxlength = "50", @class = "form-control", @placeholder = "Mobile" })
                                @Html.ValidationMessageFor(m => m.mobile, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Address</label>
                                @Html.TextBoxFor(model => model.address, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "Address" })
                                @Html.ValidationMessageFor(m => m.address, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label>Country</label>

                                @Html.DropDownListFor(m => m.Country, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
                                @Html.ValidationMessageFor(m => m.Country, null, new { @class = "error" })
                            </div>
                            <div class="col-sm-6 spacetop15PX-xs">
                                <label>City</label>
                                @Html.TextBoxFor(m => m.city, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "City" })
                                @Html.ValidationMessageFor(m => m.city, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>State/Province</label>
                                @Html.TextBoxFor(m => m.state, new { @type = "text", @class = "form-control", @placeholder = "State/Province" })
                                @Html.ValidationMessageFor(m => m.state, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Postal Code</label>
                                @Html.TextBoxFor(m => m.post_code, new { @type = "number", @maxlength = "20", @class = "form-control", @placeholder = "Postal Code" })
                                @Html.ValidationMessageFor(m => m.post_code, null, new { @class = "error" })
                            </div>
                        </div>
                    </div>
                    @*<div class="row form-group">
                        </div>*@<h2>Credit Card</h2>
                    <div class="row form-group">
                        <div class="col-sm-8">

                            <label>Credit Card Number</label>
                            @Html.TextBoxFor(model => model.CreditCard, new { @type = "number", @min = "1", @class = "form-control", @placeholder = "8888888888888888", @maxlength = "16", @minlength = "13" })
                            @Html.ValidationMessageFor(model => model.CreditCard, null, new { @class = "error" })
                        </div>
                        <div class="col-sm-4 spacetop15PX-xs ul-list-xs">
                            <ul class="list-unstyled list-inline">
                                <li><img src="@Url.Content("~/Content/img/cards.jpg")"></li>
                                @*<li><img src="@Url.Content("~/Content/img/visa.png")"></li>
                                    <li><img src="@Url.Content("~/Content/img/mastercard.png")"></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <label>Expire Month</label>
                                    @Html.DropDownListFor(model => model.ExpireMonth, Enumerable.Range(1, 12).
                                   Select(m => new SelectListItem() { Text = (m.ToString().PadLeft(2, '0')), Value = (m.ToString().PadLeft(2, '0')) }), new { @class = "form-control", @id = "ExpireMonth" })
                                    @Html.ValidationMessageFor(model => model.ExpireMonth, null, new { @class = "error" })
                                </div>
                                <div class="col-md-3 col-sm-4 spacetop15PX-xs">
                                    <label>Expire Year</label>
                                    @Html.DropDownListFor(model => model.ExpireYear, Enumerable.Range(DateTime.Now.Year, 10).
                                   Select(p => new SelectListItem()
                                   { Text = p.ToString(), Value = p.ToString() })
                                   , new { @class = "form-control", @id = "ExpireYear" })
                                    @Html.ValidationMessageFor(model => model.ExpireYear, null, new { @class = "error" })
                                </div>
                                <div class="col-md-6 col-sm-4"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 spacetop15PX-xs">
                            <div class="row">
                                <div class="col-md-6 col-sm-8">
                                    <label>CVV Code</label>

                                    @Html.TextBoxFor(model => model.CVCCode, new { @type = "number", @class = "form-control", @placeholder = "0000", @maxlength = "4", @minlength = "3", min = "1" })
                                    @Html.ValidationMessageFor(model => model.CVCCode, null, new { @class = "error" })
                                </div>
                                <div class="col-md-6 col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="checkbox">
                                <label style="font-size: 1em">
                                    <input value="false" id="Terms" name="terms" unchecked type="checkbox">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    <label for="terms"><a href="~/termsandconditions" target="_blank" class="btn btn-link checkbox-anchor">Terms & Conditions</a> and <a href="~/cancelreturnpolicies" target="_blank" class="btn btn-link checkbox-anchor">Cancellation and Return Policies</a> I have read, understood and agree to ChineseAddress</label>
                                </label>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group"><a href="~/creditcards" class="btn btn-danger"><i class="fa fa-long-arrow-left"></i> cancel </a></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12"><button class="btn btn-success btn-block">Add Card</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section Scripts{
    <script>
        $(window).load(function () {
            @Html.Raw(TempData["CustomerBillingPayment"]);
            $('#myCheckbox').click(function () {
                if ($(this).is(":checked")) {
                    $("#divforhide").hide();
                }
                else {
                    $("#divforhide").show();
                }
            });
        });
        $('#Terms').click(function () {
            if ($("#Terms").next('span').children().hasClass('fa-check') == true) {
                $('#Terms').prop('checked', false);
                $("#Terms").next('span').children().removeClass('fa-check')
                $("#Terms").val(false);
            }
            else if ($("#Terms").next('span').children().hasClass('fa-check') == false) {
                $('#Terms').prop('checked', true);
                $("#Terms").next('span').children().addClass('fa-check')
                $("#Terms").val(true);
            }
        });
        $("#billingaddress").change(function () {
            if ($(this).is(":checked") === true) {
                $("#divDeliveryAddress").hide(1000);
                $.ajax({
                    url: '@Url.Action("SameshippingAddress", "Setting")',
                    type: "POST",
                    success: function (data) {
                        $("#first_name").val(data.first_name);
                        $("#last_name").val(data.last_name);
                        $("#email").val(data.email);
                        $("#mobile").val(data.mobile);
                        $("#address").val(data.address);
                        $("#Country").val(data.Country);
                        $("#Country").trigger('change.select2');
                        $("#city").val(data.city);
                        $("#state").val(data.state);
                        $("#post_code").val(data.post_code);
                        $("#Id").val(data.Id);

                    }

                });
            }
            else {
                $("#divDeliveryAddress").show(1000);
            }
        });

        //Validate Expiry Date start

        $(window).load(function () {
            var d = new Date(),
             currMonth = d.getMonth(),
             currYear = d.getFullYear();
            $('#ExpireMonth option:eq(' + currMonth + ')').prop('selected', true);
            $('#ExpireYear  option[value="' + currYear + '"]').prop('selected', true);
        })
        $("#ExpireMonth").change(function () {
            ValidationCreaditCard();
        })
        $("#ExpireYear").change(function () {
            ValidationCreaditCard();
        })
        function ValidationCreaditCard() {
            var d = new Date()
            currentmonth = d.getMonth(),
            currentyear = d.getFullYear();
            var selectedMonth = $("#ExpireMonth").val();
            var SelectedYear = $("#ExpireYear").val();
            if ($("#ExpireYear").val() != "" && SelectedYear > currentyear) {
                $('#ExpireMonth option[value="' + selectedMonth + '"]').prop('selected', true);
                $('#ExpireYear option[value="' + SelectedYear + '"]').prop('selected', true);
            }
            else if (selectedMonth <= currentmonth) {
                showMessage('Invalid expire date', false);
                $('#ExpireMonth option:eq(' + currentmonth + ')').prop('selected', true);
            }
        }
        //Validate Expiry Date End
    </script>

}