@model List<_ChineseAddress.com.Models.PlansOptionModel>
@{
    ViewBag.Title = "Upgrade";
}
@using _ChineseAddress.com.Models;
@section header{
<link href="~/Content/css/home.bundle.min.css" rel="stylesheet" />
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb text-left">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Upgrade Your Plan</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div id="price_area" class="price_area">
                    <div class="container">
                        <div class="row">
                            <div class="price_section">
                                <h1 class="text-left"><span>Change Your Plan</span></h1>
                                <div class="col-md-12">
                                    <!-- Tab1 starts -->
                                    <div id="tab1" class="pricing-table">
                                        @{ int count = 0;
                                            foreach (_ChineseAddress.com.Repository.tblPlan item in ViewBag.PlansOption)
                                            {
                                                count++;
                                                if (count == 1)
                                                {
                                                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-box first wow bounceInUp animated">

                                                        <ul>
                                                            <li class="plan-title">
                                                                <h3> @item.title</h3>
                                                            </li>
                                                            <li class="subscription-price oswald">
                                                                @*<span class="currency oswald">$</span>*@
                                                                <span class="price">$@(Convert.ToDecimal(item.price).ToString("F"))</span>
                                                                @if (item.is_recurring == true)
                                                                {
                                                                    @("/  Monthly");
                                                                }
                                                                else
                                                                {
                                                                    @("/  OneTime");
                                                                }
                                                            </li>

                                                            <li class="ptop10">@item.description</li>
                                                            @foreach (var items in Model.Where(x => x.p_id == item.Id).Select(x => x))
                                                            {
                                                                if (items.IsSignUp == true)
                                                                {
                                                                    <li class="last border-none pbottom40">
                                                                        @items.title: $@(Convert.ToDecimal(items.price).ToString("F")) @{if (items.description != null)
                                                                            { @("/") @items.description;
                                                                            }
                                                                        }
                                                                    </li>
                                                                                }
                                                                            }
                                                            @if (ViewBag.CurrnetPlan != null)
                                                            {
                                                                if (ViewBag.CurrnetPlan.plan_title.ToString().ToLower() == "direct-single-shipment")
                                                                {
                                                                    string itemid = Convert.ToString(item.Id);
                                                                    string id = Cryptography.Encrypt(itemid);
                                                                    <li class="sing-up">
                                                                        <a href="~/PaymentPlanUpgrade/@id" id="nextab133" class="animate">Upgrade</a>
                                                                    </li>

                                                                }

                                                                @*for (int i = 0; i < ViewBag.CurrnetPlan.Count; i++)
                                                                {
                                                                    if (ViewBag.CurrnetPlan[i].title.ToString().ToLower() == "direct-single-shipment")
                                                                    {
                                                                        string itemid = Convert.ToString(item.Id);
                                                                        string id = Cryptography.Encrypt(itemid);
                                                                        <li class="sing-up">
                                                                            <a href="~/PaymentPlanUpgrade/@id" id="nextab133" class="animate">Upgrade</a>
                                                                        </li>

                                                                    }
                                                                }*@
                                                            }
                                                        </ul>
                                                    </div><!-- end pricing-box -->
                                                                            }
                                                                            if (count == 2)
                                                                            {

                                                                                <div class="col-md-4 col-sm-4 col-xs-12 pricing-box second featured wow bounceInUp animated">

                                                                                    <ul>
                                                                                        <li class="plan-title">
                                                                                            <h3>@item.title</h3>
                                                                                        </li>
                                                                                        <li class="subscription-price oswald">
                                                                                            @*<span class="currency oswald">$</span>*@
                                                                                            <span class="price">$@(Convert.ToDecimal(item.price).ToString("F"))</span>
                                                                                            @if (item.is_recurring == true)
                                                                                            {
                                                                                                @("/  Monthly");
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                @("/  OneTime");
                                                                                            }
                                                                                        </li>
                                                                                        <li class="ptop10">@item.description</li>
                                                                                        @foreach (var items in Model.Where(x => x.p_id == item.Id).Select(x => x))
                                                                                        {
                                                                                            if (items.IsSignUp == true)
                                                                                            {
                                                                                                <li class="last border-none pbottom40">
                                                                                                    @items.title: $@(Convert.ToDecimal(items.price).ToString("F")) @{if (items.description != null)
                                                                                                        { @("/") @items.description;
                                                                                                        }
                                                                                                    }
                                                                                                </li>
                                                                                                            }

                                                                                                        }

                                                                                        @if (ViewBag.CurrnetPlan != null)
                                                                                        {
                                                                                            if (ViewBag.CurrnetPlan.plan_title.ToString().ToLower() != "plus" || ViewBag.CurrnetPlan.plan_title.ToString().ToLower() != "premium")
                                                                                            {
                                                                                                string itemid = Convert.ToString(item.Id);
                                                                                                string id = Cryptography.Encrypt(itemid);
                                                                                                <li class="sing-up">
                                                                                                    <a href="~/PaymentPlanUpgrade/@id" id="nextab133" class="animate">Upgrade</a>
                                                                                                </li>
                                                                                            }

                                                                                            @*for (int i = 0; i < ViewBag.CurrnetPlan.Count; i++)
                                                                                            {
                                                                                                if (ViewBag.CurrnetPlan[i].title == "Plus")
                                                                                                {
                                                                                                    string itemid = Convert.ToString(item.Id);
                                                                                                    string id = Cryptography.Encrypt(itemid);
                                                                                                    <li class="sing-up">
                                                                                                        <a href="~/PaymentPlanUpgrade/@id" id="nextab133" class="animate">Upgrade</a>
                                                                                                    </li>
                                                                                                }
                                                                                            }*@
                                                                                        }
                                                                                    </ul>
                                                                                </div><!-- end pricing-box -->
                                                                                                        }
                                                                                                        if (count == 3)
                                                                                                        {

                                                                                                            <div class="col-md-4 col-sm-4 col-xs-12 pricing-box last wow bounceInUp animated">
                                                                                                                <ul>
                                                                                                                    <li class="plan-title">
                                                                                                                        <h3>@item.title</h3>
                                                                                                                    </li>
                                                                                                                    <li class="subscription-price oswald plan-color">
                                                                                                                        @*<span class="currency oswald">$</span>*@
                                                                                                                        <span class="price">@*@(Convert.ToInt32(item.price))*@ Free</span>
                                                                                                                        @if (item.is_recurring == true)
                                                                                                                        {
                                                                                                                            @("/  Monthly");
                                                                                                                        }
                                                                                                                        else
                                                                                                                        {
                                                                                                                            @("/   No Consolidation");
                                                                                                                        }
                                                                                                                    </li>
                                                                                                                    <li class="ptop10">@item.description</li>
                                                                                                                    @foreach (var items in Model.Where(x => x.p_id == item.Id).Select(x => x))
                                                                                                                    {
                                                                                                                        if (items.IsSignUp == true)
                                                                                                                        {
                                                                                                                            <li class="last border-none pbottom40">
                                                                                                                                @items.title: $@(Convert.ToDecimal(items.price).ToString("F")) @{if (items.description != null)
                                                                                                                                    { @("/") @items.description;
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            </li>
                                                                                                                                        }
                                                                                                                                    }
                                                                                                                </ul>
                                                                                                            </div><!-- end pricing-box -->
                                                                                                                                        }
                                                                                                                                    }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>