@model List<_ChineseAddress.com.Repository.tblPackagingOption>
@{
    ViewBag.Title = "Admin";
}
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Packaging Option</h3>
            <a href='@Url.Action("Index", "PackagingOptions")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Packaging Option</i></a>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="datatablepackagingoptions" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Visible On Signup</th>
                            <th>Visible On Shipment</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.title</td>
                                    <td>@item.description</td>
                                    @*<td><span>@(item.created_on == null ? "" : item.created_on.Value.ToString("yyyy/MM/dd"))</span></td>*@
                                    <td>
                                        <label class="textboxfor">
                                            <span title="Click here to Toggle this status" id='@("upspanStatus"+item.Id)' class="label @(item.is_signup == true ? "label-success" : "label-danger")">@(item.is_signup == true ? "True" : "False")</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="textboxfor">
                                            <span title="Click here to Toggle this status" id='@("ntspanStatus"+item.Id)' class="label @(item.is_shipment == true ? "label-success" : "label-danger")">@(item.is_shipment == true ? "True" : "False")</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="textboxfor">
                                            <span title="Click here to Toggle this status" id='@("spanStatus"+item.Id)' class="label @(item.status == true ? "label-success" : "label-danger")">@(item.status == true ? "Active" : "InActive")</span>
                                        </label>
                                    </td>
                                    <td style="padding: 14px 0px 0px 30px;">
                                        <a href="Index/@item.Id" class="btn btn-info btn-xs" title="Edit/View"><i class="fa fa-pencil"></i>@("/")<i class="fa fa-eye"></i></a>
                                        &nbsp;&nbsp;
                                        @*<a href="#" id='Delete @item.Id' onclick="DeleteDatas(@item.Id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"> Change Status</i></a>*@
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatablepackagingoptions").DataTable({
                responsive: true,
                "order": [],
                "columnDefs": [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
            });
        });
        $('span[id^="spanStatus"]').click(function () {
            var statusid = $(this).attr('id');
            var id = statusid.replace('spanStatus', '');
            confirm('Are you sure,you want to change this status?', function (r) {
                if (r === true) {
                    $.ajax({
                        type: "post",
                        url: "/PackagingOptions/ChangeStatusPackagingOptionById",
                        data: { 'id': id },
                        success: function (id) {
                            showMessage("Status has been changed successfully", true)
                            if ($("#spanStatus" + id.toString()).text() === "Active")
                                $("#spanStatus" + id.toString()).text('InActive').toggleClass('label-success label-danger')
                            else
                                $("#spanStatus" + id.toString()).text('Active').toggleClass('label-success label-danger')
                        },
                        error: function (data) {
                            alert(data.x);
                            showMessage("", false)
                        }
                    });

                }
                else {
                    return false;
                }
            });

        });

        $('span[id^="upspanStatus"]').click(function () {
            var statusid = $(this).attr('id');
            var id = statusid.replace('upspanStatus', '');
            confirm('Are you sure you want to update packaging option?', function (r) {
                if (r === true) {
                    $.ajax({
                        type: "post",
                        url: "/PackagingOptions/ChangeSignupStatusPackagingOptionById",
                        data: { 'id': id },
                        success: function (id) {
                            showMessage("Packaging Option has been updated successfully", true)
                            if ($("#upspanStatus" + id.toString()).text() === "True")
                                $("#upspanStatus" + id.toString()).text('False').toggleClass('label-success label-danger')
                            else
                                $("#upspanStatus" + id.toString()).text('True').toggleClass('label-success label-danger')
                        },
                        error: function (data) {
                            alert(data.x);
                            showMessage("", false)
                        }

                    });

                }
                else {
                    return false;
                }
            });

        });
        $('span[id^="ntspanStatus"]').click(function () {
            var statusid = $(this).attr('id');
            var id = statusid.replace('ntspanStatus', '');
            confirm('Are you sure you want to update packaging option?', function (r) {
                if (r === true) {
                    $.ajax({
                        type: "post",
                        url: "/PackagingOptions/ChangeshipmentStatusPackagingOptionById",
                        data: { 'id': id },
                        success: function (id) {
                            showMessage("Packaging Option has been updated successfully", true)
                            if ($("#ntspanStatus" + id.toString()).text() === "True")
                                $("#ntspanStatus" + id.toString()).text('False').toggleClass('label-success label-danger')
                            else
                                $("#ntspanStatus" + id.toString()).text('True').toggleClass('label-success label-danger')
                        },
                        error: function (data) {
                            alert(data.x);
                            showMessage("", false)
                        }

                    });

                }
                else {
                    return false;
                }
            });

        });

        @Html.Raw(ViewBag.Message);
        function DeleteDatas(id) {
            var parent = $(this).parent().parent();
            $.ajax({
                type: "post",
                url: "/PackagingOptions/DeletePackagingOptionById",
                data: { 'id': id },
                success: function (id) {
                    if (id !== "0") {
                        $("a[id='Delete " + id + "']").eq(0).parent().parent().next('.child').remove();
                        $("a[id='Delete " + id + "']").eq(0).parent().parent().remove();
                        showMessage("Record has been deleted successfully", true);
                    }
                },
                error: function (data) {
                    alert(data.x);
                }
            });
        }
    </script>
}