@model _ChineseAddress.com.Repository.tblPackagingOption
@{
    ViewBag.Title = "Admin";
}

<section class="content">
    @using (Html.BeginForm("InsertTblPackagingOptions", "PackagingOptions", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add Packaging Option</h3>
                <a href='@Url.Action("PackagingOptions", "PackagingOptions")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye" aria-hidden="true"> View All Packaging Options</i></a>
            </div>
            <div class="form-horizontal">
                <div class="box-body">

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(m => m.Id)
                            @Html.TextBoxFor(m => m.title, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", id = "inputtitle", placeholder = "Title" })
                            @Html.ValidationMessageFor(m => m.title, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.description, new { @type = "text", @class = "form-control textboxfor", id = "inputdescription", placeholder = "Description" })
                            @Html.ValidationMessageFor(m => m.description, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSignup" class="col-sm-2 control-label"> Visible On Signup</label>
                        <div class="col-sm-10" style="margin-top:5px">

                            <input value="true" class="flat-red" name="is_signup" type="checkbox" @((Model == null) ? "" : ((Model.is_signup ?? false) ? @"checked=""checked""" : ""))>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputShipment" class="col-sm-2 control-label">Visible On Shipment</label>
                        <div class="col-sm-10" style="margin-top:5px">
                            <input value="true" class="flat-red" name="is_shipment" type="checkbox" @((Model == null) ? "" : ((Model.is_shipment ?? false) ? @"checked=""checked""" : ""))>
                        </div>
                    </div>
                </div>
                <div class="box-footer" style="padding: 20px 221px;">
                    <button type="submit" id="SubmitData" class="btn btn-success">Submit</button>
                    <a href='@Url.Action("PackagingOptions", "PackagingOptions")' class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    }
</section>
@section Scripts {
    <script type="text/javascript">
        @Html.Raw(ViewBag.Message);
        var JsonModel = '@Html.Raw(Json.Encode(@ViewBag.Message))';
        if (JsonModel === 'null') {
        } else if (JsonModel === '"showMessage(\u0027Updated successfully\u0027,true);"') {
            setTimeout(function() {
                window.location.pathname = '/Admin/PackagingOptions/PackagingOptions';
            }, 2000);};
    </script>

}