/*
This is an example of how to use the image sprite in your own CSS files
*/
.seal_sprite {
	background-image: url('seal_sprite.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.seal_sprite.trustwave_seal {
	width: 105px;
	height: 53px;
	background-position: -10px -10px;
}
.seal_sprite.auth_seal {
	width: 90px;
	height: 72px;
	background-position: -10px -73px;
}
.seal_sprite.godaddy_seal {
	width: 131px;
	height: 32px;
	background-position: -10px -155px;
}
