@model _ChineseAddress.com.Models.ViewCustomerPaymentModel
@{
	ViewBag.Title = "ChineseAddress | CustomerPayment";
}
@section header{
	<link rel="stylesheet" type="text/css" href="/content/css/myStyle.css" />
	<link href="~/Content/css/select2.min.css" rel="stylesheet" />
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}

@using (Ajax.BeginForm("CustomerPayment", "Customer", new AjaxOptions { HttpMethod = "POST" }))
{
	@Html.ValidationSummary(true)
	<section class="margintop90PX margintop100px">
		<div class="container blog_area">
			<div class="col-md-2 col-sm-1"></div>
			<div class="col-md-8 col-sm-10">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<h1><i class="fa fa-credit-card-alt"></i> Payment</h1>
						<strong>We Secured Your Line</strong>
						<br>
						<img src="@Url.Content("~/Content/img/siteseal_gd_3_h_d_m.gif")">
						<br><br>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 text-right well-extra-info">
						<h4 class="col-md-12"> Subscription Plan:  @(Model == null ? "" : Model.Plan + "/" + Model.PlanAmount)</h4>
						@if (Model != null && Model.CouponValue != 0)
						{
							<h4 class="col-md-12"> Coupon Value:  @(Model == null ? "" : String.Format("(-) ${0:0.00}", (Model.CouponValue)))</h4>
						}
						@if (ViewBag.ReferralMargin != null)
						{
							<h4 class="col-md-12"> Referral Bonus:  @( string.Format("(-) ${0:0.00}", (ViewBag.ReferralMargin)))</h4>
							@Html.HiddenFor(model => model.referrer_id)
						}
						<h4 class="col-md-12"> Payable Amount:  <strong>@(Model == null ? "" : String.Format("${0:0.00}", Model.PayableAmount))</strong></h4>
					</div>
				</div>
				<h1><i class="fa fa-address-book"></i> Billing Address</h1>
				<div class="well well-sm">
					<div class="row form-group">
						<div class="col-sm-12">
							<span class="checkbox">
								<label style="font-size: 1em">
									<input value="" id="billingaddress" unchecked type="checkbox">
									<span class="cr"><i class="cr-icon fa fa-check"></i></span> Same As Shippping Address
								</label>
							</span>
						</div>
					</div>
					<div id="BillingAddresshidden">
						<div class="row form-group">
							<div class="col-sm-6">
								<label>First Name</label>
								@Html.TextBoxFor(model => model.first_name, new { @type = "text", @class = "form-control", @placeholder = "First Name" })
								@Html.ValidationMessageFor(model => model.first_name, null, new { @class = "error" })
							</div>
							<div class="col-sm-6 spacetop15PX-xs">
								<label>Last Name</label>
								@Html.TextBoxFor(model => model.last_name, new { @type = "text", @class = "form-control", @placeholder = "Last Name" })
								@Html.ValidationMessageFor(model => model.last_name, null, new { @class = "error" })
							</div>
						</div>

						<div class="row form-group">
							<div class="col-sm-12">
								<label>Email</label>
								@Html.TextBoxFor(model => model.email, new { @type = "text", @class = "form-control", @placeholder = "Your Biling Email" })
								@Html.ValidationMessageFor(model => model.email, null, new { @class = "error" })
							</div>
						</div>

						<div class="row form-group">
							<div class="col-sm-12">
								<label>Mobile Number</label>
								@Html.TextBoxFor(model => model.mobile, new { @type = "text", @class = "form-control", @placeholder = "Your Biling Phone" })
								@Html.ValidationMessageFor(model => model.mobile, null, new { @class = "error" })
							</div>
						</div>

						<div class="row form-group">
							<div class="col-sm-12">
								<label>Address</label>
								@Html.TextBoxFor(model => model.address, new { @type = "text", @class = "form-control", @placeholder = "Current Address" })
								@Html.ValidationMessageFor(model => model.address, null, new { @class = "error" })
							</div>
						</div>

						<div class="row form-group">
							<div class="col-sm-6">
								<label>Country</label>
								@Html.DropDownListFor(model => model.Country, null, new { required = "required", @class = "form-control ", @SearchSelect = "true" })
							</div>
							<div class="col-sm-6 spacetop15PX-xs">
								<label>City</label>
								@Html.TextBoxFor(model => model.city, new { @type = "text", @class = "form-control", @placeholder = "City" })
								@Html.ValidationMessageFor(model => model.city, null, new { @class = "error" })
								@*<select name="" class="form-control">
										<option>Select</option>
									</select>*@
							</div>
						</div>

						<div class="row">
							<div class="col-sm-8">
								<label>State/Province</label>
								@Html.TextBoxFor(model => model.state, new { @type = "text", @class = "form-control", @placeholder = "State/Province" })
								@Html.ValidationMessageFor(model => model.state, null, new { @class = "error" })
							</div>
							<div class="col-sm-4 spacetop15PX-xs">
								<label>Zip Code</label>
								@Html.TextBoxFor(model => model.post_code, new { @type = "text", @class = "form-control", @placeholder = "Zip Code" })
								@Html.ValidationMessageFor(model => model.post_code, null, new { @class = "error" })
							</div>
						</div>
					</div>
				</div>
				<h1><i class="fa fa-credit-card"></i> Credit Card</h1>
				<div class="well well-sm">
					<div class="row form-group">
						<div class="col-sm-8">
							<label>Credit Card Number</label>
							@Html.TextBoxFor(model => model.CreditCard, new { @type = "number", @class = "form-control", @placeholder = "8888888888888888", @maxlength = "16", @minlength = "13" })
							@Html.ValidationMessageFor(model => model.CreditCard, null, new { @class = "error" })
						</div>
						<div class="col-sm-4 spacetop15PX-xs ul-list-xs">
							<ul class="list-unstyled list-inline">
								<li><img src="@Url.Content("~/Content/img/cards.jpg")"></li>
								@*<li><img src="@Url.Content("~/Content/img/visa.png")"></li>
									<li><img src="@Url.Content("~/Content/img/mastercard.png")"></li>*@
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="row">
								<div class="col-md-3 col-sm-4">
									<label>Expire Month</label>
									@Html.DropDownListFor(model => model.ExpireMonth, Enumerable.Range(1, 12).
                                   Select(m => new SelectListItem() { Text = (m.ToString().PadLeft(2, '0')), Value = (m.ToString().PadLeft(2, '0')) }), new { @class = "form-control" })
									@Html.ValidationMessageFor(model => model.ExpireMonth, null, new { @class = "error" })
								</div>
								<div class="col-md-3 col-sm-4 spacetop15PX-xs">
									<label>Expire Year</label>
									@Html.DropDownListFor(model => model.ExpireYear, Enumerable.Range(DateTime.Now.Year, 10).
                                   Select(p => new SelectListItem()
                                   { Text = p.ToString(), Value = p.ToString() })
                                   , new { @class = "form-control" })
									@Html.ValidationMessageFor(model => model.ExpireYear, null, new { @class = "error" })
								</div>
								<div class="col-md-6 col-sm-4"></div>
							</div>
						</div>
						<div class="col-sm-4 spacetop15PX-xs">
							<div class="row">
								<div class="col-md-6 col-sm-8">
									<label>CVV Code</label>
									@Html.TextBoxFor(model => model.CVCCode, new { @type = "number", @class = "form-control", @placeholder = "0000", @maxlength = "4", @minlength = "3", min = "1" })
									@Html.ValidationMessageFor(model => model.CVCCode, null, new { @class = "error" })
								</div>
								<div class="col-md-6 col-sm-4"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<span class="checkbox">
							<label style="font-size: 1em">
								<input value="false" id="Terms" name="Terms" unchecked type="checkbox">
								<span class="cr"><i class="cr-icon fa fa-check"></i></span>
								<label for="Terms"><a href="~/TermsAndConditions" target="_blank" class="btn btn-link checkbox-anchor">Terms & Conditions</a> and <a href="~/CancelReturnPolicies" target="_blank" class="btn btn-link checkbox-anchor">Cancellation and Return Policies</a> I have read, understood and agree to 4inShip</label>
							</label>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 form-group"><a href="~/#price_area" class="btn btn-danger"><i class="fa fa-long-arrow-left"></i> Previous</a></div>
					<div class="col-sm-12"><button class="btn btn-success btn-block">Pay</button></div>
				</div>
			</div>
			<div class="col-md-2 col-sm-1"></div>
		</div>
	</section>
}

@section Scripts{
	<script src="~/Scripts/jquery-1.12.4.min.js"></script>
	<script src="~/Scripts/pgwmodal.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var d = new Date(),
             n = d.getMonth(),
             y = d.getFullYear();
			$('#ExpireMonth option:eq(' + n + ')').prop('selected', true);
			$('#ExpireYear  option[value="' + y + '"]').prop('selected', true);
		})
		$("#ExpireMonth").change(function () {
			ValidationCreaditCard();
		})
		$("#ExpireYear").change(function () {
			ValidationCreaditCard();
		})
		function ValidationCreaditCard() {
			var d = new Date()
			currentmonth = d.getMonth(),
            currentyear = d.getFullYear();
			var selectedMonth = $("#ExpireMonth").val();
			var SelectedYear = $("#ExpireYear").val();
			if ($("#ExpireYear").val() != "" && SelectedYear > currentyear) {
				$('#ExpireMonth option[value="' + selectedMonth + '"]').prop('selected', true);
				$('#ExpireYear option[value="' + SelectedYear + '"]').prop('selected', true);
			}
			else if (selectedMonth <= currentmonth) {
				showMessage('Invalid expire date', false);
				$('#ExpireMonth option:eq(' + currentmonth + ')').prop('selected', true);
			}
		}
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			@Html.Raw(TempData["CustomerBillingPayment"]);
			@Html.Raw(TempData["Message"]);
			$("#billingaddress").attr('unchecked', false)
			$("#Terms").next('span').children().removeClass('fa-check')
		});
	</script>
	<script type="text/javascript">
		$("#billingaddress").click(function () {
			var CheckedValue = $("#billingaddress").attr('checked')
			var UnCheckedValue = $("#billingaddress").attr('unchecked')
			if (typeof CheckedValue !== 'undefined' && CheckedValue != '') {
				$("#billingaddress").attr('checked', false);
				$("#billingaddress").next('span').children().removeClass('fa-check')
				$("#BillingAddresshidden").show(1000);
			}
			else if (typeof UnCheckedValue != 'undefined' && UnCheckedValue != '') {
				$("#billingaddress").attr('checked', true);
				$("#billingaddress").next('span').children().addClass('fa-check')
				$("#BillingAddresshidden").hide(1000);
			}

			var url = "/Customer/GetAddressbookData";
			$.get(url, null, function (data) {
				$("#first_name").val(data.first_name);
				$("#last_name").val(data.last_name);
				$("#email").val(data.email);
				$("#mobile").val(data.mobile);
				$("#address").val(data.address);
				$("#Country").val(data.Country);
				$("#Country").trigger('change.select2');
				$("#city").val(data.city);
				$("#state").val(data.state);
				$("#post_code").val(data.post_code);
			});
		});
		$('#Terms').click(function () {
			if ($("#Terms").next('span').children().hasClass('fa-check') == true) {
				$('#Terms').prop('checked', false);
				$("#Terms").next('span').children().removeClass('fa-check')
				$("#Terms").val(false);
			}
			else if ($("#Terms").next('span').children().hasClass('fa-check') == false) {
				$('#Terms').prop('checked', true);
				$("#Terms").next('span').children().addClass('fa-check')
				$("#Terms").val(true);
			}
		});
	</script>
	<script type="text/javascript">
		function showMessage(msg, bool, timeout) {
			timeout = (typeof timeout !== 'undefined') ? timeout : 7000;
			if (bool === true) {
				$('#div_msg').html('<div class="alert-success">' + msg + '</div>');
				$.pgwModal({
					target: '#div_msg',
					titleBar: false
				});
				$(".pm-content").css({ "background": "#DFF0D8" })
			}
			else {
				$('#div_msg').html('<div style="color: #dc0400;">' + msg + '</div>');
				$.pgwModal({
					target: '#div_msg',
					titleBar: false
				});
				$(".pm-content").css({ "background": "#ffebeb" })
			}
			setTimeout(function () {
				$.pgwModal('close');
			}, timeout);
		}
	</script>

}