@model  _ChineseAddress.com.Models.ViewCustomerModel
@{
    ViewBag.Title = "ChineseAddress | Login";
}
@section header{
    <link rel="stylesheet" type="text/css" href="/content/css/myStyle.css" />
}
@{ var GoogleClientID = System.Configuration.ConfigurationManager.AppSettings["GoogleClientId"]; }
<meta name="google-signin-client_id" content="@GoogleClientID">
<script src="https://apis.google.com/js/platform.js" async defer></script>
@Html.Partial("_HeaderMenu")
@using (Html.BeginForm("Login", "Customer",FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <section class="margintop90PX margintop100px" id="LoginDiv">
        <div id="div_msg" style="display: none;color:#0000FF;">
            <strong style="color:#3db714;"></strong>
        </div>
        <div class="container blog_area">
            <div class="col-md-4 col-sm-3"></div>
            <div class="col-md-4 col-sm-6">
                <h1><i class="fa fa-sign-in"></i> Login</h1>
                <div class="well well-sm clr001">
                    <div class="row">
                        <div id="fb_div">
                            <a href="#"></a>
                        </div>
                        <div id="fb-root">
                        </div>
                 
                    </div>
					<center><h2 class="clrwhite0">Login</h2></center>
                    
                    @Html.HiddenFor(m => m.Id)
                    @Html.TextBoxFor(m => m.email, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", placeholder = "UserName/Email" })
                    @Html.ValidationMessageFor(m => m.email, null, new { @class = "error" })

                    <br>
                    
                    @Html.TextBoxFor(m => m.password, new { @type = "password", @maxlength = "50", @class = "form-control textboxfor", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.password, null, new { @class = "error" })
					<br />
					<button class="btn btn-success btn-white">Log in</button>
                    <span class="checkbox text-center">
                        <label style="font-size: 1em">
                            <input value="true" name="IsRemember" checked="checked" type="checkbox">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span> Remember Me
                        </label>
                    </span>
                 
                  
                </div>

				<div class="loginbtn">
					<div class="col-sm-12 form-group">
						<div>
							<button type="button" class="btn btn-facebook btn-block btn-primary facebook-button" onclick="checkLoginStateByFB(this);">
								<span class="fa fa-facebook"></span>&nbsp; Sign in with Facebook
							</button>
						</div><br />
						<div class="margen-googlebutton">
							<div class="g-signin2 none-button" id="Gbutton" data-onsuccess="onSignIn" data-theme="dark"></div>
							<a class="btn btn-block btn-social btn-google btn-danger" id="GoogleButton">
								<span class="fa fa-google-plus"></span>&nbsp; Sign in with Google
							</a>
							<a href="javscript:void(0)" id="SignOutFunction" class="none-button" onclick="signOut();">Sign out</a>
						</div>
					</div>

					<br><br />
					<div class="margintop">
						<div class="row">
							<div class="col-sm-6"><a href="#" data-toggle="modal" data-target="#myModal">Forgot Password?</a></div>

							<div class="col-sm-6 text-right"><a href="~/#price_area" class="text-right">Not a member?</a></div>
						</div>
						
						
					</div>
				</div>


            </div>
            <div class="col-md-4 col-sm-3"></div>
        </div>
    </section>
}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title"><i class="fa fa-sign-in"></i> Forgot Password</h1>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("ForgetPassword", "Customer", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "LoginDivs", AllowCache = true }))
                {
                    @Html.ValidationSummary(true)

                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">

                            <br>
                            <div id="LoginDivs"></div>
                            <div class="well well-sm">
                                <label>UserName/Email</label>

                                @Html.TextBoxFor(m => m.email, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", placeholder = "UserName/Email" })
                                @Html.ValidationMessageFor(m => m.email, null, new { @class = "error" })
                                <br />
                                <button class="btn btn-success btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/pgwmodal.min.js"></script>
    <script type="text/javascript">
        $(function () {
            @Html.Raw(ViewBag.Message)
            @Html.Raw(TempData["SignUpMessage"])
        });
    </script>
    <script type="text/javascript">

        var FbButton;
        var IsFbShared;

        var FacebookAppID = @Html.Raw(Json.Encode(System.Configuration.ConfigurationManager.AppSettings["FacebookClientId"]));
        window.fbAsyncInit = function () {
            FB.init({
                appId: FacebookAppID,
                status: true,
                cookie: true,  // enable cookies to allow the server to access
                xfbml: true,  // parse social plugins on this page
                version: 'v2.0', // use version 2.0
                oauth: true // Enable oauth authentication
            });
        };

        // Load the SDK asynchronously
        (function () {
            var e = document.createElement('script');
            // replacing with an older version until FB fixes the cancel-login bug
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            //e.src = 'scripts/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        } ());

        function checkLoginStateByFB(sender) {
            FbButton = sender.id;

            FB.login(function (response) {
                if (response.authResponse) {
                    var name = response.name;

                    var IsBusinessPageID = false;
                    var fbPageaccess_token;
                    /*get data for post on fb walls from database by ajax call::start here*/
                    FB.api('/me?fields=gender,first_name,last_name,email', function (response) {
                        //console.log('Successful login for: ' + response.name);

                        var FacebookEmail = response.email;
                        var gender = response.gender;
                        var name = response.name;
                        var FacebookID = response.id;
                        $.ajax({
                            type: "Post",
                            contentType: 'application/json;charset=utf-8',
                            url: "/customer/facebooksignup",
                            data: JSON.stringify({ "FacebookEmail": FacebookEmail, "FacebookID": FacebookID }),
                            success: (function (data) {

                                if (data === "Social email not matched customer email") {
                                    showMessage("There is no account with this facebook profile please sign up",false);
                                }
                                else
                                {
                                    //$.post(data.Url);
                                    window.location.href = "/dashboard";//data.Data.Url.toLowerCase().replace("/customer","");
                                }
                            })
                        })
                    });

                    /*get data for post on fb walls from database by ajax call::end here*/
                }

            }, {
                scope: "email,public_profile",
                return_scopes: true
            });
        }
    </script>

    <script type="text/javascript">
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var GoogleID= profile.getId();
            var GoogleEmail=profile.getEmail();
            var FirstName=profile.getGivenName();
            var LastName= profile.getFamilyName();
            $.ajax({
                type: "Post",
                contentType: 'application/json;charset=utf-8',
                url: "/Customer/GoogleSignUp",
                data: JSON.stringify({ "GoogleEmail": GoogleEmail, "GoogleID": GoogleID }),
                success: (function (data) {
                    $("#SignOutFunction").click();
                    if (data === "Social email not matched customer email") {
                        showMessage("There is no account with this google profile please sign up",false);
                    }
                    else
                    {
                        //$.post(data.Url);
                        window.location.href = "/dashboard";//data.Data.Url.toLowerCase().replace("/customer","");
                    }
                })
            })
        };
    </script>
    <script type="text/javascript">

        $("#FacebookButton").click(function(){
            $('div[role="button"]').click()
        });
        $("#GoogleButton").click(function(){
            //$('.g-signin2').attr('data-onsuccess','onSignIn')
            $("#Gbutton").trigger("click");
            $(".abcRioButtonContentWrapper").click();
        });

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
    <script type="text/javascript">
        function showMessage(msg, bool, timeout) {
            timeout = (typeof timeout !== 'undefined') ? timeout : 7000;
            if (bool === true) {
                $('#div_msg').html('<div class="alert-success">' + msg + '</div>');
                $.pgwModal({
                    target: '#div_msg',
                    titleBar: false
                });
                $(".pm-content").css({ "background": "#DFF0D8" })
            }
            else {
                $('#div_msg').html('<div style="color: #dc0400;">' + msg + '</div>');
                $.pgwModal({
                    target: '#div_msg',
                    titleBar: false
                });
                $(".pm-content").css({ "background": "#ffebeb" })
            }
            setTimeout(function () {
                $.pgwModal('close');
            }, timeout);
        }
    </script>
}