@model  _ChineseAddress.com.Models.ViewCustomerModel
@{
    ViewBag.Title = "ChineseAddress | SignUp";
}
<meta name="google-signin-scope" content="profile email">
@{ var GoogleClientID = System.Configuration.ConfigurationManager.AppSettings["GoogleClientId"]; }
<meta name="google-signin-client_id" content="@GoogleClientID">
<script src="https://apis.google.com/js/platform.js" async defer></script>
@section header{
    <link rel="stylesheet" type="text/css" href="/content/css/myStyle.css" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
}

@Html.Partial("~/Views/Shared/_HeaderMenu.cshtml")

@using (Ajax.BeginForm("SignUp", "Customer", new AjaxOptions { HttpMethod = "POST" }))
{

    @Html.ValidationSummary(true)
    <section class="margintop90PX margintop100px" id="SignUp">
        @*<div class="container blog_area">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="alert col-sm-8 alert-dismissabl newslatter-background">
                        <a href="#" class="close newslatter-close" data-dismiss="alert" aria-label="close">×</a>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center newslatter-text">
                                    Before you SIGN UP, consider joining our newsletter! <br />
                                    You will receive a <label>FREE Premium Membership for 6 months</label>, as well as an additional 10% off of your orders.
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                <a href="/Newsletter" class="btn btn-success text-center form-control newlatter-button">Sign Up Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="container blog_area">

            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-10">
                <h1><i class="fa fa-user"></i> Customer Information</h1>
                <strong>Your Information is safe with us!</strong>
                <br>
                We promise we will never SPAM you with unwanted emails. We respect your privacy and will never share your email address with any person or organization. All data are 100% encrypted with a strong industry-standard SSL encryption
                <br><br>
                <h1><i class="fa fa-cog"></i> Your Login Information</h1>
                <div class="row">
                    <div class="col-sm-6 spacetop15PX-xs">
                        <div id="fb_div">
                            <a href="#"></a>
                        </div>
                        <div id="fb-root">
                        </div>
                        @*<fb:login-button onlogin="checkLoginState();" autologoutlink="true" data-width="" size="large"></fb:login-button>*@
                        @*<fb:login-button onlogin="checkLoginState();" class="btn btn-block btn-social btn-facebook btn-primary facebook-button" id="FacebookButton">
                                <span class="fa fa-facebook"></span>   Sign in with Facebook
                            </fb:login-button>*@
                        <button type="button" class="btn btn-facebook btn-block btn-primary facebook-button" onclick="checkLoginStateByFB(this);">
                            <span class="fa fa-facebook"></span>&nbsp; Sign up with Facebook
                        </button>
                    </div>
                    <div class="col-sm-6 spacetop15PX-xs">
                        <div class="g-signin2 none-button" id="Gbutton" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <a class="btn btn-block btn-social btn-google btn-danger" id="GoogleButton">
                            <span class="fa fa-google-plus"></span>&nbsp; Sign up with Google
                        </a>
                        <a href="javscript:void(0)" id="SignOutFunction" class="none-button" onclick="signOut();">Sign out</a>
                    </div>
                </div>
                <br>
                <div class="well well-sm">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>Username/Email</label>
                            @Html.TextBoxFor(model => model.email, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(model => model.email, null, new { @class = "error" })
                            <span id="spanLogin" style="display:none"><br />Please <a href="/login" target="_blank"> click here </a>to login</span>
                            <span id="errorMsg" style="color:red">User already exists</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 ">
                            <label>Password</label>
                            @*<input type="text" class="form-control">*@
                            @Html.PasswordFor(model => model.password, new { @type = "password", @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.password, null, new { @class = "error" })
                        </div>
                        <div class="col-sm-6 spacetop15PX-xs">
                            <label>Confirm Password</label>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "error" })
                        </div>
                    </div>
                </div>
                <h1><i class="fa fa-map-marker"></i> We Will Ship to this Address</h1>
                <div class="well well-sm">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>First Name</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @type = "text", @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "error" })
                        </div>
                        <div class="col-sm-6 spacetop15PX-xs">
                            <label>Last Name</label>
                            @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>Company</label>
                            @Html.TextBoxFor(model => model.Company, new { @type = "text", @class = "form-control", @placeholder = "Company" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>Address</label>
                            @Html.TextBoxFor(model => model.Address, new { @type = "text", @class = "form-control", @placeholder = "Building No Street - District" })
                            @Html.ValidationMessageFor(model => model.Address, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Country</label>
                            @Html.DropDownListFor(model => model.Country, null, new { required = "required", @class = "form-control", @SearchSelect = "true" })

                            @Html.ValidationMessageFor(model => model.Country, null, new { @class = "error" })
                        </div>
                        <div class="col-sm-6 spacetop15PX-xs">
                            <label>City</label>
                            @Html.TextBoxFor(model => model.City, new { @type = "text", @class = "form-control", @placeholder = "City" })
                            @Html.ValidationMessageFor(model => model.City, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <label>State/Province</label>
                            @Html.TextBoxFor(model => model.State, new { @type = "text", @class = "form-control", @placeholder = "State" })
                            @Html.ValidationMessageFor(model => model.State, null, new { @class = "error" })
                        </div>
                        <div class="col-sm-4 spacetop15PX-xs">
                            <label>Zip Code</label>
                            @Html.TextBoxFor(model => model.ZipCode, new { @type = "text", @class = "form-control", @placeholder = "Zip Code" })
                            @Html.ValidationMessageFor(model => model.ZipCode, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Mobile Number</label>
                            @Html.TextBoxFor(model => model.MobileNumber, new { type = "tel", @class = "form-control", @placeholder = "Mobile Number" })
                            @Html.ValidationMessageFor(model => model.MobileNumber, null, new { @class = "error" })
                        </div>
                    </div>
                </div>
                @*<h1><i class="fa fa-scissors"></i> Coupon Information</h1>
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Coupon code</label>
                                @Html.TextBoxFor(model => model.CuponCode, new { @type = "text", @class = "form-control", @placeholder = "Coupon Code" })
                                <div id="Couponerror" style="color:red" class="hidden">Coupon does not exist!</div>
                                <div id="CouponSuccess" style="color:green" class="hidden">hurrah! coupon code applied successfully.</div>
                            </div>
                        </div>
                    </div>*@
                <div class="row">
                    @*<div class="col-sm-12 form-group"><a href="../../" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancel</a></div>*@
                    <button type="submit" class="btn btn-success btn-block marginbottom20PX" onclick="return validateCoupon();">Save &amp; Next</button>
                </div>
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </section>
}

@section Scripts{
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/jquery.validate.bundle.min.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            $('.ui.dropdown').dropdown();
            $('.ui.buttons .dropdown.button').dropdown({
                action: 'combo'
            });
            $("#errorMsg").hide();
        })
    </script>
    <script type="text/javascript">
   @Html.Raw(ViewBag.Message)

        $("#CuponCode").change(function () {
            checkCoupon();
        });

        $("#CuponCode").keyup(function () {
            $("#Couponerror").addClass("hidden");
            $('#CouponSuccess').addClass("hidden");
        })
        function validateCoupon() {
            checkCoupon();

        }
        function checkCoupon() {
            var CouponCode = $("#CuponCode").val();
            if ($("#CuponCode").val() === '' || typeof $("#CuponCode").val() ==='undefined') {
                $("#Couponerror").addClass("hidden").removeAttr("isvalid");
            }
            else {
                var isvalid=true;
                var form = new FormData();
                form.append("CouponCode", CouponCode);
                $.ajax({
                    url: "/Customer/CheckCoupon",
                    type: "POST",
                    data: form,
                    async: false,
                    traditional: true,
                    processData: false,
                    contentType: false,
                    success: function (d) {
                        if (d != "") {
                            $("#Couponerror").removeClass("hidden").removeAttr("isvalid");
                            $('#CouponSuccess').addClass("hidden");
                            isvalid=false;
                        }
                        else {
                            $("#Couponerror").show().attr("isvalid", "false");
                            $("#Couponerror").addClass("hidden");
                            $('#CouponSuccess').removeClass("hidden");
                            isvalid=true;
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                    }
                });
                return isvalid;
            }
        }
    </script>
    <!--Validation Customer-->
    <script type="text/javascript">
        if ($.validator) {
            //  Validation
            $.validator.addMethod("isemailexists", function (value, element, params,event) {
                    var isMatched = false;
                    isMatched = isemailexistsAjaxCall();
                    if (isMatched === false) {
                        $("#spanLogin").show();
                        $("#errorMsg").show();
                    }
                    else {
                        $("#spanLogin").hide();
                        $("#errorMsg").hide();
                    }
                    return isMatched;
            }, '')
            if ($.validator.unobtrusive) {
                $.validator.unobtrusive.adapters.addBool("isemailexists");
            }
        }

        function isemailexistsAjaxCall() {
            var ajaxCall = $.ajax({
                type: "POST",
                url: '@Url.Action("isEmailExists", "Customer")',
                async: false,
                send:function () {},
                data: JSON.stringify({ "email": $("#email").val() }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    return data;
                },
                error: function () {
                    return false;
                },
                complete:function () {}

            });
            return ajaxCall.responseJSON;
        }
    </script>
    <script type="text/javascript">

        var FbButton;
        var IsFbShared;

        var FacebookAppID = @Html.Raw(Json.Encode(System.Configuration.ConfigurationManager.AppSettings["FacebookClientId"]));
        window.fbAsyncInit = function () {
            FB.init({
                appId: FacebookAppID,
                status: true,
                cookie: true,  // enable cookies to allow the server to access
                xfbml: true,  // parse social plugins on this page
                version: 'v2.0', // use version 2.0
                oauth: true // Enable oauth authentication
            });
        };

        // Load the SDK asynchronously
        (function () {
            var e = document.createElement('script');
            // replacing with an older version until FB fixes the cancel-login bug
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            //e.src = 'scripts/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        } ());

        function checkLoginStateByFB(sender) {
            FbButton = sender.id;

            FB.login(function (response) {
                if (response.authResponse) {
                    var name = response.name;

                    var IsBusinessPageID = false;
                    var fbPageaccess_token;
                    /*get data for post on fb walls from database by ajax call::start here*/
                    FB.api('/me?fields=location,gender,first_name,last_name,email', function (response) {
                        //console.log('Successful login for: ' + response.name);

                        var FacebookEmail = response.email;
                        var gender = response.gender;
                        var name = response.name;
                        var FacebookID = response.id;
                        $.ajax({
                            type: "Post",
                            contentType: 'application/json;charset=utf-8',
                            url: "/Customer/FaceBookSignUp",
                            data: JSON.stringify({ "FacebookEmail": FacebookEmail, "FacebookID": FacebookID }),
                            success: (function (data) {
                                try {


                                if (data === "Social email not matched customer email") {

                                    $("#email").val(response.email);
                                    $("#FirstName").val(response.first_name);
                                    $("#LastName").val(response.last_name)
                                    try {
                                        var location = response.location.name.split(',');
                                        $("#City").val(location[0]);

                                    $("#Country").children().each(function(i,obj){
                                        if($(this).text()===location[1].trim())
                                        {
                                            $("#select2-Country-container").text($(this).text())
                                        }
                                        });
                                    $("#Country").val($('#Country option').filter(function () { return $(this).html() == location[1].trim() }).val()).trigger("change");
                                    } catch (e) {

                                    }
                                }
                                else
                                {
                                    //$.post(data.Url);
                                    window.location.href = "/dashboard";//data.Data.Url.toLowerCase().replace("/customer","");
                                    }
                                } catch (e) {
                                    console.log(e);
                                }
                            })
                        })
                    });

                    /*get data for post on fb walls from database by ajax call::end here*/
                }

            }, {
                scope: "email,public_profile,user_location",
                return_scopes: true
            });
        }
    </script>

    <script type="text/javascript">
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var GoogleID = profile.getId();
            var GoogleEmail = profile.getEmail();
            var FirstName = profile.getGivenName();
            var LastName = profile.getFamilyName();
            $.ajax({
                type: "Post",
                contentType: 'application/json;charset=utf-8',
                url: "/Customer/GoogleSignUp",
                data: JSON.stringify({ "GoogleEmail": GoogleEmail, "GoogleID": GoogleID }),
                success: (function (data) {
                    $("#SignOutFunction").click();
                    if (data === "Social email not matched customer email") {
                        $("#email").val(GoogleEmail);
                        $("#FirstName").val(FirstName);
                        $("#LastName").val(LastName)
                    }
                    else {
                        //$.post(data.Url);
                        window.location.href = "/dashboard";//data.Data.Url.toLowerCase().replace("/customer","");
                    }
                })
            })
        };
    </script>
    <script type="text/javascript">
        $("#FacebookButton").click(function () {
            $('div[role="button"]').click()
        });
        $("#GoogleButton").click(function () {
            //$('.g-signin2').attr('data-onsuccess','onSignIn')
            $("#Gbutton").trigger("click");
            $(".abcRioButtonContentWrapper").click();
        });

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            $.validator.setDefaults({
                onkeyup: false
            });
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                /*DropDown Add SearchSelect='true' in control*/
                $("select[SearchSelect='true']").select2({ width: '100%' });
                $('select').on('select2:select', function (evt) {
                    $(this).parents('div').next('div').eq(0).find('input').eq(0).focus().select();
                });
                //$(document).on('focus', '.select2', function () {
                //    $(this).siblings('select').select2('open');
                //});
            } catch (e) {
            }
        });
    </script>
    <script type="text/javascript">
        function showMessage(msg, bool, timeout) {
            timeout = (typeof timeout !== 'undefined') ? timeout : 7000;
            if (bool === true) {
                $('#div_msg').html('<div class="alert-success">' + msg + '</div>');
                $.pgwModal({
                    target: '#div_msg',
                    titleBar: false
                });
                $(".pm-content").css({ "background": "#DFF0D8" })
            }
            else {
                $('#div_msg').html('<div style="color: #dc0400;">' + msg + '</div>');
                $.pgwModal({
                    target: '#div_msg',
                    titleBar: false
                });
                $(".pm-content").css({ "background": "#ffebeb" })
            }
            setTimeout(function () {
                $.pgwModal('close');
            }, timeout);
        }
    </script>

} 