@model IEnumerable<_ChineseAddress.com.Areas.Admin.Models.ViewModelOrder>
@{
    ViewBag.Title = "Admin";
}
<section class="content" id="child-container">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Orders</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool " title="Refresh" onclick="refresh();"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <br />
        <br />
        @{
            var InQueue = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.In_Queue)).Count();
            var Processing = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Proccessing)).Count();
            var Awating_Payment = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Awaiting_Payment)).Count();
            var Awaiting_Dispatch = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Awaiting_Dispatched)).Count();
            var Dispatched = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Dispatched)).Count();
            var Delivered = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Delivered)).Count();
            var Restricted = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Restricted)).Count();
            var Abandoned = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Dispossed_Off)).Count();
            var OnHold = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.On_Hold)).Count();
        }
        <div class="form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#div1" id="d1">In Queue <span class="label label-success"> @InQueue</span></a></li>
                <li><a data-toggle="tab" href="#div2" id="d2">Processing <span class="label label-info"> @Processing</span></a></li>
                <li><a data-toggle="tab" href="#div3" id="d3">Awaiting Payment <span class="label label-default"> @Awating_Payment</span></a></li>
                <li><a data-toggle="tab" href="#div4" id="d4">Awaiting Dispatch <span class="label label-warning"> @Awaiting_Dispatch</span></a></li>
                <li><a data-toggle="tab" href="#div5" id="dispclick">Dispatched <span class="label label-primary"> @Dispatched</span></a></li>
                @*<li><a data-toggle="tab" href="#div6" id="d6">Delivered <span class="label label-success"> @Delivered</span></a></li>*@
                <li><a data-toggle="tab" href="#div7" id="d7">Restricted <span class="label label-danger"> @Restricted</span></a></li>
                <li><a data-toggle="tab" href="#div9" id="d9">Abandoned <span class="label label-danger"> @Abandoned</span></a></li>
                <li><a data-toggle="tab" href="#div10" id="d10">On Hold <span class="label label-warning"> @OnHold</span></a></li>
            </ul>
            @*Partial View*@
            @*@Html.Action("_GetOrdersPartial","Order")*@
        </div>
        <div class="tab-content">
            <div id="div1" class="tab-pane fade in active">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 1).Select(x => x), 1))
            </div>
            <div id="div2" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 2).Select(x => x), 2))
            </div>
            <div id="div3" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 3).Select(x => x), 3))
            </div>
            <div id="div4" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 4).Select(x => x), 4))
            </div>
            <div id="div5" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 5).Select(x => x), 5))
            </div>
            <div id="div6" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 6).Select(x => x), 6))
            </div>
            <div id="div7" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 7).Select(x => x), 7))
            </div>
            <div id="div9" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 9).Select(x => x), 9))
            </div>
            <div id="div10" class="tab-pane fade">
                @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 10).Select(x => x), 10))
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        //Hide Show Tables Columns
        //$('#dispclick').click(function () {
        //    $('a[id="hreftext"]').text('Upload Label')
        //});
        //$('#d1').click(function () {
        //    $('a[id="hreftext"]').text('Edit Order')
        //});
        //$('#d2').click(function () {
        //    $('a[id="hreftext"]').text('Edit Order')
        //});
        //$('#d3').click(function () {
        //    $('a[id="hreftext"]').text('Edit Order')
        //});
        //$('#d4').click(function () {
        //    $('a[id="hreftext"]').text('Edit Order')
        //});
        //$('#d6').click(function () {
        //    $('a[id="hreftext"]').text('Edit Order')
        //});
        //$('#d7').click(function () {
        //    $('a[id="hreftext"]').text('Edit Order')
        //});
        //$(document).ready(function () {
        //});
        var table;
        $(document).ready(function () {
            $("[id^='tdChangeStatus']").not('#tdChangeStatus1').remove();
            $("[id^='tdEditOrder']").not('#tdEditOrder2').not('#tdEditOrder3').not('#tdEditOrder4').not('#tdEditOrder5').not('#tdEditOrder6').not('#tdEditOrder7').not('#tdEditOrder9').not('#tdEditOrder10').remove();
            drawTable();
        })
        @Html.Raw(ViewBag.Message);
        @Html.Raw(TempData["CouponMsg"])
        function drawTable() {
            //if (typeof table !== "undefined") {
            //    table.draw();
            //}
            //table =
            var datatable = $("[id^='tblOrders']").DataTable({
                "bDestroy": true,
                responsive: true,
                "order": [],
                "columnDefs": [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
            });

        }
        function refresh() {
            var GetEvent = $('.nav-tabs li[class="active"]').children().attr('href');
            localStorage.setItem("SelectPanel", GetEvent);

            location.href = location.href;
        }
        $(document).ready(function () {
            if (localStorage.SelectPanel != typeof ("undefined")) {
                $('.nav-tabs').children().removeClass('active');
                $('.tab-content').children().removeClass('in active');
            }
            $(".nav-tabs > li").children().each(function (i, obj) {
                if ($(this).attr('href') == localStorage.SelectPanel) {
                    $(this).parent().addClass('active');
                }
            })
            if (typeof localStorage.SelectPanel !== "undefined") {
                $('.tab-content').children().each(function (i, obj) {
                    if ($(this).attr('id') === localStorage.SelectPanel.substring(1, 6)) {
                        $(this).addClass('in active');

                    }
                })
            }
            else {
                $('.tab-content').children().eq(0).addClass('in active')
                $('.nav-tabs').children().eq(0).addClass('.active')
            }
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', 'a[href="#div3"]', function () { $('#div3 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
            $(document).on('click', 'a[href="#div2"]', function () { $('#div2 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
            $(document).on('click', 'a[href="#div4"]', function () { $('#div4 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('Dispatch') })
            $(document).on('click', 'a[href="#div5"]', function () { $('#div5 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
            $(document).on('click', 'a[href="#div6"]', function () { $('#div6 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
            $(document).on('click', 'a[href="#div7"]', function () { $('#div7 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
            $(document).on('click', 'a[href="#div9"]', function () { $('#div9 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
            $(document).on('click', 'a[href="#div10"]', function () { $('#div10 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
        });
    </script>
}