@model  _ChineseAddress.com.Areas.Admin.Models.ViewModelOrderInformation
@using System.Text.RegularExpressions;
@{
	ViewBag.Title = "Admin";
}
@using _ChineseAddress.com.Areas.Admin.Models
@using _ChineseAddress.com.Areas.User.Models
@using _ChineseAddress.com.Repository

<!-- body content start -->
<div class="container-fluid">
	<section>
		@*@{ Html.RenderPartial("_MsgDivPartial");  }*@
		<div class="box-grey">
			<div class="row">
				<input type="hidden" id="OrderID" value="@Model.id" />
				@*<div class="col-sm-3 border-rgt space-top-bot paddingleft30PX force-center">*@
				<div class="col-sm-3 border-rgt space-top-bot paddingleft30PX force-center">
					Order on:<br>
					<strong>@(Model.orderon == null ? "" : Model.orderon.Value.ToString("yyyy/MM/dd"))</strong>
				</div>
				<div class="col-sm-3 border-rgt space-top-bot force-center">
					Order Number:<br>
					<strong>@Model.orderno</strong>
				</div>
				<div class="col-sm-3 border-rgt space-top-bot force-center">
					Shipping Method:<br>
					<strong>@Model.shipmethod</strong>
				</div>
				<div class="col-sm-3 space-top-bot force-center">
					Status:<br>
					@{
						clsCommon objclscomman = new clsCommon();
						var Status = objclscomman.OrderStatus(Convert.ToString(Model.status));
						string[] SplitlabelCalss = Status.Split(',');
						<span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span>
					}
				</div>
			</div>
		</div>
	</section>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6 spacetop20PX-xs">
			<h3 class="bg-light-grey">Ship To</h3>

			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<tr>
							<td>Name</td>
							<td><strong>@Model.firstName @("")@Model.lastName</strong></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><strong>@Model.address1,@(Model.address2 != null ? Model.address2 + "," : "" ) @Model.PostalCode,@Model.city</strong></td>
						</tr>
						<tr>
							<td>State/Province</td>
							<td><strong>@Model.State</strong></td>
						</tr>
						<tr>
							<td>Country</td>
							<td><strong>@Model.country</strong></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><strong>@Model.phone</strong></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 text-center spacetop10PX-xs img-responsive" id="imgprob">
				@*@if (Regex.IsMatch(Model.shipmethod, "ups", RegexOptions.IgnoreCase) == true)
					{
						<img src="~/Content/carrier_imgs/ups.jpg" />
					}
					else if (Regex.IsMatch(Model.shipmethod, "DHL", RegexOptions.IgnoreCase) == true)
					{
						<img src="~/Content/carrier_imgs/DHL-logo.jpg" alt="DHL" />
					}
					else if (Regex.IsMatch(Model.shipmethod, "FedEx", RegexOptions.IgnoreCase) == true)
					{

					}*@
				<img src="~/Content/carrier_imgs/@ViewBag.CarrierLogo" alt="@Model.shipmethod" style="max-width: 178PX;" />
			</div>
			<!--<div class="col-sm-6 col-md-6 col-lg-6 force-center spacetop10PX-xs box-grey1" style="height: 87px;width:47%;"><h4 style="padding:20px 0px 0px 24px;">Tracking Number</h4></div>-->
			<div class="col-sm-6 col-md-6 col-lg-6 text-center spacetop10PX-xs">
				<div class="box-grey1">
					<h4>Tracking Number <a href="" type="button" data-toggle="tooltip" data-placement="bottom" title="Tracking Number"><i class="fa fa-question-circle"></i></a></h4>
					@if (Model.trackingnumber != null)
					{
						@*<a href="~/Admin/Tracking/Index/@Model.trackingnumber">@Model.trackingnumber</a>*@
						<a href="javascript:void(0)" onclick="SubmitrackNumber(this)">@Model.trackingnumber</a>
					}
					else
					{
						<h2>N/A</h2>
					}
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 text-center spacetop10PX-xs" style="margin-top:10px">
				<div class="box-grey1">
					<h4>Total Shipment <a href="" type="button" data-toggle="tooltip" data-placement="bottom" title="Total Shipment"><i class="fa fa-question-circle"></i></a></h4>
					<h2>@Model.totalshipment</h2>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 text-center spacetop10PX-xs" style="margin-top:10px">
				<div class="box-grey1">
					<h4>Total Packages <a href="" type="button" data-toggle="tooltip" data-placement="bottom" title="Total Packages"><i class="fa fa-question-circle"></i></a></h4>
					<h2>@Model.totalpackage</h2>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 text-center spacetop10PX-xs" style="margin-top:10px">
				<div class="box-grey1">
					<h4>Billable Weight <a href="" type="button" data-toggle="tooltip" data-placement="bottom" title="Billable Weight "><i class="fa fa-question-circle"></i></a></h4>
					<h2>@Model.billweight KG</h2>
				</div>
			</div>
			<!--Row Upper-->
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6 spacetop20PX-xs">
			<h3 class="bg-light-grey">Addons & Fees</h3>

			<div class="col-sm-12">
				<div id="Orderchargestable">
					<table class="table table-striped">

						@{
							foreach (var item in ViewBag.OrderCharges)
							{
								<tr>
									<td>@item.charge_name:</td>
									<td colspan="2"><strong>$ @item.sell_price</strong></td>
								</tr>
							}
						}
						<!--<tr id="AddChargesdiv"><td><input type="number" class="form-control" id="ChargePrice" placeholder="Miscellaneous Charge" name="ChargePrice" style="width:75%" /></td><td><button type="button" id="SaveCharges" class="btn btn-success" style="font-size: 12px !important;">Save Charges</button></td></tr>-->
						<tr id="AddChargesdiv">
							<td style="width:50%;"><input type="text" class="form-control" placeholder="Miscellaneous Chargename" id="ChargeName" /><span id="MiscellaneousChargename" class="hidden" style="color:red">Miscellaneous Chargename is required</span></td>
							<td style="width:20%;">
								<input type="number" class="form-control" placeholder="0.00" id="ChargePrice" />
								<span id="MiscellaneousCharge" class="hidden" style="color:red">Miscellaneous Charge is required</span>
							</td>
							<td style="width:20%;" align="left"><input type="submit" id="SaveCharges" class="btn btn-success" value="Save"></td>
						</tr>

						<tr>
							<td><strong>Total Amount:</strong></td>
							<td colspan="2"><strong>$ @Model.totalcharges.ToString("F")</strong></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="clearfix">&nbsp;</div>

			<h3 class="bg-light-grey">Order Note</h3>
			<div class="row">
				<div class="col-sm-12">
					<div class="alert-yellow" style="max-height:150px;overflow: auto;">
						@(Model.order_notes ?? "")
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 spacetop20PX-xs" style="margin-top:5px;">
			<h3 class="bg-light-grey">Your Shipment Detail(s)</h3>
		</div>

		<div class="col-sm-12">
			<div class="table-responsive margintop10PX">
				<table class="table table-striped" id="RestrectedCheckbox">
					<thead>
						<tr>
							<th><input type="checkbox" onchange="ReadyCheckBox(this);"></th>

							<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
							<th>Id</th>
							<th><a href="#">Sender@*<i class="fa fa-caret-down"></i>*@</a></th>
							<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
							<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
							<th><a href="javascript:void(0)" onclick="CollapeAll(this);">View @*<i class="fa fa-caret-down"></i>*@</a></th>
						</tr>
					</thead>

					<tbody>
						@{foreach (var item in ViewBag.CreateOrderDetails)
							{
								var objStatus = objclscomman.Status(Convert.ToString(item.status));
								string[] objSplitlabelCalss = objStatus.Split(',');

								<tr>
									<td><input id="id @item.ID" type="checkbox"></td>
									<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
									<td>@item.ID</td>
									<td>@item.sender</td>
									<td>@item.weight KG</td>

									<td><span class="label  @objSplitlabelCalss[0]">@objSplitlabelCalss[1]</span></td>

									<td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this);" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
								</tr>
								<tr>
									<td colspan="9" class="padding0PX">
										<div class="collapse box-grey1" id="@item.ID">
											<div class="row margin0PX">
												<div class="col-sm-3 col-xs-3">
													<form class="form-horizontal">
														<div class="form-group">
															<div class="row margin0PX">
																<div class="col-sm-4 col-xs-4 line-height34PX">Dimension</div>
																<div class="col-sm-8 col-xs-8">
																	<input class="form-control" readonly value="@item.height X @item.length X @item.width" type="text" placeholder="Dimension">
																</div>
															</div>
														</div>
													</form>
												</div>
												<div class="col-sm-3 col-xs-3 line-height34PX">
													Box Condition &nbsp;@if (item.box_condition == "Good" || item.box_condition == "Acceptable")
													{<span class="label label-success">@item.box_condition</span>}
													else
													{<span class="label label-danger">@item.box_condition</span>}
												</div>
												<div class="col-sm-6 col-xs-6">
													<form class="form-horizontal">
														<div class="form-group">
															<div class="row margin0PX">
																<div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
																<div class="col-sm-10 col-xs-10">
																	<input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
											<div class="row margin0PX">
												<div class="col-sm-12">
													<div class="table-responsive">
														<table class="table table-striped">
															<thead>
																<tr>
																	<th class="inner-table-th"><a href="#">Description @*<i class="fa fa-caret-down"></i>*@</a></th>
																	<th class="inner-table-th"><a href="#">Quantity @*<i class="fa fa-caret-down"></i>*@</a></th>
																	<th class="inner-table-th"><a href="#">Purchase Price @*<i class="fa fa-caret-down"></i>*@</a></th>
																	<th class="inner-table-th"><a href="#">Total @*<i class="fa fa-caret-down"></i>*@</a></th>
																</tr>
															</thead>
															<tbody>

																@{	decimal TotalQuantity = 0;
																	decimal PurchasePrice = 0;
																	List
																	<ViewRecivedShipmentModel>
																		Models = (List<ViewRecivedShipmentModel>
																			)ViewBag.OrderShipmentDetails;
																	foreach (ViewRecivedShipmentModel Shipmentitem in Models)
																	{
																		if (Shipmentitem.Fk_shipment_id == item.ID)
																		{
																			<tr>
																				<td>@Shipmentitem.description</td>
																				<td>@Shipmentitem.quantity</td>
																				<td>@String.Format("$ {0:0.00}", Shipmentitem.purchase_price)</td>
																				@{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
																					TotalQuantity += TotalQuantityPrice;
																					//PurchasePrice += Shipmentitem.purchase_price;
																				}
																				<td>@String.Format("$ {0:0.00}", TotalQuantityPrice)</td>
																			</tr>			}
																					}
																}
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="row margin0PX">
												<div class="col-sm-3 col-xs-12"><h3><span class="label label-default"></span></h3></div>
												<div class="col-sm-12 col-xs-12 text-left"><h3>Total Value <span class="label label-success"> @String.Format("$ {0:0.00}", @TotalQuantity)</span></h3></div>
											</div>
										</div>
									</td>
								</tr>
																					}
						}
					</tbody>
				</table>

				<div id="Restrictbuttondiv">
					<button type="submit" class="btn btn-danger" id="Restrictedoreder" style="font-size:13px!important">Restrict Selected Shipments</button>
				</div>
			</div>
			<!--Table Related-->
			<div class="row" id="SizeWeight">
				<div class="col-sm-12"><h2>Size and weight of used box(s)</h2></div>
				<div class="col-sm-12">
					<!--<div class="table-responsive margintop5PX">-->
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th><a href="#">Box @*<i class="fa fa-caret-down"></i>*@</a></th>
								<th><a href="#">A Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
								<th><a href="#">D Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
								<th><a href="#">F Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
								<th><a href="#">H @*<i class="fa fa-caret-down"></i>*@</a></th>
								<th><a href="#">W @*<i class="fa fa-caret-down"></i>*@</a></th>
								<th><a href="#">L @*<i class="fa fa-caret-down"></i>*@</a></th>
								@*<th><a href="#">Tracking Number</a></th>*@
							</tr>
						</thead>
						<tbody>
						<tbody>
							@{ List<tblOrderBox> tblModel = (List<tblOrderBox>)ViewBag.OrderBoxes;
								int i = 1;
								foreach (var item in tblModel)
								{
									<tr>
										<td>@i</td>
										<td>@item.actual_weight </td>
										<td>@item.dim_weight</td>
										<td>@item.billable_weight</td>
										<td>@item.height </td>
										<td>@item.width</td>
										<td>@item.length</td>
										@*<td>@item.tracking_no</td>*@
									</tr>
									i++;

								}
							}
						</tbody>
					</table>
					<!--</div>-->
				</div>
			</div>
			<div id="Invoiceuploadlabel">
				<div class="row col-lg-6" style="margin-bottom:30px;">
					<label class="control-label">Upload label</label>
					<input type="file" id="fileUpload" class="file file-loading" multiple data-min-file-count="1" data-allowed-file-extensions='["pdf"]' />
					@*<span id="errorMsgfileUpload" style="color:red" class="hidden">Fileupload is required</span>*@
					<br>
					<strong>AWB/Tracking No:</strong><input type="text" class="form-control" placeholder="AWB/Tracking No" id="txttracking" name="fname">
					<span id="errorMsgTracking" style="color:red" class="hidden">AWB/Tracking is required </span>
					<br />
					<br><br>
					<a class="btn btn-warning btn-responsive" id="@Model.id" onclick="return  SaveDispatche(this)">Dispatch</a>
				</div>
			</div>
			<div id="divUnhold">
				<div class="row col-lg-6" style="margin-bottom:30px;">
					<a class="btn btn-warning btn-responsive" id="confirm" href="@Url.Action("UnHoldOrderById", "Order",new { id = Model.id })">UnHold</a>
				</div>
			</div>
			<div id="divDownload">
				@{string OrderInvoice = Model.orderno + "_Invoice.pdf";
					string CarrierLabel = Model.trackingnumber + "_Label.pdf";
					string CustomPerforma = Model.trackingnumber + "_Customproforma.pdf";
				}
				<div class="row col-lg-6" style="margin-bottom:30px;">
					<a class="btn btn-warning btn-responsive" id="confirm" href="~/Admin/order/DownloadInvoice/@Model.id" download="@OrderInvoice">Download Invoice</a>
					@if (System.IO.File.Exists(Server.MapPath("~/Uploads/Orders/" + Model.id + "/" + "" + Model.trackingnumber + "_label.pdf")))
					{
						<a class="btn btn-warning btn-responsive" id="confirm" href="~/Admin/order/DownloadInvoicelabel/@Model.id" download="@CarrierLabel">Download  Label</a>
					}
					<a class="btn btn-warning btn-responsive" id="confirm" href="~/Admin/order/DownloadCustomproforma/@Model.id" download="@CustomPerforma">Download Custom Proforma</a>
				</div>
			</div>
		</div>

		<div class="row" id="beforefoot">
			<div id="OrderBoxesdiv" class="col-sm-12 spacetop20PX-xs">
				<div class="box-header with-border">
					<h3 class="bg-light-grey">
						Order Boxes
					</h3>
				</div>
				<div class="form-group hideinsmall">
					<div class="col-sm-12">
						<div class="col-sm-2">
							<p style="text-align:center;"><strong>Weight (kg)</strong></p>
						</div>
						<div class="col-sm-2">
							<p style="text-align:center;"><strong>Height (cm)</strong></p>
						</div>
						<div class="col-sm-2">
							<p style="text-align:center;"><strong>Width (cm)</strong></p>
						</div>
						<div class="col-sm-2">
							<p style="text-align:center;"><strong>Length (cm)</strong></p>
						</div>
					</div>
				</div>
				@using (Html.BeginForm("Orderboxes", "Order"))
            {
					<form id="myform">
						<input type="hidden" value="@Model.id" name="id" />

						<div class="row">
							<div id="AddShipmentdiv">
								<div class="shipmentDetail" id="ShipDetails">
									<div class="col-sm-12 col-lg-12 col-md-12">

										<div class="form-group">
											<div class="col-sm-12">
												<div class="col-sm-2">
													<input type="number" min="0" step="1" id="wight" class="form-control static" style="margin-top:6px" placeholder="A Weight" name="Atualweight" />
													<span id="errorwight" class="hidden" style="color:red">Weight is required</span>
												</div>
												<div class="col-sm-2">
													<input type="number" min="0" step="1" id="height" class="form-control static" style="margin-top:6px" placeholder="Height" name="heights" />
													<span id="errorheight" class="hidden" style="color:red">Height is required</span>
												</div>
												<div class="col-sm-2">
													<input type="text" id="width" style="margin-top:6px" placeholder="Width" class="form-control static" name="widths" />
													<span id="errorwidth" class="hidden" style="color:red">Width is required</span>
												</div>
												<div class="col-sm-2">
													<input type="text" id="length" style="margin-top:6px" placeholder="Length" class="form-control static" name="lengths" />
													<span id="errorlength" class="hidden" style="color:red">Length is required</span>
												</div>
												<div class="form-group">
													<div class="col-sm-3">
														<button type="button" id="RemoveField" onclick="RemoveDiv(this);" class="btn btn-danger hidden" style="font-size:8px!important;margin-top:10px;" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></button>
														<button type="button" onclick="AddTable();" id="AddField" style="font-size:8px!important;margin-top:10px; " class="btn btn-success" title="Add More"><i class="fa fa-plus" aria-hidden="true"></i></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container-fluid" id="confirmrelated">
							<div class="col-md-12" style="margin:10px 0 10px 0;">
								<input type="submit" class="btn btn-success btn-responsive" id="Submit_form" value="Save Order Boxe(s)" onclick="return Validateform();" />
								<a class="btn btn-success btn-responsive" id="calculateprice" data-toggle="modal" data-target="#CalculatepriceApies">Calculate Price</a>
								<a class="btn btn-success btn-responsive hidden" id="Confirmobutton" href="@Url.Action("ConfirmOrder", "Order")">Confirm Order</a>
								<a class="btn btn-warning btn-responsive" id="confirm" title="Click here to Putt this Order On Hold" href="@Url.Action("PutOnHold", "Order",new { id = Model.id })">Put On Hold</a>
							</div>
						</div>
						<div id="CalculatepriceApies" class="modal fade" role="dialog" width="100%">
							<div class="modal-dialog">
								<div class="modal-content table table-striped">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title"><strong>Calculate Price</strong></h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<input type="hidden" id="ProfitMarginPrice" />
											<div class="col-sm-6">
												<label>Buy Price ($):</label> <input type="number" step="0.01" id="BuyPrice" />
											</div>
											<div class="col-sm-6">
												<label>Sell Price ($):</label> <input type="number" step="0.01" id="SellPrice" />
											</div>
											<div class="col-lg-12" style="padding: 16px 71px;">
												<button type="button" id="SubmitCalculateprice" class="btn btn-success pull-left">Save</button>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				}
			</div>
		</div>
	</div>
</div>
<div id="RstrictOrderMsg" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure ? you want restrict order </h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-3">
							<label>Restricted Reason</label>
						</div>
						<div class="col-sm-9">
							<textarea id="RestrictMsg" style="width:100%"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="SubmitRestrictedoreder">Restrict</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- shipment details -->
@section Scripts{
	<script type="text/javascript">

		$(function () {
			@Html.Raw(TempData["Ordercharges"])

			@Html.Raw(ViewBag.Message)
		});
		$("td input[type='checkbox']").change(function () {
			if ($(this).prop('checked') === false) {
				$(this).parents('table').find('thead').find('input[type="checkbox"]').prop('checked', false);
			}
			else {
				if ($(this).parents('tbody').find('input[type="checkbox"]').length === $(this).parents('tbody').find('input[type="checkbox"]:checked').length)
					$(this).parents('table').find('thead').find('input[type="checkbox"]').prop('checked', true);
			}
		})
		//function CollapeAll(icon)
		//{
		//    $(icon).children().toggleClass('fa fa-caret-down fa fa-caret-up');
		//    $('[role="button"]').trigger('click');
		//}
		function ChangeIcon(icon) {
			var cancelrequest = $(icon).attr('href').replace('#', '');
			$(icon).children().toggleClass('fa-angle-down fa-angle-up');
		}
		function ReadyCheckBox(ready) {
			if ($(ready).parents('thead').find('input[type="checkbox"]').prop('checked') == true) {
				$(ready).parents('thead').next('tbody').children().children().find('input[type="checkbox"]').each(function () { $(this).prop('checked', true) });
			}
			else if ($(ready).parents('thead').find('input[type="checkbox"]').prop('checked') == false) {
				$(ready).parents('thead').next('tbody').children().children().find('input[type="checkbox"]').each(function () { $(this).prop('checked', false) })
			}

		}
		function GetRecshipmentID()
		{
			var idarray = [];
			$('table[id="RestrectedCheckbox"]').find("input[type='checkbox']:checked").each(function (i, obj) { (idarray.push(obj.id)) })
			return idarray;
		}
	</script>
	<script type="text/javascript">
		var i = 1;
		function AddTable() {
			$("#AddShipmentdiv").children('div:last').clone().appendTo($("#AddShipmentdiv")).find('input').each(function () {
				$(this).val('');
				$(this).attr({

					'id': function (_, id) { return id + i }
				});
			});
			Showbuttonhide();
			$("#AddShipmentdiv").children('div:last').appendTo($("#AddShipmentdiv")).find('span').each(function () {
				$(this).attr({
					'id': function (_, id) { return id + i },
				});
			})
			i++;
			$("input[id^=wight]:last").focus();
		};
	</script>
	<script type="text/javascript">
		function CheckValidate() {
			$("#AddShipmentdiv").find('input').filter(function () {
				if ($(this).val() === '') {
					$(this).css('border', '1px solid red');
					return true;
				}; return false;
			}).next().removeClass('hidden')
		}
		$(document).on("change", "input.static", function () {
			$("#AddShipmentdiv").find('input').filter(function () {
				if ($(this).val() === '') {
					return false;
				}
				$(this).removeAttr('Style');
				return true;
			}).next().addClass('hidden')
		});
	</script>
	<script type="text/javascript">
		$("#Submit_form").click(function () {
			CheckValidate();
		})
	</script>
	<script type="text/javascript">
		function SaveDispatche(orderid) {
			var x = $("#txttracking").val();
			if (x === "") {
				$("#errorMsgTracking").removeClass('hidden');
				$("#txttracking").css("border-color", "red");
			}
			//if ($("#fileUpload").val() === "") {
			//    $("#errorMsgfileUpload").removeClass('hidden');
			//    $('.form-control.file-caption.kv-fileinput-caption').css("border-color", "red")
			//}
			else if (x != "") {//$("#fileUpload").val() != "" &&
				var id = orderid.id
				var trackingnumber = $("#txttracking").val();
				var fileUpload = $("#fileUpload").get(0);
				var files = fileUpload.files;
				// Create FormData object
				var fileData = new FormData();
				// Looping over all files and add it to FormData object
				for (var i = 0; i < files.length; i++) {
					fileData.append(files[i].name, files[i]);
				}
				fileData.append("Orderid", id);
				fileData.append("trackingnumber", trackingnumber);
				$.ajax({
					url: '/Admin/Order/DispatcheOrderById',
					type: "POST",
					contentType: false, // Not to set any content header
					processData: false, // Not to process data
					data: fileData,
					success: function (result) {
						if (result != "") {
							showMessage(result, true);
							$('button[class="btn btn-default fileinput-remove fileinput-remove-button"]').trigger("click");
							$("#txttracking").val(' ');
							setTimeout(function () {
								window.location.pathname = "/Admin/Order/Index";
							}, 2000);
						}
					},
					error: function (err) {
						alert(err.statusText);
					}
				})
			}
		}

		function RemoveDiv(id) {
			$(id).parents('#ShipDetails').remove()
			Showbuttonhide()
		}
		function Showbuttonhide() {
			if ($('.shipmentDetail').length === 1) {
				$("[id='RemoveField']").addClass('hidden');
			}
			else
				$("[id='RemoveField']").removeClass('hidden');
			$("[id='AddField']:not(:last)").addClass('hidden');
			$("[id='AddField']:last").removeClass('hidden');
		}
	</script>
	<script type="text/javascript">
		function Validateform() {
			var validateInput = $("form").validate();
			var bool = true;
			$("#AddShipmentdiv").find('input').each(function () {
				if ($(this).val() === "") {
					bool = false;
				}
			});
			return bool;
		}
	</script>
	<script type="text/javascript">
		$(document).on('click', "#SaveCharges", function () {
			if ($("#ChargePrice").val() == "") {
				$("#MiscellaneousCharge").removeClass('hidden');
				$("#ChargePrice").css("border-color", "red");
			}
			if ($("#ChargeName").val() == "") {
				$("#MiscellaneousChargename").removeClass("hidden");
				$("#ChargeName").css("border-color", "red");
			}
			else if ($("#ChargePrice").val() != "" && $("#ChargeName").val() != "") {
				confirm("Are you sure you want to save this charge? You will not be able to update this charge after save this!", function (r) {
					if (r == true) {
						var ChargeName = $("#ChargeName").val();
						localStorage.setItem("ChargeName", ChargeName);
						$.ajax({
							url: '/Admin/Order/MiscellaneousCharges',
							type: 'POST',
							data: JSON.stringify({ "ChargePrice": $("#ChargePrice").val(), "ChargeName": ChargeName }),
							dataType: 'json',
							contentType: 'application/json; charset=utf-8',
							success: function (data) {
								if (data != null) {
									showMessage(data, true);
									$("#ChargePrice").val('');
									$("#Orderchargestable").load(location.href + " #Orderchargestable");
								}
							}
						});
					}
					else false;
				});

			}
		})

		$("#calculateprice").click(function () {
			var OrderID = $("#OrderID").val();
			$.ajax({
				url: '/Admin/Order/CalculatePriceApi',
				type: 'POST',
				data: JSON.stringify({ "OrderID": OrderID }),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function (data) {
					if (data != "") {
						if (data[1] != null) {
							showMessage(data[0], true);
							$("#BuyPrice").val(data[1]);
							var buyprice = data[1];
							var profitmargin = $("#ProfitMarginPrice").val(data[2]);
							var Margin = $(profitmargin).val();
							var SellPrice = CalulateMarginPrice(buyprice, Margin);
							$("#SellPrice").val((SellPrice.toFixed(2)));
						}
						else {
							$("#ProfitMarginPrice").val(data[2])
							showMessage(data[0], false);

							//$("#CalculatepriceApies").modal("hide");
						}

					}
				}
			});
		})
		//Calculation Margin price
		function CalulateMarginPrice(CarrierPrice, ProfitMargin) {
			var CaculatePrice = (CarrierPrice * (100 + (parseInt(ProfitMargin))) / 100.00);
			return CaculatePrice;
		}
		$("#BuyPrice").change(function () {
			var BuyPrice = $("#BuyPrice").val();
			var ProfitMargin = $("#ProfitMarginPrice").val();
			var SellPrice = CalulateMarginPrice(BuyPrice, ProfitMargin);
			$("#SellPrice").val(SellPrice);
		})
		$("#SubmitCalculateprice").click(function () {
			var OrderID = $("#OrderID").val();
			var SellPrice = $("#BuyPrice").val();
			var BuyPrice = $("#SellPrice").val();
			$.ajax({
				url: '/Admin/Order/SaveShippingCharges',
				type: 'POST',

				data: JSON.stringify({ "OrderID": OrderID, "SellPrice": SellPrice, "BuyPrice": BuyPrice }),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function (data) {
					if (data != "") {
						$("#Confirmobutton").removeClass('hidden');
						$("#CalculatepriceApies").modal("hide");
						showMessage(data, true);
						$("#Orderchargestable").load(location.href + " #Orderchargestable");
					}
				}
			});
		})
	</script>
	<script type="text/javascript">
		$(document).ready(init)
		function init() {
			if ($("#wight").val() === "" || $("#height").val() === "" || $("#width").val() === "") {
				$("#calculateprice").hide();
			}
			else {
				$("#calculateprice").show();
			}
		}
		window.onload = init;
	</script>
	<script type="text/javascript">
		$(document).ready(Confirmbutton)
		function Confirmbutton() {
			$("#Orderchargestable").find('td').each(function (i, obj) {
				if ($(this).text() === "Shipping Charges:") {
					$("#Confirmobutton").removeClass('hidden');
				}
			})
		}
		window.onload = init;
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			var Processing=@Html.Raw(Json.Encode(Model.status));
			if(Processing===2)
			{

				$("#OrderBoxesdiv").show();
				$("#AddChargesdiv").show();
				$("#Restrictbuttondiv").show();
				$("#Invoiceuploadlabel").hide();
				$("#SizeWeight").hide();
				$("#shipmenttotalamount").hide();
				$("#divUnhold").hide();
				$("#divDownload").hide();
			}
			else if(Processing===5)
			{
				$("#Invoiceuploadlabel").hide();
				$("#OrderBoxesdiv").hide();
				$("#AddChargesdiv").hide();
				$("#Restrictbuttondiv").hide();
				$("#SizeWeight").show();
				$("#shipmenttotalamount").hide();
				$("#divUnhold").hide();
				$("#divDownload").show();
			}
			else if(Processing===4)
			{
				$("#Invoiceuploadlabel").show();
				$("#OrderBoxesdiv").hide();
				$("#AddChargesdiv").hide();
				$("#Restrictbuttondiv").hide();
				$("#SizeWeight").show();
				$("#shipmenttotalamount").show();
				$("#divUnhold").hide();
				$("#divDownload").hide();
			}
			else if(Processing===10)
			{
				$("#Invoiceuploadlabel").hide();
				$("#OrderBoxesdiv").hide();
				$("#AddChargesdiv").hide();
				$("#Restrictbuttondiv").hide();
				$("#SizeWeight").hide();
				$("#shipmenttotalamount").hide();
				$("#divUnhold").show();
				$("#divDownload").hide();
			}
			else if(Processing===7)
			{
				$("#AddChargesdiv").hide();
				$("#SizeWeight").hide();
				$("#Invoiceuploadlabel").hide();
				$("#OrderBoxesdiv").hide();
				$("#Restrictbuttondiv").hide();
				$("#divUnhold").hide();
				$("#divDownload").hide();
			}
			else
			{
				$("#OrderBoxesdiv").hide();
				$("#AddChargesdiv").hide();
				$("#Restrictbuttondiv").hide();
				$("#Invoiceuploadlabel").hide();
				$("#SizeWeight").show();
				$("#shipmenttotalamount").show();
				$("#divUnhold").hide();
				$("#divDownload").hide();
			}
			var ShipmentList =@Html.Raw(Json.Encode(ViewBag.GetOrderBoxesList));
			if(ShipmentList !==null)
			{
				for (var i = 1; i <= ShipmentList.length-1; i++) {
					AddTable();
				}
				$.each(ShipmentList,function (i,obj) {
					$("[id^='wight']").eq(i).val(obj.actual_weight);
					$("[id^='height']").eq(i).val(obj.height);
					$("[id^='width']").eq(i).val(obj.width);
					$("[id^='length']").eq(i).val(obj.length);
				});
			}
		})
	</script>
	<script type="text/javascript">
		$("#Restrictedoreder").click(function () {
			var Recivshipid = GetRecshipmentID();
			if (Recivshipid.length === 0 || Recivshipid === null) {
				showMessage("Please select at least one shipment", false);
				$("#RstrictOrderMsg").modal("hide");
			}
			else {
				$("#RstrictOrderMsg").modal("show");
			}
		})
	</script>
	<script type="text/javascript">
		$("#SubmitRestrictedoreder").click(function () {
			var Recivshipid = GetRecshipmentID();
			var RestrictedOrderid = $("#OrderID").val();
			var RestrictMsg = $("#RestrictMsg").val();
			$.ajax({
				url: '/Admin/Order/RestrictedOrder',
				type: 'POST',
				data: JSON.stringify({ "Recivshipid": Recivshipid, "RestrictedOrderid": RestrictedOrderid, "RestrictMsg": RestrictMsg }),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function (data) {
					if (data != "") {
						showMessage("Shipment(s) has been restricted successfully ", true);
						setTimeout(function () {
							window.location.pathname = "/Admin/Order/Index";
						}, 2000);
					}
					else {
						showMessage("Please select at least one shipment", false);
					}
				}
			})

		})
	</script>
	<script type="text/javascript">
		$('#fileUpload').click(function () {
			$('.input-group-btn').children('button.btn.btn-default.fileinput-upload.fileinput-upload-button').hide()
			$("#errorMsgfileUpload").addClass('hidden')
			$('.form-control.file-caption.kv-fileinput-caption').css("border-color", "#d2d6de")
		})
		$("#txttracking").keyup(function () {
			$("#errorMsgTracking").addClass('hidden');
			$("#txttracking").css("border-color", "#d2d6de");
		})
		$("#ChargePrice").keyup(function () {
			$("#MiscellaneousCharge").addClass('hidden');
			$("#ChargePrice").css("border-color", "#d2d6de");
		})
		$("#ChargeName").keyup(function () {
			$("#MiscellaneousChargename").addClass('hidden');
			$("#ChargeName").css("border-color", "#d2d6de");
		})

	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#Orderchargestable').find('td > strong').each(function (obj, i) {
				if ($(this).text().indexOf('-') !== -1) {
					$(this).text($(this).text().replace('$ -', '(-) $'));
				}
			});
		})
	</script>
	<script type="text/javascript">
		function SubmitrackNumber(tracknumber) {
			var trackingNumber = $(tracknumber).text().trim();
			TrackingOrderReturnURl(trackingNumber);
		}
	</script>

}