@model IEnumerable<_ChineseAddress.com.Areas.Admin.Models.ViewModelOrder>
@{
    ViewBag.Title = "Admin";
}
<div id="parent-container">
    <section class="content" id="child-container">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Orders </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool " title="Refresh" onclick="refresh();"><i class="fa fa-refresh"></i>dasd</button>
                </div>
            </div>
            <br />
            <br />
            @{
                var InQueue = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.In_Queue)).Count();
                var Processing = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Proccessing)).Count();
                var Awating_Payment = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Awaiting_Payment)).Count();
                var Awaiting_Dispatch = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Awaiting_Dispatched)).Count();
                var Dispatched = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Dispatched)).Count();
                var Delivered = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Delivered)).Count();
                var Restricted = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Restricted)).Count();
                var Aboundan = Model.AsQueryable().Where(x => x.status == Convert.ToInt32(_ChineseAddress.com.Areas.Admin.Models.enumorder.Dispossed_Off)).Count();
            }
            <div class="form-horizontal">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#div1" id="d1">In Queue <span class="label label-success"> @InQueue</span></a></li>
                    <li><a data-toggle="tab" href="#div2" id="d2">Processing <span class="label label-info"> @Processing</span></a></li>
                    <li><a data-toggle="tab" href="#div3" id="d3">Awaiting Payment <span class="label label-default">@Awating_Payment</span></a></li>
                    <li><a data-toggle="tab" href="#div4" id="d4">Awaiting Dispatch <span class="label label-warning">@Awaiting_Dispatch</span></a></li>
                    <li><a data-toggle="tab" href="#div5" id="dispclick">Dispatched <span class="label label-primary">@Dispatched</span></a></li>
                    <li><a data-toggle="tab" href="#div6" id="d6">Delivered<span class="label label-success">@Delivered</span></a></li>
                    <li><a data-toggle="tab" href="#div7" id="d7">Restricted<span class="label label-danger">@Restricted</span></a></li>
                    <li><a data-toggle="tab" href="#div8" id="d8">Abandaned<span class="label label-danger">@Aboundan</span></a></li>
                </ul>
                @*Partial View*@
                @*@Html.Action("_GetOrdersPartial","Order")*@
            </div>
            <div class="tab-content">
                <div id="div1" class="tab-pane fade in active">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 1).Select(x => x), 1))
                </div>
                <div id="div2" class="tab-pane fade">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 2).Select(x => x), 2))
                </div>
                <div id="div3" class="tab-pane fade">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 3).Select(x => x), 3))
                </div>
                <div id="div4" class="tab-pane fade">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 4).Select(x => x), 4))
                </div>
                <div id="div5" class="tab-pane fade">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 5).Select(x => x), 5))
                </div>
                <div id="div6" class="tab-pane fade">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 6).Select(x => x), 6))
                </div>
                <div id="div7" class="tab-pane fade">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 7).Select(x => x), 7))
                </div>
                <div id="div8" class="tab-pane fade">
                    @Html.Partial("_GetOrdersPartial", Tuple.Create(Model.AsQueryable().Where(x => x.status == 9).Select(x => x), 9))
                </div>
            </div>
        </div>
    </section>
    @section Scripts{
        <script type="text/javascript">
            //Hide Show Tables Columns
            $('#dispclick').click(function () {
                $('a[id="hreftext"]').text('Upload Label')
            });
            $('#d1').click(function () {
                $('a[id="hreftext"]').text('Edit Order')
            });
            $('#d2').click(function () {
                $('a[id="hreftext"]').text('Edit Order')
            });
            $('#d3').click(function () {
                $('a[id="hreftext"]').text('Edit Order')
            });
            $('#d4').click(function () {
                $('a[id="hreftext"]').text('Edit Order')
            });
            $('#d6').click(function () {
                $('a[id="hreftext"]').text('Edit Order')
            });
            $('#d7').click(function () {
                $('a[id="hreftext"]').text('Edit Order')
            });
            $(document).ready(function () {
            });
            var table;
            $(document).ready(function () {
                $("[id^='tdChangeStatus']").not('#tdChangeStatus1').remove();
                $("[id^='tdEditOrder']").not('#tdEditOrder2').not('#tdEditOrder3').not('#tdEditOrder4').not('#tdEditOrder5').remove();
                drawTable();
            })
            @Html.Raw(ViewBag.Message);
            function drawTable() {
                if (typeof table !== "undefined") {
                    table.draw();
                }
                table = $("[id^='tblOrders']").DataTable({
                    responsive: true,
                    "order": [],
                    "columnDefs": [
                             { responsivePriority: 1, targets: 0 },
                             { responsivePriority: 2, targets: -1 }
                    ]
                });
            }
            function refresh() {
                $("#parent-container").load(location.href + " #child-container", null, function () {
                });
            }
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('a[href="#div3"]').click(function () { $('#div3 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
                $('a[href="#div2"]').click(function () { $('#div2 td[id^="tdEditOrder"]>a').addClass('btn btn-info btn-xs').text('View') })
            });
        </script>
    }
</div>