﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="language" content="English">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@("@ChineseAddress")">
	<meta name="twitter:description" content="twitter">
	<meta name="twitter:app:id:iphone" content="ChineseAddress">
	<meta name="twitter:app:id:ipad" content="ChineseAddress">
	<meta name="twitter:app:id:googleplay" content="ChineseAddress">
	<meta name="twitter:app:country" content="China">
	<meta property="og:type" content="website">
	<meta property="og:title" content="ChineseAddress">
	<meta property="og:description" content="ChineseAddress">
	<meta property="og:url" content="https://www.ChineseAddresss.com/">
	<meta property="og:image" content="https://www.ChineseAddresss.com/Content/img/logo.png">
	<meta property="fb:app_id" content="1259461770766810">
	<link rel="publisher" href="https://plus.google.com/222049104396-cu6p8s3ikvo5pc3qdthujse6j8h50dd5.apps.googleusercontent.com">
	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />
	<link rel="dns-prefetch" href="https://apis.google.com" />
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/" />
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>@ViewBag.Title</title>
	<meta name="keywords" content="">
	<meta name="description" content="Save money with ChineseAddresss. Shop your favorite Chinese-based stores and have your package shipped right to your door anywhere in the world. Get started today!">


	<meta name="author" content="ChineseAddress">
	<style type="text/css">
		body { font-family: "Visby CF","VisbyCF-Medium" !important; }
		#cookie-bar { background: #111; height: auto; line-height: 24px; color: #eee; text-align: center; padding: 3px 0; }

		@@media screen and (min-width:480px) and (max-width:960px) {
			#haedersss { display: none !important; }
		}

		@@media print {
			.no-print, .no-print * { display: none !important; }
		}

		#status { width: 200px; height: 200px !important; position: absolute; left: 50%; top: 50%; background-image: url(/Content/img/preloader.gif) !important; background-repeat: no-repeat; background-position: center; margin: -100px 0 0 -100px; }
		#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; z-index: 99; }
	</style>
</head>
<body>
	<div id="preloader">
		<div id="status">
		</div>
	</div>
	<div id="div_msg" class="display-none">
		<strong class="msg-color"></strong>
	</div>
	<span itemscope itemtype="https://www.ChineseAddresss.com" class="display-none"></span>
	@RenderBody()
	<div class="text-left footer-backgroundcolour ">
		<div class="container">
			<div class="row">
				<div class="col-sm-3  black bg-white" itemprop="telephone">
					<img src="~/Content/img/logo-sml.png" alt="ChineseAddress Logo">
					<br>
					3133 Tianhe Ave<br>
					Guangzhou,510000<br>
					Phone: @Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ClientPhoneNo"])<br>
					Email:
					<script type="text/javascript">
						var string1 = "info";
						var string2 = "@@";
						var string3 = "ChineseAddresss.com";
						var string4 = string1 + string2 + string3;
						document.write("<a class=" + "black" + " href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
					</script>
				</div>
				<div class="col-sm-3">
					<ul class="list-unstyled">
						<li><a href="/"><i class="fa fa-home"></i> HomePage</a></li>
						<li><a href="/faqs"><i class="fa fa-question-circle"></i> FAQs</a></li>
						<li><a href="/rates"><i class="fa fa-dollar"></i> Rates</a></li>
						<li><a href="/aboutus"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li>
						<li><a href="/payment-methods"><i class="fa fa-credit-card" aria-hidden="true"></i> Payment Methods</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul class="list-unstyled">
						<li><a href="https://xe.com" target="_blank"><i class="fa fa-money" aria-hidden="true"></i> Current Exchange Rates</a></li>
						<li> <a href="/whychoose"><i class="fa fa-check" aria-hidden="true"></i> Why Choose Chineseaddress</a></li>
						<li><a href="/countries"><i class="fa fa-flag"></i> Countries</a></li>
						<li><a href="/contactus"><i class="fa fa-envelope"></i> Contact Us</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul class="list-unstyled">
						<li><a href="https://www.facebook.com/ChineseAddress/" target="_blank" class="facebook-icon"><i class="fa fa-facebook-square"></i> Facebook</a></li>
						<li><a href="https://twitter.com/ChineseAddress" target="_blank" class="twitter-icon"><i class="fa fa-twitter-square"></i> Twitter</a></li>
						<li><a href="https://instagram.com/ChineseAddress" target="_blank" class="instagram-icon"><i class="fa fa-instagram"></i> Instagram</a></li>
						<li><a href="javascript:return false;" target="_blank" src="" classrc="" s="google-icon"><i class="fa fa-google-plus-square"></i> Google+</a></li>
						<li><a href="javascript:return false;" target="_blank" class="linkedin-icon"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
						<li><a href="@Url.Content("https://medium.com/@ChineseAddress")" target="_blank" class="smedium-icon"><i class="fa fa-medium"></i> Medium</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="black"><strong>	Our Partners:</strong></p>
					<div class="col-md-12 no-padding">
						<div class="col-md-6 no-padding"><img src="~/Content/img/s-partners-1.png" /></div>
						<div class="col-md-6 no-padding"><img src="~/Content/img/s-partners-2.png" /></div>
					</div>
				</div>
			</div>
			@*<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8 margintop15PX">
						<div class="col-lg-4 col-sm-4">
							<div>
								<img id="trustwaveSealImage" src="" data-original="/Content/img/trustwave_seal.png" border="0" class="traverce-img" onclick="javascript:window.open('https://sealserver.trustwave.com/cert.php?customerId=a0efd46e4485433da4dc9511586ec34e&amp;size=105x54&amp;style=', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site is protected by Trustwave's Trusted Commerce program" title="This site is protected by Trustwave's Trusted Commerce program">
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="AuthorizeNetSeal">
								<a href="https://verify.authorize.net/anetseal/?pid=ebe80178-ccc4-47c6-9df4-cbd998f1a016&amp;rurl=https%3A//www.chineseaddress.com/" onmouseover="window.status='http://www.authorize.net/'; return true;" onmouseout="window.status=''; return true;" onclick="window.open('https://verify.authorize.net/anetseal/?pid=ebe80178-ccc4-47c6-9df4-cbd998f1a016&amp;rurl=https%3A//www.chineseaddress.com/','AuthorizeNetVerification','width=600,height=430,dependent=yes,resizable=yes,scrollbars=yes,menubar=no,toolbar=no,status=no,directories=no,location=yes'); return false;" target="_blank">
									<img src="" data-original="/Content/img/Auth_Seal.gif" width="90" height="72" border="0" alt="Authorize.Net Merchant - Click to Verify">
								</a><br />
								<a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank"> Merchant Services</a>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div id="siteseal" class="margintop15PX goody-idicon">
								<img class="godaddy-css" src="" data-original="/Content/img/godaddy_seal.gif" onclick="verifySeal();" alt="SSL site seal - click to verify">
							</div>
						</div>
						<div class="col-sm-2 margintop15PX">
						</div>
					</div>
				</div>*@
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 text-left">
					<ul class="list-inline list-inline">
						<li><a href="https://www.chineseaddress.com/Sitemap.xml">Xml Sitemap</a> |
						<li> <a href="/termsandconditions">@*<i class="fa fa-handshake-o"></i>*@ Terms and Conditions</a></li> |
						<li> <a href="/CancelReturnPolicies">@*<i class="fa fa-undo"></i>*@ Cancellation and Return Policies</a></li> |
						<li><a href="/privacy">@*<i class="fa fa-tasks"></i>*@ Privacy Policy</a></li>|
						<li><a href="/Newsletter">@*<i class="fa fa-newspaper-o"></i>*@ Newsletter</a></li>
					</ul>
				</div>
				<div class="col-sm-4 text-right">
					© @DateTime.Now.Year ChineseAddresss. All Rights Reserved &nbsp;
				</div>
			</div>
		</div>
	</footer>
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="preload" href="~/content/css/basecss.bundle.css" as="style" onload="this.rel = 'stylesheet'">
	@RenderSection("header", false)
	<link rel="preload" href="~/content/css/css_developer.bundle.css" as="style" onload="this.rel = 'stylesheet'">
	<link rel="preload" href="~/content/css/VisbyCF-Medium.css" as="style" onload="this.rel = 'stylesheet'">
	<link rel="preload" href="~/content/css/color_changes.css" as="style" onload="this.rel = 'stylesheet'">
	<script>
		/*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
		!function (a) { "use strict"; var b = function (b, c, d) { function e(a) { return h.body ? a() : void setTimeout(function () { e(a) }) } function f() { i.addEventListener && i.removeEventListener("load", f), i.media = d || "all" } var g, h = a.document, i = h.createElement("link"); if (c) g = c; else { var j = (h.body || h.getElementsByTagName("head")[0]).childNodes; g = j[j.length - 1] } var k = h.styleSheets; i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () { g.parentNode.insertBefore(i, c ? g : g.nextSibling) }); var l = function (a) { for (var b = i.href, c = k.length; c--;)if (k[c].href === b) return a(); setTimeout(function () { l(a) }) }; return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this);
		/*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
		!function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);
	</script>
	@RenderSection("Scripts", required: false)
	<script type="text/javascript">
					@ViewBag.Message
	</script>
</body>
</html>
@if (Request.UserAgent.Contains("Speed Insights") == false)
{
	@*<script src="~/Scripts/GoogleAnalistic.min.js" async></script>*@
}

<script type="text/javascript">
    (function () {
        function getScript(url, success) {
            var script = document.createElement('script');
            script.src = url;
            script.async = true;
            var head = document.getElementsByTagName('head')[0],
                done = false;
            script.onload = script.onreadystatechange = function () {
                if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
                    done = true;
                    success();
                    script.onload = script.onreadystatechange = null;
                    head.removeChild(script);
                }
            };
            head.appendChild(script);
        }
        getScript('/Scripts/jquery-1.12.4.min.js', function () {
            getScript('/Scripts/jquery.validate.bundle.min.js', function () { });
            @RenderSection("HomeScripts", required: false)
            getScript('/Scripts/BasicJS.bundle.min.js', function () { });
        });
		})();

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
	(function () {
		var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
		s1.async = true;
		s1.src = 'https://embed.tawk.to/57b58a271b955b4c372168c4/default';
		s1.charset = 'UTF-8';
		s1.setAttribute('crossorigin', '*');
		s0.parentNode.insertBefore(s1, s0);
	})();
</script>
<!--End of Tawk.to Script-->