<header class="main_header sticky" style="margin-top:0px">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<a class="logo logo-width line-height60PX" href="/"><img src="~/Content/img/logo.png" alt="chineseaddress Logo"></a>
				<div class="mobile-toggle hidden-md hidden-lg"> <span></span> <span></span> <span></span></div>
				<nav>

					<ul class="main_menu">
						<li>
							<a href="/">Home</a>
						</li>
						@*<li><a href="/#benefits_area">benefits</a></li>*@
						<li><a href="/#price_area">plans</a></li>
						<li><a href="/Rates">Rates</a></li>
						@*<li><a href="/AboutUs">About Us</a></li>
							<li><a href="#">Blog</a></li>*@
						<li><a href="/ContactUS">Contact Us</a></li>
						@using _ChineseAddress.com.Areas.User.Models
						@{
							clsAuthenticateData objclscomman = new clsAuthenticateData();
						}
						@if (HttpContext.Current.User.Identity.IsAuthenticated)
						{
							if (HttpContext.Current.User.IsInRole("User"))
							{
								<li class="green border1">

									<a href="@Url.Action("Index", "Home",new { area="user"})">My Account</a>

									<input type="hidden" value="1" id="hdnIsUserLogin" />

								</li>
							}
							else
							{
								<li class="green border1"><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#price_area">sign up</a></li>
								<li class="border1"><a href="@Url.Action("login", "customer")">login</a></li>
							}
						}
						else
						{
							<li class="green border1"><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#price_area">sign up</a></li>
							<li class="border1"><a href="@Url.Action("login", "customer")">login</a></li>
						}
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- END row -->
</header>