<header class="main_header sticky">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a class="logo" href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))"><img src="@Url.Content("~/Content/img/logo.png")" alt="ChineseAddress Logo"></a>
				<div class="mobile-toggle hidden-md hidden-lg"> <span></span> <span></span> <span></span></div>
				<nav>
					<ul class="main_menu">
						<li>
							<a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))">Home</a>
						</li>
						<li><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#benefits_area">features</a></li>
						<li><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#price_area">plans</a></li>
						<li><a href="javascript:return false;">rates</a></li>
						<li><a href="javascript:return false;">help</a></li>
						<li><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/AboutUs"))">About Us</a></li>
						<li><a href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#contact_area">Contact Us</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i> My Account <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="@Url.Action("Index", "Setting")"><span class="glyphicon glyphicon-cog"></span> Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("ShipmentDetails","Shipment")"><span class="fa fa-send"></span> Received Shipments</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("OrderDetails", "Order")"><span class="fa fa-send"></span> Orders</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("PaymentHistory", "Payment")"><span class="fa fa-send"></span> Payment History</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("Referral","Setting")"><span class="fa fa-send"></span> Referral</a></li>
								<li class="divider"></li>
								<li>
									<a href="@Url.Action("SignOut","Account")"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
								</li>
							</ul>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- END row -->
</header>