@{
    Layout = "";
}
<style type="text/css">
    .well {
        min-height: 2400px !important;
    }
    @@media screen and (min-width:317px) and (max-width:667px) {
        .well {
            min-height: 820px !important;
        }
    }
</style>
<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-sm-12">
            <a><h1><i class="fa fa-handshake-o"></i> Terms & Conditions</h1></a>
            <br>
            <div class="well well-sm" style="overflow: hidden;">
                <p>
                    <h2 class="text-left"> ChineseAddress, LLC  WEBSITE TERMS AND CONDITIONS</h2>
                </p>
                <p>
                    <h3>
                        This page covers the general ChineseAddress website Terms and Conditions.<br>  To access current sweepstakes Terms and Conditions,
                        <a href="/Sweepstakes">click here.</a>
                    </h3>
                </p>
                <p>
                    <h4>
                        Introduction
                    </h4>
                    <div class="col-sm-12" style="padding:0px!important">
                        These terms and conditions govern your use of this website; by using this website,
                        you accept these terms and conditions in full.
                        If you disagree with these terms and conditions or any part of these terms and conditions,
                        you must not use this website.
                        You must be at least [18] years of age to use this website.  By using this website,
                        and by agreeing to these terms and conditions,
                        you warrant and represent that you are at least [18] years of age.
                        This website uses cookies.  By using this website and agreeing to these terms and conditions,
                        you consent to our ChineseAddress's use of cookies in accordance with the terms of ChineseAddress's privacy policy.
                    </div>
                </p>
                <p>
                    <h4>
                        License to use website
                    </h4>
                    <div class="col-sm-12" style="padding:0px!important">
                        Unless otherwise stated, ChineseAddress and/or its licensors own the intellectual property rights in the website and material on the website.
                        Subject to the license below, all these intellectual property rights are reserved.
                        You may view, download for caching purposes only,
                        and print pages from the website for your own personal use,
                        subject to the restrictions set out below and elsewhere in these terms and conditions.
                        You must not:
                    </div>

                    <ul class="col-lg-12" style="margin-bottom:16px;">
                        <li>
                            republish material from this website (including republication on another website);
                        </li>
                        <li>
                            sell, rent or sub-license material from the website;
                        </li>
                        <li>
                            show any material from the website in public;
                        </li>
                        <li>
                            reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;
                        </li>
                        <li>
                            redistribute material from this website [except for content specifically and expressly made available for redistribution]
                        </li>
                    </ul>
                </p>

                <p>
                    <h4>Acceptable use </h4>
                    <div class="col-sm-12" style="padding:0px!important">
                        You must not use this website in any way that causes,
                        or may cause, damage to the website or impairment of the availability or accessibility of the website;
                        or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful,
                        illegal, fraudulent or harmful purpose or activity.
                        You must not use this website to copy, store, host, transmit, send, use,
                        publish or distribute any material which consists of (or is linked to) any spyware, computer virus,
                        Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
                        You must not conduct any systematic or automated data collection activities
                        (including without limitation scraping, data mining, data extraction and data harvesting)
                        on or in relation to this website without ChineseAddress's express written consent.
                        You must not use this website for any purp.
                    </div>
                </p>
                <p>
                    <h4>User content</h4>
                    <div class="col-sm-12" style="padding:0px!important">

                        In these terms and conditions, your user content means material
                        (including without limitation text, images, audio material, video material and audio-visual material)
                        that you submit to this website, for whatever purpose.
                    </div>
                    <div class="col-sm-12" style="padding:0px!important">

                        You grant to ChineseAddress a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce,
                        adapt, publish, translate and distribute your user content in any existing or future media.
                        You also grant to ChineseAddress the right to sub-license these rights, and the right to bring an action for infringement of these rights.
                    </div>
                    <div class="col-sm-12" style="padding:0px!important">

                        Your user content must not be illegal or unlawful, must not infringe any third party's legal rights,
                        and must not be capable of giving rise to legal action whether against you or ChineseAddress or a third party
                        (in each case under any applicable law).
                    </div>
                    <div class="col-sm-12" style="padding:0px!important">

                        You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint
                    </div>
                    <div class="col-sm-12" style="padding:0px!important">

                        ChineseAddress reserves the right to edit or remove any material submitted to this website, or stored on ChineseAddress's servers, or hosted or published upon this website.
                    </div>
                    <div class="col-sm-12" style="margin-bottom:16px;padding:0px!important ">

                        Notwithstanding ChineseAddress's rights under these terms and conditions in relation to user content, ChineseAddress does not undertake to monitor the submission of such content to, or the publication of such content on, this website.
                    </div>
                </p>
                <p>

                    <h4>No warranties</h4>
                    <div class="col-sm-12" style="padding:0px!important">
                        This website is provided without any representations or warranties, express or implied.
                        ChineseAddress makes no representations or warranties in relation to this website or the information
                        and materials provided on this website.<br />
                        Without prejudice to the generality of the foregoing paragraph, ChineseAddress does not warrant that:
                    </div>
                    <ul class="col-sm-12">
                        <li>
                            this website will be constantly available, or available at all; or
                        </li>
                        <li>
                            the information on this website is complete, true, accurate or non-misleading.
                        </li>
                    </ul>
                    Nothing on this website constitutes, or is meant to constitute, advice of any kind.
                </p>
                <p>
                    <h4>Limitations of liability</h4>
                    <div class="col-sm-12" style="padding:0px!important">
                        ChineseAddress will not be liable to you
                        (whether under the law of contact, the law of torts or otherwise)
                        in relation to the contents of, or use of, or otherwise in connection with, this website:
                    </div>

                    <ul class="col-sm-12">
                        <li>
                            to the extent that the website is provided free-of-charge, for any direct loss;
                        </li>
                        <li>
                            for any indirect, special or consequential loss; or
                        </li>
                        <li>
                            for any business losses, loss of revenue, income, profits or anticipated savings,
                            loss of contracts or business relationships, loss of reputation or goodwill,
                            or loss or corruption of information or data.
                        </li>
                    </ul>
                    <div class="col-sm-12" style="margin-bottom:16px;">
                        These limitations of liability apply even if ChineseAddress has been expressly advised of the potential loss.
                    </div>
                </p>
                <p>

                    <h4>Exceptions</h4>

                    Nothing in this website disclaimer will exclude or limit
                    any warranty implied by law that it would be unlawful to exclude or limit;
                    and nothing in this website disclaimer will exclude or limit ChineseAddress's liability in respect of any:

                    <ul class="col-sm-12">
                        <li>
                            death or personal injury caused by ChineseAddress's negligence;
                        </li>
                        <li>
                            fraud or fraudulent misrepresentation on the part of ChineseAddress; or
                        </li>

                        <li>
                            matter which it would be illegal or unlawful for ChineseAddress to exclude or limit,
                            or to attempt or purport to exclude or limit, its liability.
                        </li>
                    </ul>
                </p>
                <p>
                    <h4>Reasonableness</h4>
                    By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.
                    If you do not think they are reasonable, you must not use this website.
                </p>
                <p>

                    <h4>Other parties</h4>

                    You accept that, as a limited liability entity, ChineseAddress has an interest in limiting the personal liability
                    of its officers and employees.  You agree that you will not bring any claim personally against ChineseAddress's officers or employees
                    in respect of any losses you suffer in connection with the website.
                    Without prejudice to the foregoing paragraph, you agree that the limitations
                    of warranties and liability set out in this website disclaimer will protect ChineseAddress's officers,
                    employees, agents, subsidiaries, successors, assigns and sub-contractors as well as ChineseAddress.
                </p>
                <p>
                    <h4>Unenforceable provisions</h4>

                    If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law,
                    that will not affect the enforceability of the other provisions of this website disclaimer.
                </p>
                <p>
                    <h4>Indemnity</h4>

                    You hereby indemnify ChineseAddress and undertake to keep ChineseAddress indemnified against any losses, damages,
                    costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by ChineseAddress to a third party in settlement of a claim or dispute on the advice of ChineseAddress's legal advisers)
                    incurred or suffered by ChineseAddress arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.
                </p>
                <p>

                    <h4>Breaches of these terms and conditions</h4>

                    Without prejudice to ChineseAddress's other rights under these terms and conditions,
                    if you breach these terms and conditions in any way, ChineseAddress may take
                    such action as ChineseAddress deems appropriate to deal with the breach,
                    including suspending your access to the website, prohibiting you from accessing the website,
                    blocking computers using your IP address from accessing the website, contacting your internet
                    service provider to request that they block your access to the website and/or bringing court
                    proceedings against you.
                </p>
                <p>

                    <h4>Variation</h4>

                    ChineseAddress may revise these terms and conditions from time-to-time.
                    Revised terms and conditions will apply to the use of this website from the date of the
                    publication of the revised terms and conditions on this website.
                    Please check this page regularly to ensure you are familiar with the current version.
                </p>
                <p>

                    <h4>Assignment</h4>

                    ChineseAddress may transfer, sub-contract or otherwise deal with ChineseAddress's
                    rights and/or obligations under these terms and conditions without notifying you or
                    obtaining your consent.<br />

                    You may not transfer, sub-contract or otherwise deal with your rights and/or
                    obligations under these terms and conditions.
                </p>
                <p>

                    <h4>Severability</h4>

                    If a provision of these terms and conditions is determined by
                    any court or other competent authority to be unlawful and/or unenforceable,
                    the other provisions will continue in effect.
                    If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted,
                    that part will be deemed to be deleted, and the rest of the provision will continue in effect.
                </p>
                <p>

                    <h4>Entire agreement</h4>

                    These terms and conditions constitute the entire agreement between you and ChineseAddress in relation to your use of this website,
                    and supersede all previous agreements in respect of your use of this website.
                </p>
                <p>

                    <h4>Law and jurisdiction</h4>

                    These terms and conditions will be governed by and construed in accordance with China State Law,
                    and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of China.
                </p>
                <p>

                    <h4>chineseaddress's details</h4>

                    <div class="col-sm-12">
                        The full name of ChineseAddress is ChineseAddress, LLC.
                    </div>
                    <div class="col-sm-12">
                        ChineseAddress is registered in the China.
                    </div>
                    <div class="col-sm-12">
                        ChineseAddress's  address is 3133 Tianhe Ave,Guangzhou, China 510000
                    </div>
                    <div class="col-sm-12">
                        You can contact ChineseAddress by email to info@chineseaddress.com
                    </div>
                </p>
                <p style="margin-bottom: 0in">
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>