@section header{
<link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
}
@{ViewBag.Title = "ChineseAddress | Sweepstakes";
    Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}
<style type="text/css">
    p {
        margin-bottom: 20px !important;
    }

    .pad-left {
        padding: 0 25px !important;
    }
</style>
<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-sm-12">
            <h1><a><i class="fa fa-file-text-o"></i> Sweepstakes</a></h1>
            <br>
            <div class="well well-sm">
                <p>
                    NO
                    PURCHASE IS NECESSARY TO ENTER OR WIN. A PURCHASE DOES NOT INCREASE
                    THE CHANCES OF WINNING.
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Eligibility: This Campaign is open only to those who sign up at
                            <A HREF="https://www.chineseaddress.com/">www.chineseaddress.com</A> and who are 18
                            years or older as of the date of entry.The Campaign is only open to
                            legal residents of Saudi Arabia and United Arab Emirates, and is void
                            where prohibited by law. Employees of ChineseAddress, its affiliates,
                            subsidiaries, advertising and promotion agencies, and suppliers,
                            (collectively the &ldquo;Employees&rdquo;), and immediate family members
                            and/or those living in the same household of Employees are not
                            eligible to participate in the Campaign. The Campaign is subject to
                            all applicable federal, state, and local laws and regulations. Void
                            where prohibited.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Agreement to Rules: By participating, the Contestant (&ldquo;You&rdquo;)
                            agree to be fully unconditionally bound by these Rules, and You
                            represent and warrant that You meet the eligibility requirements. In
                            addition, You agree to accept the decisions of ChineseAddress as final and
                            binding as it relates to the content of this Campaign.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Campaign Period: Entries will be accepted online starting on Monday,February 12
                            <SUP>th</SUP>, 2018 at 12:00am Eastern Standard Time and
                            ending Wednesday, February 28
                            <SUP>th</SUP>, 2018 at 11:59pm Eastern
                            Standard Time. All online entries must be received by Wednesday,
                            February 28
                            <SUP>th</SUP>, 2018 at 11:59pm Eastern Standard Time.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            How to Enter: The Campaign must be entered by submitting an entry
                            using the online form provided at
                            <A HREF="https://www.chineseaddress.com/">https://www.chineseaddress.com</A>.
                            The entry must fulfill all Campaign requirements, as specified, to be
                            eligible to win a prize. Entries that are incomplete or do not adhere
                            to the rules or specifications may be disqualified at the sole
                            discretion of ChineseAddress. You may enter only once. You must provide the
                            information requested. You may not enter more times than indicated by
                            using multiple email addresses, identities, or devices in an attempt
                            to circumvent the rules. If You use fraudulent methods or otherwise
                            attempt to circumvent the rules, your submission may be removed from
                            eligibility at the sole discretion of ChineseAddress.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Prizes: The Winner(s) of the Campaign (the &ldquo;Winner&rdquo;) will receive
                            an Amazon.com Gift Card valued at $100 USD. Actual/appraised value
                            may differ at time of prize award. The specifics of the prize shall
                            be solely determined by ChineseAddress. No cash or other prize substitution
                            shall be permitted except at ChineseAddress's discretion. The prize is
                            nontransferable. Any and all prize-related expenses, including
                            without limitation any and all federal, state, and/or local taxes,
                            shall be the sole responsibility of Winner. No substitution of prize
                            or transfer/assignment of prize to others or request for the cash
                            equivalent by Winner is permitted. Acceptance of prize constitutes
                            permission for ChineseAddress to use Winner&rsquo;s name, likeness, and entry
                            for purposes of advertising and trade without further compensation,
                            unless prohibited by law.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Odds: The odds of winning depend on the number of eligible entries
                            received.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">

                        <li>
                            Winner Selection and Notification: Winner will be selected by a
                            random drawing under the supervision of ChineseAddress. Winner will be
                            notified by email within five (5) days following selection of Winner.
                            ChineseAddress shall have no liability for Winner&rsquo;s failure to receive
                            notices due to spam, junk e-mail or other security settings or for
                            Winner&rsquo;s provision of incorrect or otherwise non-functioning
                            contact information. If Winner cannot be contacted, is ineligible,
                            fails to claim the prize within 14 days from the time award
                            notification was sent, or fails to timely return a completed and
                            executed declaration and release as required, the prize may be
                            forfeited and an alternate Winner will be selected. Receipt by Winner of the
                            prize offered in this Campaign is conditioned upon compliance with
                            any and all federal, state, and local laws and regulations. ANY
                            VIOLATION OF THESE OFFICIAL RULES BY WINNER (AT ChineseAddress&rsquo;S SOLE
                            DISCRETION) WILL RESULT IN WINNER&rsquo;S DISQUALIFICATION AS WINNER OF
                            THE CAMPAIGN, AND ALL PRIVILEGES AS WINNER WILL BE IMMEDIATELY
                            TERMINATED.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Rights Granted by You: By entering this content (e.g., photo, video,
                            text, etc.), You understand and agree that ChineseAddress, anyone acting on
                            behalf of ChineseAddress, and ChineseAddress's licensees, successors, and assigns,
                            shall have the right, where permitted by law, to print, publish,
                            broadcast, distribute, and use in any media now known or hereafter
                            developed, in perpetuity and throughout the World, without
                            limitation, your entry, name, portrait, picture, voice, likeness,
                            image, statements about the Campaign, and biographical information
                            for news, publicity, information, trade, advertising, public
                            relations, and promotional purposes without any further
                            compensation, notice, review, or consent. Optional verbiage for
                            Contests: By entering this content, You represent and warrant that
                            your entry is an original work of authorship, and does not violate
                            any third party&rsquo;s proprietary or intellectual property rights. If
                            your entry infringes upon the intellectual property right of another,
                            You will be disqualified at the sole discretion of ChineseAddress. If the
                            content of your entry is claimed to constitute infringement of any
                            proprietary or intellectual proprietary rights of any third party,
                            You shall, at your sole expense, defend or settle against such
                            claims. You shall indemnify, defend, and hold harmless ChineseAddress from
                            and against any suit, proceeding, claims, liability, loss, damage,
                            costs or expense, which ChineseAddress may incur, suffer, or be required to
                            pay arising out of such infringement or suspected infringement of any
                            third party&rsquo;s right.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Terms &amp; Conditions: ChineseAddress reserves the right, in its sole
                            discretion, to cancel, terminate, modify or suspend the Campaign
                            should virus, bug, non-authorized human intervention, fraud, or other
                            cause beyond ChineseAddress'&rsquo;s control corrupt or affect the
                            administration, security, fairness, or proper conduct of the
                            Campaign. In such case, ChineseAddress may select the Winner from all
                            eligible entries received prior to and/or after (if appropriate) the
                            action taken by ChineseAddress.  ChineseAddress reserves the right, in its sole
                            discretion, to disqualify any individual who tampers or attempts to
                            tamper with the entry process or the operation of the Campaign or
                            website or violates these Terms &amp; Conditions.  ChineseAddress has the
                            right, in its sole discretion, to maintain the integrity of the
                            Campaign, to void votes for any reason, including, but not limited
                            to: multiple entries from the same user from different IP addresses;
                            multiple entries from the same computer in excess of that allowed by
                            Campaign rules; or the use of bots, macros, scripts, or other
                            technical means for entering. Any attempt by an entrant to
                            deliberately damage any website or undermine the legitimate operation
                            of the Campaign may be a violation of criminal and civil laws. Should
                            such attempt be made,  ChineseAddress reserves the right to seek damages to
                            the fullest extent permitted by law.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Limitation of Liability: By entering, You agree to release and hold
                            harmless ChineseAddress and its subsidiaries, affiliates, advertising and
                            promotion agencies, partners, representatives, agents, successors,
                            assigns, employees, officers, and directors from any liability,
                            illness, injury, death, loss, litigation, claim, or damage that may
                            occur, directly or indirectly, whether caused by negligence or not,
                            from: (i) such entrant&rsquo;s participation in the Campaign and/or
                            his/her acceptance, possession, use, or misuse of any prize or any
                            portion thereof; (ii) technical failures of any kind, including but
                            not limited to the malfunction of any computer, cable, network,
                            hardware, or software, or other mechanical equipment; (iii) the
                            unavailability or inaccessibility of any transmissions, telephone, or
                            Internet service; (iv) unauthorized human intervention in any part of
                            the entry process or the Promotion; (v) electronic or human error in
                            the administration of the Promotion or the processing of entries.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Disputes: THIS Campaign IS GOVERNED BY THE LAWS OF UNITED STATES AND
                            OHIO, WITHOUT RESPECT TO CONFLICT OF LAW DOCTRINES. As a condition of
                            participating in this Campaign, participant agrees that any and all
                            disputes that cannot be resolved between the parties, and causes of
                            action arising out of or connected with this Campaign, shall be
                            resolved individually, without resort to any form of class action,
                            exclusively before a court located in Alliance, Ohio having
                            jurisdiction. Further, in any such dispute, under no circumstances
                            shall participant be permitted to obtain awards for, and hereby
                            waives all rights to, punitive, incidental, or consequential damages,
                            including reasonable attorney&rsquo;s fees, other than participant&rsquo;s
                            actual out-of-pocket expenses (i.e. costs associated with entering
                            this Campaign). Participant further waives all rights to have damages
                            multiplied or increased.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Privacy Policy: Information submitted with an entry is subject to the
                            Privacy Policy stated on the ChineseAddress website. To read the Privacy
                            <A HREF="https://www.chineseaddress.com/privacy">click here</A>.
                        </li>
                    </ul>
                </p>
                <p>

                    <ul class="pad-left">
                        <li>
                            Winners List: To obtain a copy of the Winner&rsquo;s name or a copy of
                            these Official Rules, email your request to: info@chineseaddress.com.
                            Requests must be received no later than March 31<SUP>st</SUP>, 2018.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Sponsor: The Sponsor of the Campaign is: ChineseAddress, 3133 Tianhe Ave Guangzhou 510000 China.
                        </li>
                    </ul>
                </p>
                <p>
                    <ul class="pad-left">
                        <li>
                            Facebook: If you use Facebook to communicate or administer a contest
                            or sweepstakes, include the following: The Campaign hosted by ChineseAddress
                            is in no way sponsored, endorsed, administered by, or associated with
                            Facebook.
                        </li>
                    </ul>
                </p>
                <p style="margin-top: 0.15in; margin-bottom: 0.23in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.31in; widows: 2; orphans: 2">
                    <ul class="pad-left">
                        <li>
                            ___ By checking here, You, the Contestant, have affirmatively
                            reviewed, accepted, and agreed to all of the Official Rules.
                            </li></ul>
                </p>
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>