@model List<_ChineseAddress.com.Repository.tblReceivedShipment>
@{
	ViewBag.Title = "Dashboard";
}
@using _ChineseAddress.com.Areas.Admin.Models
@using _ChineseAddress.com.Common.Services;
@{clsCommonServiceRoot objCommonServiceRoot = new clsCommonServiceRoot(); }
@section header{
	@*<link href="~/Content/css/fonts.css" rel="stylesheet" />*@
}
<style>
	@@media screen and (min-width:320px) and (max-width:360px) {
		.Createorderbutton { width: 237px !important; font-size: 18px !important; }
	}

	.wallet-icons { font-size: 12px; line-height: 16PX; border-radius: 3px; WIDTH: 40PX; HEIGHT: 34PX; PADDING: 0PX; }
</style>


<section class="margintop90PX margintop90PX-xs">
	<div class="container">
		<div class="">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li class="active">Home</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!-- body content start -->
@*<section>
		<div class="container">
			<div class="box-grey">
				<div class="row">
					<div class="col-sm-4 border-rgt space-top-bot">
						<h2>Operations Status</h2>
						Time to process order/incoming shipments
					</div>
					<div class="col-sm-4 border-rgt space-top-bot">
						<h2><i class="fa fa-arrow-up"></i> Orders</h2>
						Average Time: <span class="label label-success">7 Hour</span>
					</div>
					<div class="col-sm-4 space-top-bot">
						<h2><i class="fa fa-arrow-down"></i> Incoming Shipments</h2>
						Average Time: <span class="label label-danger">48 Hour</span>
					</div>
				</div>
			</div>
		</div>
	</section>*@
<section>
	<!--class="margintop20PX"-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<aside class="box-grey space-top-bot-sm ">
					<div class="row">

						<div class="col-sm-3 text-center-xs"><img src="../../Content/img/logo-randy.jpg"></div>
						<div class="col-sm-9 text-center-xs">
							<h3>@ViewBag.CustomerDetail.FirstName @ViewBag.CustomerDetail.LastName</h3>
							<p class="text-center-xs">Your Plan: <span class="label label-success" id="PlanDetail">@ViewBag.CustomerDetail.PlanTitle</span></p>
						</div>
					</div>
					<div class="row margintop15PX">
						<div class="col-sm-12 text-center"><a href="javascript:return false;"><i class="fa fa-envelope"></i> @ViewBag.CustomerDetail.Email </a></div>
						<!--Upgrade Plan div start-->
						@*@if (ViewBag.CustomerDetail.PlanTitle.ToString().ToLower() != "plus" || ViewBag.CustomerDetail.PlanTitle.ToString().ToLower() != "premium")
							{
								<div class="col-sm-12 margintop15PX"><a href="@Url.Action("Upgrade", "Setting")" class="btn btn-success btn-block btn-lg" id="Upgradebutton"><i class="fa fa-plus-circle"></i> Upgrade</a></div>
							}*@
						<!--Upgrade Plan div end-->
					</div>

					<div class="row margintop15PX">
						<div class="col-sm-12">
							<h2>Your CHINA Address</h2>
							The address you use when shopping online
						</div>
						<div class="col-sm-12 margintop10PX">
							@if (!(bool)ViewBag.ShowAddress)
							{ <mark>Dear Customer,<br />Your chinese address should appear here.We don't charge registration fee but we ask  our client to topup up their account with $50 so we prepare a dedicated box in our warehouse before you start to send shipment to the address.This $50 will be used to pay for your future shipment with us.</mark>}
							else
							{<div class="table-responsive" id="yourChineseAddress">
								@*English Warehouse Address*@
								@*<table class="table table-striped">
										<tr class="AddressBackground">
											<td>Address1</td>
											<td><strong>3133 Tianhe Ave</strong></td>
										</tr>
										<tr class="AddressBackground">
											<td>Address2</td>
											<td><strong>Suite @ViewBag.refno</strong></td>
										</tr>
										<tr class="AddressBackground">
											<td>City</td>
											<td><strong>Guangzhou</strong></td>
										</tr>
										<tr class="AddressBackground">
											<td>Country</td>
											<td><strong>China</strong></td>
										</tr>
										<tr class="AddressBackground">
											<td>Zip</td>
											<td><strong>510000</strong></td>
										</tr>
										<tr class="AddressBackground">
											<td>Phone</td>
											<td><strong>@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ClientPhoneNo"])</strong></td>
										</tr>
										<tr><td colspan="2"><a class="btn btn-success btn-block btn-xs" href="~/Setting"><i class="small glyphicon glyphicon-cog"></i> Address & Information</a></td></tr>
									</table>*@
								@*Chinese Warehouse Address*@
								<table class="table table-striped ">
									<tr class="AddressBackground">
										<td>Address1</td>
										<td>
											<iframe src="/DashBoardAddressChineseText.html?address=one" frameborder="0" height="42" width="180"></iframe>
										</td>
									</tr>
									<tr class="AddressBackground">
										<td>Address2</td>
										<td><strong>Suite @ViewBag.refno</strong></td>
									</tr>
									<tr class="AddressBackground">
										<td>City</td>
										<td><iframe src="/DashBoardAddressChineseText.html?address=city" frameborder="0" height="21" width="180"></iframe></td>
									</tr>
									<tr class="AddressBackground">
										<td>Province</td>
										<td><iframe src="/DashBoardAddressChineseText.html?address=province" frameborder="0" height="21" width="180"></iframe></td>
									</tr>
									<tr class="AddressBackground">
										<td>Country</td>
										<td><strong>China</strong></td>
									</tr>
									<tr class="AddressBackground">
										<td>Zip</td>
										<td><strong>511400</strong></td>
									</tr>
									<tr class="AddressBackground">
										<td>Phone</td>
										<td><strong>@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ClientPhoneNo"])</strong></td>
									</tr>
									<tr><td colspan="2"><a class="btn btn-success btn-block btn-xs" href="~/Setting"><i class="small glyphicon glyphicon-cog"></i> Address & Information</a></td></tr>
								</table>

							</div>}
						</div>
					</div>

					<div class="row margintop10PX">
						<div class="col-sm-12">
							<h2>My Account Info</h2>
							@*Brief Information*@
						</div>
						<div class="col-sm-12 margintop10PX">
							<div class="table-responsive">
								<table class="table table-striped">
									<tr>
										<td width="50%">Your Wallet Balance </td>
										@if (ViewBag.yourcreditAmount != null)
										{
											<td width="25%"><strong>@String.Format("${0:0.00}", (ViewBag.yourcreditAmount))</strong></td>

										}
										else
										{
											<td><strong>$0.00</strong></td>
}
										<td width="25%"><a href="/wallet"><button type="button" class="btn btn-success btn-block ">@*<i class="fa fa-plus"></i>*@<img src="~/Content/img/WalletAddicons2x.png" /></button></a></td>
									</tr>
									<tr>
										<td>Your Reward Points</td>
										@if (ViewBag.yourpoints != null)
										{
											<td><strong>@ViewBag.yourpoints @("=") @String.Format("${0:0.00}", (ViewBag.yourbalance))</strong></td>
}
										else
										{
											<td><strong>0 = $0.00</strong></td>
}
										<td width="25%"><a href="~/ManagePoints"><button type="button" class="btn btn-success btn-block "><i class="fa fa-eye"></i></button></a></td>
									</tr>
									@*<tr>
											<td colspan="3"><a class="btn btn-success btn-block btn-xs" href="~/ManagePoints"><i class="small glyphicon glyphicon-cog"></i> Manage Points</a></td>
										</tr>*@
								</table>
							</div>
						</div>
					</div>
				</aside>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12"><h1>Track your order</h1></div>
					<form>
						<div class="col-sm-12 margintop10PX">
							<div class="input-group">

								<input type="text" class="form-control" data-val="true" data-val-required="Tracking Number is required" id="TrackNumber" name="TrackNumber" placeholder="Your Order Tracking Number">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" onclick="return SubmitTrackNumber()"><i class="fa fa-search"></i></button>
								</span>
							</div>
							<div class="input-group">@Html.ValidationMessage("TrackNumber")</div>
						</div>
					</form>
					@*<div class="col-sm-12 margintop10PX">
							<a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Show all Alerts <i class="fa fa-exclamation-triangle"></i></a>
							<div class="alert alert-success fade in alert-dismissable margintop5PX">
								<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
								Dimensional Weight We are no longer charging the dimensional weight for the majority of shipments !
							</div>
							<div class="collapse" id="collapseExample">
								<div class="alert alert-success fade in alert-dismissable ">
									<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
									Dimensional Weight We are no longer charging the dimensional weight for the majority of shipments !
								</div>

								<div class="alert alert-success fade in alert-dismissable ">
									<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
									Dimensional Weight We are no longer charging the dimensional weight for the majority of shipments !
								</div>

								<div class="alert alert-success fade in alert-dismissable ">
									<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
									Dimensional Weight We are no longer charging the dimensional weight for the majority of shipments !
								</div>
							</div>
						</div>*@
					<div class="clearfix">&nbsp;</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h1>Your shipment History</h1>
						<div class="table-responsive margintop15PX">
							<table class="table table-striped">
								<thead>
									<tr>
										<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>

										<th><a href="#">Id </a></th>
										<th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
									</tr>
								</thead>
								@if (Model == null || !Model.Any())
								{
									<tbody>
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									</tbody>
								}
								else
								{
									foreach (var item in Model.Where(x => x.status != 11))
									{

										<tbody>
											<tr>
												<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>

												<td>@item.id</td>
												<td>
													@if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
													{ <text>--</text> }
													else
													{ @item.sender <text>/</text> @item.tracking }
												</td>
												<td>@item.weight KG</td>
												@{	clsCommon objclscomman = new clsCommon();
													var Status = objclscomman.Status(Convert.ToString(item.status));
													string[] SplitlabelCalss = Status.Split(',');
													if (SplitlabelCalss.Length > 0)
													{
														<td><span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span></td>
}
												}
											</tr>
										</tbody>  }
													}
							</table>
						</div>
						<a href="~/CreateOrder" class="btn btn-success btn-lg Createorderbutton">Create Order/All Shipments <i class="fa fa-pencil"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Last order & Payment start -->
<section class="margintop20PX">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="box-white">
					<h2><i class="fa fa-long-arrow-up"></i> Latest Orders</h2>
					<div class="table-responsive margintop15PX">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Order Number @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
								</tr>
							</thead>
							@if (ViewBag.OrderList.Count == 0)
							{
								<tbody>
									<tr>
										<td colspan="8" class="text-center">
											<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
										</td>
									</tr>
								</tbody>
							}
							else
							{
								foreach (var item in ViewBag.OrderList)
								{
									<tbody>
										<tr>

											<td>@Convert.ToDateTime(item.booking_time).ToString("yyyy/MM/dd")</td>
											<td>@item.reference_no</td>
											@{  clsCommon objclscomman = new clsCommon();
												var Status = objclscomman.OrderStatus(Convert.ToString(item.status));
												string[] SplitlabelCalss = Status.Split(',');
												<td><span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span></td>
											}
										</tr>
									</tbody>
													}
												}
						</table>
					</div>
					<a href='@Url.Action("OrderDetails", "Order")' class="btn btn-primary">All Orders <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<div class="col-sm-7 spacetop20PX-xs">
				<div class="box-white">
					<h2><i class="fa fa-usd"></i> Latest Payments</h2>
					<div class="table-responsive margintop15PX">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Invoice Number @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Order Number @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Method @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Type @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Amount @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
								</tr>
							</thead>
							@if (ViewBag.CustomerPayment.Count == 0)
							{
								<tbody>
									<tr>
										<td colspan="5" class="text-center">
											<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
										</td>
									</tr>
								</tbody>
							}
							else
							{
								foreach (var item in ViewBag.CustomerPayment)
								{
									<tbody>
										<tr>
											<td>@Convert.ToDateTime(item.PaymentDate).ToString("yyyy/MM/dd")</td>
											<td>@item.InvNo</td>
											@if (item.InvoiceType == "signup")
											{
												<td>
													@item.PlanType
												</td>
}
											else
											{
												<td>@(item.OrderReferenceNumber ?? "--------------------")</td>
}
											@if (item.OrderReferenceNumber == null)
											{
												<td>@("--")</td>
}
											else
											{
												if (item.OrderReferenceNumber.ToLower() == "direct-single-shipment")
												{
													<td>@("--")</td>
}
												else
												{
													<td>@item.Method</td>
}
											}

											<td>@item.InvoiceType</td>
											<td>@String.Format("${0:0.00}", (item.Amount))</td>
											<td>@(Html.Raw(objCommonServiceRoot.GetInvoicePaidStatusLabel(item.Status)))</td>
										</tr>
									</tbody>
								}
							}
						</table>
					</div>
					<a href='@Url.Action("PaymentHistory", "Payment")' class="btn btn-primary">All Payments History <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts{
	@*<script src="~/Scripts/font-detect.js"></script>*@
	<script type="text/javascript">

    @Html.Raw(TempData["SignUpMessage"])
        function SubmitTrackNumber() {
            var validateInput = $("form").validate();
            if (!validateInput.element('#TrackNumber'))
                return false;
            var trackingnumber = $("#TrackNumber").val().trim();
            TrackingOrderReturnURl(trackingnumber);
        }
        $(document).ready(function () {

            if ($('#PlanDetail').text() == 'Premium') { $("#Upgradebutton").hide() } else { $("#Upgradebutton").show(); }
        })
	</script>

}