@model IEnumerable<_ChineseAddress.com.Repository.tblShipmentImage>

@{
    ViewBag.Title = "Admin";
}
<link href="~/Areas/Admin/css/lightgallery.min.css" rel="stylesheet" />
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Packages Images</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        @using (Html.BeginForm("AddEditPckagesImages", "ReceivedShipment", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
                        {
                            <label class="control-label">Select File</label>
                            <input id="input-7" name="input7" multiple type="file" class="file file-loading" data-allowed-file-extensions='["png", "txt","jpg"]'>
                        }
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Capture image to upload</label>
                        <div class="col-sm-12">
                            <div id="webcam">
                            </div><br />
                            <span id="camStatus"></span>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" name="btnCapture" id="btnCapture" value="Capture" class="btn  btn-success" onclick="return Capture();" />
                        </div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>

                @using (Ajax.BeginForm("DeletePckagesImages", "ReceivedShipment", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ImagesDiv" }, new { @id = "FormImagesDiv" }))
                {
                    <div class="row margin" id="ImagesDiv">
                        <div id="aniimated-thumbnials">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.file_path != null)
                                    {

                                        <a href="~/Uploads/PackagesImages/@item.Fk_shipment_id/@item.file_path" class="thumbnail col-sm-3 margin">
                                            <span id="spanDelete" class="property-list" val="@item.file_path"> Delete </span>
                                            <img src="~/Uploads/PackagesImages/@item.Fk_shipment_id/@item.file_path" />
                                        </a>
                                    }

                                }

                            }
                        </div>
                        <input type="hidden" name="file_path" id="file_path" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script src='~/Scripts/Webcam_Plugin/jquery.webcam.js' type="text/javascript"></script>
    <script type="text/javascript" src="~/Areas/Admin/scripts/lightbox/lightbox-bundle.min.js"></script>
    <script>
        var flag = 1;
        var count = 0;
        $(function () {
            $('#aniimated-thumbnials').lightGallery({
                thumbnail: true
            });
            $("span[id^='spanDelete']").click(function () {
                $("#file_path").val($(this).attr("val"));
                confirm('Are you sure,you want to delete this Image?', function (r) {
                    if (r == true) {
                        // $("#file_path").val($(this).attr("val"));
                        $("#FormImagesDiv").submit();
                    }
                });
                return false;
            });
        });
        @Html.Raw(ViewBag.Message);
    </script>
    @*check  browser*@
    <script type="text/javascript">
        var BrowserDetect = {
            init: function () {
                this.browser = this.searchString(this.dataBrowser) || "Other";
                this.version = this.searchVersion(navigator.userAgent) || this.searchVersion(navigator.appVersion) || "Unknown";
            },
            searchString: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var dataString = data[i].string;
                    this.versionSearchString = data[i].subString;

                    if (dataString.indexOf(data[i].subString) !== -1) {
                        return data[i].identity;
                    }
                }
            },
            searchVersion: function (dataString) {
                var index = dataString.indexOf(this.versionSearchString);
                if (index === -1) {
                    return;
                }

                var rv = dataString.indexOf("rv:");
                if (this.versionSearchString === "Trident" && rv !== -1) {
                    return parseFloat(dataString.substring(rv + 3));
                } else {
                    return parseFloat(dataString.substring(index + this.versionSearchString.length + 1));
                }
            },

            dataBrowser: [
				{ string: navigator.userAgent, subString: "Edge", identity: "MS Edge" },
				{ string: navigator.userAgent, subString: "MSIE", identity: "Explorer" },
				{ string: navigator.userAgent, subString: "Trident", identity: "Explorer" },
				{ string: navigator.userAgent, subString: "Firefox", identity: "Firefox" },
				{ string: navigator.userAgent, subString: "Opera", identity: "Opera" },
				{ string: navigator.userAgent, subString: "OPR", identity: "Opera" },

				{ string: navigator.userAgent, subString: "Chrome", identity: "Chrome" },
				{ string: navigator.userAgent, subString: "Safari", identity: "Safari" }
            ]
        };

        BrowserDetect.init();
    </script>
    @*Upload Image via web cam*@
    <script type="text/javascript">
        $("#btnCapture").show();
        var pageUrl = '/Admin/ReceivedShipment/UploadWebCamImage/@TempData.Peek("Ids")';
        $(function () {
            jQuery("#webcam").webcam({
                width: 320,
                height: 240,
                mode: "save",
                swffile: '@Url.Content("/Scripts/Webcam_Plugin/jscam.swf")',

                debug: function (type, status, event) {
                    console.log(status);
                    if (status == "No camera was detected.") {
                        $("#btnCapture").hide();
                        //showMessage('No camera was detected.', false, 90000);
                    }
                    if (status == "Flash movie not yet registered!") {
                        $("#btnCapture").hide();

                        if (isFlashEnabled() == false) {
                            if (BrowserDetect.browser == "Firefox")
                                showMessage('<a href="https://get.adobe.com/flashplayer/" target="_blank">click here</a> to download and install abobe flash player.', false, 90000);
                            else {
                                showMessage('kindly enable flash player.', false, 90000);
                                $("#btnCapture").hide();
                            }
                        }
                        else
                            $("#btnCapture").show();
                    }
                    else if (status == "Not Ready!") {
                        if (flag > 2)
                            $("#btnCapture").hide();
                        flag++;
                    }
                    else if (status == "Camera stopped") {
                        $("#btnCapture").hide();
                    }
                    else {
                        $("#btnCapture").show();
                    }
                    console.log(type + ": " + status + '<br /><br />');
                },
                onSave: function (data) {
                    window.location.href = window.location.href;
                },
                onCapture: function () {

                    //if (!webcam.started) { showMessage('No camera was detected.', false, 90000);}
                    //else
                    webcam.save(pageUrl);
                },
                onLoad: function () {
                    if (webcam.getCameraList().length < 1) {
                        $("#btnCapture").hide();
                        showMessage('No camera was detected!', false, 90000);
                    }
                    else {
                        try {
                            if (BrowserDetect.browser != "Firefox") {
                                setTimeout(function () {
                                    navigator.getMedia = (navigator.getUserMedia ||
                                   navigator.webkitGetUserMedia ||
                                   navigator.mozGetUserMedia);

                                    navigator.getMedia({ video: true }, function () {
                                        console.log('available');
                                    }, function () {
                                        // webcam is not available
                                        $("#btnCapture").hide();
                                        showMessage('This page have been block from accesing your camera or your camera already working in another browser!', false, 90000);
                                    });
                                }, 1000);
                            }
                        } catch (e) {
                            console.log('catch : ' + e);
                        }

                    }
                }
            });
        });
        function Capture() {
            $('#preloader').fadeIn('slow').children().fadeIn('slow');
            webcam.capture();
            return false;
        }
        function isFlashEnabled() {

            var hasFlash = false;
            try {
                var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
                if (fo) hasFlash = true;
            }
            catch (e) {
                if (navigator.mimeTypes["application/x-shockwave-flash"] != undefined) hasFlash = true;
            }
            return hasFlash;
        }
    </script>
    @*check suppirt for microphone/camera support*@
    <script type="text/javascript">
        try {


            if (navigator.mediaDevices && navigator.mediaDevices.enumerateDevices) {
                // Firefox 38+ seems having support of enumerateDevicesx
                navigator.enumerateDevices = function (callback) {
                    navigator.mediaDevices.enumerateDevices().then(callback);
                };
            }

            var MediaDevices = [];
            var isHTTPs = location.protocol === 'https:';
            var canEnumerate = false;

            if (typeof MediaStreamTrack !== 'undefined' && 'getSources' in MediaStreamTrack) {
                canEnumerate = true;
            } else if (navigator.mediaDevices && !!navigator.mediaDevices.enumerateDevices) {
                canEnumerate = true;
            }

            var hasMicrophone = false;
            var hasSpeakers = false;
            var hasWebcam = false;

            var isMicrophoneAlreadyCaptured = false;
            var isWebcamAlreadyCaptured = false;
        } catch (e) {
            console.log('catch : ' + e)
        }

        function checkDeviceSupport(callback) {
            try {

                if (!canEnumerate) {
                    return;
                }

                if (!navigator.enumerateDevices && window.MediaStreamTrack && window.MediaStreamTrack.getSources) {
                    navigator.enumerateDevices = window.MediaStreamTrack.getSources.bind(window.MediaStreamTrack);
                }

                if (!navigator.enumerateDevices && navigator.enumerateDevices) {
                    navigator.enumerateDevices = navigator.enumerateDevices.bind(navigator);
                }

                if (!navigator.enumerateDevices) {
                    if (callback) {
                        callback();
                    }
                    return;
                }

                MediaDevices = [];
                navigator.enumerateDevices(function (devices) {
                    devices.forEach(function (_device) {
                        var device = {};
                        for (var d in _device) {
                            device[d] = _device[d];
                        }

                        if (device.kind === 'audio') {
                            device.kind = 'audioinput';
                        }

                        if (device.kind === 'video') {
                            device.kind = 'videoinput';
                        }

                        var skip;
                        MediaDevices.forEach(function (d) {
                            if (d.id === device.id && d.kind === device.kind) {
                                skip = true;
                            }
                        });

                        if (skip) {
                            return;
                        }

                        if (!device.deviceId) {
                            device.deviceId = device.id;
                        }

                        if (!device.id) {
                            device.id = device.deviceId;
                        }

                        if (!device.label) {
                            device.label = 'Please invoke getUserMedia once.';
                            if (!isHTTPs) {
                                device.label = 'HTTPs is required to get label of this ' + device.kind + ' device.';
                            }
                        } else {
                            if (device.kind === 'videoinput' && !isWebcamAlreadyCaptured) {
                                isWebcamAlreadyCaptured = true;
                            }

                            if (device.kind === 'audioinput' && !isMicrophoneAlreadyCaptured) {
                                isMicrophoneAlreadyCaptured = true;
                            }
                        }

                        if (device.kind === 'audioinput') {
                            hasMicrophone = true;
                        }

                        if (device.kind === 'audiooutput') {
                            hasSpeakers = true;
                        }

                        if (device.kind === 'videoinput') {
                            hasWebcam = true;
                        }

                        // there is no 'videoouput' in the spec.

                        MediaDevices.push(device);
                    });

                    if (callback) {
                        callback();
                    }
                });
            } catch (e) {
                console.log('catch : ' + e)
            }
        }

        // check for microphone/camera support!
        checkDeviceSupport(function () {
            try {
                console.log('hasWebCam: ', hasWebcam, '<br>');
                console.log('hasMicrophone: ', hasMicrophone, '<br>');
                console.log('isMicrophoneAlreadyCaptured: ', isMicrophoneAlreadyCaptured, '<br>');
                //if (isMicrophoneAlreadyCaptured == true) {
                //    $("#btnCapture").hide();
                //    showMessage('WebCam alredy in use by another web page!', false, 90000);
                //}
                console.log('isWebcamAlreadyCaptured: ', isWebcamAlreadyCaptured, '<br>');
            } catch (e) {
                console.log('catch : ' + e)
            }
        });
    </script>

}