@model IEnumerable<_ChineseAddress.com.Repository.tblShipmentImage>

@{
    ViewBag.Title = "Admin";
}
<link href="~/Areas/Admin/css/lightgallery.min.css" rel="stylesheet" />
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Packages Images</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        @using (Html.BeginForm("AddEditPckagesImages", "ReceivedShipment", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
                        {
                            <label class="control-label">Select File</label>
                            <input id="input-7" name="input7" multiple type="file" class="file file-loading" data-allowed-file-extensions='["png", "txt","jpg"]'>
                        }
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Capture image to upload</label>
                        <div class="col-sm-12">
                            <div id="webcam">
                            </div><br />
                            <span id="camStatus"></span>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" name="btnCapture" id="btnCapture" value="Capture" class="btn  btn-success" onclick="return Capture();" />
                        </div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>

                @using (Ajax.BeginForm("DeletePckagesImages", "ReceivedShipment", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ImagesDiv" }, new { @id = "FormImagesDiv" }))
                {
                    <div class="row margin" id="ImagesDiv">
                        <div id="aniimated-thumbnials">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.file_path != null)
                                    {

                                        <a href="~/Uploads/PackagesImages/@item.Fk_shipment_id/@item.file_path" class="thumbnail col-sm-3 margin">
                                            <span id="spanDelete" class="property-list" val="@item.file_path"> Delete </span>
                                            <img src="~/Uploads/PackagesImages/@item.Fk_shipment_id/@item.file_path" />
                                        </a>
                                    }

                                }

                            }
                        </div>
                        <input type="hidden" name="file_path" id="file_path" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script src='~/Scripts/Webcam_Plugin/jquery.webcam.js' type="text/javascript"></script>
    <script type="text/javascript" src="~/Areas/Admin/scripts/lightbox/lightbox-bundle.min.js"></script>
    <script>
        var flag = 1;
        var count = 0;
        $(function () {
            $('#aniimated-thumbnials').lightGallery({
                thumbnail: true
            });
            $("span[id^='spanDelete']").click(function () {
                $("#file_path").val($(this).attr("val"));
                confirm('Are you sure,you want to delete this Image?', function (r) {
                    if (r == true) {
                        // $("#file_path").val($(this).attr("val"));
                        $("#FormImagesDiv").submit();
                    }
                });
                return false;
            });
        });
        @Html.Raw(ViewBag.Message);
    </script>
    @*check  browser*@
    <script type="text/javascript">
        var BrowserDetect = {
            init: function () {
                this.browser = this.searchString(this.dataBrowser) || "Other";
                this.version = this.searchVersion(navigator.userAgent) || this.searchVersion(navigator.appVersion) || "Unknown";
            },
            searchString: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var dataString = data[i].string;
                    this.versionSearchString = data[i].subString;

                    if (dataString.indexOf(data[i].subString) !== -1) {
                        return data[i].identity;
                    }
                }
            },
            searchVersion: function (dataString) {
                var index = dataString.indexOf(this.versionSearchString);
                if (index === -1) {
                    return;
                }

                var rv = dataString.indexOf("rv:");
                if (this.versionSearchString === "Trident" && rv !== -1) {
                    return parseFloat(dataString.substring(rv + 3));
                } else {
                    return parseFloat(dataString.substring(index + this.versionSearchString.length + 1));
                }
            },

            dataBrowser: [
				{ string: navigator.userAgent, subString: "Edge", identity: "MS Edge" },
				{ string: navigator.userAgent, subString: "MSIE", identity: "Explorer" },
				{ string: navigator.userAgent, subString: "Trident", identity: "Explorer" },
				{ string: navigator.userAgent, subString: "Firefox", identity: "Firefox" },
				{ string: navigator.userAgent, subString: "Opera", identity: "Opera" },
				{ string: navigator.userAgent, subString: "OPR", identity: "Opera" },

				{ string: navigator.userAgent, subString: "Chrome", identity: "Chrome" },
				{ string: navigator.userAgent, subString: "Safari", identity: "Safari" }
            ]
        };

        BrowserDetect.init();
    </script>
    @*Upload Image via web cam*@
    <script type="text/javascript">
        $("#btnCapture").show();
        var pageUrl = '/Admin/ReceivedShipment/UploadWebCamImage/@TempData.Peek("Ids")';
        $(function () {
            var cam = jQuery("#webcam").webcam({
                width: 320,
                height: 240,
                mode: "save",
                swffile: '@Url.Content("/Scripts/Webcam_Plugin/jscam.swf")',

                debug: function (type, status, event) {
                    console.log(status);
                    if (status == "No camera was detected.") {
                        $("#btnCapture").hide();
                        showMessage('No camera was detected.', false, 90000);
                    }
                    if (status == "Flash movie not yet registered!") {
                        $("#btnCapture").hide();

                        if (isFlashEnabled() == false) {
                            if (BrowserDetect.browser == "Firefox")
                                showMessage('<a href="https://get.adobe.com/flashplayer/" target="_blank">click here</a> to download and install abobe flash player.', false, 90000);
                            else
                                showMessage('Allow flash player.', false, 90000);
                        }

                    }
                    else if (status == "Not Ready!") {

                        if (navigator.getUserMedia) {
                            if (count == 0) {
                                var flagx = 1;
                                flag = flagx
                            }
                        }
                        else {
                            if (count == 0) {
                                flagx = 0;
                                flag = flagx;
                            }
                            //console.log('Native device media streaming (getUserMedia) not supported in this browser. Please Install Flash Adobe Player');
                            // Display a friendly "sorry" message to the user.
                        }
                        if (flag == 0) {
                            flag = 2;
                            count = count + 1;
                            var isFlashInstalled = (function () {
                                var b = new function () { var n = this; n.c = !1; var a = "ShockwaveFlash.ShockwaveFlash", r = [{ name: a + ".7", version: function (n) { return e(n) } }, { name: a + ".6", version: function (n) { var a = "6,0,21"; try { n.AllowScriptAccess = "always", a = e(n) } catch (r) { } return a } }, { name: a, version: function (n) { return e(n) } }], e = function (n) { var a = -1; try { a = n.GetVariable("$version") } catch (r) { } return a }, i = function (n) { var a = -1; try { a = new ActiveXObject(n) } catch (r) { a = { activeXError: !0 } } return a }; n.b = function () { if (navigator.plugins && navigator.plugins.length > 0) { var a = "application/x-shockwave-flash", e = navigator.mimeTypes; e && e[a] && e[a].enabledPlugin && e[a].enabledPlugin.description && (n.c = !0) } else if (-1 == navigator.appVersion.indexOf("Mac") && window.execScript) for (var t = -1, c = 0; c < r.length && -1 == t; c++) { var o = i(r[c].name); o.activeXError || (n.c = !0) } }() };
                                return b.c;
                            })();

                            if (isFlashInstalled) {
                                //check if camera is on or not
                                showMessage('Allow camera access permission or adjust your camera', false, 90000);

                            } else {
                                showMessage('Native device media streaming (getUserMedia) not supported in this browser.<a href="https://get.adobe.com/flashplayer/" target="_blank">click here</a> to download and install abobe flash player.', false, 90000);
                            }
                        }
                        else if (flag == 1) {
                            flag = 3;
                            count = count + 1;
                            showMessage('Allow camera access permission or adjust your camera', false, 90000);
                        }
                        else if (flag > 3) {
                            count = count + 1;
                            showMessage('Allow camera access permission or adjust your camera', false, 90000);
                        }
                        //if(flag>2)
                        //	$("#btnCapture").hide();
                        //flag++;
                    }
                    else if (status == "Camera stopped") {
                        $("#btnCapture").hide();
                    }
                    else {
                        $("#btnCapture").show();
                    }
                    console.log(type + ": " + status + '<br /><br />');
                },
                onSave: function (data) {
                    window.location.href = window.location.href;
                },
                onCapture: function () {
                    debugger;
                    if (!webcam.started) { showMessage('No camera was detected.', false, 90000); }
                    else
                        webcam.save(pageUrl);
                },
                onLoad: function () {
                    debugger;
                    if (webcam.getCameraList().length < 1)
                        $("#btnCapture").hide();
                    showMessage('No camera was detected!', false, 90000);
                }
            });
        });
        function Capture() {
            webcam.capture();
            return false;
        }
        function isFlashEnabled() {
            var hasFlash = false;
            try {
                var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
                if (fo) hasFlash = true;
            }
            catch (e) {
                if (navigator.mimeTypes["application/x-shockwave-flash"] != undefined) hasFlash = true;
            }
            return hasFlash;
        }
    </script>

}