@model List<_ChineseAddress.com.Areas.Admin.Models.ViewModelreceivedShipment>
@{
	ViewBag.Title = "Admin";
}
@using _ChineseAddress.com.Areas.Admin.Models
@*<img src="~/Uploads/ReturnPackages/ 21/fab90bda.jpg" />*@
<style type="text/css">
	/*table select { color: black !important; }*/
	#add { display: inline-block; padding-left: 30px; float: left; }
</style>
<div id="parent-container">
	<section class="content" id="child-container">
		<div class="box box-info">
			<div class="box-header with-border">

				<h3 class="box-title ">Received Shipments </h3>
				<div class="box-tools pull-right">
					<a href='@Url.Action("Index", "ReceivedShipment")' class="btn btn-xs btn-primary"><i class="fa fa-plus" aria-hidden="true">Add Received Shipment</i></a>
					<button class="btn btn-box-tool " title="Refresh" onclick="refresh();"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="box-body">
					<table id="tblReceivedShipment" class="table table-striped table-bordered dt-responsive " cellspacing="0" width="100%">
						<thead>
							<tr>
								<th data-priority="1">Customer Reference Number</th>
								<th>Id</th>
								<th>Sender/Tracking</th>
								<th>Carrier</th>
								<th>Box Condition</th>
								<th>Shelf No</th>
								<th>Correct Shipment Price</th>
								<th>Shipment Picture(s)</th>
								<th>Storage Days Left</th>
								<th data-priority="3">Status</th>
								<th>Created On</th>
								<th>Created By</th>
								<th>Recieved Date</th>
								<th>Weight</th>
								<th>Height</th>
								<th>Length</th>
								<th>Width</th>
								<th>User Notes</th>
								<th>Customer Email</th>
								<th>Staff Comments</th>
								<th>Modified Date</th>
								<th>Modified By</th>
								<th>Number of Item(s)</th>
								<th data-priority="2">Action</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
							<tr>
								<td>@item.RefernceNumber</td>
								<td>@item.id</td>
								<td>
									@if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))

										{
									@:--
									}
										else
										{
									@item.sender @("/") @item.tracking
}
								</td>
								<td>@((item.carrier ?? "--"))</td>
								<td>@item.box_condition</td>
								<td>@((item.shelf_no ?? "--"))</td>
								<td>
									@if (item.Correct_Price_Status == 1)
										{
									<a href="#CorrectPrice" id="@item.id" class="label label-warning" data-toggle="modal" data-target="#CorrectPrice" data-file-path="@item.correct_price_file_path">Awating Price Correction</a>
}
										else if (item.Correct_Price_Status == 2)
										{
									<span class="label label-success">Price Updated</span>
}
										else if (item.Correct_Price_Status == -1)
										{
									<span class="label label-danger">Price Correction Cancelled</span>
}
										else
										{
									@:--
										}
								</td>
								<td id="checkPicture @item.id">
									@if (item.temp == 1)
										{
											if (item.chkimageNonChargeable != null)
											{
												if (item.chkimageNonChargeable.Count != 0)
												{
									<a href="AddEditPckagesImages/@item.id" class="label label-success"><i class="fa fa-eye"> View</i></a>
}
												else
												{
									<a href="AddEditPckagesImages/@item.id" class="label label-warning"><i class="fa fa-pencil"> Requested Images </i></a>}
											}
											else
											{ <a href="AddEditPckagesImages/@item.id" class="label label-warning"><i class="fa fa-pencil"> Requested Images </i></a>}
										}
										else
										{
											if (item != null)
											{
												if (item.chkimage != null)
												{
													if (item.chkimage.Count != 0)
													{
									<a href="AddEditPckagesImages/@item.id" class="label label-success"><i class="fa fa-eye"> View</i></a>}
													else
													{ <a href="AddEditPckagesImages/@item.id?IsChargeable=false" class="label label-success"><i class="fa fa-plus"> Add Images</i></a>}
												}
												else
												{ <a href="AddEditPckagesImages/@item.id?IsChargeable=false" class="label label-success"><i class="fa fa-plus"> Add Images</i></a>}
											}
											else
											{
									<a href="AddEditPckagesImages/@item.id?IsChargeable=false" class="label label-success"><i class="fa fa-plus"> Add Images</i></a>
}

										}

								</td>
								<td><span id="freestorage" class="label label-success">@item.freestoragedays</span></td>
								@{
										clsCommon objclscomman = new clsCommon();
										var Status = objclscomman.Status(Convert.ToString(item.status));
										if (!string.IsNullOrEmpty(Status))
										{
											string[] SplitlabelCalss = Status.Split(',');
											if (SplitlabelCalss.Length < 2)
											{
								<td><span class="label @SplitlabelCalss[0]">@SplitlabelCalss[0]</span></td>
}
											else
											{
								<td><span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span></td>}
										}
								}
								<td><span>@(item.created_on == null ? "" : item.created_on.Value.ToString("yyyy/MM/dd"))</span></td>
								<td>@item.Created_By</td>
								<td><span>@(item.received_date == null ? "" : item.received_date.ToString("yyyy/MM/dd"))</span></td>
								<td>@item.weight</td>
								<td>@item.height</td>
								<td>@item.length</td>
								<td>@item.width</td>
								<td>@item.user_notes</td>
								<td>@item.Fk_assigned_user</td>
								@if (item.staff_comments != null)
									{
										if (item.staff_comments.Count() <= 100)
										{
								<td>@item.staff_comments</td>
										}
										else
										{
											var readmore = @item.staff_comments.Substring(0, 50);
								<td>
									<div>
										@readmore
										<a href="#" id="btnview" onclick="openpopupcomments('@item.staff_comments');">Read More... </a>
									</div>
								</td>
										}
									}
									else
									{
								<td>No Comments</td>
									}
								<td><span>@(item.modified_on == null ? "" : item.modified_on.Value.ToString("yyyy/MM/dd"))</span></td>
								<td>@item.modified_by</td>

								<td>@item.Numberofitems</td>
								<td>
									<table>
										<tr>
											@if (item.status != "10")
												{
											<td><a href="Index/@item.id" class="btn btn-info btn-xs"><i class="fa fa-pencil" title="Edit shipment"></i></a></td>
											<td><a href="javascript:void(0)" id='Delete @item.id' onclick="DeleteData(@item.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" title="Delete Shipment"></i></a></td>
}
											<td><a href="javascript:void(0)" id='Popup @item.id' onclick="openpopup(@item.id)" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-xs" title="Shipment item(s)"><i class="fa fa-eye">@*Content*@</i></a></td>
										</tr>
									</table>
									@*@if (item.is_requested_picture == true)
										{
										<a href="AddEditPckagesImages/@item.id" class="label label-warning"><i class="fa fa-th-large"> </i></a>
										}*@
									@if (item.status == "8")
										{
									<a href="#" id='Popup @item.id' data-customer-refno="@item.RefernceNumber" onclick="openpopupReturn(@item.id,'@item.RefernceNumber');" data-toggle="modal" data-target="#myModals" class="label label-warning" title="View Return Request(s)"><i class="fa fa-retweet" aria-hidden="true"></i></a>
}
								</td>
							</tr>
										}
						</tbody>
						@*
							<tfoot>

								<tr>
									<th data-priority="1">Customer Reference Number</th>
									<th>Sender/Tracking</th>
									<th>Carrier</th>
									<th>Box Condition</th>
									<th>Shelf No</th>
									<th>Correct Shipment Price</th>
									<th>Shipment Picture(s)</th>
									<th>Status</th>
									<th>Created On</th>
									<th>Recieved Date</th>
									<th>Weight</th>
									<th>Height</th>
									<th>Length</th>
									<th>Width</th>
									<th>User Notes</th>
									<th>Customer Email</th>
									<th>Staff Comments</th>
									<th>Modified Date</th>
									<th>Modified By</th>
									<th>Number of Item(s)</th>
									<th data-priority="2">Action</th>
								</tr>
							</tfoot>*@
					</table>
				</div>
			</div>
		</div>
	</section>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Shipment item(s)</h4>
				</div>
				<div class="modal-body table table-striped table-bordered table-responsive">
					<table id="tblReceivedShipmentPopup" class="table table-striped table-bordered table-responsive" cellspacing="0"></table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	@*Staff Comments Popup*@
	<div id="CorrectPrice" class="modal fade" role="dialog" width="100%">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><strong>Correct Shipment Price</strong> </h4>
				</div>
				<div class="modal-body">
					<form id="CorrectPriceform">
						<div id="CorrectPriceDetails">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" id="SubmitCorrectPrice" class="btn btn-success">Save</button>
					<button type="button" class="btn btn-danger" id="CancelCorrectPrice">Cancel Price Correction</button>
					@*<button type="button" class="btn btn-primary" id="ViewCorrectPrice">View Correct Price label</button>*@@*data-toggle="modal" data-target="#ViewCorrectPricelabel"*@
					<a href="#" class="btn btn-primary" id="ViewCorrectPrice" target="_blank">View Correct Price label</a>
				</div>
			</div>
		</div>
	</div>
	<div id="ViewCorrectPricelabel" class="modal fade" role="dialog" width="100%">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">    Correct Shipment Price label</h4>
				</div>
				<div class="modal-body" id="CorrectPricelabel">
					@*<div id="CorrectPricelabel">
						</div>*@
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="myModalcomments" class="modal fade" role="dialog" width="100%">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Staff Comments</h4>
				</div>
				<div class="modal-body">
					<div id="divcomments">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="myModals" class="modal fade" role="dialog" width="100%">
		<div class="modal-dialog">
			<div class="modal-content table table-striped">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Returned Request Detail(s)</h4>
				</div>
				<div class="modal-body">
					<div id="tblReceivedShipmentPopupReturn"></div>
				</div>
				<div class="modal-footer">
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script src="~/Areas/Admin/Scripts/ViewsScripts/ManageReceivedShipment.min.js"></script>
	<script type="text/javascript">
		 @Html.Raw(ViewBag.Message);
	</script>

}




@*initComplete: function () {
	this.api().columns().every(function (i) {
	var select;
	var column = this;

	var dropDownColumns = [0, 7, 5]
	if (i == 20) {
	$(column.footer()).empty();
	}
	else if (dropDownColumns.indexOf(i) >= 0) {
	select = $('<select class="form-control"><option value=""></option></select>')
	.appendTo($(column.footer()).empty())
	.on('change', function () {
	var val = $.fn.dataTable.util.escapeRegex(
	$(this).val()
	);

	column
	.search(val ? '^' + val + '$' : '', true, false)
	.draw();
	});
	if (i == 7) {
	let statusReceivedShipment = ["Ready", "Processing", "Payment Awaiting", "On Hold", "Restricted", "Abandon", "Return Pending", "Returned", "Order Created"];
	statusReceivedShipment.forEach(function (item) { select.append('<option value="' + item + '">' + item + '</option>') });
	}
	else if (i == 5) {
	let statusCorrecrPrice = ["Awaiting Price Correction", "Price Updated", "Price Correction Cancelled"];
	statusCorrecrPrice.forEach(function (item) { select.append('<option value="' + item + '">' + item + '</option>') });

	}
	else {
	column.data().unique().sort().each(function (d, j) {
	select.append('<option value="' + d + '">' + d + '</option>')
	});
	select.select2();
	}
	}
	else {
	var title = $(this).text();
	var that = this;
	select = $('<input type="text" placeholder="Search ' + title + '" />')
	.appendTo($(column.footer()).empty())
	.on('input', this.footer()).on('keyup change', function () {
	if (that.search() !== this.value) {
	that
	.search(this.value)
	.draw();
	}
	});
	}
	});
	},*@
