@model _ChineseAddress.com.Repository.tblReceivedShipment
@using System.Web.Mvc;
@{
	ViewBag.Title = "Admin";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
	<div id="div_msg"></div>
	@using (Html.BeginForm("InsertTblReceivedShipment", "ReceivedShipment", FormMethod.Post, new { id = "frm_rshipment", name = "frm_rshipment" }))
	{
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.id)
		<form id="myform">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Add  Received Shipment</h3>
					<a href='@Url.Action("ReceivedShipments", "ReceivedShipment")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye" aria-hidden="true"> View All Received Shipments</i></a>
				</div>
				<div class="form-horizontal">
					<div class="box-body">

						<div class="form-group">
							<label for="inputAssignuser" class="col-sm-2 control-label">Customer</label>
							<div class="col-sm-10">

								@Html.DropDownListFor(model => model.Fk_Customer_Id, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
								@Html.ValidationMessageFor(model => model.Fk_Customer_Id, null, new { @class = "error" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Sender</label>
							<div class="col-sm-10">

								@Html.TextBoxFor(m => m.sender, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", placeholder = "Sender" })
								@*@Html.ValidationMessageFor(model => model.sender, null, new { @class = "error" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Tracking</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.tracking, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", placeholder = "Tracking" })
								@*@Html.ValidationMessageFor(model => model.tracking, null, new { @class = "error" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Carrier</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.carrier, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", placeholder = "Carrier" })
								@*@Html.ValidationMessageFor(model => model.carrier, null, new { @class = "error" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Weight (kg)</label>
							<div class="col-sm-10">

								@Html.TextBoxFor(m => m.weight, new { @min = "0", @step = "1", @maxlength = "10", @type = "number", @class = "form-control textboxfor", placeholder = "Weight" })
								@Html.ValidationMessageFor(model => model.weight, null, new { @class = "error" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Height (cm)</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.height, new { @min = "1", @step = "1", @maxlength = "10", @type = "number", @class = "form-control textboxfor", placeholder = "Height" })
								@*@Html.ValidationMessageFor(model => model.height, null, new { @class = "error" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Lenght (cm)</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.length, new { @min = "1", @step = "1", @maxlength = "10", @type = "number", @class = "form-control textboxfor", placeholder = "Length" })
								@Html.ValidationMessageFor(model => model.length, null, new { @class = "error" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Width (cm)</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.width, new { @min = "1", @step = "1", @maxlength = "10", @type = "number", @class = "form-control textboxfor", placeholder = "Width" })
								@*@Html.ValidationMessageFor(model => model.width, null, new { @class = "error" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Received Date</label>
							<div class="col-sm-10 ">
								@Html.TextBoxFor(m => m.received_date, "{0:yyyy/MM/dd}", new { @calendar = "date", @class = "form-control textboxfor", placeholder = "Received Date" })
								@Html.ValidationMessageFor(m => m.received_date, null, new { @class = "error" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Box Condition</label>
							<div class="col-sm-10">
								@Html.DropDownListFor(m => m.box_condition, new List<SelectListItem>
									  {
								 new SelectListItem{ Text="Good",Selected=true },
								 new SelectListItem{ Text="Acceptable" },
								 new SelectListItem{ Text="Broken" },
								   new SelectListItem{ Text="Bad" }
											 }, null, new { @class = "form-control textboxfor drop" })
								@Html.ValidationMessageFor(model => model.box_condition, null, new { @class = "error" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Staff Comments</label>
							<div class="col-sm-10">

								@Html.TextBoxFor(m => m.staff_comments, new { @type = "text", @maxlength = "500", @class = "form-control textboxfor", placeholder = "Staff Comments" })
								@*@Html.ValidationMessageFor(model => model.staff_comments, null, new { @class = "error" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputSelve" class="col-sm-2 control-label">Shelf No</label>
							<div class="col-sm-10">

								@Html.TextBoxFor(m => m.shelf_no, new { @class = "form-control textboxfor", placeholder = "Shelf No" })
								@*@Html.ValidationMessageFor(model => model.shelf_no, null, new { @class = "error" })*@
							</div>
						</div>
						<div class="form-group">
							<label for="inputSelve" class="col-sm-2 control-label">Add Package Images</label>
							<div class="col-sm-10 margintop5PX">
								<input value="true" class="flat-red" name="isAddPackageImages" id="isAddPackageImages" type="checkbox" title="You will redirect to add images page if you check above checkbox.">
								<small for="isAddPackageImages">Note: You will automatically redirect to add images page after creating shipment.</small>
							</div>
						</div>
						<div class="form-group">
							@if (ViewBag.ItemType != null)
							{
								<label for="inputEmail3" class="col-sm-2 control-label">Status</label>
							}
							<div class="col-sm-10 ">
								@using _ChineseAddress.com.Areas.Admin.Models
								@if (ViewBag.ItemType != null)
								{
									{
										clsCommon objclscomman = new clsCommon();
										var Status = objclscomman.Status(Convert.ToString(ViewBag.ItemType));
										string[] SplitlabelCalss = Status.Split(',');
										<span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span>
									}
								}
							</div>
						</div>

						<div class="box-header with-border">
							<h2 class="box-title">
								<strong>Shipment item(s)</strong>
							</h2>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="col-sm-2"></div>
								<div class="col-sm-2" style="padding:0;">
									<strong>Description</strong>
								</div>
								<div class="col-sm-2">
									<strong>Comodity Code</strong>
								</div>
								<div class="col-sm-2">
									<strong>Harmonized Code</strong>
								</div>
								<div class="col-sm-2" style="padding: 0 19px;">
									<strong>Unit Price</strong>
								</div>
								<div class="col-sm-2" style="padding: 0 0 0 23px;">
									<strong>Quantity</strong>
								</div>
							</div>
						</div>
						<div id="AddShipmentdiv">
							<div class="shipmentDetail" id="ShipDetails">
								<div class="col-sm-12">
									<div class="form-group">
										<div class="col-sm-2"></div>
										<div class="col-sm-2" style="padding:0px">
											<input type="text" id="Description" placeholder="Description" class="form-control static" name="Description" />
											<span id="errorDescription" class="hidden" style="color:red">Description is required</span>
										</div>
										<div class="col-sm-2">
											<input type="text" id="ComodityCode" placeholder="Comodity Code" class="form-control static" name="ComodityCode" />
											<span id="errorComodityCode" class="hidden" style="color:red">Comodity Code is required</span>
										</div>
										<div class="col-sm-2">
											<div class="input-group">
												<input type="text" id="HarmonizedCode" placeholder="Harmonized Code" class="form-control static" name="HarmonizedCode" />
												<span class="input-group-btn">
													<button class="btn btn-secondary" type="button" onclick="openComodityPopup();"><i class="fa fa-search" aria-hidden="true"></i></button>
												</span>
											</div>
											<span id="errorHarmonizedCode" class="hidden" style="color:red">Harmonized Code is required</span>
										</div>
										<div class="col-sm-2">
											<input type="number" min="0" step="0.01" id="purchase" class="form-control static" placeholder="Purchase Price" name="PurchasePrice" />
											<span id="errorpurchase" class="hidden" style="color:red"> Price is required</span>
										</div>
										<div class="col-sm-2">
											<input type="number" min="0" step="1" id="Quantity" class="form-control static" placeholder="Quantity" name="Quantity" onkeyup="this.value=this.value.replace(/[^\d].+/, '')" />
											<span id="errorQuantity" class="hidden" style="color:red">Quantity is required</span>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-1" style="float:right">
											<button type="button" id="RemoveField" onclick="RemoveDiv(this);" class="btn btn-xs btn-danger pull-right hidden" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></button>
										</div>
										<div class="col-lg-1" style="float:right">
											<button type="button" onclick="AddTable();" id="AddField" class="btn btn-xs btn-success pull-right" title="Add More"><i class="fa fa-plus" aria-hidden="true"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer" style="padding: 20px 221px;">
						<button type="submit" id="Submit_form" class="btn btn-success pull-left" onclick="return Validateform();">Submit</button>
						<a href='@Url.Action("ReceivedShipments", "ReceivedShipment")' class="btn btn-danger pull-left" style="margin:0 8px;">Cancel</a>
					</div>
				</div>
			</div>
		</form>
	}
	<div class="modal fade" id="mpeCommodityCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="width:67%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="H1">
						Commodity Code
					</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4 col-sm-12 hidden-xs">
							<p>
								<strong>Instructions:-</strong>
							</p>
							<ol>
								<li>Enter a description of your item in the text box and click search.</li>
								<li class="space10">
									Look for the 6 digit commodity code number in front of the correct
									description of your item.<br />
									e.g. <strong>620520 Men's or Boys' Shirts, of Cotton.</strong>?
								</li>
								<li class="space10">
									Copy and paste this number into the commodity code number box on
									the invoice next to the correct item.
								</li>
								<li class="space10">Close this window.</li>
							</ol>
						</div>
						<div class="col-md-8 col-sm-12 col-sm-12 col-xs-12" style="overflow: hidden; border-left: 1px solid gray;
                            height: 360px;">
							<p>
								<b>Oops!</b><br /><br />
								Some how we are not able to show commodity codes here. Please <a href="https://www.foreign-trade.com/reference/hscode.htm" target="_blank">click here</a> to access the commodity codes and follow the following instrcutions.
								@*<iframe id="ifrmCommodityCode" scrolling="auto" style="left: 0px; top: -230px; border: 0px;
									position: relative;" height="735" width="800" class="col-lg-12"></iframe>*@
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts {

	<script type="text/javascript">
      @Html.Raw(ViewBag.Message);
        var JsonModel = '@Html.Raw(Json.Encode(@ViewBag.Message))';
        if (JsonModel === 'null') {
        } else if (JsonModel==='"showMessage(\u0027Shipment updated successfully\u0027,true);"') {
            setTimeout(function() {
                setTimeout(function () {
                    window.location.pathname = '/Admin/ReceivedShipment/ReceivedShipments';
                }, 2000);
            });
        }
	</script>
	<script type="text/javascript">
		function openComodityPopup() {

			//window.open("https://www.foreign-trade.com/reference/hscode.htm", "targetWindow", scrollbars = yes,
			//    resizable = yes,
			//    width = 300,
			//    height = 300);
			$('#mpeCommodityCode').modal('show');
			$('#ifrmCommodityCode').attr("src", "https://www.foreign-trade.com/reference/hscode.htm");
			return false;
		}
	</script>
	<script type="text/javascript">
		var i = 1;
		function AddTable() {

			$("#AddShipmentdiv").children('div:last').clone().appendTo($("#AddShipmentdiv")).find('input').each(function () {
				$(this).val('');
				$(this).attr({

					'id': function (_, id) { return id + i }
				});
			});
			Showbuttonhide();
			$("#AddShipmentdiv").children('div:last').appendTo($("#AddShipmentdiv")).find('span').each(function () {
				$(this).attr({

					'id': function (_, id) { return id + i },

				});
			})
			i++;
			$("input[id^=Description]:last").focus();
		};
	</script>
	<script type="text/javascript">
		function RemoveDiv(id) {
			$(id).parents('#ShipDetails').remove()
			Showbuttonhide()
		}

		function Showbuttonhide() {
			if ($('.shipmentDetail').length === 1) {
				$("[id='RemoveField']").addClass('hidden');
			}
			else
				$("[id='RemoveField']").removeClass('hidden');
			$("[id='AddField']:not(:last)").addClass('hidden');
			$("[id='AddField']:last").removeClass('hidden');
		}
	</script>
	<script type="text/javascript">
		var i = 1;
		$("#Submit_form").click(function () {
			CheckValidate();
		})
	</script>
	<script type="text/javascript">
		function CheckValidate() {
			$("#AddShipmentdiv").find('input').filter(function () {
				if ($(this).val() === '') {
					$(this).css('border', '1px solid red');
					if ($(this).attr('id').trim().substring(0, 5) === ("HarmonizedCode").substring(0, 5)) {
						$(this).parent().parent().find('span').removeClass('hidden')
						return true
					}
					return true
				}; return false;
			}).next().removeClass('hidden')
		}
		$(document).on("change", "input.static", function () {
			$("#AddShipmentdiv").find('input').filter(function () {
				if ($(this).val() === '') {

					return false;
				}
				$(this).removeAttr('Style');

				if ($(this).attr('id').trim().substring(0, 5) === ("HarmonizedCode").substring(0, 5)) {
					$(this).parent().next().addClass('hidden');
					return false
				}
				return true;
			}).next().addClass('hidden')
		});
	</script>
	<script type="text/javascript">
        $(document).ready(function(){
            var ShipmentList =@Html.Raw(Json.Encode(ViewBag.ShipmentList));
            if(ShipmentList !==null)
            {
                for (var i = 1; i <= ShipmentList.length-1; i++) {
                    AddTable();
                }
                $.each(ShipmentList,function (i,obj) {

                    $("[id^='purchase']").eq(i).val(obj.purchase_price);
                    $("[id^='ComodityCode']").eq(i).val(obj.comodity_code);
                    $("[id^='HarmonizedCode']").eq(i).val(obj.harmonizedCode);
                    $("[id^='Quantity']").eq(i).val(obj.quantity);
                    $("[id^='Description']").eq(i).val(obj.description);
                });
            }
        })
	</script>
	<script type="text/javascript">
		function Validateform() {
			var bool = true;
			var validateInput = $("form").validate();
			$("#AddShipmentdiv").find('input').each(function () {
				if ($(this).val() === "") {
					bool = false;
				}
			});
			$('div.form-group').find('input').not('.static').each(function (e, obj) {
				try {
					validateInput.element('#' + obj.name);
				}
				catch (err) {

				}

			});
			$('div.form-group').find('select').not('.static').each(function (e, obj) {
				try {
					validateInput.element('#' + obj.name);
				}
				catch (err) {

				}

			});

			return bool;

		}
	</script>

}