@{
	ViewBag.Title = "ChineseAddress | Error";
}

@*@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))
	@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false)) *@
@section header{
	<link rel="stylesheet" type="text/css" href="/content/css/mystyle.min.css" />
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}

<section class="margintop90PX " id="LoginDiv">
	<div class="container blog_area">
		<div class="col-md-4 col-sm-3"></div>
		<div class="col-md-4 col-sm-6">
			<h1><i class="fa fa-sign-in"></i> Error</h1>

			<p>  @ViewBag.Error</p>
		</div>
		<div class="col-md-4 col-sm-3"></div>
	</div>
</section>