@section header{
	@*@Styles.RenderFormat("<script type=\"text/javascript\">load_css_async('{0}')</script>", "~/content/css/contact_us.min.css")
		@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))   *@
	@*@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))
		@Styles.Render("~/Content/css/contact_us.min.css")*@
	<link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
	<link rel="stylesheet" type="text/css" href="~/content/css/contact_us.min.css" />
}
@{
	ViewBag.Title = "ChineseAddress | Contact US ";
	Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml"); }
<section class="margintop90PX">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1><a>@*<i class="fa fa-address-book"></i>*@ Contact US</a></h1>
				<div class="well well-sm">
					<div id="contact_area" class="contact_area">
						<div class="row">
							<div class="col-md-12">
								<h3>Have a question?</h3>
								<p>
									Be sure to check our <a href="./Faqs" target="_blank">FAQ</a> page and our <a href="TermsAndConditions" target="_blank">Terms and Conditions</a> pages - you might find your answer there.
								</p>
								<h3>Still need help?</h3>
								<p>Please fill out our contact form to get in contact with us.  A ChineseAddress customer service representative will respond quickly!</p>
							</div>
							<div class="col-md-6">
								<div class="contact_form">
									<fieldset id="contact_form">
										<div id="result"></div>
										<form>
											<label for="name">
												<input type="text" name="name" data-val="true" data-val-required="Name is required" id="txtName" placeholder="Enter Your Name" class="form-control" />
												@Html.ValidationMessage("name")
											</label>

											<label for="email">
												<input type="email" name="email" data-val="true" data-val-required="Email is required" id="txtEmail" placeholder="Enter Your Email" class="form-control" />
												@Html.ValidationMessage("email")
											</label>

											<label for="phone">
												<input type="tel" name="phone" data-val="true" data-val-required="Phone Number is required" id="txtPhone" placeholder="Enter Your Phone Number" class="form-control" />
												@Html.ValidationMessage("phone")
											</label>

											<label for="message">
												<textarea name="description" data-val="true" data-val-required="Description is required" id="txtMessage" placeholder="Enter Your Message" class="form-control"></textarea>
												@Html.ValidationMessage("description")
											</label>
										</form>
										<button class="btn btn-success btn-lg pull-left" id="btnSubmit" style="margin-left:150px">Submit</button>

									</fieldset>
								</div>
							</div>
							<div class="col-md-5">
								<div class="contact_text" style="text-align:center; font-weight:bold; padding-left:20px; font-size:15px">
									<h3 style="font-size:30px; padding-left:35px">contact info</h3>
									<ul class="contact_info" itemprop="address">
										<li itemprop="email">info@chineseaddress.com</li>
										<li>3133 Tianhe Ave</li>
										<li itemprop="addressLocality">Guangzhou, 510000</li>
										<li itemprop="addressCountry">China</li>
										<li itemprop="telephone">@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ClientPhoneNo"])</li>
									</ul>

								</div>
							</div>
							<div class="col-md-12">
								<h3 style="text-align:center; color:#303f9f">FOLLOW US</h3>
								<ul class="contact_social" style="text-align:center">
									<a href="https://www.facebook.com/chineseaddress/" target="_blank" class="facebook-icon"><li style="margin-left:0px"><i class="fb fa fa-facebook-square fa-2x"></i></li></a>
									<a href="https://twitter.com/chineseaddress" target="_blank" class="twitter-icon"><li><i class="tw fa fa-twitter-square fa-2x"></i></li></a>
									<a href="http://instagram.com/chineseaddress" target="_blank" class="instagram-icon"><li><i class="fa fa fa-instagram fa-2x"></i></li></a>
									<a href="javascript:return false;" target="_blank" class="google-icon"><li><i class="gp fa fa-google-plus-square fa-2x"></i></li></a>
									<a href="javascript:return false;" target="_blank"><li><i class="fa fa-linkedin-square fa-2x"></i></li></a>
									<a href="@Url.Content("https://medium.com/@chineseaddress")" target="_blank" class="smedium-icon"><li><i class="fa fa-medium fa-2x"></i></li></a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts{
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script type="text/javascript">
		$("#btnSubmit").click(function () {
			var bool = true;
			var validateInput = $("form").validate(); validateInput.element("#txtName");
			$("#contact_area").find("input").each(function (i, obj) {
				if (validateInput.element("#" + obj.id) === false) {
					bool = false;
				}
			});
			if (bool === false)
				return false;
			$.ajax({
				url: "/ContactUS/Contactus",
				type: "Post",
				contentType: "application/json; charset:utf-8;",
				data: JSON.stringify({ name: $("#txtName").val(), email: $("#txtEmail").val(), phone: $("#txtPhone").val(), message: $("#txtMessage").val() }),
				dataType: "json",
				success: function (data) {
					if (data == "Email Successfully Send")
						showMessage('We have received your enquiry and will respond to you within 24 hours.', true);
					else
						showMessage(data, false);
				}
			});
		});
	</script>
	<script type="text/javascript">
		$(window).load(function () {
			$.validator.setDefaults({
				onkeyup: false
			});
		})
	</script>
}

