@{
    ViewBag.Title = "ChineseAddress | About Us";
    Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@section header{
<link rel="stylesheet" type="text/css" href="/content/css/myStyle.css" />
}
    @{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}

<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-sm-12">
            <a><h1><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</h1></a>
            <br>
            <p >
                <h2 class="text-center">ChineseAddress - Shopping and Shipping Made Simple!</h2>
            </p>
            <div class="well well-sm">
               
                <p>
                    At ChineseAddress, our goal is to provide amazing customer service and low-priced shipping to our worldwide customers.  We want to simplify the way that you shop from China,
                    and we want to help you save money too, through our packaging forwarding and consolidation services.
                </p>
                <p>
                    With ChineseAddress, you can shop from any China-based retailer and have your package shipped to our warehouse, then right to your door.  Simple!
                </p>
                <p>
                    Visit our <a href="/#price_area" target="_blank">Membership Page</a> to learn how you can get started today!
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>