@{
    ViewBag.Title = "ChineseAddress | Newsletter";
    Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}

@section header{
<link rel="stylesheet" type="text/css" href="~/content/css/home.bundle.min.css" />
}
@Html.Partial("~/Views/Shared/_HeaderMenu.cshtml")
<style>
    .inputbutton{
            width: 183px!important;
    }
</style>
<div class="carousel fade-carousel slide fadecrowsel-Height" data-ride="carousel" data-interval="8000" id="bs-carousel">

    <!-- Overlay -->
    @*<div class="overlay"></div>*@
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active slide-active">
            <div class="slide-4 opacity0dot5 slide-height"></div>
            <div class="hero">
                <hgroup>
                    <h1>Free <span>Premium MemberShip</span></h1>
                    <h3>Sign up to receive a FREE 6-month Premium Membership and save an additional 10% on your orders.</h3>
                </hgroup>
            </div>
        </div>
    </div>
</div>
<section class="newslatter-contentmargintop">
    <div class="container">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div id="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3" style="background-color: #ffffff !important;border-style: solid !important;border-width: 1px !important;border-color: #3c72b7 !important;border-radius: 5px !important;">
                            <style>
                                .ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line p, .ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line h1, .ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line h2, .ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line h3, .ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line h4, .ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line h5, .ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line h6 {
                                    margin: 0 !important;
                                    color: inherit !important;
                                    font: inherit !important;
                                }
                            </style><input type="hidden" name="sform[hash]" value="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3"><div class="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line"><div style="padding: 20px !important;padding-top: 5px !important;padding-bottom: 5px !important;background-color: #3c72b7 !important;border-radius: 4px 4px 0px 0px !important;"><div style="display: inline-block !important;vertical-align: top !important;word-wrap: break-word !important;text-align: center !important;color: #ffffff !important;width: 100% !important;font-weight: normal;" elemtype="sform-text"><h4><span style="font-size: 14pt;">Sign up for ChineseAddress</span></h4></div></div></div><div class="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line"><div style="padding: 5px !important;padding-top: 5px !important;padding-bottom: 5px !important;"><div style="display: inline-block !important;vertical-align: top !important;word-wrap: break-word !important;text-align: none !important;color: #606060 !important;width: 100% !important;font-size: 14px !important;font-weight: normal;" elemtype="sform-text"><p>Get a <strong>FREE</strong> 6 month premium membership and 10% off of already reduced rates when you sign up today.  We will occasionally send our members email updates and other important information.</p></div></div></div><div class="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line"><div style="padding: 5px !important;"><div style="display: inline-block;"><div elemtype="sform-label" style="margin-bottom: 5px;font-size: 12px !important;font-weight: bold ;color: #B2B2B2 !important;text-align: left !important;">Your name:</div><div elemtype="sform-input" style=""><input class="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_text inputbutton"  style="padding: 5px !important;border-width: 1px !important;border-style: solid !important;border-color: #606060 !important;width: 192px!important;font-size: 12px !important;font-weight: normal;color: #666 !important;" maxlength="255" name="sform[TmFtZQ==]" required="required"></div></div></div><div style="padding: 5px !important;"><div style="display: inline-block;"><div elemtype="sform-label" style="margin-bottom: 5px;font-size: 12px !important;font-weight: bold;color: #B2B2B2 !important;text-align: left !important;">Your email:</div><div elemtype="sform-input" style=""><input class="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_email " style="padding: 5px !important;border-width: 1px !important;border-style: solid !important;border-color: #606060 !important;width: 192px!important;font-size: 12px !important;font-weight: normal;color: #606060 !important;" maxlength="255" name="sform[email]" type="email" required="required"></div></div></div></div><div class="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line"><div style="text-align: center !important;padding: 5px !important;padding-top: 5px !important;padding-bottom: 5px !important;"><div style="display: inline-block;" elemtype="sform-button"><button id="buttonac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3" style="text-decoration: none; border-style: solid; text-align: center; border-collapse:inherit;background: linear-gradient(#d1d1d1, #afafaf) repeat scroll 0 0 rgba(0, 0, 0, 0);border-color: #b4b4b4 #b4b4b4 #878787;border-image: none;border-style: solid;border-width: 1px 1px 3px;box-shadow: 0 0 0 1px #e3e3e3 inset;color: #555;text-shadow: 0 1px 0 #d6d6d6;color: #FFFFFF !important;font-size: 22px;font-weight: normal;background-color: #B2B2B2 !important;border-radius: 5px !important;width: 192px !important;height: 40px !important;cursor: pointer;border-width: 1px;border-style: solid;padding: 5px;" onclick="sformac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3._button(this);">Subscribe</button></div></div></div><div class="ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3_form_line"><div style="padding: 5px !important;padding-top: 5px !important;padding-bottom: 5px !important;"><div style="display: inline-block !important;vertical-align: top !important;word-wrap: break-word !important;text-align: center !important;color: #b2b2b2 !important;width: 100% !important;font-size: 14px !important;font-weight: normal;" elemtype="sform-text"><img src="https://login.sendpulse.com/img/lock.png" alt="bulk mailings"> We respect your privacy</div></div></div><div id="_plain_messageac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3" style="display:none;"></div><div><div style="display: inline-block !important;text-align: center !important;width: 100% !important;font-size: 12px !important;padding: 10px !important;font-weight:normal;border-radius: 0px 0px 4px 4px !important;" elemtype="sform-text"><a href="https://sendpulse.com/?rg=4&uid=723681"><img src="https://cdn.sendpulse.com/img/logoimage.png" alt="bulk email service" style="width:100px"></a></div></div>
                        </div>
                        <script type="text/javascript" src="//login.sendpulse.com/members/forms/user-form-js/ac/ac92833aeb1cbf8a072f14aef3d7b254a95bb7f7e381403d348d4ce6fa511ad3/c/1/form.js"></script>
                        <script type="text/javascript">var sform_lang = 'en'</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @Scripts.RenderFormat("<script src='{0}' ></script>", BundleTable.Bundles.ResolveBundleUrl("~/bundles/home", false))
}