﻿@*@model IEnumerable<_ChineseAddress.com.Repository.tblTopUpMethod>*@
@{
	ViewBag.Title = "ChineseAddress | Terms & Conditions";
	Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@section header{
	<link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
	<style type="text/css">
		.marginbottom2PX { margin-bottom: 2px }
	</style>
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}
<section class="margintop90PX " id="LoginDiv">
	<div class="container">
		<div class="col-sm-12">
			<a><h1><i class="fa fa-credit-card"></i> Payment Methods</h1></a>
			<br>
			<div class="well well-sm" style="overflow: hidden;">
				@*@if (Model != null && Model.Any())
				{
					foreach (var item in Model)
					{
						<h4 class="marginbottom2PX">
							@item.method_name
						</h4>
						<div class="col-sm-12" style="padding:0px!important">
							<p>
								@item.method_description
							</p>
						</div>
						<br />
						<br />
					}
				}
				else
				{
					<h4>No Payment Method Found</h4>
				}*@
				<h4 class="marginbottom2PX">
					Amazon Egift Card
				</h4>
				<div class="col-sm-12" style="padding:0px!important">
					<p>
						Zero  Processing Fee and Fast Confirmation. ( Most Popular ) 
					</p>
				</div>
				<br />
				<br />
				<h4 class="marginbottom2PX">
					Digital Currencies Bitcoins, Ethereum / Ether, and Litecoins 1% Payment Processing Fee to Exchange Bitcoin to Usd.
				</h4>
				<div class="col-sm-12" style="padding:0px!important">
					<p>
						
					</p>
				</div>
				<br />
				<br />
				<h4 class="marginbottom2PX">Alipay or Wechat Pay ( Zero  Processing Fee ) </h4>
				<div class="col-sm-12" style="padding:0px!important">
					<p>

					</p>
				</div>
				<br />
				<br />
				<h4 class="marginbottom2PX">Western Union</h4>
				<div class="col-sm-12" style="padding:0px!important">
					<p>
						We Accept Western Union Payment. Normally Take 1-2 Hours to Confirm Your Payment Within Office Hour.
					</p>
				</div>
				<br />
				<br />
				<h4 class="marginbottom2PX">Wire Transfer/ Bank Tt Payment</h4>
				<div class="col-sm-12" style="padding:0px!important">
					<p>
						We Accept Wire Transfer or Banks Telegraphic Transfer. Normally Take 1-3 Days to Confirm You Payment.
					</p>
				</div>
				<br />
				<br />
				<h4 class="marginbottom2PX">Paypal</h4>
				<div class="col-sm-12" style="padding:0px!important">
					<p>
						Paypal Is Fast and Safe Payment Method. It Accepts Visa, Master, American Express, JCB Card for Worldwide.
					</p>
				</div>
				<br />
				<br />
				<p>For Payment Information Details, Please Contact Us via Live Chat or E-mail. We Only Share Our Payment Information to Approved Clients With Activated Account. </p>
			</div>
		</div>
	</div>
</section>

