@model _ChineseAddress.com.Repository.tblTopUp
@{
    ViewBag.Title = "ChineseAddress | Admin | Top Up Add";
}
<section class="content">
    @using (Html.BeginForm("Add", "TopUp", FormMethod.Post,new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add Top Up</h3>
                <a href='@Url.Action("Index", "TopUp", new { area = "Admin" })' class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye" aria-hidden="true"> View All Top Up</i></a>
            </div>
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputAssignuser" class="col-sm-2 control-label">Customer</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Fk_Customer_Id, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
                            @Html.ValidationMessageFor(model => model.Fk_Customer_Id, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">Select Top Up Method</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.TopUpMethodId, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
                            @Html.ValidationMessageFor(m => m.TopUpMethodId, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Reference Number</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(m => m.Id)
                            @Html.TextBoxFor(model => model.transaction_id, new { @type = "text", @maxlength = "100", @class = "form-control", @placeholder = "Reference Number" })
                            @Html.ValidationMessageFor(m => m.transaction_id, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Amount</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.amount, Model.amount.ToString("0.##"), new { @type = "number", @min = "0.00", @max = "99999.00", @step = "1.00", @class = "form-control", @placeholder = "Amount" })
                            @Html.ValidationMessageFor(m => m.amount, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Attachment</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.attachment, new { @type = "file", @accept = ".png,.PNG,.jpg,.JPG,.jpeg,.JPEG,.bmp,.BMP,.txt,.pdf,.PDF,.doc,.DOC,.xlsx,.XLSX" })
                            @Html.ValidationMessageFor(m => m.attachment, null, new { @class = "error" })
                            @if (Model != null)
                            {
                                if (!string.IsNullOrEmpty(Model.attach_name))
                                {
                                    <a href="~/Uploads/RequestTopUpWallet/@Model.Id/@Model.attach_name" target="_blank">Preview Existing Attachment</a>
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Remarks</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.remark, new { @class = "form-control", @placeholder = "Remarks" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Admin Remarks</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.admin_remark, new { @class = "form-control", @placeholder = "Admin Remarks" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputShipment" class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10" style="margin-top:5px">
                            @Html.DropDownList("status", (IEnumerable<SelectListItem>)ViewBag.eTopUpListItem, "Select Status", new { @class = "form-control textboxfor", SearchSelect = "true" })
                            @Html.ValidationMessageFor(m => m.status, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="box-footer" style="padding: 20px 221px;">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href='/Admin/TopUp/' class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    <script type="text/javascript">
        @Html.Raw(ViewBag.Message);
        var JsonModel = '@Html.Raw(Json.Encode(@ViewBag.Message))';
        if (JsonModel === 'null') {
        } else if (JsonModel === '"showMessage(\u0027Updated successfully\u0027,true);"') {
            setTimeout(function () {
                window.location.pathname = '/Admin/TopUp/ManageMethods';
            }, 2000);
        };
    </script>

    <script>
        $(window).load(function () {
            @Html.Raw(TempData["msg"])
            try {
            @TempData.Remove("msg")
        } catch (e) {
        }
    })
    </script>
}
