@model _ChineseAddress.com.Repository.tblTopUpMethod
@{
    ViewBag.Title = "Admin | TopUp | AddEditMethod";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    @using (Html.BeginForm("AddEditMethod", "TopUp", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add Top Up Method</h3>
                <a href='@Url.Action("ManageMethods", "TopUp", new { area = "Admin" })' class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye" aria-hidden="true"> View All Top Up Methods</i></a>
            </div>
            <div class="form-horizontal">
                <div class="box-body">

                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">Method Name</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(m => m.id)
                            @Html.TextBoxFor(m => m.method_name, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", id = "inputname", placeholder = "Method Name" })
                            @Html.ValidationMessageFor(m => m.method_name, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Method Code</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.method_code, new { @type = "text", @maxlength = "50", @class = "form-control textboxfor", id = "inputusername", placeholder = "Method Code" })
                            @Html.ValidationMessageFor(m => m.method_code, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Method Description</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.method_description, new { @type = "text", @multiline = "true", @class = "form-control textboxfor", id = "inputusername", placeholder = "Method Description" })
                            @Html.ValidationMessageFor(m => m.method_description, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputShipment" class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10" style="margin-top:5px">
                            <input value="true" class="flat-red" name="status" type="checkbox" @((Model == null) ? "" : ((Model.status) ? @"checked=""checked""" : ""))>
                        </div>
                    </div>
                    <div class="box-footer" style="padding: 20px 221px;">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href='/Admin/TopUp/ManageMethods' class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    <script type="text/javascript">
        @Html.Raw(ViewBag.Message);
        var JsonModel = '@Html.Raw(Json.Encode(@ViewBag.Message))';
        if (JsonModel === 'null') {
        } else if (JsonModel === '"showMessage(\u0027Top Up Method has been updated successfully.\u0027,true);"') {
            setTimeout(function () {
                window.location.pathname = '/Admin/TopUp/ManageMethods';
            }, 2000);
        };
    </script>
}
