@model IEnumerable<_ChineseAddress.com.Repository.tblTopUp>

@{
    ViewBag.Title = "ChineseAddress | Admin | Top Up Requests";
}

<div class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Top Up</h3>
            <a href='@Url.Action("Add", "TopUp")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Top Up</i></a>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="tblTopUps" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Customer Reference Number
                            </th>
                            <th>
                                Top Up Method
                            </th>
                            <th>
                                Reference Number
                            </th>
                            <th>
                                Amount
                            </th>
                            @*<th>
                                    Customer Remark
                                </th>*@
                            <th>
                                Status
                            </th>
                            <th>
                                Attachment
                            </th>
                            @*<th>
                                    Admin Remark
                                </th>*@
                            <th>
                                Created On
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.CustomerRefNo
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TopUpMethodName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.transaction_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                                @*<td>
                                        @if (!string.IsNullOrEmpty(item.remark))
                                             {
                                            <text>@item.remark</text>
                                        }
                                        else
                                        { <text>------</text> }
                                    </td>*@
                                <td>
                                    @((eTopUpWalletStatus)item.status)
                                </td>
                                <td>
                                    @if (item.attach_name != null)
                                    {
                                        <a href="~/Uploads/RequestTopUpWallet/@item.Id/@item.attach_name" target="_blank">Click Here</a>
                                    }
                                    else
                                    { <text>------</TEXT> }
                                </td>
                                @*<td>
                                        @if (!string.IsNullOrEmpty(item.admin_remark))
                                        {
                                            <text>@item.admin_remark</text>
                                        }
                                        else
                                        { <text>------</text> }
                                    </td>*@
                                <td>
                                    @item.created_on.ToString("yyyy/MM/dd")
                                </td>
                                <td>
                                    @if (item.status == (int)eTopUpWalletStatus.Pending)
                                    {
                                        <a href="/admin/topup/add?id=@item.Id&type=edit" id="btnEdit" class="btn btn-info btn-xs"><i class="fa fa-pencil" title="Edit Top Up Request"></i>@("/")<i class="fa fa-eye" title="Edit Top Up Request"></i></a>
                                        <text>|</text>
                                        <a href="/admin/topup/add?id=@item.Id&type=accept" id="btnEdit" class="btn btn-info btn-xs">Approve</a>
                                        <text>|</text>
                                        <a href="/admin/topup/add?id=@item.Id&type=reject" id="btnEdit" class="btn btn-info btn-xs">Disapprove</a>
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblTopUps").DataTable({
                responsive: true,
                "aaSorting": []
            });
        });
    </script>

    <script>
        $(window).load(function () {
            @Html.Raw(TempData["msg"])
            try {
            @TempData.Remove("msg")
        } catch (e) {
        }
    })
    </script>
}