@model List<_ChineseAddress.com.Repository.tblTopUpMethod>
@using _ChineseAddress.com.Common.Services
@{
    ViewBag.Title = "Admin | TopUp | ManageMethods";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{ clsCommonServiceRoot objclsCommonServiceRoot = new clsCommonServiceRoot();}
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Top Up Methods</h3>
            <a href='@Url.Action("addeditmethod", "TopUp", new { area = "Admin" })' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Top Up Method</i></a>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="tblTopUpMethods" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.method_name</td>
                                <td>@item.method_code</td>
                                <td>@item.method_description</td>
                                <td>
                                    <label class="textboxfor">
                                        <span id='@("spanStatus"+item.id)' title="Click here to Toggle this status" class="label @(item.status == true ? "label-success" : "label-danger")">@(item.status == true ? "Active" : "InActive")</span>
                                    </label>
                                </td>
                                <td style="padding: 14px 0px 0px 30px;">
                                    <a href="AddEditMethod/@item.id" class="btn btn-info btn-xs" title="Edit/View"><i class="fa fa-pencil"></i>@("/")<i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblTopUpMethods").DataTable({
                responsive: true,
                "columnDefs": [
                {
                "targets": [0, 2]
                 }
                ]
            });

            $("#tblTopUpMethods").on('click', 'span[id^="spanStatus"]', function () {
                var userId = $(this).attr('id');
                confirm('Are you sure you want to change this status?', function (r) {
                    if (r == true) {
                        var statusid = userId;
                        var id = statusid.replace('spanStatus', '');
                        $.ajax({
                            type: "post",
                            url: "/Admin/TopUp/ChangeStatusTopUpMethodById",
                            data: { 'id': id },
                            success: function (id) {
                                showMessage("Status has been changed successfully", true)
                                if ($("#spanStatus" + id.toString()).text() === "Active")
                                    $("[id=spanStatus" + id.toString() + "]").text('InActive').toggleClass('label-success label-danger')
                                else
                                    $("[id=spanStatus" + id.toString()+"]").text('Active').toggleClass('label-success label-danger')
                                $("#tblTopUpMethods").DataTable().draw();
                            },
                            error: function (data) {
                                showMessage(data.x, false)
                            }
                        });
                    };
                });
            });

        });
        @Html.Raw(ViewBag.Message);
        function DeleteDatas(id) {
            var parent = $(this).parent().parent();
            $.ajax({
                type: "post",
                url: "/AdminUsers/DeleteAdminUsersDetailById",
                data: { 'id': id },
                success: function (id) {
                    if (id !== "0") {

                        $("a[id='Delete " + id + "']").eq(0).parent().parent().next('.child').remove();
                        $("a[id='Delete " + id + "']").eq(0).parent().parent().remove();
                        showMessage("Record has been deleted successfully", true);
                    }
                },
                error: function (data) {
                    alert(data.x);
                }
            });
        }
    </script>
}