﻿<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="language" content="English">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ChineseAddress | @ViewBag.Title</title>
	<meta name="description" content="Save money with ChineseAddress. Shop your favorite US-based stores and have your package shipped right to your door anywhere in the world. Get started today!">
	<meta name="author" content="chineseaddress">

	<link rel="dns-prefetch" href="https://apis.google.com" />
	<style>
		body { font-family: "Visby CF","VisbyCF-Medium"; }
	</style>
	<link href="~/Content/css/basecss.bundle.css" rel="stylesheet" />
	<link href="~/Content/css/myStyle.css" rel="stylesheet" />
	<link href="~/Content/css/select2.min.css" rel="stylesheet" />
	@RenderSection("header", false)
	<link href="~/Content/css/css_developer.bundle.css" rel="stylesheet" />
	<link href="~/content/css/VisbyCF-Medium.css" rel="stylesheet" />
	<link href="~/Content/css/color_changes.css" rel="stylesheet" />

</head>
<body>
	<div id="preloader">
		<div id="status">
		</div>
	</div>
	<!--Message Div Start-->
	<div id="div_msg" style="display: none;">
		<strong style="color:#3db714;"></strong>
	</div>
	<!--Message Div End-->
	<header class="main_header sticky overflow-V">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 logo">
					<a href="~/DashBoard" class="line-height60PX"><img src="@Url.Content("~/Content/img/logo.png")" alt=""></a>
				</div>
				<div class="col-xs-8 text-right margintop25PX ul-list-xs">
					<ul class="list-unstyled list-inline">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i> My Account <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="/DashBoard"><span class="fa fa-home"></span> Dashboard</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("Index", "Setting")"><span class="glyphicon glyphicon-cog"></span> Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("ShipmentDetails","Shipment")"><span class="fa fa-long-arrow-down"></span> Received Shipments</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("OrderDetails", "Order")"><span class="fa fa-long-arrow-up"></span> Orders</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("PaymentHistory", "Payment")"><span class="fa fa-money"></span> Payment History</a></li>
								<li class="divider"></li>
								<li><a href="@Url.Action("Referral","Setting")"><span class="fa fa-send"></span> Referral</a></li>
								<li class="divider"></li>
								<li><a href="~/User/Account/Index"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	@RenderBody()

	<div class="company-thumb text-left footer-backgroundcolour fotter-space">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 black bg-white" itemprop="telephone">
					<img src="~/Content/img/logo-sml.png" alt="ChineseAddress Logo">
					<br>
					3133 Tianhe Ave<br>
					Guangzhou,510000<br>
					Phone: @Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ClientPhoneNo"])<br>
					Email:
					<script type="text/javascript">
						var string1 = "info";
						var string2 = "@@";
						var string3 = "ChineseAddresss.com";
						var string4 = string1 + string2 + string3;
						document.write("<a class=" + "black" + " href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
					</script>
				</div>
				<div class="col-sm-3">
					<ul class="list-unstyled">
						<li><a href="/"><i class="fa fa-home"></i> HomePage</a></li>
						<li><a href="/faqs"><i class="fa fa-question-circle"></i> FAQs</a></li>
						<li><a href="/rates"><i class="fa fa-dollar"></i> Rates</a></li>
						<li><a href="/aboutus"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li>
						<li><a href="/payment-methods"><i class="fa fa-credit-card" " aria-hidden="true"></i> Payment Methods</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul class="list-unstyled">
						<li><a href="https://xe.com" target="_blank"><i class="fa fa-money" aria-hidden="true"></i> Current Exchange Rates</a></li>
						<li> <a href="/whychoose"><i class="fa fa-check" aria-hidden="true"></i> Why Choose Chineseaddress</a></li>
						<li><a href="/countries"><i class="fa fa-flag"></i> Countries</a></li>
						<li><a href="/contactus"><i class="fa fa-envelope"></i> Contact Us</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul class="list-unstyled">
						<li><a href="https://www.facebook.com/ChineseAddress/" target="_blank" class="facebook-icon"><i class="fa fa-facebook-square"></i> Facebook</a></li>
						<li><a href="https://twitter.com/ChineseAddress" target="_blank" class="twitter-icon"><i class="fa fa-twitter-square"></i> Twitter</a></li>
						<li><a href="https://instagram.com/ChineseAddress" target="_blank" class="instagram-icon"><i class="fa fa-instagram"></i> Instagram</a></li>
						<li><a href="javascript:return false;" target="_blank" src="" classrc="" s="google-icon"><i class="fa fa-google-plus-square"></i> Google+</a></li>
						<li><a href="javascript:return false;" target="_blank" class="linkedin-icon"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
						<li><a href="@Url.Content("https://medium.com/@ChineseAddress")" target="_blank" class="smedium-icon"><i class="fa fa-medium"></i> Medium</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="black"><strong>	Our Partners:</strong></p>
					<div class="col-md-12 no-padding">
						<div class="col-md-6 no-padding"><img src="~/Content/img/s-partners-1.png" /></div>
						<div class="col-md-6 no-padding"><img src="~/Content/img/s-partners-2.png" /></div>
					</div>
				</div>
			</div>
			@*<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8 margintop15PX">
						<div class="col-lg-4 col-sm-4">
							<div>
								<img id="trustwaveSealImage" src="" data-original="/Content/img/trustwave_seal.png" border="0" class="traverce-img" onclick="javascript:window.open('https://sealserver.trustwave.com/cert.php?customerId=a0efd46e4485433da4dc9511586ec34e&amp;size=105x54&amp;style=', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site is protected by Trustwave's Trusted Commerce program" title="This site is protected by Trustwave's Trusted Commerce program">
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">

							<div class="AuthorizeNetSeal">

								<a href="https://verify.authorize.net/anetseal/?pid=ebe80178-ccc4-47c6-9df4-cbd998f1a016&amp;rurl=https%3A//www.chineseaddress.com/" onmouseover="window.status='http://www.authorize.net/'; return true;" onmouseout="window.status=''; return true;" onclick="window.open('https://verify.authorize.net/anetseal/?pid=ebe80178-ccc4-47c6-9df4-cbd998f1a016&amp;rurl=https%3A//www.chineseaddress.com/','AuthorizeNetVerification','width=600,height=430,dependent=yes,resizable=yes,scrollbars=yes,menubar=no,toolbar=no,status=no,directories=no,location=yes'); return false;" target="_blank">
									<img src="" data-original="/Content/img/Auth_Seal.gif" width="90" height="72" border="0" alt="Authorize.Net Merchant - Click to Verify">
								</a><br />
								<a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank"> Merchant Services</a>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div id="siteseal" class="margintop15PX goody-idicon">
								<img class="godaddy-css" src="" data-original="/Content/img/godaddy_seal.gif" onclick="verifySeal();" alt="SSL site seal - click to verify">
							</div>
						</div>
						<div class="col-sm-2 margintop15PX">
						</div>
					</div>
				</div>*@
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 text-left">
					<ul class="list-inline list-inline">
						<li><a href="https://www.chineseaddress.com/Sitemap.xml">Xml Sitemap</a> |
						<li> <a href="/termsandconditions">@*<i class="fa fa-handshake-o"></i>*@ Terms and Conditions</a></li> |
						<li> <a href="/CancelReturnPolicies">@*<i class="fa fa-undo"></i>*@ Cancellation and Return Policies</a></li> |
						<li><a href="/privacy">@*<i class="fa fa-tasks"></i>*@ Privacy Policy</a></li>|
						<li><a href="/Newsletter">@*<i class="fa fa-newspaper-o"></i>*@ Newsletter</a></li>
					</ul>
				</div>
				<div class="col-sm-4 text-right">
					© @DateTime.Now.Year ChineseAddresss. All Rights Reserved &nbsp;
				</div>
			</div>
		</div>
	</footer>
	<script src="~/Scripts/jquery-1.12.4.min.js"></script>
	<script src="~/Scripts/jquery.validate.bundle.min.js"></script>
	<script src="~/Scripts/select2.min.js"></script>
	<script src="~/Scripts/BasicJS.bundle.min.js"></script>
	<script type="text/javascript">
        $(window).load(function () {
            @Html.Raw(ViewBag.Message)
        });
	</script>
	<script>
		$(window).load(function () {
			$("body").tooltip({ selector: '[data-toggle=tooltip]' });
		});
	</script>
	@RenderSection("Scripts", required: false)
</body>
</html>