@using _ChineseAddress.com.Areas.User.Models
@using _ChineseAddress.com.Areas.Admin.Models
<div class="table-responsive margintop5PX">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
                <th><a href="#">Id </a></th><th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
                <th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
                <th><a href="#">Status@*<i class="fa fa-caret-down"></i>*@</a></th>
                <th><a href="#">View @*<i class="fa fa-caret-down"></i>*@</a></th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            @{foreach (var item in ViewBag.CreateOrderDetails)
            {
                    <tr>
                        <td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
						<td>@item.ID</td>
						<td> @if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
						{ <text>--</text> }
						else
						{ @item.sender <text>/</text> @item.tracking } </td>
                        <td>@item.weight KG</td>
                        @{
                            clsCommon objclscomman = new clsCommon();
                            var Status = objclscomman.Status(Convert.ToString(item.status));
                            string[] SplitlabelCalss = Status.Split(',');
                            <td>
                                <span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span>
                            </td>
                        }
                        <td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this);" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
                    </tr>
                    <tr>
                        <td colspan="9" class="padding0PX">
                            <div class="collapse box-grey1" id="@item.ID">
                                <div class="row margin0PX">
                                    <div class="col-sm-3 col-xs-12">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <div class="row margin0PX">
                                                    <div class="col-sm-4 col-xs-2 line-height34PX">Dimension</div>
                                                    <div class="col-sm-8 col-xs-10">
                                                        <input class="form-control" readonly id="focusedInput"  title="Dimension Height(cm) * Length(cm) * Width(cm)" value="@item.height * @item.length * @item.width" type="text" placeholder="Dimension">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <div class="row margin0PX">
                                                    <div class="col-sm-5 col-xs-2 line-height34PX">Box Condition</div>
                                                    <div class="col-sm-7 col-xs-4 line-height34PX">
                                                        @if (item.box_condition == "Good")
                                                        {<span class="label label-success">@item.box_condition</span>}
                                                        else
                                                        {<span class="label label-danger">@item.box_condition</span>}
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <div class="row margin0PX">
                                                    <div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
                                                    <div class="col-sm-10 col-xs-10">
                                                        <input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row margin0PX">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="inner-table-th"><a href="#">Description @*<i class="fa fa-caret-down"></i>*@</a></th>
                                                        <th class="inner-table-th"><a href="#">Quantity @*<i class="fa fa-caret-down"></i>*@</a></th>
                                                        <th class="inner-table-th"><a href="#">Purchase Price @*<i class="fa fa-caret-down"></i>*@</a></th>
                                                        <th class="inner-table-th"><a href="#">Total @*<i class="fa fa-caret-down"></i>*@</a></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @{
                                                        decimal TotalQuantity = 0;
                                                        decimal PurchasePrice = 0;
                                                        List
                                                        <ViewRecivedShipmentModel>
                                                            Models = (List<ViewRecivedShipmentModel>
                                                                )ViewBag.OrderShipmentDetails;
                                                        foreach (ViewRecivedShipmentModel Shipmentitem in Models)
                                                        {
                                                            if (Shipmentitem.Fk_shipment_id == item.ID)
                                                            {
                                                                <tr>
                                                                    <td>@Shipmentitem.description</td>
                                                                    <td>@Shipmentitem.quantity</td>
                                                                    <td>@String.Format("${0:F}", Shipmentitem.purchase_price)</td>
                                                                    @{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
                                                                        TotalQuantity += TotalQuantityPrice;
                                                                        //PurchasePrice += Shipmentitem.purchase_price;
                                                                    }
                                                                    <td>@String.Format("${0:F}", TotalQuantityPrice)</td>
                                                                </tr>
                                                                            }
                                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin0PX">
                                    @*<div class="col-sm-6 col-xs-12">
                                            <a href="javascript:void(0)" class="btn btn-danger" id="@item.ID" onclick="cancelshipment(this);"><i class="fa fa-times-circle"></i> Cancel Shipment</a> <a href="#" id="@item.ID" onclick="correcrprice(this);" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="fa fa-check-circle-o"></i> Correct Price</a>
                                            @if (item.RecivedShipment_ImagePath.Count != 0)
                                            { <a href="#" id="InitiateLightBox" class="btn btn-primary"><i class="fa fa-picture-o" aria-hidden="true"></i> View Picture(s)</a>
                                            <div id="gallery@(item.ID)" class="hidden">
                                                @foreach (var imgs in item.RecivedShipment_ImagePath)
                                                { <a class="example-image-link" href="/Uploads/PackagesImages/@item.ID/@imgs"><img class="example-image" src="~/Uploads/PackagesImages/@item.ID/@imgs" /></a> }
                                            </div>
                                            }
                                        </div>*@

                                    @if (item.RecivedShipment_ImagePath.Count > 0)

                                    {<div class="col-sm-2 col-xs-6 text-left">

                                        <a href="#" id="InitiateLightBox" class="btn btn-info"><i class="fa fa-picture-o" aria-hidden="true"></i> View Picture(s)</a>
                                        <div id="gallery@(item.ID)" class="hidden">
                                            @foreach (var imgs in item.RecivedShipment_ImagePath)
                                            { <a class="example-image-link" href="/Uploads/PackagesImages/@item.ID/@imgs"><img class="example-image" src="~/Uploads/PackagesImages/@item.ID/@imgs" /></a> }
                                        </div>
                                    </div>
                                    }

                                    <div class="col-sm-10 col-xs-6 text-left">
                                        <h3>Total Value <span class="label label-success"> @String.Format("${0:F}", @TotalQuantity)</span></h3>
                                    </div>

                                    <div class="col-sm-12 col-xs-12 spacetop15PX-xs">
                                        <h4>Note</h4>
                                        <textarea class="form-control" placeholder="Please enter any personal notes about this shipment. Notes can only be viewed by you.">@item.user_notes</textarea>

                                        <button class="btn btn-info margintop5PX" id="@item.ID" onclick="SaveNotes(this)">Save Note <i class="fa fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                                                                        }
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                Please Upload Invoice
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label class="control-label">Select File</label>
                <input type="file" id="fileUpload" class="file file-loading" multiple data-min-file-count="1" data-allowed-file-extensions='["csv", "txt","jpg","jpeg","pdf","doc","png","xlsx"]' />
            </div>
        </div>
    </div>
</div>