@model Tuple<List<ViewRecivedShipmentModel>, IPagedList<ViewRecivedShipmentModel>>
@using _ChineseAddress.com.Areas.User.Models
@using _ChineseAddress.com.Repository;
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12"><h1>Your Shipments Detail</h1></div>
			<div class="col-sm-12">
				<!-- Nav tabs -->

				@{
					var Data = (List<tblReceivedShipment>)ViewBag.OrderRecords;
					var ReadyStatus = Data.Where(x => x.status == 1).Count();
					var ProcessingStatus = Data.Where(x => x.status == 2).Count();
					var OnHoldStatus = Data.Where(x => x.status == 4).Count();
					var Ristricted = Data.Where(x => x.status == 5).Count();
					var Abandon = Data.Where(x => x.status == 7).Count();
					var OrderCreated = Data.Where(x => x.status == 10).Count();
					var Return = Data.Where(x => x.status == 9 || x.status == 8).Count();
				}
				<ul class="nav nav-tabs text-md" role="tablist">
					<li role="presentation" class="active"><a href="#ready" id="ReadyTab" aria-controls="home" role="tab" data-toggle="tab">Locker <span class="label label-success">@ReadyStatus</span></a></li>
					<li role="presentation"><a href="#OrderCreated" aria-controls="settings" role="tab" data-toggle="tab">Order Created <span class="label label-success">@OrderCreated</span></a></li>
					@*<li role="presentation"><a href="#processing" aria-controls="profile" role="tab" data-toggle="tab">Processing <span class="label label-info">@ProcessingStatus</span></a></li>*@
					<li role="presentation"><a href="#onhold" aria-controls="messages" role="tab" data-toggle="tab">On Hold <span class="label label-warning">@OnHoldStatus</span></a></li>
					<li role="presentation"><a href="#notallowed" aria-controls="settings" role="tab" data-toggle="tab">Not Allowed <span class="label label-danger">@Ristricted</span></a></li>
					<li role="presentation"><a href="#Abandon" aria-controls="settings" role="tab" data-toggle="tab">Abandoned <span class="label label-danger">@Abandon</span></a></li>
					<li role="presentation"><a href="#Return" aria-controls="settings" role="tab" data-toggle="tab">Return <span class="label label-danger"> @Return</span></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<!-- Ready tab content start -->

					<div role="tabpanel" class="tab-pane active" id="ready">
						<div class="table-responsive margintop15PX">
							<table class="table table-striped">
								<thead>
									<tr>
										<th><input type="checkbox" onchange="ReadyCheckBox(this);"></th>
										<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Id </a></th>
										<th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Warehouse @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Storage Left @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#" onclick="CollapeAll(this);">View @*<i class="fa fa-caret-down"></i>*@</a></th>
									</tr>
								</thead>
								@if (Model.Item1.Where(x => x.status == 1).Count() == 0)
								{
									<tbody>
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									</tbody>
								}
								else
								{
									<tbody>
										@{foreach (var item in Model.Item1.Where(x => x.status == 1).Select(x => x))
											{
												<tr>
													<td><input id="id @item.ID" type="checkbox"></td>
													<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
													<td>@item.ID <input type="hidden" id="hfIsUnderSomeProcess" value="@(Convert.ToString(item.IsUnderSomeProcess))" /></td>
													<td> @if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
													{ <text>--</text> }
													else
													{ @item.sender <text>/</text> @item.tracking } </td>
													<td>@item.weight KG</td>
													<td>China</td>
													<td><span class="label label-success">Ready</span></td>
													<td><span class="label label-success" id="freestorage">@item.StorageDays Days</span></td>
													<td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this);" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
												</tr>
												<tr>
													<td colspan="9" class="padding0PX">
														<div class="collapse box-grey1" id="@item.ID">
															<div class="row margin0PX">
																<div class="col-sm-3 col-xs-3">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-4 col-xs-4 line-height34PX">Dimension</div>
																				<div class="col-sm-8 col-xs-8">
																					<input class="form-control" readonly id="focusedInput" title="Dimension Height(cm) * Length(cm) * Width(cm)" title="Dimension Height(cm) * Length(cm) * Width(cm)" value="@item.height * @item.length * @item.width" type="text" placeholder="Dimension">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-sm-3 col-xs-3 line-height34PX">
																	Box Condition &nbsp;@if (item.box_condition == "Good")
																	{<span class="label label-success">@item.box_condition</span>}
																	else
																	{<span class="label label-danger">@item.box_condition</span>}
																</div>
																<div class="col-sm-6 col-xs-6">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
																				<div class="col-sm-10 col-xs-10">
																					<input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-12">
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<th class="inner-table-th"><a href="#">Description @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Quantity @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Purchase Price @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Total @*<i class="fa fa-caret-down"></i>*@</a></th>
																				</tr>
																			</thead>
																			<tbody>

																				@{	decimal TotalQuantity = 0;
																					decimal PurchasePrice = 0;
																					List
																					<ViewRecivedShipmentModel>
																						Models = (List<ViewRecivedShipmentModel>
																							)ViewBag.ShipmentDetails;
																					foreach (ViewRecivedShipmentModel Shipmentitem in Models)
																					{
																						if (Shipmentitem.Fk_shipment_id == item.ID)
																						{
																							<tr>
																								<td>@Shipmentitem.description</td>
																								<td>@Shipmentitem.quantity</td>
																								<td>@String.Format("${0:0.00}", Shipmentitem.purchase_price)</td>
																								@{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
																									TotalQuantity += TotalQuantityPrice;
																									//PurchasePrice += Shipmentitem.purchase_price;
																								}
																								<td>@String.Format("${0:0.00}", TotalQuantityPrice)</td>
																							</tr>			}
																									}
																				}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-6 col-xs-12">
																	<a href="javascript:void(0)" class="btn btn-danger" id="CancelShipment"><i class="fa fa-times-circle"></i> Dispose of Shipment</a>
																	@if (item.correctpricestatus == 1)
																	{
																		<a id="CorrectPricestatus" class="btn btn-info" disabled='true'><i class="fa fa-check-circle-o"></i> Correct Price Request Sent</a>
}
																	else
																	{
																		<a href="#" id="CorrectPrice" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="fa fa-check-circle-o"></i> Correct Price</a>
}
																	@if (item.RecivedShipment_ImagePath.Any())
																	{ <a href="#" id="InitiateLightBox" class="btn btn-info"><i class="fa fa-picture-o" aria-hidden="true"></i> View Picture(s)</a>
																	<div id="gallery@(item.ID)" class="hidden">
																		@foreach (var imgs in item.RecivedShipment_ImagePath)
																		{ <a class="example-image-link" href="/Uploads/PackagesImages/@item.ID/@imgs"><img class="example-image" src="~/Uploads/PackagesImages/@item.ID/@imgs" /></a> }
																	</div>}
																</div>
																<div class="col-sm-3 col-xs-12"><h3><span class="label label-default"></span></h3></div>
																<div class="col-sm-3 col-xs-12 text-left"><h3>Total Value <span class="label label-success"> @String.Format("${0:0.00}", @TotalQuantity)</span></h3></div>

																<div class="col-sm-12 col-xs-12 spacetop15PX-xs">
																	<h4>Note</h4>
																	<textarea class="form-control" name="user_notes" placeholder="Please enter any personal notes about this shipment. Notes can only be viewed by you.">@item.user_notes</textarea>

																	<button class="btn btn-info margintop5PX" id="@item.ID" onclick="SaveNotes(this)">Save Note <i class="fa fa-check"></i></button>
																</div>
															</div>
														</div>
													</td>
												</tr>													}
										}
									</tbody>
																									}
							</table>
						</div>
					</div>

					<!-- On Hold tab content start -->
					<div role="tabpanel" class="tab-pane" id="onhold">
						<div class="table-responsive margintop15PX">
							<table class="table table-striped">
								<thead>
									<tr>
										<th><input type="checkbox" onchange="ONHoldCheckBox(this);"></th>
										<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Id </a></th>
										<th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Warehouse @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Storage Left @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#" onclick="CollapeAll(this);">View @*<i class="fa fa-caret-down"></i>*@</a></th>
									</tr>
								</thead>
								@if (Model.Item1.Where(x => x.status == 4).Count() == 0)
								{
									<tbody>
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									</tbody>
								}
								else
								{
									<tbody>

										@{foreach (var item in Model.Item1.Where(x => x.status == 4).Select(x => x))
											{
												<tr>
													<td><input id="id @item.ID" type="checkbox"></td>
													<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
													<td>@item.ID</td>
													<td> @if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
													{ <text>--</text> }
													else
													{ @item.sender <text>/</text> @item.tracking } </td>
													<td>@item.weight KG</td>
													<td>China</td>
													<td><span class="label label-warning">On Hold</span></td>
													<td><span class="label label-success" id="freestorage">@item.StorageDays Days</span></td>
													<td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this)" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
												</tr>
												<tr>
													<td colspan="9" class="padding0PX">
														<div class="collapse box-grey1" id="@item.ID">
															<div class="row margin0PX">
																<div class="col-sm-3 col-xs-3">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-4 col-xs-4 line-height34PX">Dimension</div>
																				<div class="col-sm-8 col-xs-8">
																					<input class="form-control" readonly id="focusedInput" title="Dimension Height(cm) * Length(cm) * Width(cm)" value="@item.height * @item.length * @item.width" type="text" placeholder="Dimension">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-sm-3 col-xs-3 line-height34PX">
																	Box Condition &nbsp;@if (item.box_condition == "Good")
																	{<span class="label label-success">@item.box_condition</span>}
																	else
																	{<span class="label label-danger">@item.box_condition</span>}
																</div>
																<div class="col-sm-6 col-xs-6">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
																				<div class="col-sm-10 col-xs-10">
																					<input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-12">
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<th class="inner-table-th"><a href="#">Description @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Quantity @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Purchase Price @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Total @*<i class="fa fa-caret-down"></i>*@</a></th>
																				</tr>
																			</thead>
																			<tbody>

																				@{	decimal TotalQuantity = 0;
																					decimal PurchasePrice = 0;
																					List<ViewRecivedShipmentModel> Models = (List<ViewRecivedShipmentModel>)ViewBag.ShipmentDetails;
																					foreach (ViewRecivedShipmentModel Shipmentitem in Models)
																					{
																						if (Shipmentitem.Fk_shipment_id == item.ID)
																						{
																							<tr>
																								<td>@Shipmentitem.description</td>
																								<td>@Shipmentitem.quantity</td>
																								<td>@String.Format("${0:0.00}", Shipmentitem.purchase_price)</td>
																								@{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
																									TotalQuantity += TotalQuantityPrice;
																									PurchasePrice += Shipmentitem.purchase_price;
																								}
																								<td>@String.Format("${0:0.00}", TotalQuantityPrice)</td>
																							</tr>			}
																									}
																				}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-6 col-xs-4">
																	<a href="javascript:void(0)" class="btn btn-danger" id="CancelShipment"><i class="fa fa-times-circle"></i> Dispose of Shipment</a>
																	@if (item.correctpricestatus == 1)
																	{
																		<a id="CorrectPricestatus" class="btn btn-info" disabled='true'><i class="fa fa-check-circle-o"></i> Correct Price Request Sent</a>
}
																	else
																	{
																		<a href="#" id="CorrectPrice" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="fa fa-check-circle-o"></i> Correct Price</a>

																	}
																</div>
																<div class="col-sm-3 col-xs-4"><h3> <span class="label label-default"></span></h3></div>
																<div class="col-sm-3 col-xs-4 text-right"><h3>Total Value <span class="label label-success"> @String.Format("${0:0.00}", @TotalQuantity)</span></h3></div>

																<div class="col-sm-12 col-xs-12 spacetop15PX-xs">
																	<h4>Note</h4>
																	<textarea class="form-control" name="user_notes" placeholder="Please enter any personal notes about this shipment. Notes can only be viewed by you.">@item.user_notes</textarea>

																	<button class="btn btn-info margintop5PX" id="@item.ID" onclick="SaveNotes(this)">Save Note <i class="fa fa-check"></i></button>
																</div>
															</div>
														</div>
													</td>
												</tr>													}
										}
									</tbody>
																									}
							</table>
						</div>
					</div>
					<!-- Not Allowed tab content start -->
					<div role="tabpanel" class="tab-pane" id="notallowed">
						<div class="table-responsive margintop15PX">
							<table class="table table-striped">
								<thead>
									<tr>
										<th><input type="checkbox" onchange="NotAllowed(this);"></th>
										<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Id </a></th>
										<th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Warehouse @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Storage Left @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#" onclick="CollapeAll(this);">View @*<i class="fa fa-caret-down"></i>*@</a></th>
									</tr>
								</thead>
								@if (Model.Item1.Where(x => x.status == 5).Count() == 0)
								{
									<tbody>
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									</tbody>
								}
								else
								{
									<tbody>

										@{foreach (var item in Model.Item1.Where(x => x.status == 5).Select(x => x))
											{
												<tr>
													<td><input id="id @item.ID" type="checkbox"></td>
													<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
													<td>@item.ID</td>
													<td> @if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
													{ <text>--</text> }
													else
													{ @item.sender <text>/</text> @item.tracking } </td>
													<td>@item.weight KG</td>
													<td>China</td>
													<td><span class="label label-danger">Restricted</span></td>
													<td><span class="label label-success" id="freestorage">@item.StorageDays Days</span></td>
													<td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this)" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
												</tr>
												<tr>
													<td colspan="9" class="padding0PX">
														<div class="collapse box-grey1" id="@item.ID">
															<div class="row margin0PX">
																<div class="col-sm-3 col-xs-3">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-4 col-xs-4 line-height34PX">Dimension</div>
																				<div class="col-sm-8 col-xs-8">
																					<input class="form-control" readonly id="focusedInput" title="Dimension Height(cm) * Length(cm) * Width(cm)" value="@item.height * @item.length * @item.width" type="text" placeholder="Dimension">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-sm-3 col-xs-3 line-height34PX">
																	Box Condition &nbsp;@if (item.box_condition == "Good")
																	{<span class="label label-success">@item.box_condition</span>}
																	else
																	{<span class="label label-danger">@item.box_condition</span>}
																</div>
																<div class="col-sm-6 col-xs-6">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
																				<div class="col-sm-10 col-xs-10">
																					<input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-12">
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<th class="inner-table-th"><a href="#">Description @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Quantity @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Purchase Price @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Total @*<i class="fa fa-caret-down"></i>*@</a></th>
																				</tr>
																			</thead>
																			<tbody>

																				@{	decimal TotalQuantity = 0;
																					decimal PurchasePrice = 0;
																					List<ViewRecivedShipmentModel> Models = (List<ViewRecivedShipmentModel>)ViewBag.ShipmentDetails;
																					foreach (ViewRecivedShipmentModel Shipmentitem in Models)
																					{
																						if (Shipmentitem.Fk_shipment_id == item.ID)
																						{
																							<tr>
																								<td>@Shipmentitem.description</td>
																								<td>@Shipmentitem.quantity</td>
																								<td>@String.Format("${0:0.00}", Shipmentitem.purchase_price)</td>
																								@{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
																									TotalQuantity += TotalQuantityPrice;
																									PurchasePrice += Shipmentitem.purchase_price;
																								}
																								<td>@String.Format("${0:0.00}", TotalQuantityPrice)</td>
																							</tr>			}
																									}
																				}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-6 col-xs-4">
																	<a href="javascript:void(0)" class="btn btn-danger" id="CancelShipment"><i class="fa fa-times-circle"></i> Dispose of Shipment</a>
																	@if (item.correctpricestatus == 1)
																	{
																		<a href="#" id="CorrectPricestatus" class="btn btn-info" disabled='true'><i class="fa fa-check-circle-o"></i> Correct Price Request Sent</a>
}
																	else
																	{
																		<a href="#" id="CorrectPrice" class="btn btn-info" data-toggle="modal" data-target="#myModal"><i class="fa fa-check-circle-o"></i> Correct Price</a>

																	}
																</div>
																<div class="col-sm-3 col-xs-4"><h3><span class="label label-default"></span></h3></div>
																<div class="col-sm-3 col-xs-4 text-right"><h3>Total Value <span class="label label-success"> @String.Format("${0:0.00}", @TotalQuantity)</span></h3></div>

																<div class="col-sm-12 col-xs-12 spacetop15PX-xs">
																	<h4>Note</h4>
																	<textarea class="form-control" name="user_notes" placeholder="Please enter any personal notes about this shipment. Notes can only be viewed by you.">@item.user_notes</textarea>

																	<button class="btn btn-info margintop5PX" id="@item.ID" onclick="SaveNotes(this)">Save Note <i class="fa fa-check"></i></button>
																</div>
															</div>
														</div>
													</td>
												</tr>													}
										}
									</tbody>
																									}
							</table>
						</div>
					</div>
					<!--Abandon tab content start-->
					<div role="tabpanel" class="tab-pane" id="Abandon">
						<div class="table-responsive margintop15PX">
							<table class="table table-striped">
								<thead>
									<tr>
										@*<th><input type="checkbox" onchange="Abandon(this);"></th>*@
										<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Id </a></th>
										<th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Warehouse @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Storage Left @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#" onclick="CollapeAll(this);">View @*<i class="fa fa-caret-down"></i>*@</a></th>
									</tr>
								</thead>
								@if (Model.Item1.Where(x => x.status == 7).Count() == 0)
								{
									<tbody>
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									</tbody>
								}
								else
								{
									<tbody>
										@{foreach (var item in Model.Item1.Where(x => x.status == 7).Select(x => x))
											{
												<tr>
													@*<td><input type="checkbox" id="notallowedcheckbox"></td>*@
													<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
													<td>@item.ID</td>
													<td> @if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
													{ <text>--</text> }
													else
													{ @item.sender <text>/</text> @item.tracking } </td>
													<td>@item.weight KG</td>
													<td>China</td>
													<td><span class="label label-danger">Disposed Off</span></td>
													<td><span class="label label-success" id="freestorage">@item.StorageDays Days</span></td>
													<td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this)" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
												</tr>
												<tr>
													<td colspan="9" class="padding0PX">
														<div class="collapse box-grey1" id="@item.ID">
															<div class="row margin0PX">
																<div class="col-sm-3 col-xs-3">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-4 col-xs-4 line-height34PX">Dimension</div>
																				<div class="col-sm-8 col-xs-8">
																					<input class="form-control" readonly id="focusedInput" title="Dimension Height(cm) * Length(cm) * Width(cm)" value="@item.height * @item.length * @item.width" type="text" placeholder="Dimension">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-sm-3 col-xs-3 line-height34PX">
																	Box Condition &nbsp;@if (item.box_condition == "Good")
																	{<span class="label label-success">@item.box_condition</span>}
																	else
																	{<span class="label label-danger">@item.box_condition</span>}
																</div>
																<div class="col-sm-6 col-xs-6">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
																				<div class="col-sm-10 col-xs-10">
																					<input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-12">
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<th class="inner-table-th"><a href="#">Description @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Quantity @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Purchase Price @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Total @*<i class="fa fa-caret-down"></i>*@</a></th>
																				</tr>
																			</thead>
																			<tbody>

																				@{	decimal TotalQuantity = 0;
																					decimal PurchasePrice = 0;
																					List<ViewRecivedShipmentModel> Models = (List<ViewRecivedShipmentModel>)ViewBag.ShipmentDetails;
																					foreach (ViewRecivedShipmentModel Shipmentitem in Models)
																					{
																						if (Shipmentitem.Fk_shipment_id == item.ID)
																						{
																							<tr>
																								<td>@Shipmentitem.description</td>
																								<td>@Shipmentitem.quantity</td>
																								<td>@String.Format("${0:0.00}", Shipmentitem.purchase_price)</td>
																								@{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
																									TotalQuantity += TotalQuantityPrice;
																									PurchasePrice += Shipmentitem.purchase_price;
																								}
																								<td>@String.Format("${0:0.00}", TotalQuantityPrice)</td>
																							</tr>			}
																									}
																				}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															<div class="row margin0PX">
																@*<div class="col-sm-6 col-xs-4"><a href="javascript:void(0)" class="btn btn-danger" id="CancelShipments"><i class="fa fa-times-circle"></i> Cancel Shipment</a><a href="javascript:void(0)" class="btn btn-info" id="CorrectPrice"><i class="fa fa-check-circle-o"></i> Correct Price</a></div>*@
																<div class="col-sm-3 col-xs-4"><h3><span class="label label-default"></span></h3></div>
																<div class="col-sm-12 col-xs-12 spacetop15PX-xs"><h3>Total Value <span class="label label-success"> @String.Format("${0:0.00}", @TotalQuantity)</span></h3></div>

																<div class="col-sm-12 col-xs-12 spacetop15PX-xs">
																	<h4>Note</h4>
																	<textarea class="form-control" name="user_notes" placeholder="Please enter any personal notes about this shipment. Notes can only be viewed by you.">@item.user_notes</textarea>

																	<button class="btn btn-info margintop5PX" id="@item.ID" onclick="SaveNotes(this)">Save Note <i class="fa fa-check"></i></button>
																</div>
															</div>
														</div>
													</td>
												</tr>													}
										}
									</tbody>
																									}
							</table>
						</div>
					</div>
					<!--Order Created tab content start-->
					<div role="tabpanel" class="tab-pane" id="OrderCreated">
						<div class="table-responsive margintop15PX">
							<table class="table table-striped">
								<thead>
									<tr>
										@*<th><input type="checkbox" onchange="Abandon(this);"></th>*@
										<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Id </a></th>
										<th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Warehouse @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Storage Left @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Order Reference No @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#" onclick="CollapeAll(this);">View @*<i class="fa fa-caret-down"></i>*@</a></th>
									</tr>
								</thead>
								@if (!Model.Item2.Any() || Model.Item2 == null)
								{
									<tbody>
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									</tbody>
								}
								else
								{
									<tbody>

										@{foreach (var item in Model.Item2)
											{
												<tr>
													@*<td><input type="checkbox" id="notallowedcheckbox"></td>*@
													<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
													<td>@item.ID</td>
													<td> @if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
													{ <text>--</text> }
													else
													{ @item.sender <text>/</text> @item.tracking } </td>
													<td>@item.weight KG</td>
													<td>China</td>
													<td><span class="label label-success">Order Created</span></td>
													<td><span class="label label-success" id="freestorage">@item.StorageDays Days</span></td>
													<td>
														<a href=@Url.Action("ShipmentDetailss", "Shipment", new {referenceNo = item.orderreferenceno })>@item.orderreferenceno</a>
													</td>
													<td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this)" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
												</tr>
												<tr>
													<td colspan="9" class="padding0PX">
														<div class="collapse box-grey1" id="@item.ID">
															<div class="row margin0PX">
																<div class="col-sm-3 col-xs-3">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-4 col-xs-4 line-height34PX">Dimension</div>
																				<div class="col-sm-8 col-xs-8">
																					<input class="form-control" readonly id="focusedInput" title="Dimension Height(cm) * Length(cm) * Width(cm)" value="@item.height * @item.length * @item.width" type="text" placeholder="Dimension">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-sm-3 col-xs-3 line-height34PX">
																	Box Condition &nbsp;@if (item.box_condition == "Good")
																	{<span class="label label-success">@item.box_condition</span>}
																	else
																	{<span class="label label-danger">@item.box_condition</span>}
																</div>
																<div class="col-sm-6 col-xs-6">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
																				<div class="col-sm-10 col-xs-10">
																					<input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-12">
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<th class="inner-table-th"><a href="#">Description </a></th>
																					<th class="inner-table-th"><a href="#">Quantity</a></th>
																					<th class="inner-table-th"><a href="#">Purchase Price</a></th>
																					<th class="inner-table-th"><a href="#">Total</a></th>
																				</tr>
																			</thead>
																			<tbody>

																				@{	decimal TotalQuantity = 0;
																					decimal PurchasePrice = 0;
																					List<ViewRecivedShipmentModel> Models = (List<ViewRecivedShipmentModel>)ViewBag.ShipmentDetails;
																					foreach (ViewRecivedShipmentModel Shipmentitem in Models)
																					{
																						if (Shipmentitem.Fk_shipment_id == item.ID)
																						{
																							<tr>
																								<td>@Shipmentitem.description</td>
																								<td>@Shipmentitem.quantity</td>
																								<td>@String.Format("${0:0.00}", Shipmentitem.purchase_price)</td>
																								@{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
																									TotalQuantity += TotalQuantityPrice;
																									PurchasePrice += Shipmentitem.purchase_price;
																								}
																								<td>@String.Format("${0:0.00}", TotalQuantityPrice)</td>
																							</tr>			}
																									}
																				}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															<div class="row margin0PX">
																@*<div class="col-sm-6 col-xs-4"><a href="javascript:void(0)" class="btn btn-danger" id="CancelShipments"><i class="fa fa-times-circle"></i> Cancel Shipment</a><a href="javascript:void(0)" class="btn btn-info" id="CorrectPrice"><i class="fa fa-check-circle-o"></i> Correct Price</a></div>*@
																<div class="col-sm-3 col-xs-4"><h3><span class="label label-default"></span></h3></div>
																<div class="col-sm-12 col-xs-12 spacetop15PX-xs"><h3>Total Value <span class="label label-success"> @String.Format("${0:0.00}", @TotalQuantity)</span></h3></div>

																<div class="col-sm-12 col-xs-12 spacetop15PX-xs">
																	<h4>Note</h4>
																	<textarea class="form-control" name="user_notes" placeholder="Please enter any personal notes about this shipment. Notes can only be viewed by you.">@item.user_notes</textarea>

																	<button class="btn btn-info margintop5PX" id="@item.ID" onclick="SaveNotes(this)">Save Note <i class="fa fa-check"></i></button>
																</div>
															</div>
														</div>
													</td>
												</tr>													}
										}
									</tbody>
																									}
							</table>
						</div>
						@Html.PagedListPager(Model.Item2, pageNumber => Url.RouteUrl("CreateOrder", new { pageNumber = pageNumber }))
					</div>
					<!--Return Order Tab content Start-->
					<div role="tabpanel" class="tab-pane" id="Return">
						<div class="table-responsive margintop15PX">
							<table class="table table-striped">
								<thead>
									<tr>
										@*<th><input type="checkbox" onchange="ReadyCheckBox(this);" id="checkrow"></th>*@
										<th><a href="#">Date @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Id </a></th>
										<th><a href="#">Sender/Tracking Number @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Weight @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Warehouse @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Status @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#">Storage Left @*<i class="fa fa-caret-down"></i>*@</a></th>
										<th><a href="#" onclick="CollapeAll(this);">View @*<i class="fa fa-caret-down"></i>*@</a></th>
									</tr>
								</thead>
								@if (Model.Item1.Where(x => x.status == 8 || x.status == 9).Count() == 0)
								{
									<tbody>
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									</tbody>
								}
								else
								{
									<tbody>
										@{foreach (var item in Model.Item1.Where(x => x.status == 8 || x.status == 9).Select(x => x))
											{
												<tr>
													@*<td><input id="id @item.ID" type="checkbox"></td>*@
													<td>@Convert.ToDateTime(item.received_date).ToString("yyyy/MM/dd")</td>
													<td>@item.ID</td>
													<td> @if (string.IsNullOrEmpty(item.sender) && string.IsNullOrEmpty(item.tracking))
													{ <text>--</text> }
													else
													{ @item.sender <text>/</text> @item.tracking } </td>
													<td>@item.weight KG</td>
													<td>China</td>
													@if (item.status == 8)
													{
														<td><span class="label label-warning">Return Pending</span></td>
}
													else
													{
														<td><span class="label label-danger">Returned</span></td>
}
													<td><span class="label label-success" id="freestorage">@item.StorageDays Days</span></td>
													<td><a class="btn btn-info btn-sm" role="button" onclick="ChangeIcon(this);" data-toggle="collapse" href="#@item.ID" aria-expanded="false" aria-controls="collapseExample">View <i class="fa fa-angle-down"></i></a></td>
												</tr>
												<tr>
													<td colspan="9" class="padding0PX">
														<div class="collapse box-grey1" id="@item.ID">
															<div class="row margin0PX">
																<div class="col-sm-3 col-xs-3">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-4 col-xs-4 line-height34PX">Dimension</div>
																				<div class="col-sm-8 col-xs-8">
																					<input class="form-control" readonly id="focusedInput" title="Dimension Height(cm) * Length(cm) * Width(cm)" value="@item.height * @item.length * @item.width" type="text" placeholder="Dimension">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
																<div class="col-sm-3 col-xs-3 line-height34PX">
																	Box Condition &nbsp;@if (item.box_condition == "Good")
																	{<span class="label label-success">@item.box_condition</span>}
																	else
																	{<span class="label label-danger">@item.box_condition</span>}
																</div>
																<div class="col-sm-6 col-xs-6">
																	<form class="form-horizontal">
																		<div class="form-group">
																			<div class="row margin0PX">
																				<div class="col-sm-2 col-xs-2 line-height34PX">Comments</div>
																				<div class="col-sm-10 col-xs-10">
																					<input class="form-control" readonly id="focusedInput" value="@item.staff_comments" type="text" placeholder="Comments">
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-12">
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<thead>
																				<tr>
																					<th class="inner-table-th"><a href="#">Description @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Quantity @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Purchase Price @*<i class="fa fa-caret-down"></i>*@</a></th>
																					<th class="inner-table-th"><a href="#">Total @*<i class="fa fa-caret-down"></i>*@</a></th>
																				</tr>
																			</thead>
																			<tbody>

																				@{	decimal TotalQuantity = 0;
																					decimal PurchasePrice = 0;
																					List
																					<ViewRecivedShipmentModel>
																						Models = (List<ViewRecivedShipmentModel>
																							)ViewBag.ShipmentDetails;
																					foreach (ViewRecivedShipmentModel Shipmentitem in Models)
																					{
																						if (Shipmentitem.Fk_shipment_id == item.ID)
																						{
																							<tr>
																								<td>@Shipmentitem.description</td>
																								<td>@Shipmentitem.quantity</td>
																								<td>@String.Format("${0:0.00}", Shipmentitem.purchase_price)</td>
																								@{ decimal TotalQuantityPrice = Shipmentitem.quantity * Shipmentitem.purchase_price;
																									TotalQuantity += TotalQuantityPrice;
																									//PurchasePrice += Shipmentitem.purchase_price;
																								}
																								<td>@String.Format("${0:0.00}", TotalQuantityPrice)</td>
																							</tr>			}
																									}
																				}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															<div class="row margin0PX">
																<div class="col-sm-6 col-xs-12">
																	@if (item.status == 8)
																	{
																		<a href="javascript:void(0)" class="btn btn-danger" id="CancelShipment"><i class="fa fa-times-circle"></i> Dispose of Shipment</a>
}
																	@if (item.RecivedShipment_ImagePath.Any())
																	{ <a href="#" id="InitiateLightBox" class="btn btn-info"><i class="fa fa-picture-o" aria-hidden="true"></i> View Picture(s)</a>
																	<div id="gallery@(item.ID)" class="hidden">
																		@foreach (var imgs in item.RecivedShipment_ImagePath)
																		{ <a class="example-image-link" href="/Uploads/PackagesImages/@item.ID/@imgs"><img class="example-image" src="~/Uploads/PackagesImages/@item.ID/@imgs" /></a> }
																	</div>}
																</div>
																<div class="col-sm-3 col-xs-12"><h3><span class="label label-default"></span></h3></div>
																<div class="col-sm-3 col-xs-12 text-left"><h3>Total Value <span class="label label-success"> @String.Format("${0:0.00}", @TotalQuantity)</span></h3></div>

																<div class="col-sm-12 col-xs-12 spacetop15PX-xs">
																	<h4>Note</h4>
																	<textarea class="form-control" name="user_notes" placeholder="Please enter any personal notes about this shipment. Notes can only be viewed by you.">@item.user_notes</textarea>

																	<button class="btn btn-info margintop5PX" id="@item.ID" onclick="SaveNotes(this)">Save Note <i class="fa fa-check"></i></button>
																</div>
															</div>
														</div>
													</td>
												</tr>													}
										}
									</tbody>
																									}
							</table>
						</div>
					</div>
				</div>
				<div class="row" id="divreturnpackage">
					<div class="col-sm-12">
						<a href="javascript:void(0)" class="btn btn-danger" data-toggle="modal" onclick="return ReturnPackage()"><i class="fa fa-retweet"></i> Return Packages</a> <a href="javascript:void(0)" class="btn btn-info" onclick="RequestPicture();"><i class="fa fa-camera"></i> Request Picture</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="mymodeldiv">
		<!-- Trigger the modal with a button -->
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4>Correct Price</h4>
						Please Upload Invoice
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<label class="control-label">Select File</label>
						<input type="file" id="fileUpload" class="file file-loading" multiple data-min-file-count="1" data-allowed-file-extensions='["jpg","jpeg","png","pdf","doc","xlsx"]' accept=".jpg,.jpeg,.pdf,.png.,.doc,.xlsx" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Trigger the modal with a button -->
		<!-- Modal -->
		<div class="modal fade" id="myreturnpackage" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Return Package(s)</h4>You can choose to fill package return address or upload picture of your prepaid label.
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									Fill package return address
									<a data-toggle="collapse" data-target="#prepaidlabel" class="form-icons"><i class="fa fa-plus" aria-hidden="true"></i></a>
								</h3>
							</div>
							<div class="panel-body collapse" id="prepaidlabel">
								<form id="formdata" name="formdata">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<label>First Name</label>
											<input type="text" id="FirstName" class="form-control" placeholder="First Name" />
											<span id="FirstName" style="color:red">First Name is required</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<label>Last Name</label>
											<input type="text" id="LastName" class="form-control" placeholder="Last Name" />
											<span id="LastName" style="color:red">Last Name is required</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-space">
											<label>Address1</label>
											<input type="text" id="Address1" class="form-control" placeholder="Address1" />
											<span id="Address1" style="color:red">Address1 is required</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-space">
											<label>Address2</label>
											<input type="text" id="Address2" class="form-control" placeholder="Address2" />
											<span id="Address2" style="color:red">Address2 is required</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-space">
											<label>City</label>
											<input type="text" id="City" class="form-control" placeholder="City" />
											<span id="City" style="color:red">City is required</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-space">
											<label>State</label>
											<input type="text" id="State" class="form-control" placeholder="State" />
											<span id="State" style="color:red">State is required</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-space">
											<label>Zip</label>
											<input type="text" id="Zip" class="form-control" placeholder="Zip" />
											<span id="Zip" style="color:red">Zip is required</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-space">
											<label>Phone</label>
											<input type="text" id="Phone" class="form-control" placeholder="Phone" />
											<span id="Phone" style="color:red">Phone is required</span>
											<span id="Phone" style="color:red">Entered phone format is not valid.</span>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-space">
											<label>Rma</label>
											<input type="text" id="Rma" class="form-control" placeholder="Rma" />
											<span id="Rma" style="color:red">Rma is required</span>
										</div>
										<div class="row">
											<div class="form-group">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-space text-center">
													<button type="button" onclick="SubmitRequestPackageForm()" class="btn btn-primary">Submit</button>
													<button type="reset" value="Clear" onclick="Cleardata()" class="btn btn-danger">Clear</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="panel panel-default" style="margin-top:-21px!important">
							<div class="panel-heading">
								<h3 class="panel-title">
									Do you have prepaid label?
									<a data-toggle="collapse" data-target="#formfill" class="form-icons"><i class="fa fa-plus" aria-hidden="true"></i></a>
								</h3>
							</div>
							<div class="panel-body collapse" id="formfill">
								<label class="control-label">Select File</label>
								<input type="file" id="ReturnpackagefileUpload" class="file file-loading" multiple data-min-file-count="1" data-allowed-file-extensions='["jpg","jpeg","pdf","doc","png"]' />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>