@model _ChineseAddress.com.Models.ViewCustomerPaymentModel
@{
    ViewBag.Title = "SingleCreditCard";
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Ajax.BeginForm("UpdateSingleCreditCard", "Setting", new AjaxOptions { HttpMethod = "POST",OnSuccess= "showMessage('Your billing address has been updated successfully', true);$('#myModals').modal('hide')" }))
{
    @Html.ValidationSummary(true)
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group">
                    </div>
                    <div id="divDeliveryAddress">
                        <div class="row form-group">
                            <div class="col-sm-6 ">
                                <label>First Name</label>
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.billingId)
                                @Html.TextBoxFor(model => model.first_name, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(m => m.first_name, null, new { @class = "error" })
                            </div><!--spacetop15PX-xs-->
                            <div class="col-sm-6 spacetop15PX-xs">
                                <label>Last Name</label>
                                @Html.TextBoxFor(model => model.last_name, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(m => m.last_name, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Email</label>
                                @Html.TextBoxFor(m => m.email, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "you@example.org" })
                                @Html.ValidationMessageFor(m => m.email, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Mobile</label>
                                @Html.TextBoxFor(m => m.mobile, new { @type = "tel", @maxlength = "50", @class = "form-control", @placeholder = "Mobile" })
                                @Html.ValidationMessageFor(m => m.mobile, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Address</label>
                                @Html.TextBoxFor(model => model.address, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "Address" })
                                @Html.ValidationMessageFor(m => m.address, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label>Country</label>
                                @Html.DropDownListFor(m => m.Country, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
                                @Html.ValidationMessageFor(m => m.Country, null, new { @class = "error" })
                            </div>
                            <div class="col-sm-6 spacetop15PX-xs">
                                <label>City</label>
                                @Html.TextBoxFor(m => m.city, new { @type = "text", @maxlength = "50", @class = "form-control", @placeholder = "City" })
                                @Html.ValidationMessageFor(m => m.city, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>State/Province</label>
                                @Html.TextBoxFor(m => m.state, new { @type = "text", @class = "form-control", @placeholder = "State/Province" })
                                @Html.ValidationMessageFor(m => m.state, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Postal Code</label>
                                @Html.TextBoxFor(m => m.post_code, new { @type = "number", @maxlength = "20", @class = "form-control", @placeholder = "Postal Code" })
                                @Html.ValidationMessageFor(m => m.post_code, null, new { @class = "error" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12"><button class="btn btn-success btn-block">Save</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}