@model List<_ChineseAddress.com.Repository.tblPlan>
@{
    ViewBag.Title = "Admin";
}

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Plans</h3>
            <a href='@Url.Action("Index", "Plans")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Customer Plan</i></a>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="datatableplan" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Free Storage Days</th>
                            <th>Carrier Profit Margin</th>
                            <th>Recurring Duration </th>
                            <th>Plan Display Order</th>
                            <th>Created On</th>
                            <th>Modified On</th>
                            <th>Is Recurring</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                        }
                        else
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.title</td>
                                    <td>@String.Format("${0:0.00}", item.price)</td>
                                    <td>@item.free_storage_days</td>
                                    <td>@(item.profit_margin ?? 0)%</td>
                                    <td>@item.recurring_duration</td>
                                    <td>@item.display_order</td>
                                    <td><span>@(item.created_on == null ? "" : item.created_on.Value.ToString("yyyy/MM/dd"))</span></td>
                                    <td><span>@(item.modified_on == null ? "" : item.modified_on.Value.ToString("yyyy/MM/dd"))</span></td>
                                    <td>
                                        <label class="textboxfor">
                                            <span id='@("spanrecurring"+item.Id)' title="Click here to Toggle this status" class="label @(item.is_recurring == true ? "label-success" : "label-danger")">@(item.is_recurring == true ? "True" : "False")</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="textboxfor">
                                            <span title="Click here to Toggle this status" id='@("spanStatus"+item.Id)' class="label @(item.status == true ? "label-success" : "label-danger")">@(item.status == true ? "Active" : "InActive")</span>
                                        </label>
                                    </td>
                                    <td style="padding: 14px 0px 0px 30px;">
                                        <a href="Index/@item.Id" class="btn btn-info btn-xs" title="Edit/View"><i class="fa fa-pencil"></i>@("/")<i class="fa fa-eye"></i></a>
                                        &nbsp;&nbsp;
                                        @*<a href="#" id='Delete @item.Id' onclick="DeleteDatas(@item.Id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"> Change Status</i></a>*@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script type="text/javascript">
        $(window).load(function () {

            $("#datatableplan").DataTable({
                responsive: true,
                "order": [],
                columnDefs: [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
            });
        });
        $(document).ready(function () {
            $(document).find('span[id^="spanStatus"]').click(function () {
                var statusid = $(this).attr('id');
                var id = statusid.replace('spanStatus', '');
                confirm('Are you sure you want to change this status?', function (r) {
                    if (r == true) {
                        $.ajax({
                            type: "post",
                            url: "/Plans/ChangeStatusTblPlanById",
                            data: { 'id': id },
                            success: function (id) {
                                showMessage("Status has been changed successfully", true)
                                if ($("#spanStatus" + id.toString()).text() === "Active")
                                    $("#spanStatus" + id.toString()).text('InActive').toggleClass('label-success label-danger')
                                else
                                    $("#spanStatus" + id.toString()).text('Active').toggleClass('label-success label-danger')
                            },
                            error: function (data) {
                                alert(data.x);
                                showMessage("", false)
                            }
                        });
                    }
                    else {
                        return false;
                    }
                })
            });

             $(document).find('span[id^="spanrecurring"]').click(function () {
                confirm('Are you sure you want to change this recurring?', function (r) {
                    if (r == true) {
                        var statusid = $(this).attr('id');
                        var id = statusid.replace('spanrecurring', '');
                        $.ajax({
                            type: "post",
                            url: "/Plans/ChangeIS_RecurringTblPlanById",
                            data: { 'id': id },
                            success: function (id) {
                                showMessage("Is Recurring has been changed successfully", true)
                                if ($("#spanrecurring" + id.toString()).text() === "True")
                                    $("#spanrecurring" + id.toString()).text('False').toggleClass('label-success label-danger')
                                else
                                    $("#spanrecurring" + id.toString()).text('True').toggleClass('label-success label-danger')
                            },
                            error: function (data) {
                                alert(data.x);
                                showMessage("", false)
                            }
                        });
                    }
                    else {
                        return false;
                    }
                })

            });

        });
        $("[id^='chkStatus']").on("ifClicked", function () { $(this).parent().removeClass('checked'); });
        @Html.Raw(ViewBag.Message);
        function DeleteDatas(id) {
            var parent = $(this).parent().parent();
            $.ajax({
                type: "post",
                url: "/Plan/ChangeStatusTblPlanById",
                data: { 'id': id },
                success: function (id) {
                    if (id !== "0") {

                        $("a[id='Delete " + id + "']").eq(0).parent().parent().next('.child').remove();
                        $("a[id='Delete " + id + "']").eq(0).parent().parent().remove();
                        showMessage("Record has been deleted successfully", true);
                    }
                },
                error: function (data) {
                    alert(data.x);
                }
            });
        }
    </script>
}