﻿/*Validation Css Start*/
.AddressBackground { background-color: #f9f9f9; }

.error { color: red; }

.alert-success { color: #015402; background-color: #dff0d8; border-color: #d6e9c6; }

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #ff0000; }

.validation-summary-errors { font-weight: bold; color: #ff0000; }

.form-space { margin-top: 7px; }

.validation-summary-valid { display: none; }
/*Validation Css End*/
/*Select 2 Css Start*/
.select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; line-height: 32px; /*border: 1px solid #ccc;*/ border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); }

.pm-close { top: 0px !important; right: 0px !important; }

.block-info { background-color: #FFCC01 !important; height: 89px !important; }

.shipment-block { padding: 7px 3px; }

.js-loading-overlay { background-color: rgba(0,0,0,.7) !important; z-index: 999999 !important; width: 100% !important; height: 100% !important; position: absolute !important; top: 0 !important; left: 0 !important; }
/*Select 2 Css End*/
/*loader*/
#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; /* change if the mask should have another color then white */ z-index: 9999999; /* makes sure it stays on top */ }

#status { width: 200px; height: 200px; position: absolute; left: 50%; /* centers the loading animation horizontally one the screen */ top: 50%; /* centers the loading animation vertically one the screen */ background-image: url(/Content/img/preloader.gif) !important; /* path to your loading animation */ background-repeat: no-repeat; background-position: center; margin: -100px 0 0 -100px; /* is width and height divided by two */ }
/*loader*/
.btn-confirm-success { color: #fff !important; background-color: #5cb85c !important; border-color: #4cae4c !important; padding: 6px 12px !important; }
.btn-confirm-success:hover { background-color: #398439 !important; border-color: #255625 !important; }
 .btn-confirm-success:active { background-color: #398439 !important; border-color: #255625 !important; }
 .btn-confirm-success:active:hover { background-color: #398439 !important; border-color: #255625 !important; }