
@{
    ViewBag.Title = " Admin | Home ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Admin Home </h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body text-center">
                <div class="center-block"><h1>Welcome @(Session["AdminUsername"] ?? "Admin")</h1><em>you are logged in as admin as on @DateTime.Now</em></div>
            </div>
        </div>
    </div>
</section>
