@{
	ViewBag.Title = "ChineseAddress | Privacy Policy";
	Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@section header{
	<link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}
<section class="margintop90PX margintop100px">
	<div class="container">
		<div class="col-sm-12">
			<h1><a href="#"><i class="fa fa-file-text-o"></i> Privacy Policy</a></h1>
			<br>
			<div class="well well-sm">
				This privacy policy has been compiled to better serve those who are concerned with how their &ldquo;Personally Identifiable Information&rdquo; (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context.
				<br />
				<br />
				Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
				<br /><br />
				<h4>What personal information do we collect from the people that visit our blog, website or app?</h4>
				When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number or other details to help you with your experience.
				<br /><br />
				<h4>When do we collect information?</h4>
				We collect information from you when you place an order, subscribe to a newsletter, respond to a survey, fill out a form or enter information on our site.  We collect information when you provide us with feedback on our products or services
				<br /><br />
				<h4>How do we use your information?</h4>
				We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
				<ul class="marginbottom0PX">
					<li>
						To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
					</li>
					<li>
						To improve our website in order to better serve you.
					</li>
					<li>
						To allow us to better service you in responding to your customer service requests.
					</li>
					<li>
						To quickly process your transactions.
					</li>
					<li>
						To ask for ratings and reviews of services or products
					</li>
					<li>
						To follow up with them after correspondence (live chat, email or phone inquiries)
					</li>
				</ul><br /><br />
				<h4>How do we protect your information?</h4>
				Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible. We use regular Malware Scanning.
				<br />
				Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
				<br />
				We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.
				<br />
				All transactions are processed through a gateway provider and are not stored or processed on our servers.
				<br /><br />
				<h4>Do we use &ldquo;cookies&rdquo;?</h4>
				Yes. Cookies are small files that a site or its service provider transfers to your computer&rsquo;s hard drive through your Web browser (if you allow) that enables the site&rsquo;s or service provider&rsquo;s systems to recognize your browser and capture and remember certain information.
				<br />
				For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
				<br /><br />
				<h4>We use cookies to:</h4>
				<ul>
					<li>
						Help remember and process the items in the shopping cart.
					</li>
					<li>
						Understand and save user&rsquo;s preferences for future visits.
					</li>
					<li>
						Keep track of advertisements.
					</li>
					<li>
						Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
					</li>
				</ul>
				You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser&rsquo;s Help Menu to learn the correct way to modify your cookies.
				<br />
				If you turn cookies off, some features will be disabled. It won&rsquo;t affect the user&rsquo;s experience but it may affect your site experience and some features may not function properly.
				<br /><br />
				<h4>
					Third-party disclosure
				</h4>
				We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.
				<br /><br />
				<h4>Third-party links</h4>
				Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
				<br /><br />
				<h4>Google</h4>
				Google&rsquo;s advertising requirements can be summed up by Google&rsquo;s Advertising Principles. They are put in place to provide a positive experience for users.
				<a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en" target="_blank">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a>
				We use Google AdSense Advertising on our website.
				Google, as a third-party vendor, uses cookies to serve ads on our site. Google&rsquo;s use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.
				<br />
				We have implemented the following:
				<ul>
					<li>
						Remarketing with Google AdSense
					</li>
					<li>
						Google Display Network Impression Reporting
					</li>
					<li>
						Demographics and Interests Reporting
					</li>
				</ul>
				We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.
				<br /><br />
				<h4>Opting out: </h4>
				Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.
				<br /><br />
				<h4>
					California Online Privacy Protection Act
				</h4>
				CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law&rsquo;s reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. &#x2013; See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf" target="_blank">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
				<br /><br />
				<h4>According to CalOPPA, we agree to the following:</h4>
				Users can visit our site anonymously.<br />
				Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
				Our Privacy Policy link includes the word &ldquo;Privacy&rdquo; and can be easily be found on the page specified above.
				<br /><br />
				<h4>You will be notified of any Privacy Policy changes:</h4>
				<ul class="marginbottom0PX">
					<li>our Privacy Policy Page</li>
				</ul>
				<br /><br />
				<h4>Can change your personal information:</h4>
				<ul class="marginbottom0PX">
					<li>
						By emailing us
					</li>
					<li>
						By logging in to your account
					</li>
				</ul>
				<br /><br />
				<h4>How does our site handle Do Not Track signals?</h4>
				We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
				<br /><br />
				<h4>Does our site allow third-party behavioral tracking?</h4>
				It&rsquo;s also important to note that we allow third-party behavioral tracking
				<br /><br />
				<h4>COPPA (Children Online Privacy Protection Act)</h4>
				When it comes to the collection of personal information from children under the age of 13 years old, the Children&rsquo;s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States&rsquo; consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children&rsquo;s privacy and safety online.  We do not specifically market to children under the age of 13 years old.
				<br /><br />
				<h4>Fair Information Practices</h4>
				The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
				<br /><br />
				In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
				<br /><br />
				<h4>We will notify you via email</h4>
				<ul>
					<li>
						Within 1 business day
					</li>
				</ul>
				We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
				<br /><br />
				<h4>CAN SPAM Act</h4>
				The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
				<br /><br />
				<h4>We collect your email address in order to:</h4>
				<ul class="marginbottom0PX">
					<li>
						Send information, respond to inquiries, and/or other requests or questions
					</li>
					<li>
						Process orders and to send information and updates pertaining to orders.
					<li>
						Send you additional information related to your product and/or service
					<li>
						Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.
					</li>
				</ul>
				<br /><br />
				<h4>To be in accordance with CANSPAM, we agree to the following:</h4>
				<ul class="marginbottom0PX">
					<li>
						Not use false or misleading subjects or email addresses.
					</li>
					<li>
						Identify the message as an advertisement in some reasonable way.
					<li>
						Include the physical address of our business or site headquarters.
					<li>
						Monitor third-party email marketing services for compliance, if one is used.
					</li>
					<li>
						Honor opt-out/unsubscribe requests quickly.
					<li>
						Allow users to unsubscribe by using the link at the bottom of each email.If at any time you would like to unsubscribe from receiving future emails, you can email us
					</li>
					<li>
						Follow the instructions at the bottom of each email.
						and we will promptly remove you from ALL correspondence.
					</li>
				</ul>
				<br /><br />
				<h4>Contacting Us</h4>
				If there are any questions regarding this privacy policy, you may contact us using the information below.
				<br />
				<a href="https://www.chineseaddress.com" target="_blank">www.chineseaddress.com</a><br />
				<a href="mailto:info@chineseaddress.com" target="_blank">info@chineseaddress.com</a><br />
				+8618871488894
			</div>
		</div>
	</div>
</section>
