@using _ChineseAddress.com.Areas.User.Models
@model List<TrackingDetailModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    <div class="box box-info">
        <div class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12"><h1>Your Order Tracking Detail</h1></div>
                    <div class="col-sm-12">
                        <div role="tabpanel" class="tab-pane active" id="ready">
                            <div class="table-responsive margintop15PX">
                                @if (Model == null || !Model.Any())
                                {
                                    <table class="table table-striped">
                                        <thead><tr><th></th></tr></thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="8" class="text-center">
                                                    <h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                else
                                {

                                    foreach (TrackingDetailModel TDetail in Model)
                                    {

                                        <div class="col-sm-4">
                                            <h4><strong>Tracking No :</strong>  @TDetail.TrackingNumber</h4>
                                        </div>
                                        <div class="col-sm-4">
                                            @if (TDetail.AddressDetail[0].status.ToLower() == "delivered")
                                            {
                                                <h4><strong>Received by:</strong> @TDetail.Reciverby</h4>
                                            }
                                        </div>
                                        <div class="col-sm-4">
                                            @if (TDetail.AddressDetail[0].status.ToLower() == "delivered")
                                            {
                                                <h4><strong>Delivered On :</strong>@TDetail.AddressDetail[0].Date.ToShortDateString() @string.Format("{0:hh:mm: tt}", TDetail.AddressDetail[0].Date)</h4>
                                            }
                                        </div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date</th>
                                                    <th>Activity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (TrackingDetailModel.Address AddressDeatil in TDetail.AddressDetail)
                                                {
                                                    <tr>
                                                        <td>
                                                            @((AddressDeatil.PostalCode == null || AddressDeatil.PostalCode == "") ? " " : AddressDeatil.PostalCode + ",")
                                                            @((AddressDeatil.City == null || AddressDeatil.City == "") ? " " : AddressDeatil.City + ",")
                                                            @((AddressDeatil.State == null || AddressDeatil.State == "") ? " " : AddressDeatil.State + ",")
                                                            @((AddressDeatil.Country == null || AddressDeatil.Country == "") ? " " : AddressDeatil.Country)
                                                        </td>
                                                        @if (AddressDeatil.Date != null)
                                                        {
                                                            <td>@AddressDeatil.Date.ToShortDateString()  @string.Format("{0:hh:mm: tt}", AddressDeatil.Date)</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@("--")</td>
                                                        }
                                                        @if (AddressDeatil.status != null && AddressDeatil.status != "")
                                                        {
                                                            <td>@AddressDeatil.status</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@("--")</td>
                                                        }

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


