@model List<_ChineseAddress.com.Areas.Admin.Models.View_ModelReturnPackage>
@{
    ViewBag.Title = "Admin";
}

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Return Packages </h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="tblReturnPackages" class="table table-striped table-bordered dt-responsive " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Customer Reference</th>
                            <th>Sender</th>
                            <th>Tracking</th>
                            <th>Carrier</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Postal Code </th>
                            <th>Mobile</th>
                            <th>RMA</th>
                            <th>Prepaid Label Filename</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.customer_reference</td>
                                <td>@item.sender</td>
                                <td>@item.tracking</td>
                                <td>@item.carrier</td>
                                <td>@item.first_name</td>
                                <td>@item.last_name</td>
                                <td>@item.address1</td>
                                <td>@item.address2</td>
                                <td>@item.city</td>
                                <td>@item.state</td>
                                <td>@item.postal_code</td>
                                <td>@item.mobile</td>
                                <td>@item.rma</td>
                                <td>@item.prepaid_label_filename</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblReturnPackages").DataTable({
                responsive: true,
                "order": [],
                columnDefs: [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
            });

        });
    </script>
}