﻿
@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Customers</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="datatablecustomer" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            @*<th>Customer Reference </th>*@
                            <th>Email</th>
                            @*<th>Facebook Id</th>
                                <th>Google Id</th>
                                <th>Payment Status</th>
                                <th>Account Expiry date</th>
                                <th>Status</th>
                                <th>Created On</th>
                                <th>Modified On</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @*@foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.customer_reference</td>
                                    <td>@item.email</td>
                                    <td>@item.facebook_id</td>
                                    <td>@item.google_id</td>
                                    <td>
                                        <label>
                                            <span id='' class="label @(item.payment_status == true ? "label-success" : "label-danger")">@(item.payment_status == true ? "True" : "False")</span>
                                        </label>
                                    </td>
                                    <td><span>@(item.account_expiry_date == null ? "" : item.account_expiry_date.Value.ToString("yyyy/MM/dd"))</span></td>

                                    <td>
                                        <label class="textboxfor" align="center">
                                            <span id='@("spanStatus"+item.Id)' class="label @(item.status == true ? "label-success" : "label-danger")">@(item.status == true ? "Active" : "InActive")</span>
                                        </label>
                                    </td>
                                    <td><span>@(item.created_on == null ? "" : item.created_on.Value.ToString("yyyy/MM/dd"))</span></td>
                                    <td><span>@(item.modified_on == null ? "" : item.modified_on.Value.ToString("yyyy/MM/dd"))</span></td>


                                </tr>

                            }*@


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(window).ready(function () {
            $('#datatablecustomer').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/Admin/CustomPagingDatables/Result_Index",
                "bProcessing": true,
                "aoColumns": [
                                //{
                                //    "sName": "ID",
                                //    "bSearchable": false,
                                //    "bSortable": false,
                                //    "fnRender": function (oObj) {
                                //        return '<a href=\"Details/' +
                                //        oObj.aData[0] + '\">View</a>';
                                //    }
                                //},
                                //{ "sName": "COMPANY_NAME" },
                                //{ "sName": "ADDRESS" },
                                { "sName": "email" }
                ]
            });

        });
    </script>
}
