﻿ <table style='width:100%;text-align: left;margin-bottom: 10px;'>
    <tr>
        <td align='left' valign='top' width='30%'>
            <img src='images/logo.png' alt='CourierPoint' border='0' />
        </td>
        <td align='center' width='30%' valign='bottom'>
            <span style='border: solid 2px Black; font-size: large; font-weight: bold;'>&nbsp;#invoice#&nbsp;</span>
        </td>
        <td align='left' width='33%'>
            ChineseAddress.com<br />
            Bradley House, St Albans Lane<br />
            London, NW11 7QE<br />
            www.ChineseAddress.com<br />
            Tel: 020 8731 8653<br />
            Fax: 020 8458 9528<br />
            VAT No: 832 2019 66<br />
        </td>
    </tr>
    <tr>
        <td align='left' valign='top'>
            #organizationname#<br />
            #add1#<br />
            #add2#<br />
            #town#<br />
            #postcode#<br />
            <br />
            <br />
            #leftheader#
        </td>
        <td align='left'>
            &nbsp;
        </td>
        <td align='left' valign='bottom'>
            Account Number: #accountno#<br />
            Invoice Number: #invoicno#<br />
            Order-Ref Number: #invoicno#<br />
            Invoice Date: #invoicedate#<br />
            Status: #status#<br />
        </td>
    </tr>
    <tr>
        <td align='left' valign='top' colspan='3'>
            <table border='0' cellpadding='4' cellspacing='0' width='100%'>
                <tr>
                    <td align='left' valign='top' style='border-top: solid 2px Black; border-bottom: solid 2px Black;
                        font-weight: bold;'>
                        Shipment No.
                    </td>
                    <td align='left' valign='top' style='border-top: solid 2px Black; border-bottom: solid 2px Black;
                        font-weight: bold;'>
                        From
                    </td>
                    <td align='left' valign='top' style='border-top: solid 2px Black; border-bottom: solid 2px Black;
                        font-weight: bold;'>
                        To
                    </td>
                    <td align='left' valign='top' style='border-top: solid 2px Black; border-bottom: solid 2px Black;
                        font-weight: bold;'>
                        Package(s)
                    </td>
                    <td align='left' valign='top' style='border-top: solid 2px Black; border-bottom: solid 2px Black;
                        font-weight: bold;'>
                        Weight
                    </td>
                    <td align='right' valign='top' style='border-top: solid 2px Black; border-bottom: solid 2px Black;
                        font-weight: bold;'>
                        Charges
                    </td>
                </tr>
                <tr>
                    <td align='left' valign='top' colspan='4'>
                        <b>Invoice Total</b>
                    </td>
                    <td align='left' valign='top'>
                        <b>Invoice Total</b>
                    </td>
                    <td align='right' valign='top'>
                        #invoicetotal#
                    </td>
                </tr>
                <tr>
                    <td align='left' valign='top' colspan='6'>
                        <br />
                        <center>
                            <span style='font-size: larger;'>
                                Thank you for using ChineseAddress.com, we appreciate
                                your experience with us.
                            </span>
                        </center>
                        <br />
                        <br />
                        *These charges have been raised based on the size and weight declared for these
                        shipments. If the carrier advises that the size or weight is larger then additional
                        carriage and administration charges will be due. If additional services post collection
                        are provided by the carrier for these shipments additional charges may be due in
                        accordance with our terms and conditions.
                        <br />
                        <br />
                        <center>
                            <span style='font-size: small;'>
                                ChineseAddress.com is a trading style of Fili Imports, registered in USA No. LCC_Number_Here
                            </span>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td align='left' valign='top' colspan='6'>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
