﻿
@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    Layout = "";
}
番禺大道北 383号，海印星玥7栋405
<form id="form1" runat="server">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <u>Live Camera</u>
            </td>
            <td></td>
            <td align="center">
                <u>Captured Picture</u>
            </td>
        </tr>
        <tr>
            <td>
                <div id="webcam">
                </div>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <asp:Image ID="imgCapture" runat="server" Style="visibility: hidden; width: 320px;
                height: 240px" />
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" name="btnCapture" value="Capture" onclick="return Capture();" />
    <br />
    <span id="camStatus"></span>
    <br />
    List Camera's
    <ul id="cams"></ul>
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src='~/Scripts/Webcam_Plugin/jquery.webcam.js' type="text/javascript"></script>
<script type="text/javascript">
	var pageUrl = 'test/saveImage';
    $(function () {
        jQuery("#webcam").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: '@Url.Content("/Scripts/Webcam_Plugin/jscam.swf")',
            debug: function (type, status) {
                $('#camStatus').append(type + ": " + status + '<br /><br />');
            },
            onSave: function (data) {
                var getUploadedImageUrl = "/test/SaveImageByCam";
                $.ajax({
                    type: "POST",
                    url: getUploadedImageUrl,
                    data: '',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        console.log(r);
                        console.log('ajax success');
                        $("[id*=imgCapture]").css("visibility", "visible");
                        $("[id*=imgCapture]").attr("src", r.d);
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            },
            onCapture: function () {
                webcam.save(pageUrl);
            }
            //,
            //onLoad: function () {
            //    var cams = webcam.getCameraList();
            //    for (var i in cams) {
            //        jQuery("#cams").append("<li>" + cams[i] + "</li>");
            //    }
            //}
        });
    });
    function Capture() {
        webcam.capture();
        return false;
    }
</script>