@{
    ViewBag.Title = "PayTabs";
}

@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}
<section class="margintop90PX margintop100px">
    <!-- content area start -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1><i class="fa fa-calculator"></i> Pay Tabs</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                </div>
                <link rel="stylesheet" href="https://www.paytabs.com/theme/express_checkout/css/express.css">
                <script src="https://www.paytabs.com/theme/express_checkout/js/jquery-1.11.1.min.js"></script>
                <script src="https://www.paytabs.com/express/express_checkout_v3.js"></script>
                <!-- Button Code for PayTabs Express Checkout -->
                <div class="PT_express_checkout"></div>
                <script type="text/javascript">
                    Paytabs("#express_checkout").expresscheckout({
                        settings: {
                            merchant_id:'@ViewBag.merchant_id' ,
                            secret_key: '@ViewBag.secret_key',
                            amount: "10.00",
                            currency: '@ViewBag.paytabCurrency',
                            title: "ChineseAddress",
                            product_names: "ChineseAddress TopUp Wallet",
                            order_id: 25,
                            url_redirect: '@ViewBag.paytabReturnURL',
                            display_customer_info: 1,
                            display_billing_fields: 1,
                            display_shipping_fields: 0,
                            language: "en",
                            redirect_on_reject: 0,
                        }
                    });
                </script>

            </div>
        </div>
    </section>
</section>