
@model IPagedList<_ChineseAddress.com.Repository.tblTopUp>
@{
    ViewBag.Title = "Wallet";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="active"><a href="/dashboard">Home</a></li>@*@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/User/"))*@
                    <li class="active"><a href="@Url.Action("Index", "Setting")">My Account</a></li>
                    @*<li class="active"><a href="@Url.Action("CreditCards", "Setting")">Payment Methods</a></li>*@
                    <li class="active">Wallet</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            @Html.Partial("_LeftMenuSettingsPartial")
            <div class="col-md-8">
                <h2 class="col-md-6 margin0PX">Wallet</h2>
                <div class="col-md-6 margin0PX text-right"><h2>Balance : $@ViewBag.Balance</h2></div>
                <div class="col-md-12">
                    <div class="table-responsive margintop15PX">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Top Up Method</th>
                                    <th>Reference Number</th>
                                    <th>Amount</th>
                                    <th>Remark</th>
                                    <th>Attachment</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            @if (Model == null || !Model.Any())
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            <h2><i class="fa fa-exclamation-circle"></i>No results found</h2>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.TopUpMethodName
                                        </td>
                                        <td>
                                            @item.transaction_id
                                        </td>
                                        <td>
                                            $@item.amount.ToString("F")
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.remark))
                                            {
                                                <text>@item.remark</text>
                                            }
                                            else
                                            { <text>------</text> }
                                        </td>
                                        <td>
                                            @if (item.attach_name != null)
                                            {
                                                <a href="~/Uploads/RequestTopUpWallet/@item.Id/@item.attach_name" target="_blank">Click Here</a>
                                            }
                                            else
                                            { <text>------</TEXT> }

                                        </td>
                                        <td>
                                            @((eTopUpWalletStatus)item.status)
                                        </td>
                                        <td>
                                            @if (item.status == (int)eTopUpWalletStatus.Pending)
                                            {
                                                <a href="wallet/topup?qs=@_ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.Id))" id="btnEdit" class="btn btn-info btn-xs"><i class="fa fa-pencil" title="Edit Top Up Request"></i>@("/")<i class="fa fa-eye" title="Edit Top Up Request"></i></a>
                                            }
                                        </td>
                                    </tr>

                                }
                            }
                        </table>
                    </div>
                    @Html.PagedListPager(Model, pageNumber => "/wallet?pageNumber=" + pageNumber)
                    <div class="row">
                        <div class="col-sm-12"><a href="@Url.Action("TopUpWallet", "wallet")" class="btn btn-success btn-block">@*<i class="fa fa-plus"></i>*@<img src="~/Content/img/WalletReceiveicons1x.png" alt="Top Up Wallet" class="width4per" />&nbsp;Top Up Wallet</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(window).load(function () {
            @Html.Raw(TempData["msg"])
            try {
            @TempData.Remove("msg")
        } catch (e) {
        }
    })
    </script>
}