@model _ChineseAddress.com.Repository.tblTopUp
@{
    ViewBag.Title = "Top Up Wallet";
}
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="active"><a href="/dashboard">Home</a></li>@*@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/User/"))*@
                    <li class="active"><a href="@Url.Action("Index", "Setting")">My Account</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Wallet")">Wallet</a></li>
                    @*<li class="active"><a href="@Url.Action("CreditCards", "Setting")">Payment Methods</a></li>*@
                    <li class="active">Top Up Wallet</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="row form-group">

            </div>
            @Html.Partial("_LeftMenuSettingsPartial")

            <div class="col-md-8">
                <h2>Top Up Wallet</h2>
                <div class="col-sm-12">
                    <span class="checkbox">
                        <label style="font-size: 1em">
                            <input value="" id="chkCard" unchecked type="checkbox">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span> Top Up wallet via Debit Card or Credit Card
                        </label>
                    </span>
                </div>
                @using (Html.BeginForm("TopUpWallet", "Wallet", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div id="divManualTopUp">
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label>Select Top Up Method</label>
                                @Html.DropDownListFor(m => m.TopUpMethodId, null, new { @class = "form-control textboxfor", SearchSelect = "true" })
                                @Html.ValidationMessageFor(m => m.TopUpMethodId, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group" id="trDesc" style="display:none">
                            <div class="col-sm-12">
                                <label>Top Up Method Description</label>
                                <div class="alert alert-info" style="margin-bottom:0px" id="tmDesc">
                                    test
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 ">
                                <label>Reference Number</label>
                                @Html.HiddenFor(m => m.Id)
                                @Html.TextBoxFor(model => model.transaction_id, new { @type = "text", @maxlength = "100", @class = "form-control", @placeholder = "Reference Number" })
                                @Html.ValidationMessageFor(m => m.transaction_id, null, new { @class = "error" })
                            </div>
                            <div class="col-sm-6 spacetop15PX-xs">
                                <label>Amount</label>
                                @Html.TextBoxFor(model => model.amount, Model.amount.ToString("0.##"), new { @type = "number", @min = "1.00", @max = "99999.00", @step = "1.00", @class = "form-control", @placeholder = "Amount" })
                                @Html.ValidationMessageFor(m => m.amount, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label>Attachment</label>
                                @*<input id="attachment" name="attachment"  type="file" class="file file-loading" accept=".png,.PNG,.jpg,.JPG,.jpeg,.JPEG,.bmp,.BMP,.txt,.pdf,.PDF,.doc,.DOC,.xlsx,.XLSX" data-allowed-file-extensions='["png", "txt","jpg","PNG","TXT","JPG"]'>*@
                                @Html.TextBoxFor(x => x.attachment, new { @type = "file", @class = "file file-loading", @accept = ".png,.PNG,.jpg,.JPG,.jpeg,.JPEG,.bmp,.BMP,.txt,.pdf,.PDF,.doc,.DOC,.xlsx,.XLSX" })
                                @Html.ValidationMessageFor(m => m.attachment, null, new { @class = "error" })
                                @if (Model != null)
                                {
                                    if (!string.IsNullOrEmpty(Model.attach_name))
                                    {
                                        <a href="~/Uploads/RequestTopUpWallet/@Model.Id/@Model.attach_name" target="_blank">Preview Existing Attachment</a>
                                    }
                                }
                            </div>
                            <div class="col-sm-6 spacetop15PX-xs">
                                <label>Remarks</label>
                                @Html.TextAreaFor(m => m.remark, new { @class = "form-control", @placeholder = "Remarks" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12"><button class="btn btn-success btn-block">Submit Top Up Wallet Request</button></div>
                        </div>
                    </div>
                }
                <div id="divAutoTopUp" style="display:none;">
                    @using (Html.BeginForm("TopUpWalletViaPayTab", "Wallet", FormMethod.Post))
                    {
                        <div class="col-sm-6">
                            <input type="hidden" name="BookingAddressId" id="hdnBookingAddressId" />
                            <label>Select Billing Address</label>
                            <select class="form-control" id="sel1" SearchSelect='true'>
                                <option></option>
                            </select>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 address-drop">
                                    <label id="FirstNames"></label> &nbsp;<label id="lastNames"></label><br>
                                    <label id="Addres1"></label> &nbsp; <label id="Addres2"></label><br>
                                    <label id="CountryCodes"> </label>&nbsp; <label id="States"></label>&nbsp; <label id="Citys"></label>&nbsp; <label id="PostalCodes"></label><br>
                                    <label id="MobileNumbers"></label> <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Amount</label>
                            @Html.TextBoxFor(model => model.amount, Model.amount.ToString("0.##"), new { @type = "number", @min = "1.00", @max = "99999.00", @step = "1.00", @class = "form-control", @placeholder = "Amount" })
                            @Html.ValidationMessageFor(m => m.amount, null, new { @class = "error" })
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12"><button class="btn btn-success btn-block">Top Up</button></div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(window).load(function () {
            @Html.Raw(TempData["msg"])
            try {
            @TempData.Remove("msg")
        } catch (e) {
        }
    })
    </script>

    <script type="text/javascript">
        $("#TopUpMethodId").change(function () {
            if ($("#TopUpMethodId").val() == "") {
                $("#trDesc").fadeOut('slow', function () {
                    $("#tmDesc").html("");
                });

            }
            else {
                $.ajax({
                    type: "post",
                    url: "/wallet/getTopUpMethodDescriptionByMehodId",
                    data: { 'TopUpMethodId': $("#TopUpMethodId").val() },
                    success: function (response) {
                        $("#tmDesc").html(response);
                        $("#trDesc").fadeIn('slow');
                    }
                });
            }
        });

        $("#chkCard").change(function () {
            if ($(this).is(":checked") === true) {
                $("#divManualTopUp").hide(1000);
                $("#divAutoTopUp").show(1000);
            }
            else {
                $("#divAutoTopUp").hide(1000);
                $("#divManualTopUp").show(1000);
            }
        });
    </script>

    @*Script for billable Address start*@
    <script type="text/javascript">
        var AdressbookDrop=@Html.Raw(Json.Encode(ViewBag.AdressList));
        var DefaultAddress= @Html.Raw(Json.Encode(ViewBag.DefaultAddress));
        $("#FirstNames").text(DefaultAddress.first_name);
        $("#lastNames").text(DefaultAddress.last_name);
        $("#Addres1").text(DefaultAddress.address1+',');
        $("#Addres2").text(DefaultAddress.address2==null?"":DefaultAddress.address2);
        $("#CountryCodes").text(DefaultAddress.country_code +',');
        $("#States").text(DefaultAddress.state +',');
        $("#Citys").text(DefaultAddress.city +',');
        $("#PostalCodes").text(DefaultAddress.post_code +',');
        $("#MobileNumbers").text('M:' + DefaultAddress.mobile1);
        $("#hdnBookingAddressId").val(DefaultAddress.Id);
        $(window).load(function() {
            var target= $("#sel1");
            target.empty();
            $.each(AdressbookDrop,function(i,item){
                target.append("<option value="+ item.Value +">"+item.Text +"</option>")
            })
        });
        $(document).ready(function () {
            $("#sel1").change(function () {
                var ID = $("#sel1").val();
                $("#hdnBookingAddressId").val(ID);
                $.ajax({
                    url: '/User/Shipment/GetReciveShipmentDetail',
                    type: 'POST',
                    data: JSON.stringify({ "ID": ID }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#FirstNames").text(result.first_name);
                        $("#lastNames").text(result.last_name);
                        $("#Addres1").text(result.address1 + ',');
                        $("#Addres2").text((result.address2 === null ? '' : result.address2));
                        $("#CountryCodes").text(result.country_code + ',');
                        $("#States").text(result.state + ',');
                        $("#Citys").text(result.city + ',');
                        $("#PostalCodes").text(result.post_code + ',');
                        $("#MobileNumbers").text('M:' + result.mobile1);
                    },
                });
            });
        });
    </script>
    @*Script for billable Address end*@
}

