@model List<_ChineseAddress.com.Repository.tblCustomer>
@{
    ViewBag.Title = "Admin";
}
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Customers</h3>
            @*<a href='@Url.Action("Index", "Customer")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Customer</i></a>*@
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <table id="datatablecustomer" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Customer Reference </th>
                            <th>Email</th>
                            <th>Facebook Id</th>
                            <th>Google Id</th>
                            <th>Payment Status</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Account Expiry date</th>
                            <th>Modified On</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.customer_reference</td>
                                    <td>@item.email</td>
                                    <td>@item.facebook_id</td>
                                    <td>@item.google_id</td>
                                    <td>
                                        <label class="textboxfor">
                                            <span id='@*@("spanpaymentStatus"+item.Id)*@' class="label @(item.payment_status == true ? "label-success" : "label-danger")">@(item.payment_status == true ? "True" : "False")</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="textboxfor">
                                            <span id='@("spanStatus"+item.Id)' class="label @(item.status == true ? "label-success" : "label-danger")">@(item.status == true ? "Active" : "InActive")</span>
                                        </label>
                                    </td>
                                    <td><span>@(item.created_on == null ? "" : item.created_on.Value.ToString("yyyy/MM/dd"))</span></td>
                                    <td><span>@(item.account_expiry_date == null ? "" : item.account_expiry_date.Value.ToString("yyyy/MM/dd"))</span></td>
                                    <td><span>@(item.modified_on == null ? "" : item.modified_on.Value.ToString("yyyy/MM/dd"))</span></td>
                                   
                                    @*<td>
                                        <a href="Index/@item.Id" class="btn btn-info btn-xs"><i class="fa fa-pencil"> Edit</i></a>
                                        &nbsp;&nbsp;
                                        @*<a href="#" id='Delete @item.Id' onclick="DeleteDatas(@item.Id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"> Change Status</i></a>*@
                                    @*</td>*@
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatablecustomer").DataTable({
                responsive: true,
                "order": [],
                "columnDefs": [
                         { responsivePriority: 1, targets: 0 },
                         //{ responsivePriority: 2, targets: -1 }
                ],
                "fixedHeader": { header: true }

            });

        })
        $('span[id^="spanStatus"]').click(function () {
            var statusid = $(this).attr('id');
            var id = statusid.replace('spanStatus', '');
            confirm('Are you sure,you want to change this status?', function (r) {
                if (r == true) {
                    $.ajax({
                        type: "post",
                        url: "/Admin/Customer/ChangeStatusCustomerById",
                        data: { 'id': id },
                        success: function (status) {
                            if (status === "showMessage('you should  not mark this user as inactive because one or more shipments.',false);") {
                              
                                showMessage('you should  not mark this user as inactive because one or more shipments.', false);
                                return true;
                            }
                            else if (status === "showMessage('orders of this user under process.',false);")
                            {
                                showMessage("orders of this user under process.", false);
                                return true;
                            }
                            else if (status === "showMessage('Customer Active Successfully.',true);")
                            {
                                $("#spanStatus" + id.toString()).text('Active').toggleClass('label-success label-danger')
                                showMessage("Customer Active Successfully.", true);
                            }
                            else
                            {
                              $("#spanStatus" + id.toString()).text('InActive').toggleClass('label-success label-danger')
                               showMessage("Customer InActive Successfully.", true);
                                return true;
                            }
                                //$("#spanStatus" + id.toString()).text('Active').toggleClass('label-success label-danger')
                        },
                        error: function (data) {
                            alert(data);
                            showMessage("", false)
                        }

                    });

                }
                else {
                    return false;
                }
            });
        });

        $('span[id^="spanpaymentStatus"]').click(function () {
            var statusids = $(this).attr('id');
            var Id = statusids.replace('spanpaymentStatus', '');
            confirm('Are you sure,you want to change this paymentstatus?', function (r) {
                if (r == true) {
                    $.ajax({
                        type: "post",
                        url: "/Admin/Customer/ChangepaymentStatusCustomerById",
                        data: { 'Id': Id },
                        success: function (id) {
                            showMessage("Status has been changed successfully", true)
                            if ($("#spanpaymentStatus" + id.toString()).text() === "True")
                                $("#spanpaymentStatus" + id.toString()).text('False').toggleClass('label-success label-danger')
                            else
                                $("#spanpaymentStatus" + id.toString()).text('True').toggleClass('label-success label-danger')
                        },
                        error: function (data) {
                            alert(data.x);
                            showMessage("", false)
                        }

                    });

                }
                else {
                    return false;
                }
            });

        });
    </script>
    <script type="text/javascript">

        $.fn.dataTable.ext.search.push(
   function (settings, data, dataIndex) {
       var selOption = $("#ddlstatus").val();
       if (typeof selOption === "undefined") {
           return true;
       }
       else if (data[5].trim() === selOption) {

           return true;
       }
       else if (selOption === "0") {
           return true;
       }
       else
           return false;

   }
);

        $(window).load(function () {
            drawTable();
        });
        function drawTable() {
            table = $("#datatablecustomer").DataTable({
                "dom": "<'row'<'col-sm-2'l><'col-sm-3'<'#divstatus.dataTables_filter'>><'col-sm-5'f>>" +
"<'row'<'col-sm-12'tr>>" +
"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "bDestroy": true,
                responsive: true,
                "order": [],
                columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 },
                { responsivePriority: 3, targets: -1 }
                ]

            });
            $('<label />').attr('id', 'lblStatus').html('Status ').appendTo('#divstatus');
            $select = $('<select id="ddlstatus" class="form-control input-md" />').appendTo('#lblStatus')
            $('<option />').val('0').text('All Status').appendTo($select);
            let statusCustomer = ["Active", "InActive"];
            statusCustomer.forEach(function (item) {
                $select.append('<option value="' + item + '">' + item + '</option>')
            });
            // Event listener to the two range filtering inputs to redraw on input
            $('#ddlstatus').change(function () {
                table.draw();
            });

        }
    </script>

}