
@{
    ViewBag.Title = "ChineseAddress | Cancellation and Return Policies";
}

@section header{
    @*@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))   *@
    @*@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))*@
    @*@Styles.RenderFormat("<script type=\"text/javascript\">load_css_async('{0}')</script>", BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))*@
    <link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}

<section class="margintop90PX">
    <div class="container">
        <div class="col-sm-12">
            <a><h1><i class="fa fa-info-circle" aria-hidden="true"></i> Cancellation and Return Policies</h1></a>
            <br>
            <div class="well well-sm">
                @*<p>
                        <h2 class="text-left">ChineseAddress - Shopping and Shipping Made Simple</h2>
                    </p>*@
                <p>
                    If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. ChineseAddrees reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders at their sole discretion.
                </p><p>
                        The Member authorizes ChineseAddrees to charge his/her payment method for all services and/or account activity with ChineseAddrees. Such charges may include but are not limited to membership dues, shipping and handling charges, return/reroute fees, storage charges, late charges, and any optional services. Failure to provide payment for services rendered at the time of service may result in late charges, stop shipment charges, suspension of service, cancellation of membership, and involuntary return or the discarding of any remaining merchandise.

                </p><p>
                        The Member's ChineseAddrees account number is to be used only for package consolidation purposes. The Member will not represent that its ChineseAddrees account number is its address for any purpose other than as the address to which packages may be delivered prior to export, including, but not limited to, representing that its ChineseAddrees suite number is the address of the Member's place of business or residence. Failure to comply with this requirement may result in the cancellation of the Member's ChineseAddrees account.

                </p><p>
                        Title to any items that cannot be exported after arrival at the ChineseAddrees facility will be forfeited by the Member. ChineseAddrees will have the option of returning all such forfeited packages/mail to the sender(s) and/or of discarding the items, including by (1) selling any items not returned to the seller and then providing the proceeds of such sales to charity, (2) destroying such items, or (3) providing such items to a government official. If a Member's account charges become delinquent for more than 30 days, ChineseAddrees may, at its sole discretion, cancel the Member's membership, process all packages and mail by returning the same to the sender, or discarding all packages and mail. The Member forfeits all claims to items abandoned in his/her mailbox once the membership is cancelled.

                </p><p>
                        Each package received by ChineseAddrees with an incomplete, incorrect, or old address that can be associated with a Member will be assessed a charge consistent with ChineseAddrees's current schedule of fees. Members should ensure that all merchants and sellers mark all packages with the complete and accurate address, including the Member's unique account number that has been assigned for consolidation purposes. All packages received with incomplete, incorrect, or old addresses that cannot be associated with a Member will be returned to the Sender or discarded.

                </p><p>
                        The Member represents and warrants that (a) the recipient of any items consolidated by ChineseAddrees is the end user of any and all merchandise and mail that the Member has requested be exported through a freight forwarder or carrier to the recipient's address, or, if the Member is reselling the merchandise, the Member can identify the end users and provide ChineseAddrees with any requested information on such end users, (b) any and all merchandise and mail that the Member requests be consolidated by ChineseAddrees will be used in the country to which the Member requests shipment, and (c) the Member will not re-export the merchandise and mail to a different destination. The Member may not return to the China or resell in or into the China any food products or dietary supplements it receives through ChineseAddrees, and the Member shall require any recipients of the food products or dietary supplements to adhere to the same requirements. ChineseAddrees reserves the right to request that the Member or the recipient of an item, as applicable, sign documents confirming the end use or end user of any item exported through a freight forwarder or carrier by ChineseAddrees.

                </p><p>
                        You shall not use, transfer, re-export, resell, or otherwise dispose of any items consolidated and/or exported using the services of ChineseAddrees to any destination, end-user, or for any end-use prohibited by the laws of the China. By signing and returning this letter, you agree that you will comply with all relevant export laws of the China. This includes ensuring that any names or addresses that you add to your account and customers to whom you resell do not appear on a Chinese Government denied party list.

                </p><p>
                        Perishable foods (refrigerated, frozen, fresh/raw fruits and vegetables, etc.) Note that any food (including dietary supplements) received through ChineseAddrees may not be returned to or resold in the China. The Member is responsible for confirming that prohibited items listed in the ChineseAddrees <a href="/RestrictedandProhibited" target="_blank">Restricted and Prohibited Item page</a> are not sent to ChineseAddrees. See <a href="/RestrictedandProhibited" target="_blank">Restricted and Prohibited Item</a> Guide for more information. ChineseAddrees reserves the right to return packages to the sender(s) for any reason, to provide packages (and information concerning the same) to government authorities, or to otherwise discard packages (including by selling forfeited items with the sales proceeds going to charity).
                </p><p>
                        If an EEI (for which a charge consistent with ChineseAddrees's current schedule of fees will apply) is required for goods originating within the China, ChineseAddrees will file the required export information on behalf of the Member as its agent pursuant to this section. If the Member or the USPPI fails to provide all of the information needed to accurately file an EEI, ChineseAddrees will decline to process the merchandise for export. ChineseAddrees reserves the right to review the accuracy of any information (e.g., by confirming that the Export Control Classification Number or merchandise value provided is correct). Under such circumstances, the Member is responsible for all costs incurred in returning the merchandise, tendering the merchandise to government authorities, or forfeiting and/or destroying the merchandise. The Member also acknowledges that under such circumstances, ChineseAddrees will not reimburse the Member for the value of the merchandise.
                </p> <p><br /></p>
            </div>
        </div>
    </div>
</section>


