@section header{
<link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
}
@{
    ViewBag.Title = "ChineseAddress | United Arab Emirates";
    Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml"); }
<style type="text/css">
    .well {
        min-height: 400px;
    }

    .font-size {
        font-size: 16px;
    }

    .remove-dots {
        list-style-type: none;
    }
</style>

<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-sm-12">
            <a><h1> United Arab Emirates</h1></a>
            <br>
            <div class="well well-sm">
                <p>
                    <h2 class="text-left">ChineseAddress ships to United Arab Emirates</h2>
                </p>
                <p>

                    <h4>
                        Shopping from Dubai, Abu Dhabi, Ajman, or anywhere else in United Arab Emirates?
                        ChineseAddress will ship items that are permitted to United Arab Emirates, and will save you money in the process!
                    </h4>
                </p>
                <p>

                    <h4> Before shopping and shipping with ChineseAddress to UAE, check our:</h4>
                </p>
                <p>
                    <ul>
                        <li><h4><a href="/RestrictedAndProhibited" target="_blank">Restricted/Prohibited Items page</a></h4></li>
                        <li><h4><a href="javascript:void(0)">Typical Transit Times page</a></h4></li>
                        <li><h4><a href="/Rates" target="_blank">Shipping Costs/Duties & Taxes page</a></h4></li>
                        <li><h4><a href="/Faqs" target="_blank">Frequently Asked Questions (FAQ) page</a></h4></li>
                    </ul>
                </p>
                <p style="margin-bottom: 0in">
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>