@{
	ViewBag.Title = "ShipmentDetails";
}
<!-- breadcrum start -->
@section header{
	<link href="~/Content/css/fileinput.min.min.css" rel="stylesheet" />
	<link href="~/Content/css/lightgallery.min.css" rel="stylesheet" />
}
<section class="margintop90PX margintop90PX-xs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li><a href="~/DashBoard">Home</a></li>
					<li class="active">Your Shipments Detail</li>
				</ol>
			</div>
		</div>
	</div>
</section>
@{Html.RenderPartial("_ShipmentPartial");}
<!-- body content start -->
<section class="margintop20PX">
	<div class="container">
		<div class="row" id="CreateNewOrder">
			<div class="col-sm-12"><h1><i class="fa fa-cart-plus"></i> Create New Order</h1></div>
			<div class="col-sm-4 spacetop20PX-xs">
				<h3 class="bg-light-grey">Shipment To</h3>
				<select class="form-control" id="sel1" SearchSelect='true'>
					<option></option>
				</select>
				<br>
				<div class="row">
					<div class="col-sm-12 address-drop">
						<label id="FirstNames"></label> &nbsp;<label id="lastNames"></label><br>
						<label id="Addres1"></label> &nbsp; <label id="Addres2"></label><br>
						<label id="CountryCodes"> </label>&nbsp; <label id="States"></label>&nbsp; <label id="Citys"></label>&nbsp; <label id="PostalCodes"></label><br>
						<label id="MobileNumbers"></label> <br>
					</div>
				</div>
				<div class="col-sm-12"><a href="/SingleAddress" class="btn btn-success btn-block"><i class="fa fa-plus"></i>&nbsp;Add New Address</a></div>
			</div>
			<div class="col-sm-4" id="ShippingMethod" style="display:none;">
				<h3 class="bg-light-grey ">Shipping Method</h3>
				<ul class="list-unstyled" id="shipmentapi"></ul>
				<span id="carriercheckbox" class="hidden" style="color:red">Please select atleast one carrier</span>
				<div class="alert-yellow">
					Note: Shipping Charges is only an estimate. Final charges
					will be calculated after your order is processed.
				</div>
				<br>
				<div id="Coupon" style="display:none;">
					<h3 class="bg-light-grey">Coupon</h3>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter Code" id="txtCouponCode" name="CouponCode" aria-describedby="basic-addon2" required>
						<input type="hidden" name="hdnCouponCode" id="hdnCouponCode" />
						<span class="input-btn-primary btn btn-primary" onclick="return validateCouponCode();">Apply</span>
					</div>
				</div>
			</div>
			<div class="col-sm-4 spacetop20PX-xs" id="PackagingOptions" style="display:none;">
				<h3 class="bg-light-grey">Packaging Options</h3>
				<ul class="list-unstyled">
					@{
						foreach (var item in ViewBag.optionpackagelist)
						{
							<li class="checkbox">
								<label style="font-size: 1em">
									<input value="" type="checkbox">
									<span class="cr"><i class="cr-icon fa fa-check"></i></span><text>@item.title</text> &nbsp;
									@if (item.price != 0.00m)
									{
										<span class="label label-danger">&nbsp;@string.Format("${0:0.00}", item.price)</span>
									}
									<a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="@item.description"><i class="fa fa-question-circle"></i></a>
								</label>
							</li>
						}
					}
				</ul>
				<br>
				<div id="divOrerNote" style="display:none;">
					<h3 class="bg-light-grey">Order Note</h3>
					<textarea class="form-control" id="order_notes" name="order_notes" placeholder="Please enter any personal notes about this order."></textarea>
				</div>
			</div>
			<div class="col-sm-12 margintop20PX">
				<a href="javascript:return false;" class="btn btn-success btn-lg btn-block" id="SubmitOrderButton">Next <i class="fa fa-long-arrow-right"></i></a>
			</div>
		</div>
		@*<div class="row margintop20PX">
				<div class="col-sm-12">
					<a href="javascript:return false;" class="btn btn-success btn-lg btn-block" id="SubmitOrderButton">Next <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>*@
	</div>
</section>
@section Scripts {
	<script src="~/Scripts/fileinput.min.js"></script>
	<script src="~/Scripts/lightbox/lightbox-bundle.min.js"></script>
	<script src="~/Scripts/js_developer.min.js"></script>
	<script type="text/javascript">
        var planTitle='@ViewBag.PlanTitle'.toLowerCase();
        var AdressbookDrop=@Html.Raw(Json.Encode(ViewBag.AdressList));
        var DefaultAddress= @Html.Raw(Json.Encode(ViewBag.DefaultAddress));
        $("#FirstNames").text(DefaultAddress.first_name);
        $("#lastNames").text(DefaultAddress.last_name);
        $("#Addres1").text(DefaultAddress.address1+',');
        $("#Addres2").text(DefaultAddress.address2==null?"":DefaultAddress.address2);
        $("#CountryCodes").text(DefaultAddress.country_code +',');
        $("#States").text(DefaultAddress.state +',');
        $("#Citys").text(DefaultAddress.city +',');
        $("#PostalCodes").text(DefaultAddress.post_code +',');
        $("#MobileNumbers").text('M:'+DefaultAddress.mobile1);
        $(window).load(function() {
            var target= $("#sel1");
            target.empty();
            $.each(AdressbookDrop,function(i,item){
                target.append("<option value="+ item.Value +">"+item.Text +"</option>")
            })
        });
	</script>
	<script type="text/javascript">
		var ReturnShipmentCharge = '@ViewBag.ReturnShipmentCharge'
			console.log(ReturnShipmentCharge);
        $(window).load(function(){
            @Html.Raw(TempData["OrderMessage"]);
            $("#Coupon").hide();
            @Html.Raw(ViewBag.Message);

        });
	</script>

	@Scripts.Render("~/Scripts/_Shipment.min.js")
	<script type="text/javascript">
		$(window).load(function () {
            //trigger Order created tab
            @Html.Raw(ViewBag.triggerOrderCreated)
		});

	</script>
}