@{
    ViewBag.Title = "ChineseAddress | Faqs";
    Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@section header{
    <lisnk rel="stylesheet" type="text/css" href="/content/css/myStyle.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/myStyle.css" />
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}
<style type="text/css">
    .well {
        min-height: 500px;
    }
</style>
<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-sm-12">
            <a><h1><i class="fa fa-question-circle"></i> Faqs</h1></a>
            <p>
                <h3 class="text-center"> ChineseAddress - Frequently Asked Questions (FAQs)</h3>
            </p>
            <br>
            <div class="well well-sm">
               
                <p>
                    <h4>
                        <i class="fa fa-circle circle" aria-hidden="true"></i>  Where can I find my membership information?
                    </h4>
                    <div class="col-sm-12 marginleft">
                        Sign in here to reach your membership portal.  If you do not have a membership with ChineseAddress, <a href="/#price_area" target="_blank">click here</a> to sign up.
	If you cannot remember your password or login information, please contact our help desk at info@ChineseAddresss.com.
</div>
                </p>
                <br /><br /><br /><br />
                <p>
                    <h4>
                        <i class="fa fa-circle circle" aria-hidden="true"></i>  How can I update my account information?
                    </h4>
                    <div class="col-sm-12 marginleft">
                        In order to update your account, please log in to access your account.
                        You should be able to update your information, including your name, address, email, phone number, and payment method.
                    </div>
                </p>
                <br /><br /><br /><br />
                <p>
                    <h4>
                        <i class="fa fa-circle circle" aria-hidden="true"></i>  What stores can I shop from?</h4>
                    <div class="col-sm-12 marginleft">
                        With ChineseAddress, you can shop from any China based stores and have the packages delivered to our China-based warehouse.
                    </div>
                </p><br /><br /><br /><br />
                <p>

                    <h4>
                        <i class="fa fa-circle circle" aria-hidden="true"></i>  How long can you hold a package before forwarding it?</h4>
                    <div class="col-sm-12 marginleft">
                        The amount of time that ChineseAddress can hold a package depends on your membership type.  Check our <a href="/#price_area" target="_blank">Membership Page</a> for more information about our holding period.
                    </div>
                </p><br /><br />
                <p>

                    <h4>
                        <i class="fa fa-circle circle" aria-hidden="true"></i>  Are there items I cannot ship?</h4>
                    <div class="col-sm-12 marginleft">
                        Yes!  ChineseAddress can ship many items worldwide, but each country has items that it does not allow.
                        Check our <a href="/RestrictedandProhibited" target="_blank">Restricted/Prohibited Items Page</a>, and as well as your government pages to make sure that your packages are legal in your country.
                    </div>
                </p><br /><br /><br /><br />
                <p>
                    <h4>
                        <i class="fa fa-circle circle" aria-hidden="true"></i>  What countries does ChineseAddress serve?  When will ChineseAddress forward packages to my country?</h4>
                    <div class="col-sm-12 marginleft">
                        Right now, ChineseAddress will deliver to residents in Saudi Arabia and United Arab Emirates.
                        We will be adding more countries soon.
                        If you would like to request a package delivery in your country, please email us at info@ChineseAddresss.com.
                    </div>
                </p><br /><br />
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>