@using _ChineseAddress.com.Areas.Admin.Models
<div class="table-responsive margintop5PX">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="#">Date <i class="fa fa-caret-down"></i></a></th>
                <th><a href="#">Tracking Number <i class="fa fa-caret-down"></i></a></th>
                <th><a href="#">Sender <i class="fa fa-caret-down"></i></a></th>
                <th><a href="#">Weight <i class="fa fa-caret-down"></i></a></th>
                <th><a href="#">Status <i class="fa fa-caret-down"></i></a></th>
                <th><a href="#">View <i class="fa fa-caret-down"></i></a></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.shipmentDetails==null)
            {
            }
            else
            {
                foreach (var item in ViewBag.shipmentDetails)
                {
                    <tr>
                        <td><span>@(item.date == null ? "" : item.date.ToString("yyyy/MM/dd"))</span></td>
                        <td>@item.tracking</td>
                        <td>@item.sender</td>
                        <td>@item.weight</td>
                        @{
                            clsCommon objclscomman = new clsCommon();
                            var Status = objclscomman.Status(Convert.ToString(item.status));
                            string[] SplitlabelCalss = Status.Split(',');
                            <td><span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span></td>
                        }
                        <td><a href="#" class="btn btn-info btn-sm">View <i class="fa fa-angle-down"></i></a></td>
                    </tr>
                                }
                            }
        </tbody>
    </table>
</div>