@model PagedList.IPagedList<_ChineseAddress.com.Areas.User.Models.ViewOrderModel>
@using PagedList.Mvc
@{
	ViewBag.Title = "OrderDetails";
}
@using _ChineseAddress.com.Areas.Admin.Models
@using _ChineseAddress.com.Common.Services;
@{clsCommonServiceRoot objCommonServiceRoot = new clsCommonServiceRoot(); }
<section class="margintop90PX margintop90PX-xs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li><a href="~/DashBoard">Home</a></li>
					<li class="active">Orders</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!-- body content start -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12"><h1>Orders</h1></div>
			<div class="col-sm-12">
				<div role="tabpanel" class="tab-pane active" id="ready">
					<div class="table-responsive margintop15PX">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Order Date</th>
									<th>Order No</th>
									<th>Tracking No</th>
									<th>Amount</th>
									<th>Your Saved Amount</th>
									<th>Shipping Method</th>
									<th>Ship To Address</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>

							<tbody>
								@if (Model == null || !Model.Any())
								{
									<tr>
										<td colspan="8" class="text-center">
											<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
										</td>
									</tr>
								}
								else
								{
									foreach (var item in Model.Where(x => x.Status != 11))
									{
										<tr>
											<td><span>@(item.Created_on == null ? "" : item.Created_on.Value.ToString("yyyy/MM/dd"))</span></td>
											<td>@item.OrderRefernece</td>
											<td><a href="javascript:void(0)" onclick="SubmitrackNumber(this)">@item.TrackingNumber</a></td>
											<td>@String.Format("${0:0.00}", (item.PaybelAmount ?? 0.0m))</td>
											@if (item.Save_Amount != null && item.Estimate_Price != null && item.Save_Amount < item.Estimate_Price)
											{
												decimal SaveAmount = (item.Estimate_Price ?? 0.0m) - (item.Save_Amount ?? 0.0m);
												<td>@String.Format("${0:0.00}", SaveAmount)</td>
}
											else
											{
												<td>
													@("--")
												</td>
}
											<td>@item.Carrier</td>
											<td>@item.DeliveredAddress</td>
											@{	clsCommon objclscomman = new clsCommon();
												var Status = objclscomman.OrderStatus(Convert.ToString(item.Status));
												string[] SplitlabelCalss = Status.Split(',');
												<td><span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span></td>
											}
											@*<td>@item.FreeStorageDays</td>*@
											<td>
												@if (item.Status == Convert.ToInt16(enumorder.Awaiting_Confirmation))
												{
													<a href="@Url.Action("Orderinformation", "Order", new { id = _ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.Order_id)) })" class="btn btn-success btn-xs" style="font-size: 12px !important;"> Confirm</a>
													<a href="javascript:void(0)" id='Cancel @item.Order_id' onclick="return CancelData(@item.Order_id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"> Cancel</i></a>
}
												else if (item.Status == Convert.ToInt16(enumorder.In_Queue) || item.Status == Convert.ToInt16(enumorder.Restricted))
												{
													<a href="@Url.Action("Orderinformation", "Order", new { id = _ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.Order_id)) })" class="btn btn-primary btn-xs"><i class="fa fa-eye"> View</i></a>
													<a href="javascript:void(0)" id='Cancel @item.Order_id' onclick="return CancelData(@item.Order_id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"> Cancel</i></a>
}
												else if (item.Status == Convert.ToInt16(enumorder.Awaiting_Payment))
												{
													<a href="@Url.Action("Orderinformation", "Order", new { id = _ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.Order_id)) })" class="btn btn-primary btn-xs"><i class="fa fa-eye"> View</i></a>
													<a href="@Url.Action("Orderinformation", "Order", new { id = _ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.Order_id)) })" class="btn btn-success btn-xs" style="font-size: 12px !important;"> Pay Now</a>
}
												else if (item.Status != Convert.ToInt16(enumorder.In_Queue) && item.Status != Convert.ToInt16(enumorder.Awaiting_Confirmation))
												{
													<a href="@Url.Action("Orderinformation", "Order", new { id = _ChineseAddress.com.Models.Cryptography.Encrypt(Convert.ToString(item.Order_id)) })" class="btn btn-primary btn-xs"><i class="fa fa-eye"> View</i></a>
}
												@if (item.Status == Convert.ToInt16(enumorder.Dispatched))
												{
													string CustomPerformafileName = item.TrackingNumber + "_Customproforma.pdf";
													string CarrierLabel = item.TrackingNumber + "_Label.pdf";
													if (System.IO.File.Exists(Server.MapPath("~/Uploads/Orders/" + item.Order_id + "/" + "" + item.TrackingNumber + "_label.pdf")))
													{
														<a class="btn btn-warning btn-xs" href="/CommonChild/DownloadCustomproforma/@item.Order_id" download="@CustomPerformafileName"><i class="fa fa-tag"> Custom Proforma</i></a>
}
													<a class="btn btn-warning btn-xs" href="/CommonChild/DownloadInvoicelabel/@item.Order_id" download="@CarrierLabel"><i class="fa fa-tag"> Label</i></a>
}
											</td>
										</tr>			}
												}
							</tbody>
						</table>
					</div>
					@Html.PagedListPager(Model, pageNumber => Url.RouteUrl("Orders", new { pageNumber = pageNumber }))
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts{
	<script type="text/javascript">
        $(window).load(function () {
            try {
            @Html.Raw(TempData["OrderMessage"]);
            $("#datatablorder").DataTable({
                responsive: true,
                "order": [],
                columnDefs: [
                         { responsivePriority: 1, targets: 0 },
                         { responsivePriority: 2, targets: -1 }
                ]
                });
            } catch (e) {
                console.log(e);
            }

        });
        try {
        function CancelData(id) {
            confirm('Are you sure you want to cancel this order?', function (ret) {
                if (ret === true) {
                    var parent = $(this).parent().parent();
                    $.ajax({
                        type: "post",
                        url: "/User/Order/DeleteOrderById",
                        data: { 'id': id },
                        success: function (id) {
                            if (id !== "0") {
                                $("a[id='Cancel " + id + "']").eq(0).parent().parent().next('.child').remove();
                                $("a[id='Cancel " + id + "']").eq(0).parent().parent().remove();
                                showMessage("Order has been canceled successfully", true);
                            }
                        },
                        error: function (data) {
                            alert(data.x);
                        }
                    });
                }

            });
            return false;
        }
        } catch (e) {
            console.log(e);
        }
	</script>
	<script type="text/javascript">
		function SubmitrackNumber(tracknumber) {
			var trackingNumber = $(tracknumber).text().trim();
			TrackingOrderReturnURl(trackingNumber);
		}
	</script>
}