@model  _ChineseAddress.com.Areas.User.Models.ViewModelOrderinfo
@{
	ViewBag.Title = "Orderinformation";
}
@using _ChineseAddress.com.Areas.Admin.Models
@using _ChineseAddress.com.Repository
@using _ChineseAddress.com.Areas.User.Models

@section header{
	<link href="~/Content/css/fileinput.min.min.css" rel="stylesheet" />
	<link href="~/Content/css/lightgallery.min.css" rel="stylesheet" />
	<style type="text/css">
		.max-width-171px { max-width: 171px !important; }
	</style>
}
<section class="margintop90PX margintop90PX-xs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li><a href="~/DashBoard">Home</a></li>
					<li><a href="@Url.Action("OrderDetails", "Order")">Orders</a></li>
					<li class="active">Order Information</li>
				</ol>
			</div>
		</div>
		<!-- alert message start -->
		@if (Model.status == (int)(enumorder.Awaiting_Confirmation))
		{
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-success fade in alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
						Please confirm your order details below
					</div>
				</div>
			</div>
		}
	</div>
</section>

<!-- body content start -->

<section>
	<div class="container">
		<div class="box-grey">
			<div class="row">
				<div class="col-sm-2 border-rgt space-top-bot paddingleft30PX force-center">
					Ordered On:<br>
					<strong>@(Model.orderon == null ? "" : Model.orderon.Value.ToString("yyyy/MM/dd"))</strong>
				</div>
				<div class="col-sm-2 border-rgt space-top-bot force-center">
					Order Number:<br>
					<strong>@Model.orderno</strong>
				</div>
				<div class="col-sm-2 border-rgt space-top-bot force-center">
					Shipping Method:<br>
					<strong>@Model.shipmethod</strong>
				</div>
				<div class="col-sm-2 border-rgt space-top-bot force-center">
					Payable Amount:<br>
					@if (Model.status == (int)(enumorder.Awaiting_Payment))
					{<strong>$@Model.totalamount.ToString("F")</strong> }
					else
					{<strong>----------</strong>}
				</div>
				<div class="col-sm-2 border-rgt space-top-bot force-center">
					Your Wallet Balance:<br>
					<strong>$@Model.WalletBalance.ToString("F")</strong>
				</div>
				<div class="col-sm-2 space-top-bot force-center">
					Status:<br>
					@{
						clsCommon objclscomman = new clsCommon();
						var Status = objclscomman.OrderStatus(Convert.ToString(Model.status));
						if (Status != "0")
						{
							string[] SplitlabelCalss = Status.Split(',');
							<span class="label @SplitlabelCalss[0]">@SplitlabelCalss[1]</span>
						}
					}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="margintop10PX">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-7">
				<h3 class="bg-light-grey">Ship To</h3>
				<div class="row">
					<div class="col-sm-12">
						<div class="table-responsive">
							<table class="table table-striped">
								<tr>
									<td>Name</td>
									<td><strong>@Model.name</strong></td>
								</tr>
								<tr>
									<td>Address</td>
									<td><strong>@(Model.address1 + ((Model.address2 ?? "") == "" ? "" : ", " + Model.address2) + ", " + Model.Postal_Code + ((Model.City ?? "") == "" ? "" : ", " + Model.City))</strong></td>
								</tr>
								<tr>
									<td>State/Province</td>
									<td><strong>@Model.state</strong></td>
								</tr>
								<tr>
									<td>Country</td>
									<td><strong>@Model.country</strong></td>
								</tr>
								<tr>
									<td>Phone</td>
									<td><strong>@Model.phone</strong></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-12 m-t-20 total-Packages">
					<div class="row">
						<div class="col-sm-5 force-center spacetop10PX-xs"><img class="max-width-171px" src="/content/carrier_imgs/@Model.carrier_logo"></div>
						<div class="col-sm-7 force-center spacetop10PX-xs text-center block-info-grey">
							<h2>Tracking Number <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Tracking your order using this tracking number."><i class="fa fa-question-circle"></i></a></h2>
							<h3 class="big">
								@if (Model.trackingnumber != null)
								{
									<a href="javascript:void(0)" onclick="SubmitTrackNumber(this)"> @Model.trackingnumber</a>//TrackOrder?Track=@Model.trackingnumber

								}
								else
								{
									@:N/A
                                }
							</h3>
						</div>
						<div class="col-sm-4 text-center spacetop10PX-xs shipment-block">
							<div class="box-grey1">
								<h4>Total Shipment(s) <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Total number of shipments in this order."><i class="fa fa-question-circle"></i></a></h4>
								<h2>@Model.totalshipment</h2>
							</div>
						</div>
						<div class="col-sm-4 text-center spacetop10PX-xs shipment-block">
							<div class="box-grey1">
								<h4>Total Box(s) <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Total number of boxes in this order."><i class="fa fa-question-circle"></i></a></h4>
								<h2>@Model.totalpackages</h2>
							</div>
						</div>
						<div class="col-sm-4 text-center spacetop10PX-xs shipment-block">
							<div class="box-grey1">
								<h4>Billable Weight <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Billable weight of the order."><i class="fa fa-question-circle"></i></a></h4>
								<h2>@Model.billableweight.ToString("F") KG</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 visible-xs visible-sm hidden-lg hidden-md">
								&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-5 p-a-0 b-l b-dashed b-grey">

				<h3 class="bg-light-grey">Addons & Fees</h3>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-condensed" id="Orderchargestable">

							@{
                                List<ViewModelOrderCharges> lstOrderCharges = (List<ViewModelOrderCharges>)ViewBag.OrderCharges;
                                foreach (var item in lstOrderCharges)
                                {
							<tr>
								<td> @item.charge_name:</td>

								<td class="active text-right">
									<strong>$ @item.sell_price</strong>
								</td>
							</tr>
                                }
                                if (lstOrderCharges.Any())
                                {
							<tfoot>
								<tr><td><b>Total Amount:</b></td><td class="active text-right"><strong>$&nbsp;@Model.totalcharges.ToString("F")</strong></td></tr>
							</tfoot>
                                }
							}
						</table>
					</div>
				</div>
				<h3 class="bg-light-grey">Order Note</h3>
				<div class="row">
					<div class="col-sm-12">
						<div class="alert-yellow" style="max-height:150px;overflow: auto;">
							@(Model.order_notes ?? "")
						</div>
					</div>
				</div>
			</div>
			<!-- shipment details -->
			<div class="row">
				<div class="col-sm-12"><h2>Shipment Details</h2></div>
				<div class="col-sm-12">
					<!-- Partial View -->
					@{Html.RenderPartial("_OrderDetailPartial");}
				</div>
			</div>

			<div class="row" id="SizeWeight">
				<div class="col-sm-12"><h2>Size and weight of used box(s)</h2></div>
				<div class="col-sm-12">
					<div class="table-responsive margintop5PX">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><a href="#" title="Box"> Box @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#" title="Actual Weight"> Act. Weight@*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#" title="Dimensional Weight"> Dim. Weight@*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#" title="Billable Weight"> Bill. Weight@*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#" title="Height"> Height @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#" title="Width"> Width @*<i class="fa fa-caret-down"></i>*@</a></th>
									<th><a href="#" title="Length"> Length @*<i class="fa fa-caret-down"></i>*@</a></th>
								</tr>
							</thead>
							<tbody>
							<tbody>
								@{ List<tblOrderBox> Models = (List<tblOrderBox>)ViewBag.OrderBoxes;
									if (!Models.Any())
									{
										<tr>
											<td colspan="8" class="text-center">
												<h2><i class="fa fa-exclamation-circle"></i> No results found</h2>
											</td>
										</tr>
									}
									else
									{
										int i = 1;
										foreach (var item in Models)
										{
											<tr>
												<td>@i</td>
												<td>@item.actual_weight KG</td>
												<td>@item.dim_weight KG</td>
												<td>@item.billable_weight KG</td>
												<td>@item.height CM</td>
												<td>@item.width CM</td>
												<td>@item.length CM</td>
											</tr>i++;
										}
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			@if (Model.status == (int)(enumorder.Awaiting_Payment))
			{
				using (Html.BeginForm("PayNow", "Order", FormMethod.Post))
				{
					@Html.AntiForgeryToken()
					<input type="hidden" name="encOrder_Id" value="@ViewBag.Order_Id" />
					<input type="hidden" name="BookingAddressId" id="hdnBookingAddressId" />
					<div class="col-sm-4 margintop10PX">
						<h3 class="bg-light-grey">Choose Billable Address</h3>
						<select class="form-control" id="sel1" SearchSelect='true'>
							<option></option>
						</select>
						<br>
						<div class="row">
							<div class="col-sm-12 address-drop">
								<label id="FirstNames"></label> &nbsp;<label id="lastNames"></label><br>
								<label id="Addres1"></label> &nbsp; <label id="Addres2"></label><br>
								<label id="CountryCodes"> </label>&nbsp; <label id="States"></label>&nbsp; <label id="Citys"></label>&nbsp; <label id="PostalCodes"></label><br>
								<label id="MobileNumbers"></label> <br>
							</div>
						</div>
					</div>
					<div class="col-sm-8 margintop10PX">
						<button type="submit" class="btn btn-success btn-lg btn-block " name="name">Pay Now <i class="fa fa-credit-card"></i></button>
					</div>
				}
			}
			@if (Model.status == (int)(enumorder.Dispatched))
            {

				<div class="col-xs-12 margintop10PX">
					@{string CustomPerformafileName = Model.trackingnumber + "_Customproforma.pdf";
						string CarrierLabel = Model.trackingnumber + "_Label.pdf";

					}
					<div class="col-md-6 col-sm-12 col-xs-12">
						<a class="btn btn-warning btn-lg btn-block" href="/CommonChild/DownloadCustomproforma/@Model.id" download="@CustomPerformafileName"><i class="fa fa-tag"> Custom Proforma</i></a>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">

						<a class="btn btn-warning btn-lg btn-block" id="confirm" href="/CommonChild/DownloadInvoicelabel/@Model.id" download="@CarrierLabel"><i class="fa fa-tag"> Download  Label</i></a>
					</div>
				</div>

						}

			@using (Html.BeginForm("ConfirmOrder", "Order", FormMethod.Post, new { id = "frm_rshipment", name = "frm_rshipment" }))
            {
				<div class="row" id="confirmblock">
					<div class="col-sm-12">
						<span class="checkbox">
							<label style="font-size: 1em">
								<input value="false" id="Terms" name="Terms" unchecked type="checkbox">
								<span class="cr"><i class="cr-icon fa fa-check"></i></span>
								<label for="Terms"><a href="#" target="_blank" id="_termscondition" class="btn btn-link checkbox-anchor" data-toggle="modal" data-target="#TermsAndConditionsModal">Terms & Conditions</a> I have read, understood and agree to ChineseAddress</label>
							</label>
						</span>
						@*@Html.CheckBoxFor(x => x.Terms)
							<a href="return false;" target="_blank" class="btn btn-link" data-toggle="modal" data-target="#TermsAndConditionsModal">Terms & Conditions</a>
							@Html.LabelFor(x => x.Terms, "I have read, understood and agree to 4inShip")*@
						<br><br>
						<a href="@Url.Action("CancelOrder", "Order")" class="btn btn-danger" onclick="return CancelClick(this);"><i class="fa fa-times-circle"></i> Cancel Order</a>
					</div>
					<div class="col-sm-12 margintop10PX">
						@{ string path = Request.Url.PathAndQuery;
							string[] UrlID = path.Split('/');
						}
						@Html.Hidden("Id")
						<input type="hidden" id="Id" value="@UrlID[2]" />
						@*<input type="submit" value="Confirm Order" class="btn btn-success btn-lg btn-block">*@
						<a href="javascript:void(0)" onclick="return isAgree();" class="btn btn-success btn-lg btn-block">Confirm Order <i class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
							}
		</div>
</section>

@*Modal Start*@
<div class="modal fade" id="TermsAndConditionsModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				Terms And conditions
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						@Html.Partial("_TermsAndConditionsPartial")
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@*Modal End*@
@section Scripts{
	@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/fileinput")
	@*Lightbox Start*@
	@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/lightbox/lightgallery")
	@*Lightbox End*@
	<script type="text/javascript">
        var checkstatus = '@Html.Raw(Json.Encode(@Model.status))'
        if (checkstatus === '8') {
            $("#shipmenttotalamount").addClass('hidden');
            $("#SizeWeight").addClass('hidden');
        }
        else {
            $("#shipmenttotalamount").removeClass('hidden')
            $("#SizeWeight").removeClass('hidden');
            $("#confirmblock").addClass('hidden');
        }
        $(window).load(function () {
            $("#TermsAndConditionsModal").find('.margintop90PX').removeClass('margintop90PX').find('.container').removeClass('container');
        });
	</script>
	@*Script for billable Address start*@
	<script type="text/javascript">
        try {


        var AdressbookDrop=@Html.Raw(Json.Encode(ViewBag.AdressList));
        var DefaultAddress= @Html.Raw(Json.Encode(ViewBag.DefaultAddress));
        $("#FirstNames").text(DefaultAddress.first_name);
        $("#lastNames").text(DefaultAddress.last_name);
        $("#Addres1").text(DefaultAddress.address1+',');
        $("#Addres2").text(DefaultAddress.address2==null?"":DefaultAddress.address2);
        $("#CountryCodes").text(DefaultAddress.country_code +',');
        $("#States").text(DefaultAddress.state +',');
        $("#Citys").text(DefaultAddress.city +',');
        $("#PostalCodes").text(DefaultAddress.post_code +',');
        $("#MobileNumbers").text('M:' + DefaultAddress.mobile1);
        $("#hdnBookingAddressId").val(DefaultAddress.Id);
        } catch (e) {
            console.log(e)
        }
        $(window).load(function() {
            var target= $("#sel1");
            target.empty();
            $.each(AdressbookDrop,function(i,item){
                target.append("<option value="+ item.Value +">"+item.Text +"</option>")
            })
        });
        $(document).ready(function () {
            $("#sel1").change(function () {
                var ID = $("#sel1").val();
                $("#hdnBookingAddressId").val(ID);
                $.ajax({
                    url: '/User/Shipment/GetReciveShipmentDetail',
                    type: 'POST',
                    data: JSON.stringify({ "ID": ID }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#FirstNames").text(result.first_name);
                        $("#lastNames").text(result.last_name);
                        $("#Addres1").text(result.address1 + ',');
                        $("#Addres2").text((result.address2 === null ? '' : result.address2));
                        $("#CountryCodes").text(result.country_code + ',');
                        $("#States").text(result.state + ',');
                        $("#Citys").text(result.city + ',');
                        $("#PostalCodes").text(result.post_code + ',');
                        $("#MobileNumbers").text('M:' + result.mobile1);
                    },
                });
            });
        });
	</script>
	@*Script for billable Address end*@
	<script type="text/javascript">
        $(window).load(function () {
            @Html.Raw(ViewBag.Message)
            @Html.Raw(TempData["Message"])
            '@TempData.Remove("Message")'
        });
	</script>
	<script src="~/Scripts/_OrderInformation.js"></script>
}