@model  _ChineseAddress.com.Areas.User.Models.ViewModelOrderinfo
@{
    ViewBag.Title = "View";
}

@using _ChineseAddress.com.Areas.Admin.Models
@using _ChineseAddress.com.Repository
@{ Dictionary<string, tblOrderCharge> objs = (Dictionary<string, tblOrderCharge>)ViewBag.OrderCharges;}
@section header{
    <link href="~/Content/css/fileinput.min.min.css" rel="stylesheet" />
    <link href="~/Content/css/lightgallery.min.css" rel="stylesheet" />
}
<section class="content">
    <div class="box box-info">
        <section class="margintop90PX margintop90PX-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="~/DashBoard">Home</a></li>
                            <li class="active">Order Information</li>
                        </ol>
                    </div>
                </div>
                <!-- alert message start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-success fade in alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            Please confirm your order details below
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- body content start -->

        <section>
            <div class="container">
                <div class="box-grey">

                    <h3 class="color-primary margin-L0 padding-L0">
                        <span class="b-b b-dashed b-grey padding-B5">Details:</span>
                    </h3>
                </div>
            </div>
        </section>

        <section class="margintop10PX">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <h3 class="bg-light-grey">Ship To</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>Name</td>
                                            <td><strong>@Model.name</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Address1</td>
                                            <td><strong>@Model.address1</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Address2</td>
                                            <td><strong>@Model.address2</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Country</td>
                                            <td><strong>@Model.country</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td><strong>@Model.phone</strong></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 m-t-20 total-Packages">
                            <div class="row">
                                <div class="col-sm-8 force-center spacetop10PX-xs"><img src="~/img/DHL-logo.jpg"></div>
                                <div class="col-sm-4 text-center spacetop10PX-xs">
                                    <div class="box-grey1">
                                        <h4>Tracking Number<a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip text coming here. Tooltip text coming here. Tooltip text coming here. Tooltip text coming here"><i class="fa fa-question-circle"></i></a></h4>
                                        <h2>@Model.trackingnumber</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-center spacetop10PX-xs">
                                    <div class="box-grey1">
                                        <h4>Total Packages <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip text coming here. Tooltip text coming here. Tooltip text coming here. Tooltip text coming here"><i class="fa fa-question-circle"></i></a></h4>
                                        <h2>@Model.totalpackages</h2>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center spacetop10PX-xs">
                                    <div class="box-grey1">
                                        <h4>Billable Weight <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip text coming here. Tooltip text coming here. Tooltip text coming here. Tooltip text coming here"><i class="fa fa-question-circle"></i></a></h4>
                                        <h2>@Model.billableweight KG</h2>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center spacetop10PX-xs">
                                    <div class="box-grey1">
                                        <h4>Total Shipment <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip text coming here. Tooltip text coming here. Tooltip text coming here. Tooltip text coming here"><i class="fa fa-question-circle"></i></a></h4>
                                        <h2>@Model.totalshipment</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 p-a-0 b-l b-dashed b-grey">

                        <h3 class="bg-light-grey">Addons & Fees</h3>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>Insurance:</td>
                                        @{
                                            clsCommon objclscommans = new clsCommon();
                                            var Amount = objclscommans.GetChargeByChargename(objs, "Insurance");
                                        <td class="active"><strong>@Amount</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Extra Packing:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Extra Packing"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Fragile Sticker:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Fragile Sticker"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Storage:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Storage"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Ship to Address:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Ship to Address"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Urgent Fees:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Urgent Fees"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Smart Pack:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Smart Pack"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Dangerous Items:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Dangerous Items"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Shipment Picture:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Shipment Picture"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Shipment Charges:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Shipment Charges"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        @{
                                            <td class="active"><strong>@(objclscommans.GetChargeByChargename(objs, "Discount"))</strong></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        @{
                                            if (Model.totalcharges != 0)
                                            {
                                        <td class="active"><strong>$@Model.totalcharges</strong></td>
                                            }
                                            else
                                            {
                                        <td class="active"><strong>$0:00</strong></td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-12">
                                <table class="table table-condensed"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2>Shipment Details:</h2></div>
                    <div class="col-sm-12">
                        <!-- Partial View -->
                        @{Html.RenderPartial("_OrderDetailPartial");}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2>Size and weight of used boxes</h2></div>
                    <div class="col-sm-12">
                        <div class="table-responsive margintop5PX">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><a href="#">Box <i class="fa fa-caret-down"></i></a></th>
                                        <th><a href="#">A Weight <i class="fa fa-caret-down"></i></a></th>
                                        <th><a href="#">D Weight <i class="fa fa-caret-down"></i></a></th>
                                        <th><a href="#">F Weight <i class="fa fa-caret-down"></i></a></th>
                                        <th><a href="#">H <i class="fa fa-caret-down"></i></a></th>
                                        <th><a href="#">W <i class="fa fa-caret-down"></i></a></th>
                                        <th><a href="#">L <i class="fa fa-caret-down"></i></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tbody>
                                    @{ List<tblOrderBox> Models = (List<tblOrderBox>)ViewBag.OrderBoxes;
                                        int i = 1;
                                        foreach (var item in Models)
                                        {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.actual_weight </td>
                                        <td>@item.dim_weight</td>
                                        <td>@item.billable_weight</td>
                                        <td>@item.height </td>
                                        <td>@item.width</td>
                                        <td>@item.length</td>
                                    </tr>
                                            i++;

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    @{
                                        if (Model.totalamount != 0)
                                        {
                                    <td class="active"><strong>Total Amount:  $@Model.totalamount</strong></td>
                                        }
                                        else
                                        {
                                    <td class="active"><strong>Total Amount:  $0:00</strong></td>
                                        }

                                    }
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
@section Scripts{
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="~/Scripts/lightbox/lightbox-bundle.min.js"></script>
}