@section header{
    <link rel="stylesheet" type="text/css" href="~/content/css/myStyle.css" />
}

@{
    ViewBag.Title = "ChineseAddress | Why Choose ChineseAddress";
    Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml"); }

<style type="text/css">
    .well {
        min-height: 400px;
    }

    .font-size {
        font-size: 16px;
    }

    .remove-dots {
        list-style-type: none;
    }

    .remove-padding {
        padding: 0px;
    }
    @@media screen and (min-width:317px) and (max-width:667px) {
    .well {
        min-height: 820px !important;
    }
}
</style>

<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-sm-12">
            <a><h1><i class="fa fa-check" aria-hidden="true"></i> Why Choose ChineseAddress</h1></a>
            <br>
            <p>
                <h2 class="text-center">ChineseAddress does shopping and shipping different</h2>
            </p>
            <div class="well well-sm">
               
                <p>
                    <h3>Why Choose ChineseAddress:</h3>
                    <ul class="font-size remove-dots pull-left remove-padding ">
                        <li class="col-md-12">1. Speedy turn around, from registration to shipping.</li>
                        <li class="col-md-12">2. We ship everything allowed by law.</li>
                        <li class="col-md-12">3. We assist you in every way to get your package to you at the lowest price.</li>
                        <li class="col-md-12">4. We are owner run, not some mindless large company.</li>
                        <li class="col-md-12">5. We are experts at packaging your products in the most protective way possible to make sure it gets to you in new condition.</li>
                        <li class="col-md-12">6. We will be offering our own online store as well for many often purchased products, at lower prices, allowing for faster delivery</li>
                        <li class="col-md-12">7. Long range goals are to partner with ecommerce sites to enable better and faster service and shipping.</li>
                        <li class="col-md-12">8. We will ship to any country not prohibited by law.</li>
                        <li class="col-md-12">9. Monthly contests will be held with valuable prizes.</li>
                        <li class="col-md-12">10. Bundle purchases together into fewer shipments to save money </li>
                    </ul>
                </p>
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>