@section header{

@*@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))   *@
@*@Styles.Render(@BundleTable.Bundles.ResolveBundleUrl("~/content/css/mystyle", false))*@
@*<script type="text/javascript">load_css_async('@BundleTable.Bundles.ResolveBundleUrl("~/Content/css/mystyle", false)')</script>*@
<link rel="stylesheet" type="text/css" href="/content/css/myStyle.css" />
}
@{
    ViewBag.Title = "ChineseAddress | Countries";
    Layout = "~/Views/Shared/_4inShipLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml"); }

<style type="text/css">
    .well {
        min-height: 850px;
    }
</style>
<section class="margintop90PX margintop100px">
    <div class="container">
        <div class="col-sm-12">
            <a><h1><i class="fa fa-flag" aria-hidden="true"></i> Countries</h1></a>
            <br>
            <h2 class="text-center"> ChineseAddress currently ships to Saudi Arabia and United Arab Emirates!</h2>
            <div class="well well-sm">
                <p>
                    <h4><a href="/SaudiArabia" target="_blank"> Saudi Arabia </a> / <a href="/UnitedArabEmirates" target="_blank"> United Arab Emirates</a></h4>
                </p>
                <p>

                    <h4> Learn more about shopping and shipping with ChineseAddress</h4>

                    <div class="col-sm-12">
                        <h4><a href="/Rates" target="_blank">Shipping Costs & Duties and Taxes</a></h4>
                    </div>
                    <div class="col-sm-12">
                        <h4><a href="/RestrictedAndProhibited" target="_blank">Restricted And Prohibited Items</a></h4>
                    </div>
                    <div class="col-sm-12">
                        <h4><a href="http://xe.com" target="_blank"> Current Exchange Rates</a></h4>
                    </div>
                    <div class="col-sm-12" style="margin-bottom:10px">

                        <h4>
                            ChineseAddress knows that shipping internationally from the US is not always easy,
                            so we will be expanding to  shipping to your country soon.
                            Contact us to request service to your country <a href="/ContactUS">ContactUS</a>.
                        </h4>
                    </div>
                </p>
                <p>
                    <h4>
                        List of upcoming countries
                    </h4>
                    <ul>
                        <li class="col-sm-4 remove-space">
                            Egypt
                        </li>
                        <li class="col-sm-4 remove-space">
                            Iran
                        </li>
                        <li class="col-sm-4 remove-space">
                            Turkey
                        </li>
                        <li class="col-sm-4 remove-space">
                            Iraq
                        </li>
                        <li class="col-sm-4 remove-space">
                            Yemen
                        </li>
                        <li class="col-sm-4 remove-space">
                            Syria
                        </li>
                        <li class="col-sm-4 remove-space">
                            Jordan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Palestine
                        </li>
                        <li class="col-sm-4 remove-space">
                            Lebanon
                        </li>
                        <li class="col-sm-4 remove-space">
                            Oman
                        </li>
                        <li class="col-sm-4 remove-space">
                            Kuwair
                        </li>
                        <li class="col-sm-4 remove-space">
                            Qatar
                        </li>
                        <li class="col-sm-4 remove-space">
                            Bahrain
                        </li>
                        <li class="col-sm-4 remove-space">
                            Afghanistan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Armenia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Azerbaijan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Bangladesh
                        </li>
                        <li class="col-sm-4 remove-space">
                            Bhutan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Brunei
                        </li>
                        <li class="col-sm-4 remove-space">
                            Cambodia
                        </li>
                        <li class="col-sm-4 remove-space">
                            China
                        </li>
                        <li class="col-sm-4 remove-space">
                            Cyprus
                        </li>
                        <li class="col-sm-4 remove-space">
                            Georgia
                        </li>
                        <li class="col-sm-4 remove-space">
                            India
                        </li>
                        <li class="col-sm-4 remove-space">
                            Indonesia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Israel
                        </li>
                        <li class="col-sm-4 remove-space">
                            Japan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Kazakhstan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Kuwait
                        </li>
                        <li class="col-sm-4 remove-space">
                            Kyrgyzstan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Laos
                        </li>
                        <li class="col-sm-4 remove-space">
                            Malaysia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Maldoves
                        </li>
                        <li class="col-sm-4 remove-space">
                            Mongolia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Myanmar
                        </li>
                        <li class="col-sm-4 remove-space">
                            Nepal
                        </li>
                        <li class="col-sm-4 remove-space">
                            Oman
                        </li>
                        <li class="col-sm-4 remove-space">
                            Pakistan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Phillippines
                        </li>
                        <li class="col-sm-4 remove-space">
                            Russia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Singapore
                        </li>
                        <li class="col-sm-4 remove-space">
                            South Korea
                        </li>
                        <li class="col-sm-4 remove-space">
                            Sri Lanka
                        </li>
                        <li class="col-sm-4 remove-space">
                            Taiwan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Tajikistan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Thailand
                        </li>
                        <li class="col-sm-4 remove-space">
                            Timor-Leste
                        </li>
                        <li class="col-sm-4 remove-space">
                            Turkmenistan
                        </li>
                        <li class="col-sm-4 remove-space">
                            Vietnam
                        </li>
                        <li class="col-sm-4 remove-space">
                            Australia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Papua New Guinea
                        </li>
                        <li class="col-sm-4 remove-space">
                            New Zealand
                        </li>
                        <li class="col-sm-4 remove-space">
                            Fiji
                        </li>
                        <li class="col-sm-4 remove-space">
                            Solomon Islands
                        </li>
                        <li class="col-sm-4 remove-space">
                            Vanuatu
                        </li>
                        <li class="col-sm-4 remove-space">
                            New Caledonia
                        </li>
                        <li class="col-sm-4 remove-space">
                            French Polynesia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Guam
                        </li>
                        <li class="col-sm-4 remove-space">
                            Kiribati
                        </li>
                        <li class="col-sm-4 remove-space">
                            Tonga
                        </li>
                        <li class="col-sm-4 remove-space">
                            Federated States of Micronesia
                        </li>
                        <li class="col-sm-4 remove-space">
                            Marshall Islands
                        </li>
                        <li class="col-sm-4 remove-space">
                            American Samoa
                        </li>
                        <li class="col-sm-4 remove-space">
                            Northern Mariana Islands
                        </li>
                        <li class="col-sm-4 remove-space">
                            Palau
                        </li>
                        <li class="col-sm-4 remove-space">
                            Cook Islands
                        </li>
                        <li class="col-sm-4 remove-space">
                            Wallis and Futuna
                        </li>
                        <li class="col-sm-4 remove-space">
                            Tuvalu
                        </li>
                        <li class="col-sm-4 remove-space">
                            Nauru
                        </li>
                        <li class="col-sm-4 remove-space">
                            Norfolk Island
                        </li>
                        <li class="col-sm-4 remove-space">
                            Niue
                        </li>
                        <li class="col-sm-4 remove-space">
                            Tokelau
                        </li>
                        <li class="col-sm-4 remove-space">
                            Pitcairn Islands
                        </li>
                        <li class="col-sm-4 remove-space">
                            AND MORE
                        </li>
                    </ul>
                </p>

                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>