﻿.light-blue { color: #2396fb !important; }
bg-white { background-color: white; }
.border-blue-dark { border: 1px solid #303f9f !important; }
.black { color: #000000 !important; }

.white { color: #fff !important; }

.btn-google { background-color: #c93232; border-color: #c93232; }

.facebook-button { border-color: #303f9f !important; background-color: #303f9f !important; }

.bg-box1, .bg-box3 { background-color: #303f9f !important; }

.bg-box2, .bg-box4 { background-color: #2396fb !important; }

.blog_section h2 span { color: #303f9f; }

.hero { color: #fff; position: absolute; /* top: 50%; */ bottom: 0%; left: 50%; z-index: 3; color: #fff; text-align: center; text-transform: uppercase; text-shadow: none !important; -webkit-transform: translate3d(-50%,-50%,0); -moz-transform: translate3d(-50%,-50%,0); -ms-transform: translate3d(-50%,-50%,0); -o-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0); }

body { padding: 0; margin: 0; font-family: 'Calibri',Helvetica,Arial,sans-serif; }

body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; background-color: #fff; }

a.btn.btn-hero.btn-lg.border1.herotransparent { background: transparent; border: 1px solid#899da3; color: #899da3 !important; }

.border1 { border: 1px solid #2396FB; padding: 1px 17px; border-radius: 5px; margin-left: 3px !important; }

.border1:hover { background: #2396fb; color: #fff; }

.border1:hover a { color: #fff; }

.border1 a { color: #2396fb; text-transform: uppercase; }

.green a { color: #fff !important; text-transform: uppercase; }

.green:hover { background: #303f9f; }

.footer-backgroundcolour li a { color: #303f9f; }

footer { background: #282828 !important; }

.pricing-box ul { padding: 0; margin: 0; list-style: none; position: relative; cursor: pointer; border: solid 1px #303f9f !important; z-index: 1; }

.bg-blue { background: #2396fb !important; color: #fff; }

.bg-green { background: #303f9f; color: #fff; }

.col-sm-12.bg-info { background: #303f9f; color: #fff; }

.contact_text h3 { text-transform: uppercase; font-size: 25px; color: #303f9f; }

.well { padding: 19px; margin-bottom: 20px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05); }

.contact_social a { color: #303f9f !important; }

.btn-success { color: #fff; background-color: #2396fb; border-color: #2396fb; padding: 1px 16px 1px; }

.btn-success:hover { color: #fff; background-color: #303f9f; border-color: #303f9f !important; }

.btn-success:focus { color: #fff; background-color: #303f9f; border-color: #303f9f; }
.btn-success:active { color: #fff; background-color: #303f9f; border-color: #303f9f; }
.btn-success:active:hover { color: #fff; background-color: #303f9f; border-color: #303f9f; }
.col-md-4.col-sm-4.col-xs-12.pricing-box.last.featured.wow.bounceInUp.animated .sing-up a { border: solid 1px #2396FB !important; border-radius:; }

.pricing-box.featured li.sing-up a:hover { background: #303f9f !important; color: #fff; }

.pricing-box.featured ul { border: solid 1px #2396FB !important; z-index: 2; box-shadow: 0 0 15px 5px rgba(0,0,0,.11); }

.pricing-box li.sing-up a { color: #303f9f; text-transform: uppercase; padding: 11px 25px; line-height: 42px; border: solid 1px #303f9f !important; border-radius: 4px; }

 .pricing-box li.sing-up a:hover { background: #303f9f !important; border: solid 1px #3e71b4; color: #fff; }

.background-blue { background-color: #303f9f !important; border-color: #303f9f !important; }

.background-blue:hover { background-color: #2396fb !important; border-color: #2396fb !important; }

.btn-calculate:hover { color: #fff; }

.well.well-sm.clr001 { background: #2396fb; padding: 16px 30px 0; margin: 0px; }
i.fa.fa-circle { color: #303f9f; }
.clr001 label { color: #fff; }
.loginbtn { padding: 32px 0; background: #f3eaea; margin-bottom: 41px; }
.margintop { padding: 30px 6px 0; overflow: hidden; width: 100%; }
h2.clrwhite0 { color: #fff; text-transform: uppercase; padding-bottom: 12px; }
button.btn.btn-success.btn-white { border: 1px solid #fff; text-transform: uppercase; margin: auto; text-align: center; display: list-item; padding: 2px 20px 1px; font-size: 18px !important; }


button.btn.btn-success.btn-white:hover { border: 1px solid #303f9f }
button.btn.btn-success.btn-white:active { border: 1px solid #303f9f }
button.btn.btn-success.btn-white:active:hover { border: 1px solid #303f9f }

.circle {
font-size:12px;
}

.marginleft{
  margin-left:30px;
  padding-top:5px;
}
.btn-confirm-success { color: #fff !important; background-color: #5cb85c !important; border-color: #4cae4c !important; padding: 6px 12px !important; }
.btn-confirm-success:hover, .btn-confirm-success:active, .btn-confirm-success:active:hover { background-color: #398439 !important; border-color: #255625 !important; }
body { font-family: "Visby CF","VisbyCF-Medium" !important; }