﻿/*============== Contact style ==============*/
.contact_section {
    margin-top: 60px;
}

    .contact_section h1 {
        text-transform: uppercase;
        font-weight: 600;
    }

        .contact_section h1 span {
            color: #3498db;
        }

.contact_form {
}

#contact_form {
    margin-top: 50px;
    margin-bottom: 30px;
}

    #contact_form label {
        margin-bottom: 28px;
        display: block;
    }

        #contact_form label span {
            float: left;
            width: 100px;
            color: #666666;
        }

    #contact_form input {
        width: 100%;
        height: 40px;
    }

    #contact_form textarea {
        width: 100%;
        height: 100px;
    }

.submit_btn {
    padding: 12px;
    float: left;
    width: 100px;
}

    .submit_btn:hover {
    }

.success {
    background: #00A243;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #B9ECCE;
    border-radius: 5px;
    font-weight: normal;
}

.error {
    background: #F44C4C;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FFCACA;
    border-radius: 5px;
    font-weight: normal;
}

.contact_text {
    text-align: right;
    margin-top: 48px;
}

    .contact_text p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .contact_text h3 {
        text-transform: uppercase;
        font-size: 25px;
    }

.contact_info {
}

    .contact_info li {
        list-style: none;
        margin-bottom: 10px;
    }

.contact_social {
    margin-top: 5px;
}
    .contact_social li {
        display: inline;
        margin-left: 50px;
    }

.facebook-icon {
    color: #3b5998;
}

.twitter-icon {
    color: #32ccfe;
}

.instagram-icon {
    color: #C11569;
}

.google-icon {
    color: #DF4B37;
}

.linkedin-icon {
    color: #0D77B7;
}

.smedium-icon {
    color: #58595B;
}

.contact_social {
    font-size: 32px;
}

.map-panel-heading {
    background-color: #bdc3c7;
}

.copyright_section {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}