/*Validation Css Start*/
.AddressBackground { background-color: #f9f9f9; }

.error { color: red; }

.display-none { display: none; }

.msg-color { color: #3db714; }

.green-color { color: green !important; }

.alert-success { color: #015402; background-color: #dff0d8; border-color: #d6e9c6; }

.field-validation-error { color: #ff0000; }

#contact_form .field-validation-error > span { color: #ff0000 !important; width: auto !important; }

#contact_form .field-validation-error { width: auto !important; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #ff0000; }

.validation-summary-errors { font-weight: bold; color: #ff0000; }

.form-space { margin-top: 7px; }

.validation-summary-valid { display: none; }
/*Validation Css End*/
/*Select 2 Css Start*/
.select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; line-height: 32px; border: 1px solid #ccc; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); }

.pm-close { top: 0px !important; right: 0px !important; }

.block-info { background-color: #FFCC01 !important; height: 89px !important; }

.shipment-block { padding: 7px 3px; }

.old-price { font-weight: 600; font-family: 'Calibri', Helvetica, Arial, sans-serif; font-size: xx-large; line-height: 100px; text-decoration: line-through !important; }

/*Select 2 Css End*/

.block-info-grey { background-color: #e5e5e5 !important; height: 89px !important; }

.checkbox-anchor { padding: 0px !important; }

/*User Customer Payment screen start */
@media only screen and (max-width: 766px) {
 .spacetop15PX-xs { margin-top: 15px !important; }
}
/*User Customer Payment screen end*/

/*Features section overlap Start */
.single_service h2 { margin-top: 30px !important; }
/*Features section overlap End */

/*Loader overlay css Start*/
.js-loading-overlay { background-color: rgba(0,0,0,.7) !important; z-index: 999999 !important; width: 100% !important; height: 100% !important; position: absolute !important; top: 0 !important; left: 0 !important; }
/*Fornm icon class */
.form-icons { float: right; color: cornflowerblue !important; }

.fotter-space { margin-top: 65px; }

.facebook-button { border-color: #4A67B7 !important; background-color: #4A67B7 !important; }

.margen-googlebutton { margin-top: 3px !important; }

.none-button { display: none; }

.address-drop { padding: 0 0 0 26px; }

.bottom-signup { padding-bottom: 24px !important; }

.banfit-font { font-size: 17px; }

.footer-backgroundcolour { background-color: #F5F5F5; }

.same-sizeimg { min-height: 478px !important; }

.remove-dots { list-style-type: none; }

.topspace-signupbtn { margin-top: 12px !important; }

.plan-color { background: #303f9f !important; }

.shopbrand-margin { margin-bottom: 41px; }

.benfit-img { margin: 14px 14px 0 1px; }

.remove-space { position: relative !important; min-height: 1px !important; padding-right: 15px !important; padding-left: 0 !important; }

.well-extra-info { min-height: 20px; padding: 11px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05); }
/*loader*/
#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; /* change if the mask should have another color then white */ z-index: 99; /* makes sure it stays on top */ }

#status { width: 200px; height: 200px !important; position: absolute; left: 50%; /* centers the loading animation horizontally one the screen */ top: 50%; /* centers the loading animation vertically one the screen */ background-image: url(/Content/img/preloader.gif) !important; /* path to your loading animation */ background-repeat: no-repeat; background-position: center; margin: -100px 0 0 -100px; /* is width and height divided by two */ }
/*loader*/
.facebook-icon { color: #3b5998; }

.twitter-icon { color: #32ccfe; }

.instagram-icon { color: #C11569; }

.google-icon { color: #DF4B37; }

.linkedin-icon { color: #0D77B7; }

.smedium-icon { color: #58595B; }

/*footer top margin*/
.company-thumb { padding: 25px 0px !important; }

.AuthorizeNetSeal { margin-bottom: 5px !important; margin-top: -1px !important; }

.goody-idicon { margin-bottom: 9px !important; }

.margintop15PX { margin-top: 15px; }

.font-size-inherit { font-size: inherit !important; }

.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.marginbottom20PX { margin-bottom: 20px; }

.margintop100px { margin-top: 100px; }
/*newsletter block*/
.newslatter-text { color: white; font-size: 15px; }

.newlatter-button { margin-top: 10px; height: 42px; }

.newslatter-contentmargintop { margin-top: 10px; }

.newslatter-close { color: white !important; }

.newslatter-background { background-color: #1E203D; margin: 23px 0 11px 0; }

.paddingleft0px { padding-left: 0px; }

.paddingright0px { padding-right: 0px; }

.main_header a:hover { text-decoration: none; transition: all .5s ease-in-out; color: #2396FB; }

.opacity0dot5 { opacity: 0.5; }

.blog_section h2 span { color: #3498db; }

.blog_section h2 { font-size: 36px !important; text-transform: uppercase; font-weight: 600; margin-bottom: 38px; margin-top: 41px; }

.price_section h2 { font-size: 36px !important; margin-top: 41px; text-transform: uppercase; font-weight: 600; }

 .price_section h2 span { color: #3498db; }

.hero h2 { color: #fff; font-size: 6em; font-weight: bold; margin: 0; padding: 0; }

@media screen and (max-width:640px) {
 .hero h2 { font-size: 3.2em; }
}

.hero h2 span { color: #3498db; }

.fadecrowsel-Height { height: 68vh !important; }

.slide-height { height: 65vh !important; }

.slide-active { height: 80vh !important; }

.header-margin { margin-top: 25px; }

@media screen and (min-width: 320px) and (max-width: 667px) {
 .carousel-indicators li { width: 24px !important; height: 24px !important; }
}

.TermsPedding { padding: 0px !important; }

#toTopHover { background: url(../img/ui.totop.png) no-repeat left -51px; width: 51px; height: 51px; display: block; overflow: hidden; float: left; opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0); }

#toTop { display: none; text-decoration: none; position: fixed; bottom: 10px; right: 10px; overflow: hidden; width: 51px; height: 51px; border: none; text-indent: 100%; background: url(../img/ui.totop.png) no-repeat left top; }

.Signup-bar { position: fixed; top: 0px; width: 100%; z-index: 99999999999999; }

/*Print Media Query*/
@media screen and (min-width:480px) and (max-width:960px) {
 #haedersss { display: none !important; }
}

@media print {
 .no-print, .no-print * { display: none !important; }
}


/*Print Media Query*/
.width4per { width: 4% !important; }

/*Shubham css start*/
.marginbottom0PX { margin-bottom: 0px }
.line-height60PX { line-height: 60px }
.no-padding { padding: 0px }
/*Shubham css end*/
.margintop70PX { margin-top: 70px }

/*header nav  bar input all pages except header page*/
nav ul li.green { background: #2396FB; color: #fff; font-weight: bolder; }
 nav ul li.green a { color: #fff; }
.main_menu { padding-top: 4px; }
 .main_menu li { margin: 0 15px; font-size: 15px; font-weight: bolder; }
  .main_menu li:last-child { margin-right: 0; }
  .main_menu li:first-child { margin-left: 0; }
.main_header .row .content { padding: 0; }
.main_header { position: fixed; top: 0; max-height: 70px; z-index: 999; width: 100%; background: none; overflow: hidden; -webkit-transition: all .3s; transition: all .3s; opacity: 0; top: -100px; padding-bottom: 6px; }
.open-nav { min-height: 475px !important; }
 .open-nav .mobile-toggle { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
.sticky { background-color: rgba(255,255,255,.93); opacity: .9; top: 0; border-bottom: 1px solid silver; }
.logo { padding-top: 5px; float: left; display: block; margin-top: 0; margin-bottom: 10px; }
nav ul { list-style: none; overflow: hidden; text-align: right; float: right; }
 nav ul li { display: inline-block; margin-left: 11px; line-height: 2.0; }
 nav ul a { color: #000; text-transform: uppercase; }
 nav ul li.active a { color: #2396FB; }
.mobile-toggle { padding-top: 22px; cursor: pointer; font-size: 20px; position: absolute; right: 20px; top: 0; width: 30px; -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; transition: all 200ms ease-in; }
 .mobile-toggle span { width: 30px; height: 4px; margin-bottom: 6px; border-radius: 1000px; background: #8f8f8f; display: block; }
.mouse { display: block; margin: 0 auto; width: 26px; height: 46px; border-radius: 13px; border: 2px solid #fff; position: absolute; position: absolute; left: 51%; margin-left: -26px; }
 .mouse span { display: block; margin: 6px auto; width: 2px; height: 2px; border-radius: 4px; background: #fff; border: 1px solid transparent; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-name: scroll; animation-name: scroll; }
.padding-bott20px { padding-bottom: 20px; }
.bg-lgtgrey { background: #e5e5e5; }

@media only screen and (max-width:766px) {
 .mobile-toggle { display: block; }
 nav { width: 100%; }
  nav ul { padding: 0; margin: 0 0 22px 0; float: left; text-align: center; width: 100%; }
   nav ul li { width: 100%; padding: 7px 0; margin: 0; }
 .contact_text { text-align: left; }
  .contact_text ul { margin-left: 0 !important; padding-left: 0 !important; }
}

@media only screen and (min-width:765px) {
 .bs-example .nav-tabs i { width: 57px; }
}

@media(max-width:764px) {
 .bs-example .nav-tabs i { font-size: 34px; width: 56px; }
}

@media(max-width:750px) {
 .bs-example .nav-tabs i { font-size: 20px; width: 15px; }
}

@media only screen and (max-width:767px) {
 .main_menu li { margin: 0; }
 #portfoliolist .portfolio { width: 48%; margin: 1%; }
 #ads { display: none; }
 .main_menu { padding-top: 0; }
 .open-nav { max-height: 370px !important; }
 #quote-carousel p { font-size: 18px !important; }
}

@media only screen and (min-width:480px)and (max-width:767px) {
 #ads { display: none; }
}

@media only screen and (min-width:767px)and (max-width:1023px) {
 nav ul { margin-left: 0; padding-left: 0; }
 .main_menu li { margin: 0 15px; }
 .bg-box-height { min-height: 300px; padding: 10px; }
}

@media only screen and (min-width:1024px)and (max-width:1200px) {
 .main_menu li { margin: 0 15px; }
 .bg-box-height { min-height: 340px; }
}