﻿/*header nav  bar input all pages except header page*/
nav ul li.green { background: #2396FB; color: #fff; font-weight: bolder; }
 nav ul li.green a { color: #fff; }
.main_menu { padding-top: 4px; }
 .main_menu li { margin: 0 15px; font-size: 15px; font-weight: bolder; }
  .main_menu li:last-child { margin-right: 0; }
  .main_menu li:first-child { margin-left: 0; }
.main_header .row .content { padding: 0; }
.main_header { position: fixed; top: 0; max-height: 70px; z-index: 999; width: 100%; background: none; overflow: hidden; -webkit-transition: all .3s; transition: all .3s; opacity: 0; top: -100px; padding-bottom: 6px; }
.open-nav { min-height: 475px !important; }
 .open-nav .mobile-toggle { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
.sticky { background-color: rgba(255,255,255,.93); opacity: .9; top: 0; border-bottom: 1px solid silver; }
.logo { padding-top: 5px; float: left; display: block; margin-top: 0; margin-bottom: 10px; }
nav ul { list-style: none; overflow: hidden; text-align: right; float: right; }
 nav ul li { display: inline-block; margin-left: 11px; line-height: 2.0; }
 nav ul a { color: #000; text-transform: uppercase; }
 nav ul li.active a { color: #2396FB; }
.mobile-toggle { padding-top: 22px; cursor: pointer; font-size: 20px; position: absolute; right: 20px; top: 0; width: 30px; -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; transition: all 200ms ease-in; }
 .mobile-toggle span { width: 30px; height: 4px; margin-bottom: 6px; border-radius: 1000px; background: #8f8f8f; display: block; }
.mouse { display: block; margin: 0 auto; width: 26px; height: 46px; border-radius: 13px; border: 2px solid #fff; position: absolute; position: absolute; left: 51%; margin-left: -26px; }
 .mouse span { display: block; margin: 6px auto; width: 2px; height: 2px; border-radius: 4px; background: #fff; border: 1px solid transparent; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-name: scroll; animation-name: scroll; }
.padding-bott20px { padding-bottom: 20px; }
.bg-lgtgrey { background: #e5e5e5; }

@media only screen and (max-width:766px) {
 .mobile-toggle { display: block; }
 nav { width: 100%; }
  nav ul { padding: 0; margin: 0 0 22px 0; float: left; text-align: center; width: 100%; }
   nav ul li { width: 100%; padding: 7px 0; margin: 0; }
 .contact_text { text-align: left; }
  .contact_text ul { margin-left: 0 !important; padding-left: 0 !important; }
}

@media only screen and (min-width:765px) {
 .bs-example .nav-tabs i { width: 57px; }
}

@media(max-width:764px) {
 .bs-example .nav-tabs i { font-size: 34px; width: 56px; }
}

@media(max-width:750px) {
 .bs-example .nav-tabs i { font-size: 20px; width: 15px; }
}

@media only screen and (max-width:767px) {
 .main_menu li { margin: 0; }
 #portfoliolist .portfolio { width: 48%; margin: 1%; }
 #ads { display: none; }
 .main_menu { padding-top: 0; }
 .open-nav { max-height: 370px !important; }
 #quote-carousel p { font-size: 18px !important; }
}

@media only screen and (min-width:480px)and (max-width:767px) {
 #ads { display: none; }
}

@media only screen and (min-width:767px)and (max-width:1023px) {
 nav ul { margin-left: 0; padding-left: 0; }
 .main_menu li { margin: 0 15px; }
 .bg-box-height { min-height: 300px; padding: 10px; }
}

@media only screen and (min-width:1024px)and (max-width:1200px) {
 .main_menu li { margin: 0 15px; }
 .bg-box-height { min-height: 340px; }
}
