﻿table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#desc input[type=text] {
    width: 100%;
}

.noborder {
    border-color: white !important;
}

.tbl1 {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border: none;
}

th {
    padding: 8px
}

td {
    padding: 8px
}

.tbl2 {
    width: 100%;
    text-align: left;
    border: 1px solid black;
}

.tbl3 {
    width: 100%;
    text-align: left;
    border: 1px solid black;
    margin: 22px 0px 0px 0px !important;
}

.tbl4 {
    width: 100%;
    text-align: left;
    border: 1px solid black;
    margin: 9px 0px 0px 0px;
}

.h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



.underline {
    text-decoration: underline;
}

/*table, th
{
    border: 1px solid black;
    border-collapse: collapse;
}
*/
.colspn {
    column-span: 2;
    text-align: left;
}
