#carousel-wrapper { padding-bottom: 5px; position: relative; }
#carousel, #thumbs { overflow: hidden; }
#carousel-wrapper .caroufredsel_wrapper { border: 1px solid #ccc; }

#carousel span, #carousel img,
#thumbs a, #thumbs img { display: block; float: left; }
#carousel span, #carousel a,
#thumbs span, #thumbs a { position: relative; border: 1px solid #ccc; background: #fff; color: #000; text-align: center; font-size: 15px; }
 #carousel span, #carousel a,
 #thumbs span, #thumbs a span { background: url(../img/lession-bg.png) no-repeat; ); color: #fff; font-size: 13px; font-weight: bolder; float: left; padding: 4px 8px; border: none; margin: 10px 0 25px 0; width: inherit; text-align: left; }
#carousel img,
#thumbs img { border: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
 #carousel img.glare,
 #thumbs img.glare { width: 100%; height: auto; }

#carousel span { width: 554px; height: 313px; }

#thumbs-wrapper { padding: 10px 40px; position: relative; }
#thumbs a { border: 1px solid #ccc; width: 100px; height: 150px; margin: 0 5px; overflow: hidden; }
 #thumbs a:hover, #thumbs a.selected { border-color: #566; background: #e5e5e5; }

#wrapper img#shadow { width: 100%; position: absolute; bottom: 0; }

#prev, #next { background: transparent url('../img/carousel_nav.png') no-repeat 0 0; display: block; width: 19px; height: 28px; margin-top: -10px; position: absolute; top: 50%; }
#prev { background-position: 0 0; left: 10px; }
#next { background-position: -19px 0; right: 10px; }
#prev:hover { background-position: 0 -28px; }
#next:hover { background-position: -19px -28px; }
#prev.disabled, #next.disabled { display: none !important; }