﻿


.topTable {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

.innerTable {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
    width: 100%;
    text-align: left;
    border: 1px solid black;
}

.divH1 {
    text-align: center;
    width: 30%;
}

.leftDiv {
    text-align: left;
    width: 30%;
}

.h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


.h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

strong, b {
    font-weight: bold;
}

.tdH2 {
    text-align: center;
}



.tdRight {
    text-align: right;
}

.imgDiv {
    text-align: -webkit-left;
    vertical-align: top;
}

.margin20px {
    margin: 20px
}
