@font-face { font-family: 'VisbyCF-Medium-webfont'; src: url('/content/fonts/Visby/VisbyCF-Medium-webfont.eot'); src: url('/content/fonts/Visby/VisbyCF-Medium-webfont.woff2') format('woff2'), url('/content/fonts/Visby/VisbyCF-Medium-webfont.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'VisbyCF-Medium'; src: url('/content/fonts/Visby/VisbyCF-Medium.woff') format('woff'), url('/content/fonts/Visby/VisbyCF-Medium.ttf') format('truetype'), url('/content/fonts/Visby/VisbyCF-Medium.svg#VisbyCF-Medium') format('svg'); font-weight: normal; font-style: normal; }

