﻿@model List<_ChineseAddress.com.Models.PlansOptionModel>
@using _ChineseAddress.com.Models
@{
	ViewBag.Title = "Your Chinese Address | China Package & Parcel Forwarding | Address in China.";
}
@section header{
	<link rel="preload" href="~/content/css/home.bundle.css" as="style" onload="this.rel='stylesheet'">
}
@*<div id="cookie-bar" class="Signup-bar"><p>Sign up for the ChineseAddress Newsletter<a href="/Newsletter" class="cb-enable"> Sign Up</a><a href="" class=""></a></p></div>*@
@{Html.RenderPartial("~/Views/Shared/_HeaderMenu.cshtml");}
<div id="haedersss"></div>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="8000" id="bs-carousel">
	<!--<ol class="carousel-indicators">
		<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
		@*<li data-target="#bs-carousel" data-slide-to="1"></li>*@
		@*<li data-target="#bs-carousel" data-slide-to="2"></li>*@
		@*<li data-target="#bs-carousel" data-slide-to="3"></li>*@
	</ol>-->
	<div class="carousel-inner margintop70PX">
		<div class="item slides active">
			<div class="slide-1 opacity0dot5"></div>
			<div class="hero">
				@*<hgroup>
						<h1>SAVE MONEY <span>WITH ChineseAddress</span></h1>
					</hgroup>*@
				<div class="inline-flex">
					<a class="btn btn-hero btn-lg green" role="button" href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#price_area">SIGN UP</a>
					<a class="btn btn-hero btn-lg border1 herotransparent" role="button" href="/aboutus">LEARN MORE</a>
				</div>
			</div>
		</div>
		@*<div class="item slides">
			<div class="slide-2 opacity0dot5"></div>
			<div class="hero">
					<hgroup>
						<h2>FAST DELIVERY &  <span>GREAT CUSTOMER SERVICE</span></h2>
						<h3>SIGN UP IS EASY WITH ChineseAddress</h3>
					</hgroup>
					<a class="btn btn-hero btn-lg" role="button" href="/#price_area">SIGN UP</a>
				</div>
				</div>*@
		@* <div class="item slides">
			<div class="slide-3 opacity0dot5"></div>
			<div class="hero">
					<hgroup>
						<h2>Shop from <span>the US</span></h2>
						<h3>We are happy to deliver your valuable things.</h3>
					</hgroup>
					<a class="btn btn-hero btn-lg" role="button" href="/WhyChoose">Learn More About ChineseAddress</a>
				</div>
				</div>*@
		@*<div class="item slides">
			<div class="slide-4 opacity0dot5"></div>
			<div class="hero">
					<hgroup>
						<h2>Free <span>Premium MemberShip</span></h2>
						<h3>Sign up to receive a FREE 6-month Premium Membership and save an additional 10% on your orders.</h3>
					</hgroup>
					<a class="btn btn-hero btn-lg" role="button" href="#">Sign Up</a>
				</div>
				</div>*@
	</div>
</div>
<div class="blog_area">
	<div class="row">
		<div class="blog_section">
			<h2>How <span>ChineseAddress</span> works</h2>
		</div>
		<div class="row row-eq-height hidden-xs">
			<div class="col-sm-3 bg-box1 bg-box-height "><a href="/#price_area"><img src="/Content/img/Signupandshop.png" data-original="/Content/img/Signupandshop.png" alt="ChineseAddress | Home" id="ImageSignup"></a></div>
			<div class="col-sm-3 bg-box2 bg-box-height "><img src="/Content/img/Checkoutwith4InShip.png" data-original="/Content/img/Checkoutwith4InShip.png" id="CheckOutSighnUp" alt="ChineseAddress | Home"></div>
			<div class="col-sm-3 bg-box3 bg-box-height "><img src="/Content/img/consolidate.png" data-original="/Content/img/consolidate.png" alt="ChineseAddress | Home"></div>
			<div class="col-sm-3 bg-box4 bg-box-height "><a href="/#price_area"><img src="/Content/img/Savemoney.png" data-original="/Content/img/Savemoney.png" alt="ChineseAddress | Home"></a></div>
		</div>
		<div class="row visible-xs hidden-lg hidden-md hidden-sm">
			<div class="col-sm-3 bg-box1 bg-box-height "><a href="/#price_area"><img src="/Content/img/Signupandshop.png" data-original="/Content/img/Signupandshop.png" alt="ChineseAddress | Home"></a></div>
			<div class="col-sm-3 bg-box2 bg-box-height "><img src="/Content/img/Checkoutwith4InShip.png" data-original="/Content/img/Checkoutwith4InShip.png" alt="ChineseAddress | Home"><br /> Checkout with your ChineseAddress address </div>
			<div class="col-sm-3 bg-box3 bg-box-height "><img src="/Content/img/consolidate.png" data-original="/Content/img/consolidate.png" alt="ChineseAddress | Home"><br />We will hold, consolidate and forward your packages</div>
			<div class="col-sm-3 bg-box4 bg-box-height "><a href="/#price_area"><img src="/Content/img/Savemoney.png" data-original="/Content/img/Savemoney.png" alt="ChineseAddress | Home"></a></div>
		</div>
	</div>
</div>
@*<div class="service_area " id="benefits_area">
		<div class="">
			<div class="row">
				<div class="blog_section">
					<h2>BENEFITS <span>OF USING ChineseAddress</span></h2>
				</div>
				<div class='row'>
					<div class='col-sm-12'>
						<div class="owl-carousel">
							<div class="item active">
								<div class="single_service">
									<div class="ico"><i class="fa fa-fighter-jet benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">Speedy turn around, from registration to shipping.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-gavel benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">We ship everything allowed by law. </p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-cart-arrow-down benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">We assist you in every way to get your package to you at the lowest price.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-lightbulb-o benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">We are owner run, not some mindless large company.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-archive benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">We are experts at packaging your products in the most protective way possible to make sure it gets to you in new condition.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-shopping-basket benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">We will be offering our own online store as well for many often purchased products, at lower prices, allowing for faster delivery.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-rocket benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">Long range goals are to partner with ecommerce sites to enable better and faster service and shipping.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-ban benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">We will ship to any country not prohibited by law.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-trophy benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">Monthly contests will be held with valuable prizes.</p>
							</div>
							<div class="item">
								<div class="single_service">
									<div class="ico"><i class="fa fa-money benfit-img"></i></div>
								</div>
								<p class="banfit-font" itemprop="relatedTo">Bundle purchases together into fewer shipments to save money</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>*@
@*<div class="padding-bott20px bg-lgtgrey blog_area">
		<div class="container">
			<div class="row form-group">
				<div class="col-sm-12 text-center">
					<div class="blog_section">
						<h2>Get <span>STARTED!</span></h2>
						<a href="/#price_area" class="btn btn-success btn-lg">SIGNUP NOW</a>
					</div>
				</div>
			</div>
			<div class="row text-left  topspace-signupbtn">
				<div class="col-sm-6">
					<h2>When you sign up, you will receive:</h2>
					<ul class="remove-dots" type="disc">
						<li><h3><i class="fa fa-check small green-color" aria-hidden="true"></i> Reduced shipping costs for your shipping orders (up to a 60% reduced rate)</h3></li>
						<li><h3><i class="fa fa-check small getstart-tick green-color" aria-hidden="true" itemprop="relatedTo"></i> Top-level customer service handling your order and answering your questions</h3></li>
						<li><h3><i class="fa fa-check small getstart-tick green-color" aria-hidden="true" itemprop="relatedTo"></i> Customized package consolidation with no hidden fees</h3></li>
						<li><h3><i class="fa fa-check small getstart-tick green-color" aria-hidden="true" itemprop="relatedTo"></i> Entry into monthly contents and giveaways</h3></li>
						<li><h3><i class="fa fa-check small getstart-tick green-color" aria-hidden="true" itemprop="relatedTo"></i> And more! (See our Membership page for more details)</h3></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<h2>As a bonus for the first 6 months:</h2>
					<ul class="remove-dots" type="disc">
						<li><h3><i class="fa fa-check small green-color" aria-hidden="true" itemprop="relatedTo"></i> Premium-level Membership</h3></li>
						<li><h3><i class="fa fa-check small green-color" aria-hidden="true" itemprop="relatedTo"></i> 10% savings on your shipping orders</h3></li>
					</ul>
				</div>
			</div>
		</div>
	</div>*@
<div id="price_area" class="price_area">
	<div class="container">
		<div class="row">
			<div class="price_section">
				<h2>ChineseAddress  <span>Pricing</span></h2>
				<div class="col-md-12">
					<div class="pricing-table">
						@{ int count = 0;
							foreach (_ChineseAddress.com.Repository.tblPlan item in ViewBag.PlansOption)
							{
								count++;
								decimal signupMarginPer = Convert.ToDecimal(System.Configuration.ConfigurationManager.AppSettings["ReferredSignupMarginPercent"]);
								decimal itemPrice = 0.0m;
								if (item.display_order == 1)
								{
									<div class="col-md-4 col-sm-4 col-xs-12 pricing-box first wow bounceInUp animated">
										<ul>
											<li class="plan-title">
												<h3>@item.title</h3>
											</li>
											<li class="subscription-price oswald plan-color">
												@*<span class="currency oswald">$</span>*@
												@if (Convert.ToBoolean(ViewBag.IsReferral ?? false))
												{
													itemPrice = Convert.ToDecimal(item.price ?? 0.0m);
													<span class="old-price">$ @Convert.ToDecimal(itemPrice).ToString("F")</span><br />
													<span class="price">$ @((itemPrice * ((decimal)100 - signupMarginPer) / (decimal)100).ToString("F"))</span>
}
												else
												{<span class="price">$ @(Convert.ToDecimal(item.price).ToString("F"))</span>}
												<!--Is Recurring Start-->
												@*@if (item.is_recurring == true)
													{
														@("/  Monthly");
													}
													else
													{
														@("/  OneTime");
													}*@
												<!--Is Recurring End-->
											</li>
											<li class="ptop10">@item.description</li>
											@foreach (var items in Model.Where(x => x.p_id == item.Id).Select(x => x))
											{
												if (items.IsSignUp == true)
												{
													<li class="last border-none pbottom40">
														@items.title: $@(Convert.ToDecimal(items.price).ToString("F")) @{if (items.description != null)
															{ @("/") @items.description;
															}
														}
													</li>			}
															}
											<li class="sing-up">
												@{	string itemid = Convert.ToString(item.Id);
													string id = Cryptography.Encrypt(itemid);}
												<!--Sign Up Button-->
												@*<a href="~/SignUp/@id" class="animate">Sign Up</a>*@
												<a href="" onclick="return false;">Coming Soon</a>
											</li>
										</ul>
									</div>
													}
													if (item.display_order == 3)
													{
														<div class="col-md-4 col-sm-4 col-xs-12 pricing-box second wow bounceInUp animated">
															<ul>
																<li class="plan-title">
																	<h3> @item.title</h3>
																</li>
																<li class="subscription-price oswald plan-color">
																	@*<span class="currency oswald">$</span>*@
																	@if (Convert.ToBoolean(ViewBag.IsReferral ?? false))
																	{
																		itemPrice = Convert.ToDecimal(item.price ?? 0.0m);
																		<span class="old-price">$ @itemPrice.ToString("F")</span><br />
																		<span class="price">$ @((itemPrice * ((decimal)100 - signupMarginPer) / (decimal)100).ToString("F"))</span>
}
																	else
																	{<span class="price">$ @(Convert.ToDecimal(item.price).ToString("F"))</span>}
																	<!--Is Recurring Start-->
																	@*@if (item.is_recurring == true)
																		{
																			@("/  Monthly");
																		}
																		else
																		{
																			@("/  OneTime");
																		}*@
																</li>
																<li class="ptop10">@item.description</li>
																@{int itemCount = 1;
																}
																@foreach (var items in Model.Where(x => x.p_id == item.Id).Select(x => x))
																{
																	if (items.IsSignUp == true)
																	{
																		if (itemCount == Model.Where(x => x.p_id == item.Id).Select(x => x).Count())
																		{
																			<li class="last border-none pbottom40">
																				@items.title: $@(items.price.ToString("F")) @{if (items.description != null)
																					{ @("/") @items.description;
																					}
																				}
																			</li>}
																					else
																					{
																						<li class="border-none pbottom40">
																							@items.title: $@(items.price.ToString("F")) @{if (items.description != null)
																								{ @("/") @items.description;
																								}
																							}
																						</li> }
																										itemCount++;

																									}

																								}
																<li class="sing-up">
																	@{	string itemid = Convert.ToString(item.Id);
																		string id = Cryptography.Encrypt(itemid);}
																	<!--Sign Up Button-->
																	@*<a href="~/SignUp/@id" class="animate">Sign Up</a>*@
																	<a href="" onclick="return false;">Coming Soon</a>
																</li>
															</ul>
														</div>				}
																		if (item.display_order == 2)
																		{
																			<div class="col-md-4 col-sm-4 col-xs-12 pricing-box last featured  wow bounceInUp animated">
																				<ul>
																					<li class="plan-title">
																						<h3> @item.title</h3>
																					</li>
																					<li class="subscription-price oswald ">
																						@*<span class="currency oswald">$</span>*@
																						@if (Convert.ToBoolean(ViewBag.IsReferral ?? false))
																						{
																							itemPrice = Convert.ToDecimal(item.price ?? 0.0m);
																							<span class="old-price">@*@Convert.ToDecimal(itemPrice).ToString("F")*@</span>
																							<span class="price">@*@((itemPrice * ((100 - signupMarginPer) / 100)).ToString("F"))*@ Free</span>
}
																						else
																						{<span class="price">@*@(Convert.ToDecimal(item.price).ToString("F"))*@ Free</span>}
																						@if (item.is_recurring == true)
																						{
																							@("/  Monthly");
																						}
																						else
																						{
																							@*@("/  OneTime");*@
																							@*@("/ No Consolidation");*@
}
																					</li>
																					<li class="ptop10">@item.description</li>
																					@foreach (var items in Model.Where(x => x.p_id == item.Id).Select(x => x))
																					{
																						if (items.IsSignUp == true)
																						{
																							<li class="last border-none pbottom40">
																								@items.title: $@(Convert.ToDecimal(items.price).ToString("F")) @{if (items.description != null)
																									{ @("/") @items.description;
																									}
																								}
																							</li>			}
																									}
																					<li class="sing-up">
																						@{	string itemid = Convert.ToString(item.Id);
																							string id = Cryptography.Encrypt(itemid);}
																						<a href="~/SignUp/@id" class="animate">Sign Up</a>
																					</li>
																				</ul>
																			</div>					}
																							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-lgtgrey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="blog_section">
					<h2 class="white">SHOP FROM MANY <span class="light-blue">CN</span> BRANDS</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 shopbrand-margin">
				<div id="thumbs-wrapper">
					<div id="thumbs">
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/taobao.png" alt="shop from taobao" /></a>
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/tmall.png" alt="shop from tmall" /> </a>
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/1688.png" alt="shop from 1688" /></a>
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/alibaba.png" alt="shop from alibaba" /></a>
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/suning.png" alt="shop from suning" /></a>
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/aliexpress.png" alt="shop from aliexpress" /></a>
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/jd.png" alt="shop from jd" /></a>
						<a href="#" class="selected"><img src="" data-original="/Content/img/ShopBrands/vancl.png" alt="shop from vancl" /></a>
					</div>
					<a id="prev" href="#"></a>
					<a id="next" href="#"></a>
				</div>
			</div>
		</div>
	</div>
</div>
@section HomeScripts{
	getScript('/Scripts/home.bundle.min.js', function () { });

}