<div style="" padding: 15px;font-family: gotham, helvetica, arial, sans-serif !important;"">
	<div>
		<p style="" font-size: 13px; line-height:26px;"">
			<span style="" font-size: 14px; font-family: gotham, helvetica, arial, sans-serif !important;"">
				Dear <strong> #FirstName#  #LastName# </strong><br /><br />
				Your shipment return has been rejected.  Your tracking number is: <strong>#trackingno#</strong>.<br />
				If you have any questions about your shipment, please contact us by email at: <a href="" mailto:info@ChineseAddresss.com"">info@ChineseAddresss.com</a>  or by phone at: +8618871488894.<br />
			</span><br />
			<span style="" font-size:15px"">Sincerely,</span><br />
			<span style="" font-size:15px"">The ChineseAddress Staff</span>
		</p>
	</div>
</div>